[Desktop Entry]
Name = Wine Help
Name[ar] =                                                                                                                                                                                                                                                                 ﺬﻴﺒﻨﻟﺍ ﺓﺪﻋﺎﺴﻣ
Name[bg] = Помощ за виното
Name[ca] = Vi Ajuda
Name[cs] = Nápověda vína
Name[da] = Vin Hjælp
Name[de] = Wein Hilfe
Name[el] = Βοήθεια για το κρασί
Name[eo] = Vina Helpo
Name[es] = Ayuda del vino
Name[fa] =                                                                                                                                                                                                                                                                   ﺏﺍﺮﺷ ﺎﻤﻨﻫﺍﺭ
Name[fi] = Viini Apua
Name[fr] = Aide au vin
Name[he] =                                                                                                                                                                                                                                                                      הרזע ןיי
Name[hi] = शराब सहायता
Name[hr] = Vino Pomoć
Name[hu] = Bor Súgó
Name[it] = Aiuto vino
Name[ja] = ワインのヘルプ
Name[ko] = 와인 도움말
Name[lt] = Vyno pagalba
Name[ml] = വൈൻ സഹായം
Name[nl] = Wijnhulp
Name[pa] = ਵਾਈਨ ਸਹਾਇਤਾ
Name[pl] = Wino Pomoc
Name[pt] = Ajuda do vinho
Name[pt-BR] = Ajuda do vinho
Name[pt-PT] = Ajuda do vinho
Name[ro] = Ajutor pentru vin
Name[ru] = Помощь в вине
Name[sk] = Pomoc vína
Name[sl] = Pomoč vina
Name[sr] = Вине Хелп
Name[sr-Cyrl] = Вине Хелп
Name[sr-Latn] = Vino Pomoć
Name[sv] = Vin Hjälp
Name[te] = వైన్ సహాయం
Name[th] = ไวน์ช่วย
Name[tr] = Şarap Yardım
Name[uk] = Винна довідка
Name[zh] = 葡萄酒帮助
Name[zh-CN] = 葡萄酒帮助
Name[zh-TW] = 葡萄酒幫助
Comment = A clone of the Windows Help File browser
Comment[ar] = A ﺯﻭﺪﻨﻳﻭ ﺕﺎﻤﻴﻠﻌﺗ ﻒﻠﻣ ﺢﻔﺼﺘﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клониране на браузъра за помощни файлове на Windows
Comment[ca] = Un clon del navegador d'arxius d'ajuda de Windows
Comment[cs] = Klon prohlížeče souborů nápovědy systému Windows
Comment[da] = En klon af Windows Hjælp File browser
Comment[de] = Ein Klon des Windows-Hilfedatei-Browsers
Comment[el] = Ένας κλώνος του προγράμματος περιήγησης αρχείων βοήθειας των Windows
Comment[eo] = Klonono de la retumilo de Fenestra Helpo Dosiero
Comment[es] = Una copia del navegador de archivos de ayuda de Windows
Comment[fa] =                                                                                                                                                                                                                                          ﺯﻭﺪﻨﯾﻭ ﺎﻤﻨﻫﺍﺭ ﻞﯾﺎﻓ ﺮﮔﺭﻭﺮﻣ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Windows-ohjetiedoston selain
Comment[fr] = Un clone du navigateur du fichier d'aide Windows
Comment[he] =                                                                                                                                                                                                                                               Windows לש הרזעה ןפדפד לש טוביש
Comment[hi] = विंडोज मदद फ़ाइल ब्राउज़र का एक क्लोन
Comment[hr] = Klon Windows Pomoć File preglednik
Comment[hu] = A Windows súgó-böngészőjének klónja
Comment[it] = Un clone del browser File della Guida di Windows
Comment[ja] = U~indōzu herupufairuburauza no kurōn
Comment[ko] = Windows 도움말 파일 브라우저의 복제본
Comment[lt] = "Windows" žinyno naršyklės klonas
Comment[ml] = വിൻഡോസ് സഹായം ഫയൽ ബ്രൌസർ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van het Windows Help-bestand browser
Comment[pa] = ਵਿੰਡੋਜ਼ ਮੱਦਦ ਫਾਇਲ ਬਰਾਊਜ਼ਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon przeglądarki plików Pomocy systemu Windows
Comment[pt] = Um clone do navegador do arquivo de ajuda do Windows
Comment[pt-BR] = Um clone do navegador do arquivo de ajuda do Windows
Comment[pt-PT] = Um clone do navegador do arquivo de ajuda do Windows
Comment[ro] = O clonă a browserului de fișiere de ajutor Windows
Comment[ru] = Клон браузера файла справки Windows
Comment[sk] = Klon prehliadača Windows súbor Pomocníka
Comment[sl] = Klon v brskalniku za pomoč programa Windows
Comment[sr] = Клон прегледача помоћи Виндовса
Comment[sr-Cyrl] = Клон прегледача помоћи Виндовса
Comment[sr-Latn] = Klon pregledač datoteke pomoći Windowsa
Comment[sv] = En klon i Windows Hjälp-filbläddraren
Comment[te] = విండోస్ హెల్ప్ ఫైల్ బ్రౌజర్ యొక్క క్లోన్
Comment[th] = โคลนของเบราว์เซอร์ของ Windows ไฟล์
Comment[tr] = Windows Yardım Dosyası tarayıcısının bir kopyası
Comment[uk] = Клон в браузері довідкових файлів Windows
Comment[zh] = Windows帮助文件浏览器的克隆
Comment[zh-CN] = Windows帮助文件浏览器的克隆
Comment[zh-TW] = Windows幫助文件瀏覽器的克隆
Exec = wine winhlp32.exe %%f
Terminal = false
Type = Application
Icon = wine-winhelp
Categories = X-Wine;
