[Desktop Entry]
Name=Wine Wordpad
Name[ar]=ﺮﺘﻓﺪﻟﺍ Wine
Name[bg]=Wine Wordpad
Name[ca]=Wordpad Wine
Name[cs]=Wine Wordpad
Name[da]=Wine Wordpad
Name[de]=Wine Wordpad
Name[el]=Wine Wordpad
Name[eo]=Wine Wordpad
Name[es]=Wordpad Wine
Name[fa]=ﺪﭘﺩﺭﻭ Wine
Name[fi]=Wine Wordpad
Name[fr]=Wine Wordpad
Name[he]=Wine ןבתכ
Name[hi]=Wine वर्डपैड
Name[hr]=Wine Wordpad
Name[hu]=Wine Wordpad
Name[it]=Wine Wordpad
Name[ja]=Wineワードパッド
Name[ko]=Wine 워드 패드
Name[lt]=Wine "Wordpad"
Name[ml]=Wine വേഡ്പാഡ്
Name[nl]=Wine Wordpad
Name[pa]=Wine ਵਰਕਸਪੇਡ
Name[pl]=Wine Wordpad
Name[pt]=Wine Wordpad
Name[pt-BR]=Wine Wordpad
Name[pt-PT]=Wine Wordpad
Name[ro]=Wine Wordpad
Name[ru]=Wine Wordpad
Name[sk]=Wine Wordpade
Name[sl]=Wine Wordpad
Name[sr]=Wine Вордпад
Name[sr-Cyrl]=Wine Вордпад
Name[sr-Latn]=Wine Wordpad
Name[sv]=Wine Wordpad
Name[te]=Wine వర్డ్ప్యాడ్
Name[th]=Wine Wordpad
Name[tr]=Wine Wordpad
Name[uk]=Wine Wordpad
Name[zh]=Wine写字板
Name[zh-CN]=Wine写字板
Name[zh-TW]=Wine寫字板
Comment=A clone of the Microsoft® Windows Wordpad Text Editor
Comment[ar]=ﺮﺘﻓﺪﻟﺍ Windows Microsoft® ﺺﻧ ﺭﺮﺤﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на WordPress текстовия редактор Microsoft® Windows
Comment[ca]=Un clon de l'editor de text Microsoft® Windows Wordpad
Comment[cs]=Klon textového editoru WordPad Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Wordpad Tekst Redaktør
Comment[de]=Ein Klon des Microsoft® Windows Wordpad Text Herausgebers
Comment[el]=Ένας κλώνος του επεξεργαστή κειμένου Microsoft® Windows Wordpad
Comment[eo]=Klonono de la Microsoft® Windows Wordpad Teksto-redaktilo
Comment[es]=Una copia del Microsoft® Windows Redactor de texto de Wordpad
Comment[fa]=ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺪﭘﺩﺭﻭ Windows Microsoft® ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Wordpad tekstieditori
Comment[fr]=Un clone de l'éditeur de texte Wordpad Microsoft® Windows
Comment[he]=ןבתכ Windows Microsoft® טסקט ךרוע לש טוביש
Comment[hi]=Microsoft® Windows वर्डपैड पाठ संपादक का एक क्लोन
Comment[hr]=Klon Microsoft® Windows Wordpad uređivač teksta
Comment[hu]=A Microsoft® Windows Wordpad szövegszerkesztőjének klónja
Comment[it]=Un clone di Microsoft® Windows redattore testi Wordpad
Comment[ja]=Microsoft®のクローンWindowsワードパッドテキストエディタ
Comment[ko]=Microsoft®의 복제본 Windows 워드 패드 텍스트 편집기
Comment[lt]=Microsoft® Windows Wordpad teksto redaktoriaus klonas
Comment[ml]=വേഡ്പാഡ് ടെക്സ്റ്റ് എഡിറ്റർ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de Wordpad-teksteditor Microsoft® Windows
Comment[pa]=Microsoft® Windows ਵਰਕਸਪੇਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon edytora tekstu WordPad w wersji Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows editor de Textoo do Wordpad
Comment[pt-BR]=Um clone do Microsoft® Windows editor de Textoo do Wordpad
Comment[pt-PT]=Um clone do Microsoft® Windows editor de Textoo do Wordpad
Comment[ro]=O clonă a editorului textpad WordPad Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Текстовый редактор Wordpad
Comment[sk]=Klon textového editora WordPad Microsoft® Windows
Comment[sl]=Klon Microsoft® Windows Wordpad Besedilo Urednik
Comment[sr]=Клон Microsoft® Windows Вордпад Тект Едитор
Comment[sr-Cyrl]=Клон Microsoft® Windows Вордпад Тект Едитор
Comment[sr-Latn]=Klon Microsoft® Windows Wordpad Tekst Urednik
Comment[sv]=En klon av Microsoft® Windows Wordpad Textredigeraren
Comment[te]=Microsoft® Windows Wordpad టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th]=โคลนของ Microsoft® Windows ตัวแก้ไขข้อความ WordPad
Comment[tr]=Microsoft® Windows Wordpad Metin Düzenleyicisi'nin bir kopyası
Comment[uk]=Клон Microsoft® Windows Текстовий редактор Wordpad
Comment[zh]=Microsoft® Windows写字板文本编辑器的克隆
Comment[zh-CN]=Microsoft® Windows写字板文本编辑器的克隆
Comment[zh-TW]=Microsoft® Windows寫字板文本編輯器的克隆
Exec=wine wordpad %f
Terminal=false
Type=Application
Icon=wine-wordpad
Categories=X-Wine;
