[Desktop Entry]
Name = Wine File Browser
Name[ar] =                                                                                                                                                                                                                                                              ﺬﻴﺒﻨﻟﺍ ﻒﻠﻣ ﺢﻔﺼﺘﻣ
Name[bg] = Виртуален файлов браузър
Name[ca] = Navegador de fitxers de vi
Name[cs] = Prohlížeč souborů Wine
Name[da] = Vinfilbrowser
Name[de] = Wein Datei Browser
Name[el] = Πρόγραμμα περιήγησης αρχείων οίνου
Name[eo] = Vino Dosieradministrilo
Name[es] = Navegador de archivos de vino
Name[fa] =                                                                                                                                                                                                                                                            ﺏﺍﺮﺷ ﻩﺪﻧﻭﺮﭘ ﺮﮔﺭﻭﺮﻣ
Name[fi] = Viinitiedosto
Name[fr] = Navigateur de fichiers vin
Name[he] =                                                                                                                                                                                                                                                               ןייה ץבוק ןפדפד
Name[hi] = शराब फ़ाइल ब्राउज़र
Name[hr] = Preglednik datoteka za vino
Name[hu] = Bor File Browser
Name[it] = Browser file vino
Name[ja] = ワインファイルブラウザ
Name[ko] = 와인 파일 브라우저
Name[lt] = Vyno failų naršyklė
Name[ml] = വൈൻ ഫയൽ ബ്രൌസർ
Name[nl] = Wijn File Browser
Name[pa] = ਵਾਈਨ ਫਾਇਲ ਬਰਾਊਜ਼ਰ
Name[pl] = Przeglądarka plików wina
Name[pt] = Navegador de arquivos de vinho
Name[pt-BR] = Navegador de arquivos de vinho
Name[pt-PT] = Navegador de arquivos de vinho
Name[ro] = Fișier de vin Browser
Name[ru] = Винный файловый браузер
Name[sk] = Prehliadač súborov vína
Name[sl] = Brskalnik vino datoteke
Name[sr] = Вине Филе Бровсер
Name[sr-Cyrl] = Вине Филе Бровсер
Name[sr-Latn] = Vino File Browser
Name[sv] = Vinfilbrowser
Name[te] = వైన్ ఫైల్ బ్రౌజర్
Name[th] = เบราเซอร์ไฟล์ไวน์
Name[tr] = Şarap Dosya Tarayıcısı
Name[uk] = Браузер Wine File
Name[zh] = 酒文件浏览器
Name[zh-CN] = 酒文件浏览器
Name[zh-TW] = 酒文件瀏覽器
Comment = A clone of Microsoft® Windows Explorer
Comment[ar] =                                                                                                                                                                                                                                            ﺭﺭﻮﻠﺒﺴﻛﺇ ﺯﻭﺪﻨﻳﻭ ®Microsoft ﻦﻣ ﺔﺨﺴﻧ
Comment[bg] = Клонинг на Microsoft® Windows Explorer
Comment[ca] = Un clon de Microsoft Windows Explorer
Comment[cs] = Klon Microsoft® Windows Explorer
Comment[da] = En klon af Microsoft® Windows Stifinder
Comment[de] = Ein Klon von Microsoft® Windows Explorer
Comment[el] = Ένας κλώνος του Microsoft® Windows Explorer
Comment[eo] = Klono de Microsoft® Windows Explorer
Comment[es] = Un clon de Microsoft® Windows Explorer
Comment[fa] =                                                                                                                                                                                                                                               ﺭﺭﻮﻠﭙﺴﮐﺍ ﺯﻭﺪﻨﯾﻭ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﻥﻮﻠﮐ
Comment[fi] = Microsoft® Windows Explorerin klooni
Comment[fr] = Un clone de l'Explorateur Microsoft® Windows
Comment[he] =                                                                                                                                                                                                                                          Microsoft® Windows Explorer לש טוביש
Comment[hi] = माइक्रोसॉफ़्ट विंडोज एक्सप्लोरर का क्लोन
Comment[hr] = Klon Microsoft Windows Explorer
Comment[hu] = A Microsoft® Windows Explorer klónja
Comment[it] = Un clone di Microsoft® Windows Explorer
Comment[ja] = Makurosofuto ® u~indōzu ekusupurōra no kurōn
Comment[ko] = 마이크로 소프트 Windows 탐색기의 복제
Comment[lt] = "Microsoft® Windows Explorer" klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് വിൻഡോസ് എക്സ്പ്ലോററിലെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van Microsoft® Windows Verkenner
Comment[pa] = Microsoft® Windows ਐਕਸਪਲੋਰਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon Microsoft Windows Explorer
Comment[pt] = Um clone do Microsoft® Windows Explorer
Comment[pt-BR] = Um clone do Microsoft® Windows Explorer
Comment[pt-PT] = Um clone do Microsoft® Windows Explorer
Comment[ro] = O clonă de Microsoft® Windows Explorer
Comment[ru] = Клон Microsoft® Windows Explorer
Comment[sk] = Klon Microsoft® Windows Explorer
Comment[sl] = Klon raziskovalca Microsoft® Windows
Comment[sr] = Клон Мицрософт® Виндовс Екплорер-а
Comment[sr-Cyrl] = Клон Мицрософт® Виндовс Екплорер-а
Comment[sr-Latn] = A klon Microsoft Windows Explorer
Comment[sv] = En klon i Microsoft® Windows Explorer
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ ఎక్స్ప్లోరర్ యొక్క క్లోన్
Comment[th] = โคลนของMicrosoft® Windows Explorer
Comment[tr] = Microsoft® Windows Explorer'ın bir klon
Comment[uk] = Клон Microsoft® Windows Explorer
Comment[zh] = 微软Windows资源管理器的克隆
Comment[zh-CN] = 微软Windows资源管理器的克隆
Comment[zh-TW] = 微軟Windows資源管理器的克隆
Exec = winefile
Terminal = false
Type = Application
Icon = wine-winefile
Categories = X-Wine;
