[Desktop Entry]
Name=Wine System-Boot
Name[ar]=Wine ﺪﻴﻬﻤﺘﻟﺍ ﻡﺎﻈﻧ
Name[bg]=Wine Зареждане на системата
Name[ca]=Wine Sistema d'arrencada
Name[cs]=Wine System-Boot
Name[da]=Wine System-Boot
Name[de]=Wine-System-Boot
Name[el]=Wine Σύστημα-Εκκίνηση
Name[eo]=Wine Sistemo-Boto
Name[es]=Wine Arranque del sistema
Name[fa]=ﺕﻮﺑ ﻢﺘﺴﯿﺳ Wine
Name[fi]=Wine System-Boot
Name[fr]=Wine System-Boot
Name[he]=תכרעמה לוחתא Wine
Name[hi]=Wine सिस्टम-बूट
Name[hr]=Wine sustav-boot
Name[hu]=Wine Rendszer-Boot
Name[it]=Wine Avvio sistema
Name[ja]=Wineシステムブート
Name[ko]=Wine 시스템 부팅
Name[lt]=Wine sistemos paleidimas
Name[ml]=സിസ്റ്റം-ബൂട്ടിന്റെ Wine
Name[nl]=Wine Systeem opstarten
Name[pa]=Wine ਸਿਸਟਮ-ਬੂਟ
Name[pl]=Wine System-Boot
Name[pt]=Wine inicialização do sistema
Name[pt-BR]=Wine inicialização do sistema
Name[pt-PT]=Wine inicialização do sistema
Name[ro]=Wine Sistem de boot
Name[ru]=Wine Системная загрузка
Name[sk]=Wine System-Boot
Name[sl]=System-Boot. Wine
Name[sr]=Wine Систем-Боот
Name[sr-Cyrl]=Wine Систем-Боот
Name[sr-Latn]=System-Boot. Wine
Name[sv]=Wine System-Boot
Name[te]=Wine సిస్టమ్-బూట్
Name[th]=Wine ระบบบูต
Name[tr]=Wine Sistem Ön Yükleme
Name[uk]=Wine System-Boot
Name[zh]=Wine系统启动
Name[zh-CN]=Wine系统启动
Name[zh-TW]=Wine系統啟動
Comment=Simulate System-reboot / System-halt
Comment[ar]=ﻡﺎﻈﻨﻟﺍ ﻒﻗﻮﺗ / ﻞﻴﻐﺸﺘﻟﺍ ﺓﺩﺎﻋﺇ ﻡﺎﻈﻧ ﺓﺎﻛﺎﺤﻣ
Comment[bg]=Симулиране на рестартиране на системата / спиране на системата
Comment[ca]=Simula el sistema de reinici / sistema de detenció
Comment[cs]=Simulace systémového restartu / zastavení systému
Comment[da]=Simulere System-genstart / System-stop
Comment[de]=Simulieren Systemneustart / System-Stillstand
Comment[el]=Προσομοίωση συστήματος
Comment[eo]=Simuli Sistemo-reboot / Sistemo-halto
Comment[es]=Simular reinicio del sistema / detener el sistema
Comment[fa]=ﻒﻗﻮﺗ-ﻢﺘﺴﯿﺳ / ﺩﺪﺠﻣ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ ﻢﺘﺴﯿﺳ ﯼﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi]=Simuloida System-uudelleenkäynnistystä / System-halt
Comment[fr]=Simuler le redémarrage du système / l'arrêt du système
Comment[he]=רוצעל תכרעמ / תכרעמה לש שדחמ לוחתא תומדל
Comment[hi]=सिमुलेट सिस्टम-रिबूट / सिस्टम-हॉल्ट
Comment[hr]=Simulirajte ponovno podizanje sustava / zaustavljanje sustava
Comment[hu]=Szimulálják rendszer-újraindítás / Rendszer-megállt
Comment[it]=Simula riavvio del sistema / arresto del sistema
Comment[ja]=システム再起動/システム停止をシミュレートする
Comment[ko]=시스템 재부팅 / 시스템 중지 시뮬레이션
Comment[lt]=Imituoti sistemos paleidimo / sistemos sustabdymą
Comment[ml]=സിസ്റ്റം റീബൂട്ട് ചെയ്യുക / സിസ്റ്റം-ഹോൾട്ട് ഉണ്ടാക്കുക
Comment[nl]=Simuleer systeem-reboot / systeem-stop
Comment[pa]=ਸਿਸਟਮ-ਰੀਬੂਟ / ਸਿਸਟਮ-ਰੋਕ ਨੂੰ ਸਮੂਲੇਟ ਕਰੋ
Comment[pl]=Symuluj ponowne uruchomienie systemu / zatrzymanie systemu
Comment[pt]=Simular reinicialização do sistema / parada do sistema
Comment[pt-BR]=Simular reinicialização do sistema / parada do sistema
Comment[pt-PT]=Simular reinicialização do sistema / parada do sistema
Comment[ro]=Simulati Sistem-repornire / System-halt
Comment[ru]=Имитация перезагрузки системы / остановки системы
Comment[sk]=Simulácia systémového reštartu / zastavenia systému
Comment[sl]=Simulirajte System-restart / System-stop
Comment[sr]=Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Cyrl]=Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Latn]=Simulacija System-reboot / System-stop
Comment[sv]=Simulera System-omstart / Systemhalt
Comment[te]=సిస్టమ్-రీబూట్ / సిస్టమ్-హాల్ట్ను అనుకరించుము
Comment[th]=จำลองระบบการรีบูต / ระบบหยุดชะงัก
Comment[tr]=Sistem yeniden başlatmayı / sistem durdurmayı simüle et
Comment[uk]=Імітувати системне перезавантаження / зупинення системи
Comment[zh]=模拟系统重启/系统暂停
Comment[zh-CN]=模拟系统重启/系统暂停
Comment[zh-TW]=模擬系統重啟/系統暫停
Exec=wineboot
Terminal=false
Type=Application
Icon=mycomputer-wine
Categories=Wine;
