[Desktop Entry]
Name=Wine File Browser
Name[ar]=                                                              ﺬﻴﺒﻨﻟﺍ ﻒﻠﻣ ﺢﻔﺼﺘﻣ
Name[bg]=Виртуален файлов браузър
Name[ca]=Navegador de fitxers de vi
Name[cs]=Prohlížeč souborů 紅酒
Name[da]=Vinfilbrowser
Name[de]=Wein Datei-Browser
Name[el]=Πρόγραμμα περιήγησης αρχείων κρασιού
Name[eo]=紅酒-dosierujo
Name[es]=Navegador de archivos de vinos
Name[fa]=                                                            ﺏﺍﺮﺷ ﻩﺪﻧﻭﺮﭘ ﺮﮔﺭﻭﺮﻣ
Name[fi]=Viini Tiedostoselain
Name[fr]=Navigateur de fichiers de vin
Name[he]=                                                               ןייה ץבוק ןפדפד
Name[hi]=शराब फ़ाइल ब्राउज़र
Name[hr]=Preglednik datoteka vina
Name[hu]=Bor File Browser
Name[it]=Browser dei file del vino
Name[ja]=ワインファイルブラウザ
Name[ko]=와인 파일 브라우저
Name[lt]=Vyno failų naršyklė
Name[ml]=വൈൻ ഫയൽ ബ്രൌസർ
Name[nl]=Wijnbestand Browser
Name[pa]=ਵਾਈਨ ਫਾਇਲ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka plików win
Name[pt]=Navegador de arquivos de vinho
Name[pt@BR]=Navegador de arquivos de vinho
Name[pt@PT]=Navegador de arquivos de vinho
Name[ro]=Fișier vinului Browser
Name[ru]=Винный файловый браузер
Name[sk]=Prehliadač súborov vína
Name[sl]=Brskalnik vino datoteke
Name[sr]=Вине Филе Бровсер
Name[sr@Cyrl]=Вине Филе Бровсер
Name[sr@Latn]=Vino File Browser
Name[sv]=Vinfilbrowser
Name[te]=వైన్ ఫైల్ బ్రౌజర్
Name[th]=เบราเซอร์ไฟล์ไวน์
Name[tr]=Şarap Dosya Tarayıcısı
Name[uk]=Браузер 紅酒 File
Name[zh]=葡萄酒文件浏览器
Name[zh@CN]=葡萄酒文件浏览器
Name[zh@TW]=葡萄酒文件瀏覽器
Comment=A clone of Windows Explorer
Comment[ar]=A ﺯﻭﺪﻨﻳﻭ ﻒﺸﻜﺘﺴﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на 視窗 Explorer
Comment[ca]=Un clon de l'Explorador de 視窗
Comment[cs]=Klon programu Průzkumník 視窗
Comment[da]=En klon af 視窗 Stifinder
Comment[de]=Ein Klon von 視窗 Explorer
Comment[el]=Ένας κλώνος της Εξερεύνησης των 視窗
Comment[eo]=Klono de 視窗 Explorer
Comment[es]=Un clon del Explorador de 視窗
Comment[fa]=                                                    ﺭﺭﻮﻠﭙﺴﮐﺍ ﺯﻭﺪﻨﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗 Explorerin klooni
Comment[fr]=Un clone de l'Explorateur 視窗
Comment[he]=                                                         視窗 רייס לש טוביש
Comment[hi]=विंडोज एक्सप्लोरर का क्लोन
Comment[hr]=Klon 視窗 Explorera
Comment[hu]=A 視窗 Intéző egy klónja
Comment[it]=Un clone di Esplora risorse
Comment[ja]=視窗エクスプローラのクローン
Comment[ko]=視窗 탐색기의 복제본
Comment[lt]="視窗 Explorer"klonas
Comment[ml]=വിൻഡോസ് എക്സ്പ്ലോററിന്റെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van 視窗 Verkenner
Comment[pa]=ਵਿੰਡੋ ਐਕਸਪਲੋਰਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon Eksploratora 視窗
Comment[pt]=Um clone do 視窗 Explorer
Comment[pt@BR]=Um clone do 視窗 Explorer
Comment[pt@PT]=Um clone do 視窗 Explorer
Comment[ro]=O clonă a 視窗 Explorer
Comment[ru]=Клон 視窗 Explorer
Comment[sk]=Klon programu 視窗 Explorer
Comment[sl]=Klon Raziskovalca
Comment[sr]=Клон Виндовс Екплорер-а
Comment[sr@Cyrl]=Клон Виндовс Екплорер-а
Comment[sr@Latn]=Klon 視窗 Explorer-a
Comment[sv]=En klon i 視窗 Explorer
Comment[te]=విండోస్ ఎక్స్ప్లోరర్ యొక్క క్లోన్
Comment[th]=โคลนของ 視窗 Explorer
Comment[tr]=視窗 Gezgini kopyası
Comment[uk]=Клон Проводника 視窗
Comment[zh]=視窗资源管理器的克隆
Comment[zh@CN]=視窗资源管理器的克隆
Comment[zh@TW]=視窗資源管理器的克隆
Exec=winefile
Terminal=false
Type=Application
Icon=wine-winefile
Categories=Wine;
