[Desktop Entry]
Name = Wine clone of Microsoft® Installer
Name[ar] =                                                                                                                                                                                                                                          ﺮﻟﺎﺗﺰﻧﺇ ®Microsoft ﻦﻣ ﺬﻴﺒﻨﻟﺍ ﺥﺎﺴﻨﺘﺳﺍ
Name[bg] = Клониране на виното на Microsoft® Installer
Name[ca] = clon de vi de Microsoft instal·lador
Name[cs] = Klonování viny společnosti Microsoft® Installer
Name[da] = Vinklon af Microsoft® Installer
Name[de] = Weinklon von Microsoft® Installer
Name[el] = Κλώνος οίνου του Microsoft® Installer
Name[eo] = Vino clon de Microsoft® Instalilo
Name[es] = Clon de vino del instalador de Microsoft®
Name[fa] =                                                                                                                                                                                                                                                      ﺐﺼﻧ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﺏﺍﺮﺷ ﻥﻮﻠﮐ
Name[fi] = Microsoft® Installerin viiniklooni
Name[fr] = Clone du vin de Microsoft® Installer
Name[he] =                                                                                                                                                                                                                                             Microsoft® Installer לש ןיי טוביש
Name[hi] = माइक्रोसॉफ्ट ® इंस्टालर का शराब क्लोन
Name[hr] = Vino klon Microsoft Installer
Name[hu] = A Microsoft® Telepítő borklónja
Name[it] = Clone di vino di Microsoft® Installer
Name[ja] = マイクロソフトインストーラのワインクローン
Name[ko] = 마이크로 소프트 설치의 와인 클론
Name[lt] = Vyno klonas Microsoft Installer
Name[ml] = Microsoft® ഇൻസ്റ്റാളർ വൈൻ ക്ലോൺ
Name[nl] = Wijnkloon van Microsoft® Installer
Name[pa] = ਮਾਈਕਰੋਸਾਫਟ® ਇੰਸਟਾਲਰ ਦੀ ਵਾਈਨ ਕਲੋਨ
Name[pl] = klon wino Microsoft Installer
Name[pt] = Clone de vinho do instalador Microsoft®
Name[pt-BR] = Clone de vinho do instalador Microsoft®
Name[pt-PT] = Clone de vinho do instalador Microsoft®
Name[ro] = Clona de clona a Microsoft® Installer
Name[ru] = Винный клон установщика Microsoft®
Name[sk] = Klonovanie vína inštalátora spoločnosti Microsoft®
Name[sl] = Vino klon Microsoft Installer
Name[sr] = Вински клон Мицрософт® Инсталлер-а
Name[sr-Cyrl] = Вински клон Мицрософт® Инсталлер-а
Name[sr-Latn] = Vino klon Microsoft Installer
Name[sv] = Vinklon i Microsoft® Installer
Name[te] = మైక్రోసాఫ్ట్ ® ఇన్స్టాలర్ యొక్క వైన్ క్లోన్
Name[th] = โคลนไวน์ของMicrosoft® Installer
Name[tr] = Microsoft® yükleyicisi Şarap klonu
Name[uk] = Винний клон Microsoft Installer
Name[zh] = 微软安装的葡萄酒克隆
Name[zh-CN] = 微软安装的葡萄酒克隆
Name[zh-TW] = 微軟安裝的葡萄酒克隆
Comment = Wine installer utility for MSI packages
Comment[ar] =                                                                                                                                                                                                                                                  ﻲﺴﻣ ﻡﺰﺤﻟ ﺓﺪﺋﺎﻓ ﺖﺒﺜﻤﻟﺍ ﺬﻴﺒﻨﻟﺍ
Comment[bg] = Помощна програма за инсталиране на вино за пакети MSI
Comment[ca] = Utilitat de l'instal·lador de vi per a paquets MSI
Comment[cs] = Nástroj pro instalaci WIN pro balíčky MSI
Comment[da] = Vininstallatørværktøj til MSI-pakker
Comment[de] = Wein-Installer-Dienstprogramm für MSI-Pakete
Comment[el] = Βοηθητικό πρόγραμμα εγκατάστασης οίνου για πακέτα MSI
Comment[eo] = Vino instalilo utileco por MSI pakaĵoj
Comment[es] = la utilidad de instalación de vino para paquetes MSI
Comment[fa] =                                                                                                                                                                                                                                              MSI ﯼﺎﻫ ﻪﺘﺴﺑ ﯼﺍﺮﺑ ﺏﺍﺮﺷ ﺐﺼﻧ ﺭﺍﺰﺑﺍ
Comment[fi] = Viinin asennusohjelma MSI-paketeille
Comment[fr] = utilitaire d'installation de vin pour les packages MSI
Comment[he] =                                                                                                                                                                                                                                             MSI תוליבח רובע ןיי הנקתהה תינכות
Comment[hi] = एमएसआई पैकेजों के लिए शराब इंस्टॉलर उपयोगिता
Comment[hr] = Vino instalacijski program za MSI pakete
Comment[hu] = Bor telepítő segédprogram MSI csomagokhoz
Comment[it] = programma di utilità di installazione di vino per i pacchetti MSI
Comment[ja] = MSIパッケージのワインインストーラユーティリティ
Comment[ko] = MSI 패키지 용 와인 설치 유틸리티
Comment[lt] = MSI paketų vyno įdiegimo programa
Comment[ml] = മാരുതി പാക്കേജുകൾ വേണ്ടി വൈൻ ഇൻസ്റ്റാളർ യൂട്ടിലിറ്റി
Comment[nl] = Wijninstallatieprogramma voor MSI-pakketten
Comment[pa] = ਕੰਪਨੀ ਪੈਕੇਜ ਲਈ ਵਾਈਨ ਇੰਸਟਾਲਰ ਸਹੂਲਤ
Comment[pl] = Narzędzie instalator win dla pakietów MSI
Comment[pt] = Utilitário de instalação do vinho para pacotes MSI
Comment[pt-BR] = Utilitário de instalação do vinho para pacotes MSI
Comment[pt-PT] = Utilitário de instalação do vinho para pacotes MSI
Comment[ro] = utilitar de instalare de vin pentru pachete MSI
Comment[ru] = Утилита винной установки для пакетов MSI
Comment[sk] = Nástroj na inštaláciu vína pre balíky MSI
Comment[sl] = Namestitveni program za vinske instalacije za pakete MSI
Comment[sr] = Услужни програм за инсталацију вина за МСИ пакете
Comment[sr-Cyrl] = Услужни програм за инсталацију вина за МСИ пакете
Comment[sr-Latn] = Uslužni program za instaliranje vina za MSI pakete
Comment[sv] = Vininstallationsverktyg för MSI-paket
Comment[te] = ఎంఎస్ఐ ప్యాకేజెస కోసం వైన్ సంస్థాపకి వినియోగ
Comment[th] = ยูทิลิตี้การติดตั้งไวน์สำหรับแพคเกจของ MSI
Comment[tr] = MSI paketleri için şarap yükleyici programı
Comment[uk] = Вино інсталятор утиліта для пакетів MSI
Comment[zh] = 对于MSI软件包安装葡萄酒实用
Comment[zh-CN] = 对于MSI软件包安装葡萄酒实用
Comment[zh-TW] = 對於MSI軟件包安裝葡萄酒實用
Exec = wine msiexec /i %%f
Terminal = false
Type = Application
Icon = wine-msiexec
Categories = X-Wine;
