[Desktop Entry]
Name=Wine OLE/COM Object Viewer
Name[ar]=                                                   ﻡﻮﻛ / ﻲﻟﻭﺃ ﻦﺋﺎﻛ ﺽﺭﺎﻋ ﺬﻴﺒﻨﻟﺍ
Name[bg]=紅酒 OLE / COM Viewer на обекти
Name[ca]=Vi visualitzador d'objectes OLE / COM
Name[cs]=Prohlížeč objektů OLE / COM 紅酒
Name[da]=Vin OLE / COM Objekt Viewer
Name[de]=Wein OLE / COM Objekt Viewer
Name[el]=Οίνος / COM προβολής αντικειμένων οίνου
Name[eo]=Vino OLE / COM Objekto Vidilo
Name[es]=Visor de objetos OLE / COM de 紅酒
Name[fa]=紅酒 OLE / COM Object Viewer
Name[fi]=Viini OLE / COM Object Viewer
Name[fr]=Visionneuse d'objet OLE / COM de vin
Name[he]=OLE טקייבוא גיצמ / ןיי COM
Name[hi]=शराब OLE / COM ऑब्जेक्ट व्यूअर
Name[hr]=Vino OLE / COM Object Viewer
Name[hu]=Bor OLE / COM Object Viewer
Name[it]=Vino OLE / COM Object Viewer
Name[ja]=ワインOLE / COMオブジェクトビューア
Name[ko]=와인 OLE / COM 개체 뷰어
Name[lt]=紅酒 OLE / COM objektų peržiūros programa
Name[ml]=വൈൻ OLE / കോം ഒബ്ജക്റ്റ് വ്യൂവർ
Name[nl]=Wijn OLE / COM Object Viewer
Name[pa]=ਵਾਈਨ OLE / COM ਆਬਜੈਕਟ ਵਿਊਅਰ
Name[pl]=Wino OLE / COM Object Viewer
Name[pt]=紅酒 OLE / COM Object Viewer
Name[pt@BR]=紅酒 OLE / COM Object Viewer
Name[pt@PT]=紅酒 OLE / COM Object Viewer
Name[ro]=Vizualizarea obiectelor OLE / COM Object Viewer
Name[ru]=Визуальный просмотр объектов OLE / COM
Name[sk]=Obrazový prehliadač objektov OLE / COM
Name[sl]=Vino OLE / COM Object Viewer
Name[sr]=Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr@Cyrl]=Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr@Latn]=紅酒 OLE / COM Object Viewer
Name[sv]=Vin OLE / COM Objektvisare
Name[te]=వైన్ OLE / COM ఆబ్జెక్ట్ వ్యూవర్
Name[th]=โปรแกรมดูวัตถุ OLE / COM ไวน์
Name[tr]=紅酒 OLE / COM Nesne Görüntüleyicisi
Name[uk]=紅酒 OLE / COM Object Viewer
Name[zh]=紅酒 OLE / COM对象查看器
Name[zh@CN]=紅酒 OLE / COM对象查看器
Name[zh@TW]=紅酒 OLE / COM對象查看器
Comment=Windows Object Linking and Embedding/Component Object Model Object Viewer
Comment[ar]=                        ﺽﺭﺎﻋ ﺝﺫﻮﻤﻧ ﻦﺋﺎﻛ ﻥﻮﻜﻤﻟﺍ ﻦﺋﺎﻛ / ﻦﻴﻤﻀﺘﻟﺍﻭ ﻂﺑﺭ ﺯﻭﺪﻨﻳﻭ ﻦﺋﺎﻛ
Comment[bg]=Свързване и вграждане на обект на 視窗 / Object Model Object Viewer
Comment[ca]=Vinculació d'objectes de 視窗 i incrustat / visualitzador d'objectes de model d'objectes components
Comment[cs]=Připojení a vkládání objektů v systému 視窗 / Prohlížeč objektů objektů modelu komponent
Comment[da]=視窗 Objekt Linking og Embedding / Component Object Model Objekt Viewer
Comment[de]=視窗-Objektverknüpfung und Einbettung / Komponentenobjekt-Modellobjekt-Viewer
Comment[el]=Σύνδεση αντικειμένου και ενσωμάτωση αντικειμένων / αντικειμενοφόρος αντικειμενοφόρος αντικειμενοφόρος
Comment[eo]=Vindoza Objekto Liganta kaj Enkorpiganta / Komponenta Objekto Modelo Objekto Vidilo
Comment[es]=Vinculación e incrustación de objetos de 視窗 / Objeto de componente Visor de objetos de modelo
Comment[fa]=        Embedding / Component Object Model Object Viewer ﻭ Object Object ﺪﻧﻮﯿﭘ
Comment[fi]=視窗-objektin liittäminen ja upottaminen / komponenttiobjektimalli Object Viewer
Comment[fr]=Liaison et incorporation d'objet 視窗 et composant objet objet objet objet
Comment[he]=              םגד טקייבוא טקייבוא Embedding / Component ו רשקמ 視窗 טקייבוא
Comment[hi]=विंडोज ऑब्जेक्ट लिंकिंग एंड एम्बेडिंग / घटक ऑब्जेक्ट मॉडल ऑब्जेक्ट व्यूअर
Comment[hr]=Objekt za povezivanje objekta sustava 視窗 i ugrađivanje / objekt komponente objekta
Comment[hu]=視窗 objektumok összekapcsolása és beágyazása / komponens objektummodell objektum-megjelenítő
Comment[it]=Visualizzatore di oggetti di oggetti di collegamento e di incorporamento di oggetti di oggetti di sistema
Comment[ja]=視窗オブジェクトのリンクと埋め込み/コンポーネントオブジェクトモデルオブジェクトビューア
Comment[ko]=視窗 개체 연결 및 포함 / 구성 요소 개체 모델 개체 뷰어
Comment[lt]="視窗 Objektų susiejimas ir įterpimas"/"Component Object Model Object Viewer"
Comment[ml]=വിൻഡോസ് ഒബ്ജക്റ്റ് ലിങ്കിംഗ് ആൻറ് എംബഡിംഗ് / കോംപോണൻറ് ഒബ്ജക്റ്റ് മോഡ ഒബ്ജക്റ്റ് വ്യൂവർ
Comment[nl]=視窗 Object Linking en Embedding / Object Object Viewer Object Object Viewer
Comment[pa]=ਵਿੰਡੋਜ਼ ਆਬਜੈਕਟ ਲਿੰਕਿੰਗ ਅਤੇ ਐਮਬੈਡਿੰਗ / ਕੰਪੋਨੈਂਟ ਆਬਜੈਕਟ ਮਾਡਲ ਆਬਜ਼ਰਡਰ ਵਿਊਅਰ
Comment[pl]=Łączenie i łączenie obiektów obiektów systemu 視窗 / obiekt obiektów obiektowych
Comment[pt]=Vinculação e Incorporação de Objetos do 視窗 / Objeto do Componente Visualizador de Objetos
Comment[pt@BR]=Vinculação e Incorporação de Objetos do 視窗 / Objeto do Componente Visualizador de Objetos
Comment[pt@PT]=Vinculação e Incorporação de Objetos do 視窗 / Objeto do Componente Visualizador de Objetos
Comment[ro]=Conectarea și încorporarea obiectului 視窗 / Object Model Object Viewer
Comment[ru]=Объектное связывание и встраивание объектов объектной модели объекта Object Viewer
Comment[sk]=Prepojenie a vkladanie objektov v systéme 視窗 / Object Viewer objektov
Comment[sl]=Pregledovalnik predmetov Object Linking and Embedding / Component Object Object Viewer
Comment[sr]=Виндовс Објецт Линкер и Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr@Cyrl]=Виндовс Објецт Линкер и Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr@Latn]=視窗 Object Linking i Embedding / Component Object Object Viewer
Comment[sv]=視窗 Object Linking och inbäddning / komponentobjektmodell objektvisare
Comment[te]=విండోస్ ఆబ్జెక్ట్ లింకింగ్ అండ్ ఎంబెడ్డింగ్ / కాంపోనెంట్ ఆబ్జెక్ట్ మోడల్ ఆబ్జెక్ట్ వ్యూవర్
Comment[th]=การเชื่อมโยงวัตถุของ 視窗 และการฝัง / Object Object Object Object Object Viewer
Comment[tr]=視窗 nesne bağlama ve katıştırma / Bileşen Nesne Modeli Nesne Görüntüleyicisi
Comment[uk]=Об'єкт об'єкта об'єднання 視窗 та вбудовування / компонент об'єктної моделі перегляду об'єктів
Comment[zh]=視窗对象链接和嵌入/组件对象模型对象查看器
Comment[zh@CN]=視窗对象链接和嵌入/组件对象模型对象查看器
Comment[zh@TW]=視窗對象鏈接和嵌入/組件對像模型對象查看器
Exec=wine oleview.exe
Terminal=false
Type=Application
Icon=control-wine
Categories=Wine;
