[Desktop Entry]
Name=Wine Help
Name[ar]=ﺓﺪﻋﺎﺴﻣ Wine
Name[bg]=Wine Помощ
Name[ca]=Wine Ajuda
Name[cs]=Wine Nápověda
Name[da]=Wine Hjælp
Name[de]=Wine Hilfe
Name[el]=Wine Βοήθεια
Name[eo]=Wine Helpo
Name[es]=Wine Ayuda
Name[fa]=ﺎﻤﻨﻫﺍﺭ Wine
Name[fi]=Wine Ohje
Name[fr]=Wine Aide
Name[he]=הרזע Wine
Name[hi]=Wine सहायता
Name[hr]=Wine Pomoć
Name[hu]=Wine Súgó
Name[it]=Wine Aiuto
Name[ja]=Wineヘルプ
Name[ko]=Wine 도움말
Name[lt]=Wine Pagalba
Name[ml]=Wine സഹായം
Name[nl]=Wine Help
Name[pa]=Wine ਸਹਾਇਤਾ
Name[pl]=Wine Pomoc
Name[pt]=Wine Ajuda
Name[pt-BR]=Wine Ajuda
Name[pt-PT]=Wine Ajuda
Name[ro]=Wine Ajutor
Name[ru]=Wine Помощь
Name[sk]=Wine Pomocník
Name[sl]=Wine Pomoč
Name[sr]=Wine Помоћ
Name[sr-Cyrl]=Wine Помоћ
Name[sr-Latn]=Wine Pomoć
Name[sv]=Wine Hjälp
Name[te]=Wine సహాయం
Name[th]=Wine วิธีใช้
Name[tr]=Wine Yardım
Name[uk]=Wine Довідка
Name[zh]=Wine帮助
Name[zh-CN]=Wine帮助
Name[zh-TW]=Wine幫助
Comment=A clone of the Microsoft® Windows Help File browser
Comment[ar]=ﺕﺎﻔﻠﻤﻟﺍ ﺢﻔﺼﺘﻣ ﺓﺪﻋﺎﺴﻣ Windows Microsoft® ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на браузъра за помощ на файла Microsoft® Windows
Comment[ca]=Un clon del navegador d'arxius Microsoft® Windows Ajuda
Comment[cs]=Klon prohlížeče nápovědy Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Hjælp Filbrowser
Comment[de]=Ein Klon des Microsoft® Windows Hilfe Dateibrowser
Comment[el]=Ένας κλώνος του προγράμματος περιήγησης αρχείων βοήθειας Microsoft® Windows
Comment[eo]=Klonono de la retumilo de dosiero Microsoft® Windows
Comment[es]=Una copia del navegador de archivos de ayuda Microsoft® Windows
Comment[fa]=ﺎﻤﻨﻫﺍﺭ ﻞﯾﺎﻓ ﺮﮔﺭﻭﺮﻣ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=Klooni Microsoft® Windows Ohjetiedostoa selain
Comment[fr]=Un clone du navigateur de fichier d'aide Microsoft® Windows
Comment[he]=םיצבקה ןפדפדב הרזע Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows का क्लोन सहायता फ़ाइल ब्राउज़र
Comment[hr]=Klon Microsoft® Windows Preglednik datoteka pomoći
Comment[hu]=A Microsoft® Windows Súgó fájl böngészőjének klónja
Comment[it]=Un clone del Microsoft® Windows della Guida del browser di file
Comment[ja]=Microsoft®のクローンWindowsヘルプファイルブラウザ
Comment[ko]=Microsoft®의 클론 Windows 도움말 파일 브라우저
Comment[lt]=Klonas Microsoft® Windows Pagalbos failo naršyklė
Comment[ml]=സഹായ ഫയൽ ബ്രൌസറിന്റെ Microsoft® Windows ക്ലോൺ
Comment[nl]=Een kloon van de Help File-browser Microsoft® Windows
Comment[pa]=Microsoft® Windows ਦਾ ਇੱਕ ਕਲਨ ਸਹਾਇਤਾ ਫਾਈਲ ਬ੍ਰਾਊਜ਼ਰ
Comment[pl]=Klon przeglądarki plików pomocy Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[pt-BR]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[pt-PT]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[ro]=O clonă a browser-ului de ajutor pentru Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Браузер файлов справки
Comment[sk]=Klon programu Microsoft® Windows Prehliadač súborov pomoci
Comment[sl]=Klon brskalnika Datoteka za pomoč Microsoft® Windows
Comment[sr]=Клон Microsoft® Windows Бровсер за помоћ датотеке
Comment[sr-Cyrl]=Клон Microsoft® Windows Бровсер за помоћ датотеке
Comment[sr-Latn]=Klon Microsoft® Windows pomoć preglednika datoteka
Comment[sv]=En klon i Microsoft® Windows Hjälpfilen
Comment[te]=సహాయం ఫైలు బ్రౌజర్ యొక్క Microsoft® Windows క్లోన్
Comment[th]=โคลนของเบราเซอร์ของไฟล์วิธีใช้ Microsoft® Windows
Comment[tr]=Microsoft® Windows Yardım Dosyası tarayıcısının bir kopyası
Comment[uk]=Клон файлу довідкового файлу Microsoft® Windows
Comment[zh]=Microsoft® Windows帮助文件浏览器的克隆
Comment[zh-CN]=Microsoft® Windows帮助文件浏览器的克隆
Comment[zh-TW]=Microsoft® Windows幫助文件瀏覽器的克隆
Exec=wine winhlp32.exe %f
Terminal=false
Type=Application
Icon=wine-winhelp
Categories=X-Wine;
