[Desktop Entry]
Name=Wine Windows Installer
Name[ar]=                                                          ﺯﻭﺪﻨﻳﻭ ﺖﺒﺜﻤﻟﺍ ﺬﻴﺒﻨﻟﺍ
Name[bg]=Вино 視窗 Installer
Name[ca]=Instal·lador de finestres de vi
Name[cs]=紅酒 Instalační služba 視窗 Installer
Name[da]=Vin 視窗 Installer
Name[de]=紅酒 視窗 Installer
Name[el]=紅酒 視窗 Installer
Name[eo]=Vina Fenestra Instalilo
Name[es]=Instalador de ventanas de vino
Name[fa]=                                                               ﺯﻭﺪﻨﯾﻭ ﺐﺼﻧ ﺏﺍﺮﺷ
Name[fi]=Viini 視窗 Installer
Name[fr]=Vin 視窗 Installer
Name[he]=視窗
Name[hi]=शराब विंडोज इंस्टालर
Name[hr]=Vino 視窗 Installer
Name[hu]=紅酒 視窗 Installer
Name[it]=Vino 視窗 Installer
Name[ja]=ワイン視窗インストーラ
Name[ko]=와인의 視窗 Installer
Name[lt]="紅酒""視窗"diegimo programa
Name[ml]=വൈൻ വിൻഡോസിന്റെ ഇൻസ്റ്റാളർ
Name[nl]=Wijn 視窗 Installer
Name[pa]=ਵਾਈਨ ਵਿੰਡੋਜ਼ ਇੰਸਟਾਲਰ
Name[pl]=紅酒 Instalator 視窗
Name[pt]=視窗 視窗 Installer
Name[pt@BR]=視窗 視窗 Installer
Name[pt@PT]=視窗 視窗 Installer
Name[ro]=Vin 視窗 Installer
Name[ru]=Установщик вин
Name[sk]=紅酒 Inštalátor systému 視窗
Name[sl]=Namestitveni program 視窗
Name[sr]=Вине Виндовс Инсталлер
Name[sr@Cyrl]=Вине Виндовс Инсталлер
Name[sr@Latn]=Vino 視窗 Installer
Name[sv]=Vin 視窗 Installer
Name[te]=వైన్ విండోస్ ఇన్స్టాలర్
Name[th]=ไวน์ 視窗 Installer
Name[tr]=Şarap 視窗 Installer
Name[uk]=Установник 紅酒 для 視窗
Name[zh]=葡萄酒的視窗 Installer
Name[zh@CN]=葡萄酒的視窗 Installer
Name[zh@TW]=葡萄酒的視窗 Installer
Comment=Wine installer utility for MSI packages
Comment[ar]=                                                  ﻲﺴﻣ ﻡﺰﺤﻟ ﺓﺪﺋﺎﻓ ﺖﺒﺜﻤﻟﺍ ﺬﻴﺒﻨﻟﺍ
Comment[bg]=Помощник за инсталиране на вино за пакети MSI
Comment[ca]=Utilitat de l'instal·lador de vi per a paquets MSI
Comment[cs]=Nástroj pro instalaci WIN pro balíčky MSI
Comment[da]=Vininstallatørværktøj til MSI-pakker
Comment[de]=紅酒 Installer Utility für MSI Pakete
Comment[el]=Βοηθητικό πρόγραμμα εγκατάστασης οίνου για πακέτα MSI
Comment[eo]=Vina instalilo-utileco por MSI-pakoj
Comment[es]=Utilidad de instalación de 紅酒 para paquetes MSI
Comment[fa]=                                              MSI ﯼﺎﻫ ﻪﺘﺴﺑ ﯼﺍﺮﺑ ﺏﺍﺮﺷ ﺐﺼﻧ ﺭﺍﺰﺑﺍ
Comment[fi]=Viinin asennusohjelma MSI-paketeille
Comment[fr]=Utilitaire d'installation 紅酒 pour les paquets MSI
Comment[he]=                                             MSI תוליבח רובע ןיי הנקתהה תינכות
Comment[hi]=एमएसआई पैकेजों के लिए शराब इंस्टॉलर उपयोगिता
Comment[hr]=Utility za instalaciju vina za MSI pakete
Comment[hu]=Bor telepítő segédprogram MSI csomagokhoz
Comment[it]=Utilità di installazione del vino per i pacchetti MSI
Comment[ja]=MSIパッケージ用ワインインストーラユーティリティ
Comment[ko]=MSI 패키지 용 와인 설치 유틸리티
Comment[lt]=MSI paketų vyno diegimo programa
Comment[ml]=MSI പാക്കേജുകൾക്കുള്ള വൈൻ ഇൻസ്റ്റാളർ പ്രയോഗം
Comment[nl]=Wijninstallatie utility voor MSI-pakketten
Comment[pa]=MSI ਪੈਕੇਜਾਂ ਲਈ ਵਾਈਨ ਇੰਸਟਾਲਰ ਉਪਯੋਗਤਾ
Comment[pl]=Narzędzie do instalacji 紅酒 dla pakietów MSI
Comment[pt]=Utilitário de instalação do vinho para pacotes MSI
Comment[pt@BR]=Utilitário de instalação do vinho para pacotes MSI
Comment[pt@PT]=Utilitário de instalação do vinho para pacotes MSI
Comment[ro]=Instrumentul de instalare a vinului pentru pachetele MSI
Comment[ru]=Утилита винной установки для пакетов MSI
Comment[sk]=Nástroj na inštaláciu vína pre balíky MSI
Comment[sl]=Namestitveni program vina za pakete MSI
Comment[sr]=Услужни програм за инсталацију вина за МСИ пакете
Comment[sr@Cyrl]=Услужни програм за инсталацију вина за МСИ пакете
Comment[sr@Latn]=Uslužni program za instaliranje vina za MSI pakete
Comment[sv]=Vininstallationsverktyg för MSI-paket
Comment[te]=MSI ప్యాకేజీల కోసం వైన్ ఇన్స్టాలర్ యుటిలిటీ
Comment[th]=ยูทิลิตี้ติดตั้ง 紅酒 สำหรับแพ็กเกจ MSI
Comment[tr]=MSI paketleri için şarap yükleyici programı
Comment[uk]=Утиліта установки 紅酒 для пакетів MSI
Comment[zh]=用于MSI包的紅酒安装程序实用程序
Comment[zh@CN]=用于MSI包的紅酒安装程序实用程序
Comment[zh@TW]=用於MSI包的紅酒安裝程序實用程序
Exec=wine msiexec /i %f
Terminal=false
Type=Application
Icon=wine-msiexec
Categories=Wine;
