[Desktop Entry]
Name=Wine File Browser
Name[ar]=ﺕﺎﻔﻠﻤﻟﺍ ﺢﻔﺼﺘﻣ Wine
Name[bg]=Wine Файл браузър
Name[ca]=Navegador d'arxius Wine
Name[cs]=Prohlížeč souborů Wine
Name[da]=Wine Filbrowser
Name[de]=Wine Dateibrowser
Name[el]=Wine Πρόγραμμα περιήγησης αρχείων
Name[eo]=Wine Dosiero-legilo
Name[es]=Wine Explorador de archivos
Name[fa]=ﻞﯾﺎﻓ ﺮﮔﺭﻭﺮﻣ Wine
Name[fi]=Wine Tiedoston selain
Name[fr]=Wine Navigateur de fichiers
Name[he]=םיצבק ןפדפד Wine
Name[hi]=Wine फ़ाइल ब्राउज़र
Name[hr]=Wine Preglednik datoteka
Name[hu]=Wine Fájlböngésző
Name[it]=Wine Browser file
Name[ja]=Wineファイルブラウザ
Name[ko]=Wine 파일 브라우저
Name[lt]=Wine failų naršyklė
Name[ml]=ഫയൽ ബ്രൌസർ Wine
Name[nl]=Wine Bestandsbrowser
Name[pa]=Wine ਫਾਇਲ ਬਰਾਊਜ਼ਰ
Name[pl]=Wine Przeglądarka plików
Name[pt]=Wine Navegador de arquivos
Name[pt-BR]=Wine Navegador de arquivos
Name[pt-PT]=Wine Navegador de arquivos
Name[ro]=Wine File Browser
Name[ru]=Wine Браузер файлов
Name[sk]=Wine Prehliadač súborov
Name[sl]=Brskalnik Wine datoteke
Name[sr]=Wine Филе Бровсер
Name[sr-Cyrl]=Wine Филе Бровсер
Name[sr-Latn]=Wine File Browser
Name[sv]=Wine Filbläddrare
Name[te]=Wine ఫైల్ బ్రౌజర్
Name[th]=Wine เบราเซอร์ไฟล์
Name[tr]=Wine Dosya Tarayıcı
Name[uk]=Wine Файловий браузер
Name[zh]=Wine文件浏览器
Name[zh-CN]=Wine文件浏览器
Name[zh-TW]=Wine文件瀏覽器
Comment=A clone of Microsoft® Windows Explorer
Comment[ar]=ﺭﺭﻮﻠﺒﺴﻛﺇ Windows Microsoft® ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонът на Microsoft® Windows Explorer
Comment[ca]=Un clon de Microsoft® Windows Explorador
Comment[cs]=Klon Microsoft® Windows Průzkumník
Comment[da]=En klon af Microsoft® Windows Explorer
Comment[de]=Ein Klon von Microsoft® Windows Explorer
Comment[el]=Ένας κλώνος του Microsoft® Windows Explorer
Comment[eo]=Klono de Microsoft® Windows Explorer
Comment[es]=Un clon de Microsoft® Windows Explorador
Comment[fa]=ﺭﺭﻮﻠﭙﺴﮐﺍ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Explorer
Comment[fr]=Un clone de Microsoft® Windows Explorateur
Comment[he]=Explorer Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows एक्सप्लोरर का क्लोन
Comment[hr]=Klon Microsoft® Windows Explorer
Comment[hu]=A klón Microsoft® Windows Explorer
Comment[it]=Un clone di Microsoft® Windows Explorer
Comment[ja]=Microsoft® Windowsエクスプローラのクローン
Comment[ko]=Microsoft® Windows 탐색기의 클론
Comment[lt]=Microsoft® Windows Explorer klonas
Comment[ml]=ഒരു ക്ലോൺ Microsoft® Windows എക്സ്പ്ലോറർ
Comment[nl]=Een kloon van Microsoft® Windows Explorer
Comment[pa]=Microsoft® Windows ਐਕਸਪਲੋਰਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon Eksploratora Microsoft® Windows
Comment[pt]=Um clone de Microsoft® Windows Explorador
Comment[pt-BR]=Um clone de Microsoft® Windows Explorador
Comment[pt-PT]=Um clone de Microsoft® Windows Explorador
Comment[ro]=O clonă a exploratorului Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Проводник
Comment[sk]=Klon Microsoft® Windows Explorer
Comment[sl]=Klon Microsoft® Windows Raziskovalec
Comment[sr]=Клон Microsoft® Windows Екплорер
Comment[sr-Cyrl]=Клон Microsoft® Windows Екплорер
Comment[sr-Latn]=Klon Microsoft® Windows Explorer
Comment[sv]=En klon av Microsoft® Windows Explorer
Comment[te]=ఎ క్లోన్ ఆఫ్ Microsoft® Windows ఎక్స్ప్లోరర్
Comment[th]=โคลนของ Microsoft® Windows Explorer
Comment[tr]=Microsoft® Windows Explorer'ın bir klon
Comment[uk]=Клон Microsoft® Windows Провідника
Comment[zh]=的Microsoft® Windows浏览器的克隆
Comment[zh-CN]=的Microsoft® Windows浏览器的克隆
Comment[zh-TW]=的Microsoft® Windows瀏覽器的克隆
Exec=winefile
Terminal=false
Type=Application
Icon=wine-winefile
Categories=Wine;
