[Desktop Entry]
Name=Configure Wine
Name[ar]=                                                                  ﺬﻴﺒﻨﻟﺍ ﻦﻳﻮﻜﺗ
Name[bg]=Конфигуриране на виното
Name[ca]=Configura el vi
Name[cs]=Nakonfigurujte víno
Name[da]=Konfigurer vin
Name[de]=Wein konfigurieren
Name[el]=Ρύθμιση του οίνου
Name[eo]=Agordi vinon
Name[es]=Configurar el vino
Name[fa]=                                                                    ﺏﺍﺮﺷ ﻭ ﺖﺨﭘ
Name[fi]=Määritä viini
Name[fr]=Configurez le vin
Name[he]=                                                                  ןייה תא רדגה
Name[hi]=वाइन कॉन्फ़िगर करें
Name[hr]=Konfiguriranje vina
Name[hu]=A bor beállítása
Name[it]=Configurare il vino
Name[ja]=ワインの設定
Name[ko]=와인 구성
Name[lt]=Konfigūruoti vyną
Name[ml]=വൈൻ കോൺഫിഗർ ചെയ്യുക
Name[nl]=Wijn configureren
Name[pa]=ਵਾਈਨ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Name[pl]=Konfiguruj Wino
Name[pt]=Configure 紅酒
Name[pt@BR]=Configure 紅酒
Name[pt@PT]=Configure 紅酒
Name[ro]=Configurați vinul
Name[ru]=Настроить вино
Name[sk]=Konfigurácia vína
Name[sl]=Konfigurirajte vino
Name[sr]=Цонфигуре Вине
Name[sr@Cyrl]=Цонфигуре Вине
Name[sr@Latn]=konfigurirati vina
Name[sv]=Konfigurera vin
Name[te]=వైన్ ఆకృతీకరించుము
Name[th]=กำหนดค่าไวน์
Name[tr]=Şarabı Yapılandır
Name[uk]=Налаштувати Вино
Name[zh]=配置葡萄酒
Name[zh@CN]=配置葡萄酒
Name[zh@TW]=配置葡萄酒
Comment=Change general Wine options and application overrides/options
Comment[ar]=                              ﺕﺍﺭﺎﻴﺧ / ﺯﻭﺎﺠﺗ ﻖﻴﺒﻄﺗﻭ ﺔﻣﺎﻌﻟﺍ ﺬﻴﺒﻨﻟﺍ ﺕﺍﺭﺎﻴﺧ ﺮﻴﻴﻐﺗ
Comment[bg]=Променете общите опции за виното и преименуването / опциите на приложенията
Comment[ca]=Canvieu les opcions generals del vi i les opcions o anul·lacions de les aplicacions
Comment[cs]=Změňte obecné možnosti vína a přepínání / možnosti aplikací
Comment[da]=Skift generelle vinindstillinger og ansøgningsoverskridelser / muligheder
Comment[de]=Ändern Sie allgemeine Weinoptionen und Anwendungsüberschreibungen / Optionen
Comment[el]=Αλλάξτε τις γενικές επιλογές κρασιού και τις εναλλαγές εφαρμογών / επιλογών
Comment[eo]=Ŝanĝi ĝeneralajn Viajn eblojn kaj aplikaĵojn forĵetitajn / eblojn
Comment[es]=Cambiar las opciones generales del vino y las opciones / opciones de la aplicación
Comment[fa]=                               ﺎﻫ ﻪﻨﯾﺰﮔ / ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻮﻐﻟ ﻭ ﺏﺍﺮﺷ ﻪﻨﯾﺰﮔ ﯽﻠﮐ ﺮﯿﯿﻐﺗ
Comment[fi]=Muuta yleisiä viinivalintoja ja sovellusten ohituksia / vaihtoehtoja
Comment[fr]=Modifier les options générales du vin et les remplacements / options de l'application
Comment[he]=                            תויצפוא / םושיי תונורקעו תויללכ ןיי תויורשפא יוניש
Comment[hi]=सामान्य वाइन विकल्प और एप्लिकेशन ओवरराइड / विकल्प बदलें
Comment[hr]=Promijenite opće opcije Vina i poništavanje / opcije aplikacije
Comment[hu]=Általános Bor opciók és alkalmazáskorlátozások / opciók módosítása
Comment[it]=Cambiare le opzioni generali del vino e le opzioni di sostituzione delle applicazioni
Comment[ja]=一般的なワインオプションとアプリケーションオーバーライド/オプションの変更
Comment[ko]=일반적인 와인 옵션 및 응용 프로그램 재정의 / 옵션 변경
Comment[lt]=Pakeiskite bendrąsias"紅酒"parinktis ir programų keitimus / parinktis
Comment[ml]=പൊതുവായ വൈൻ ഓപ്ഷനുകളും അപ്ലിക്കേഷൻ ഓവർറൈഡുകളും ഓപ്ഷനുകളും മാറ്റുക
Comment[nl]=Verander algemene wijnopties en applicatie overschrijvingen / opties
Comment[pa]=ਆਮ ਵਾਈਨ ਵਿਕਲਪ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ ਓਵਰਰਾਈਡਜ਼ / ਵਿਕਲਪ ਬਦਲੋ
Comment[pl]=Zmień ogólne opcje 紅酒 i nadpisz / opcje aplikacji
Comment[pt]=Alterar as opções gerais do 紅酒 e as substituições / opções do aplicativo
Comment[pt@BR]=Alterar as opções gerais do 紅酒 e as substituições / opções do aplicativo
Comment[pt@PT]=Alterar as opções gerais do 紅酒 e as substituições / opções do aplicativo
Comment[ro]=Schimbarea opțiunilor generale ale vinului și a suprascrierilor / opțiunilor aplicațiilor
Comment[ru]=Изменение общих опций 紅酒 и переопределений приложений / опций
Comment[sk]=Zmeňte všeobecné možnosti vína a prepínače / možnosti aplikácií
Comment[sl]=Spremenite splošne možnosti 紅酒 in preglasitve / možnosti
Comment[sr]=Промените општу опцију Вине опције и опције примјене
Comment[sr@Cyrl]=Промените општу опцију Вине опције и опције примјене
Comment[sr@Latn]=Promenite opštu opciju 紅酒 opcije i opcije primjene
Comment[sv]=Ändra generella vinalternativ och programöverträdelser / alternativ
Comment[te]=సాధారణ వైన్ ఎంపికలు మరియు అప్లికేషన్ ఓవర్రైడ్లను / ఎంపికలను మార్చండి
Comment[th]=เปลี่ยนตัวเลือกไวน์ทั่วไปและการแทนที่ / ตัวเลือกแอ็พพลิเคชัน
Comment[tr]=Genel Şarap seçeneklerini ve uygulama geçersiz kılmalarını / seçeneklerini değiştirme
Comment[uk]=Змініть загальні параметри 紅酒 та заміни програм / варіантів
Comment[zh]=更改常规紅酒选项和应用程序覆盖/选项
Comment[zh@CN]=更改常规紅酒选项和应用程序覆盖/选项
Comment[zh@TW]=更改常規紅酒選項和應用程序覆蓋/選項
Exec=winecfg
Terminal=false
Type=Application
Icon=wine-winecfg
Categories=Wine;
