[Desktop Entry]
Name=Wine OLE/COM Object Viewer
Name[ar]=Wine OLE ﺕﺎﻨﺋﺎﻛ ﺽﺭﺎﻋ Wine
Name[bg]=Wine OLE / COM визуализатора на обекти
Name[ca]=Wine visualitzador d'objectes OLE / COM
Name[cs]=Wine Prohlížeč objektů OLE / COM
Name[da]=Wine OLE / COM Objekt fremviser
Name[de]=Wine OLE / COM-Objektkatalog
Name[el]=Wine Πρόγραμμα προβολής αντικειμένων OLE / COM
Name[eo]=Wine OLE / COM Objekto Vidilo
Name[es]=OLE Wine / COM Objeto Espectador
Name[fa]=OLE ﻩﺪﻨﻨﯿﺑ ﯽﺷ ﻡﺎﮐ / Wine
Name[fi]=Wine OLE / COM Esine katsoja
Name[fr]=Wine OLE / COM Objet Téléspectateur
Name[he]=OLE / COM יטקייבוא גיצמ Wine
Name[hi]=Wine OLE / COM ऑब्जेक्ट व्यूअर
Name[hr]=Wine OLE / COM objekt preglednik
Name[hu]=Wine OLE / COM objektum Néző
Name[it]=OLE Wine / COM Oggetto Spettatore
Name[ja]=Wine OLE / COMオブジェクトビューア
Name[ko]=Wine OLE / COM 개체 뷰어
Name[lt]=Wine OLE / COM objektą peržiūros
Name[ml]=Wine OLE / COM ഒബ്ജക്റ്റ് വ്യൂവർ
Name[nl]=Wine OLE / COM Voorwerp Kijker
Name[pa]=Wine OLE/ COM ābajaikaṭa vi'ū'ara
Name[pl]=Wine OLE / COM Obiekt Widz
Name[pt]=Visualizador de objetos OLE / COM de Wine
Name[pt-BR]=Visualizador de objetos OLE / COM de Wine
Name[pt-PT]=Visualizador de objetos OLE / COM de Wine
Name[ro]=OLE Wine / COM Obiect telespectator
Name[ru]=Wine OLE / COM объект зритель
Name[sk]=Wine OLE / COM Prehliadač objekt
Name[sl]=Wine OLE / COM Predmet Pregledovalnik
Name[sr]=Wine ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Cyrl]=Wine ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Latn]=Wine OLE / COM Objekt posmatrač
Name[sv]=Wine OLE / COM Objektvisare
Name[te]=Wine OLE/ COM ābjekṭ vyūvar
Name[th]=โปรแกรมดูวัตถุ OLE / COM Wine
Name[tr]=Wine OLE / COM Nesne Görüntüleyici
Name[uk]=Wine OLE / COM Об'єкт Переглядач
Name[zh]=Wine OLE / COM对象查看器
Name[zh-CN]=Wine OLE / COM对象查看器
Name[zh-TW]=Wine OLE / COM對象查看器
Comment=Microsoft® Windows Object Linking and Embedding/Component Object Model Object Viewer
Comment[ar]=ﻥﻮﻜﻤﻟﺍ ﻦﺋﺎﻛ ﺯﺍﺮﻃ ﺕﺎﻨﺋﺎﻛ ﺽﺭﺎﻋ / ﺎﻬﻨﻴﻤﻀﺗﻭ ﺕﺎﻨﺋﺎﻜﻟﺍ ﻂﺑﺭ Windows Microsoft®
Comment[bg]=Microsoft® Windows Свързване на обекта и вграждане / Компонент Преглед обект Модел обект
Comment[ca]=Microsoft® Windows Vinculació i incrustat d'objectes / Visor d'objectes de model d'objectes components
Comment[cs]=Microsoft® Windows Propojení a vkládání objektů / Objektový objektový objektový objekt
Comment[da]=Microsoft® Windows Objekt Linking og Embedding / Komponent Objekt Model Objekt fremviser
Comment[de]=Microsoft® Windows Objektverknüpfung und -Einbettung / Komponentenobjektmodell Objektanzeige
Comment[el]=Microsoft® Windows Σύνδεση και ενσωμάτωση αντικειμένων / αντικειμένων
Comment[eo]=Microsoft® Windows Objekto Linking kaj Embedding / Komponanto Objekto Modelo Objekto Vizisto
Comment[es]=Microsoft® Windows Objeto Linking and Visor de objetos de modelo de objetos Inclusión / Partee
Comment[fa]=ﻩﺪﻨﻨﯿﺑ ﯽﺷ ءﯽﺷ ﻝﺪﻣ ﺖﻨﻧﻮﭙﻣﺎﮐ / ﯼﺯﺎﺳﺎﺟ ﯼﺎﻫﺪﮐ ﻭ Windows Microsoft® ﯽﺷ ﻥﺩﺮﮐ ﮏﻨﯿﻟ
Comment[fi]=Microsoft® Windows objektin linkittäminen ja upottaminen / komponentti Esine Malli objektinäkymässä
Comment[fr]=Microsoft® Windows Lier objet et incorporation / Objet Objet Modèle Modèle Téléspectateur
Comment[he]=טקייבוא / הגצהו רשקמ טקייבוא טקייבוא רשקמ טקייבוא
Comment[hi]=Microsoft® Windows ऑब्जेक्ट लिंकिंग एंड एम्बेडिंग / घटक ऑब्जेक्ट मॉडल ऑब्जेक्ट व्यूअर
Comment[hr]=Microsoft® Windows povezni sustav / sastavni Objekt Model objekta preglednik
Comment[hu]=Microsoft® Windows Objektum összekapcsolása és beágyazása / komponens objektummodell objektum-megjelenítő
Comment[it]=Microsoft® Windows Visualizzatore oggetti modello di collegamento e incorporamento oggetto / componente
Comment[ja]=Microsoft® Windows Obujekuto no rinku to umekomi/ kon pōnentoobujekutomoderuobujekutobyūa
Comment[ko]=Microsoft® Windows 개체 연결 및 포함 / 구성 요소 개체 모델 개체 뷰어
Comment[lt]=Microsoft® Windows Objekto susiejimas ir įterpimas / komponentinio objekto modelio objekto peržiūros programa
Comment[ml]=Microsoft® Windows ഒബ്ജക്റ്റ് എംബഡിംഗ് / ഘടകങ്ങളുടെ ഒബ്ജക്റ്റ് മോഡൽ ഒബ്ജക്റ്റ് വ്യൂവർ
Comment[nl]=Microsoft® Windows Voorwerpkoppeling en insluiting / bestanddeel Voorwerp Model Voorwerp Kijker
Comment[pa]=Microsoft® Windows Ābajaikaṭa likiga atē aimabaiḍiga/ kapōnaiṇṭa ābajaikaṭa māḍala ābajaikaṭa daraśaka
Comment[pl]=Microsoft® Windows Łączenie obiektów i osadzanie / Przeglądanie obiektów modelu obiektu
Comment[pt]=Microsoft® Windows Vinculação e Incorporação de Objeto / Modeloo de Objeto Componentee Visualizador de Objeto
Comment[pt-BR]=Microsoft® Windows Vinculação e Incorporação de Objeto / Modeloo de Objeto Componentee Visualizador de Objeto
Comment[pt-PT]=Microsoft® Windows Vinculação e Incorporação de Objeto / Modeloo de Objeto Componentee Visualizador de Objeto
Comment[ro]=Microsoft® Windows Linking Obiect și Embedding / Componenta Obiect Model Obiect telespectator
Comment[ru]=Microsoft® Windows Объектное связывание и встраивание / Объект объекта объекта объект зритель
Comment[sk]=Microsoft® Windows Prepojenie a vkladanie objektov / objektový objektový objektový objektový objekt
Comment[sl]=Microsoft® Windows Namestitveni objekt objekta Objekt Linking and Embedding / Komponenta Objekt Objekt Model
Comment[sr]=Microsoft® Windows Објецт Линкинг анд Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Cyrl]=Microsoft® Windows Објецт Линкинг анд Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Latn]=Microsoft® Windows Objekt Objekt Linking and Embedding / Komponenta Objekt Objekt posmatrač
Comment[sv]=Microsoft® Windows Objektlänkande och inbäddning / komponentobjektmodell objektvisare
Comment[te]=Microsoft® Windows ఆబ్జెక్ట్ లింకింగ్ అండ్ ఎంబెడ్డింగ్ / కాంపోనెంట్ ఆబ్జెక్ట్ మోడల్ ఆబ్జెక్ట్ వ్యూయర్
Comment[th]=Microsoft® Windows เชื่อมโยงวัตถุและ / ตัวแทน ผู้ชม รูปแบบวัตถุวัตถุฝัง
Comment[tr]=Microsoft® Windows Nesne Bağlama ve Katıştırma / Bileşen Nesnesi modeli Nesne Görüntüleyici
Comment[uk]=Microsoft® Windows Об'єднання об'єктів та вбудовування / об'єктний об'єктний об'єктовий переглядач об'єктів
Comment[zh]=Microsoft® Windows Duìxiàng liànjiē hé qiànrù/zǔjiàn duìxiàng móxíng duìxiàng chákàn qì
Comment[zh-CN]=Microsoft® Windows Duìxiàng liànjiē hé qiànrù/zǔjiàn duìxiàng móxíng duìxiàng chákàn qì
Comment[zh-TW]=Microsoft® Windows Duìxiàng liànjiē hé qiànrù/zǔjiàn duìxiàng mú xíng duì xiàng chákàn qì
Exec=wine oleview.exe
Terminal=false
Type=Application
Icon=wine-control
Categories=Wine;Wine-Programs-Accessories;
StartupWMClass=oleview.exe
