[Desktop Entry]
Name = Wine Command interpreter
Name[ar] =                                                                                                                                                                                                                                                           ﺮﻣﺍﻭﻷ﻿ﺍ ﻢﺟﺮﺘﻣ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Тълкувател на командата за вино
Name[ca] = Intèrpret d'ordres del vi
Name[cs] = Interpretace vínového příkazu
Name[da] = Vin Kommando tolk
Name[de] = Weinbefehlsinterpreter
Name[el] = Διαχειριστής οίνων
Name[eo] = Vina Komandila interpretisto
Name[es] = Intérprete de comandos de vino
Name[fa] =                                                                                                                                                                                                                                                           ﺏﺍﺮﺷ ﯽﻫﺪﻧﺎﻣﺮﻓ ﻢﺟﺮﺘﻣ
Name[fi] = Viinikomentojen tulkki
Name[fr] = Interprète de Wine Command
Name[he] =                                                                                                                                                                                                                                                              ןייה דוקיפ םגרתמ
Name[hi] = शराब आदेश व्याख्याता
Name[hr] = Prevoditelj vinske komande
Name[hu] = Bor Command tolmács
Name[it] = Interprete dei comandi del vino
Name[ja] = ワインコマンドインタープリタ
Name[ko] = 와인 커맨드 인터프리터
Name[lt] = Vyno komandų vertėjas
Name[ml] = വൈൻ കമാൻഡ് ഇന്റർപ്രെട്ടർ
Name[nl] = Wine Command-tolk
Name[pa] = ਵਾਈਨ ਕਮਾਂਡ ਇੰਟਰਪਰੀਟਰ
Name[pl] = Interpreter poleceń wino
Name[pt] = Intérprete do Comando do Vinho
Name[pt-BR] = Intérprete do Comando do Vinho
Name[pt-PT] = Intérprete do Comando do Vinho
Name[ro] = Comandă de comandă a vinului
Name[ru] = Винный командный интерпретатор
Name[sk] = Tlmočník príkazu vína
Name[sl] = Prevajalec vina za ukaze
Name[sr] = Преводитељ винске команде
Name[sr-Cyrl] = Преводитељ винске команде
Name[sr-Latn] = Prevoditelj vinske komande
Name[sv] = Wine kommandotolk
Name[te] = వైన్ కమాండ్ ఇంటర్ప్రెటర్
Name[th] = ล่ามไวน์คำสั่ง
Name[tr] = Şarap Komutanlığı tercümanı
Name[uk] = Винний командний інтерпретатор
Name[zh] = 葡萄酒命令解释
Name[zh-CN] = 葡萄酒命令解释
Name[zh-TW] = 葡萄酒命令解釋
Comment = Starts a new instance of the command interpreter CMD
Comment[ar] =                                                                                                                                                                                                                                               ﺪﻤﺳ ﺮﻣﻷ﻿ﺍ ﻢﺟﺮﺘﻣ ﻦﻣ ﺪﻳﺪﺟ ﻞﻴﺜﻣ ءﺪﺑ
Comment[bg] = Стартира ново копие на командния интерпретатор CMD
Comment[ca] = Inicia una nova instància de l'intèrpret d'ordres CMD
Comment[cs] = Spustí novou instanci příkazového interpretu CMD
Comment[da] = Starter en ny forekomst af kommandostolken CMD
Comment[de] = Startet eine neue Instanz des Befehlsinterpreters CMD
Comment[el] = Ξεκινά μια νέα παρουσία του ερμηνευτή εντολών CMD
Comment[eo] = Komencas novan petskribon de la komand-interpretisto CMD
Comment[es] = Inicia una nueva instancia del intérprete de comandos CMD
Comment[fa] =                                                                                                                                                                                                                               ﺪﻨﮐ ﯽﻣ ﻉﻭﺮﺷ ﺍﺭ CMD interpreter ﺯﺍ ﺪﯾﺪﺟ ﻪﻧﻮﻤﻧ ﮏﯾ
Comment[fi] = Käynnistää komentotulkki CMD: n uuden esiintymän
Comment[fr] = Démarre une nouvelle instance de l'interpréteur de commandes CMD
Comment[he] =                                                                                                                                                                                                                                            CMD הדוקפה םגרתמ לש שדח עפומ תלעפה
Comment[hi] = कमांड इंटरप्रीटर सीएमडी की एक नई घटना शुरू करता है
Comment[hr] = Pokreće novu instancu naredbenog tumača CMD
Comment[hu] = A CMD parancsértelmező új példányát indítja el
Comment[it] = Avvia una nuova istanza dell'interprete dei comandi CMD
Comment[ja] = コマンドインタープリタCMDの新しいインスタンスを開始します。
Comment[ko] = 명령 인터프리터 CMD의 새 인스턴스를 시작합니다.
Comment[lt] = Pradeda naują komandų vertėjo CMD egzempliorių
Comment[ml] = കമാൻഡ് ഇന്റർപ്രെറ്റർ സിഎംഡിയുടെ ഒരു പുതിയ ഉദാഹരണം ആരംഭിക്കുന്നു
Comment[nl] = Start een nieuw exemplaar van de opdrachtinterpreter CMD
Comment[pa] = ਕਮਾਂਡ ਇੰਟਰਪ੍ਰੇਟਰ ਸੀ.ਐਮ.ਡੀ. ਦਾ ਨਵਾਂ ਮੌਕਾ ਸ਼ੁਰੂ ਕਰਦਾ ਹੈ
Comment[pl] = Uruchamia nową instancję interpretera poleceń CMD
Comment[pt] = Inicia uma nova instância do interpretador de comando CMD
Comment[pt-BR] = Inicia uma nova instância do interpretador de comando CMD
Comment[pt-PT] = Inicia uma nova instância do interpretador de comando CMD
Comment[ro] = Începe o nouă instanță a interpretului de comandă CMD
Comment[ru] = Запускает новый экземпляр командного интерпретатора CMD
Comment[sk] = Spustí novú inštanciu príkazového tlmočníka CMD
Comment[sl] = Začne nov primerek ukaznega tolmača CMD
Comment[sr] = Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Cyrl] = Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Latn] = Pokreće novu instancu komandnog tumača CMD
Comment[sv] = Startar en ny instans av kommandotolken CMD
Comment[te] = కమాండ్ వ్యాఖ్యాత సిఎండి ఒక కొత్త ఉదాహరణకు మొదలవుతుంది
Comment[th] = เริ่มอินสแตนซ์ใหม่ของตัวแปลคำสั่ง CMD
Comment[tr] = Komut yorumlayıcısı CMD'nin yeni bir örneğini başlatır
Comment[uk] = Запускає новий екземпляр інтерпретатора команд CMD
Comment[zh] = 启动命令解释器CMD的新实例
Comment[zh-CN] = 启动命令解释器CMD的新实例
Comment[zh-TW] = 啟動命令解釋器CMD的新實例
Exec = wine cmd.exe
Type = Application
Icon = wine-wcmd
Hidden = true
Categories = X-Wine;
