[Desktop Entry]
Name = Wine clone of Microsoft® Installer
Name[ar] = ﺖﺒﺜﻣ Microsoft® ﻦﻣ ﺔﺨﺴﻧ Wine
Name[bg] = Wine клон на Microsoft® инсталатор
Name[ca] = Wine clon de l'instal·lador Microsoft®
Name[cs] = Wine klon Microsoft® Instalátor
Name[da] = Wine klon af Microsoft® Installer
Name[de] = Wine Klon von Microsoft® Installer
Name[el] = Wine κλώνος Microsoft® Installer
Name[eo] = Wine klonas de Microsoft® Instalilo
Name[es] = Wine clon del instalador Microsoft®
Name[fa] = ﻩﺪﻨﻨﮐ ﺐﺼﻧ Microsoft® ﻥﻮﻠﮐ Wine
Name[fi] = Wine klooni Microsoft® Asentaja
Name[fr] = Wine clone de Microsoft® Installateur
Name[he] = ןיקתמ Microsoft® לש טוביש Wine
Name[hi] = Wine Microsoft® इंस्टॉलर का क्लोन
Name[hr] = Wine klon Microsoft® Instalater
Name[hu] = Wine klón Microsoft® telepítő
Name[it] = Wine clone di Microsoft® Installer
Name[ja] = WineクローンMicrosoft®インストーラ
Name[ko] = Wine 복제본 Microsoft® 설치 프로그램
Name[lt] = Wine klonas Microsoft® diegimo programa
Name[ml] = Microsoft® ഇൻസ്റ്റോളർ Wine ക്ലോൺ
Name[nl] = Wine kloon van Microsoft® Installateur
Name[pa] = Wine Microsoft® ਦੇ ਇੰਸਟਾਲਰ ਦੀ ਕਲੋਨ
Name[pl] = Wine klon Microsoft® Instalator
Name[pt] = Wine clone de Microsoft® Instalador
Name[pt-BR] = Wine clone de Microsoft® Instalador
Name[pt-PT] = Wine clone de Microsoft® Instalador
Name[ro] = Wine clona de Microsoft® Instalator
Name[ru] = Wine клон Microsoft® Установщик
Name[sk] = Wine klon Microsoft® Inštalatér
Name[sl] = Wine klon Microsoft® Instalater
Name[sr] = Wine клон Microsoft® Инсталатер
Name[sr-Cyrl] = Wine клон Microsoft® Инсталатер
Name[sr-Latn] = Wine klon od Microsoft® Instalater
Name[sv] = Wine klon av Microsoft® Installatören
Name[te] = Microsoft® ఇన్స్టాలర్ యొక్క Wine క్లోన్
Name[th] = Wine โคลนจาก Microsoft® ตัวติดตั้ง
Name[tr] = Wine Microsoft® Yükleyicinin klonu
Name[uk] = Wine клон Microsoft® Установник
Name[zh] = Wine Microsoft®安装人员的克隆
Name[zh-CN] = Wine Microsoft®安装人员的克隆
Name[zh-TW] = Wine Microsoft®安裝人員的克隆
Comment = Wine installer utility for MSI packages
Comment[ar] = Wine ﻡﺰﺣ ﺖﻴﺒﺜﺘﻟ ﺓﺪﻋﺎﺴﻣ ﺓﺍﺩﺃ Wine
Comment[bg] = Wine Инсталационна програма за пакети MSI
Comment[ca] = Utilitat de l'instal·lador Wine per a paquets MSI
Comment[cs] = Wine Instalační nástroj pro balíčky MSI
Comment[da] = Wine installationsprogrammet til MSI-pakker
Comment[de] = Wine Installer-Dienstprogramm für MSI-Pakete
Comment[el] = Wine βοηθητικό πρόγραμμα εγκατάστασης για πακέτα MSI
Comment[eo] = Wine instaladilo por MSI-pakoj
Comment[es] = Wine utilidad de instalación para paquetes MSI
Comment[fa] = MSI ﯼﺎﻫ ﻪﺘﺴﺑ ﯼﺍﺮﺑ ﺐﺼﻧ ﺭﺍﺰﺑﺍ Wine
Comment[fi] = Wine asennusohjelma MSI-paketeille
Comment[fr] = Wine utilitaire d'installation pour les packages MSI
Comment[he] = תוליבח MSI לש הנקתהה ילכ Wine
Comment[hi] = एमएसआई पैकेज के लिए Wine इंस्टॉलर उपयोगिता
Comment[hr] = Wine program za instaliranje MSI paketa
Comment[hu] = Wine telepítő segédprogram MSI csomagokhoz
Comment[it] = Utilità di installazione Wine per pacchetti MSI
Comment[ja] = Wine MSIパッケージのインストーラユーティリティ
Comment[ko] = Wine MSI 패키지 용 설치 유틸리티
Comment[lt] = Wine diegimo programa MSI paketams
Comment[ml] = മാരുതി പാക്കേജുകൾ വേണ്ടി Wine ഇൻസ്റ്റോളർ യൂട്ടിലിറ്റി
Comment[nl] = Wine installatieprogramma voor MSI-pakketten
Comment[pa] = ਕੰਪਨੀ ਪੈਕੇਜ ਲਈ Wine ਇੰਸਟਾਲਰ ਸਹੂਲਤ
Comment[pl] = Wine narzędzie instalacyjne dla pakietów MSI
Comment[pt] = Wine utilitário instalador para pacotes MSI
Comment[pt-BR] = Wine utilitário instalador para pacotes MSI
Comment[pt-PT] = Wine utilitário instalador para pacotes MSI
Comment[ro] = Wine utilitar de instalare pentru pachetele MSI
Comment[ru] = Wine Утилита установки для пакетов MSI
Comment[sk] = Wine inštalačný nástroj pre balíky MSI
Comment[sl] = Wine pripomoček za namestitev za pakete MSI
Comment[sr] = Wine услужни програм за МСИ пакете
Comment[sr-Cyrl] = Wine услужни програм за МСИ пакете
Comment[sr-Latn] = Wine instalacijski uslužni program za MSI pakete
Comment[sv] = Wine installationsverktyg för MSI-paket
Comment[te] = ఎంఎస్ఐ ప్యాకేజెస కోసం Wine సంస్థాపకి వినియోగ
Comment[th] = ยูทิลิตี้การติดตั้ง Wine สำหรับแพคเกจของ MSI
Comment[tr] = MSI paketleri için Wine yükleyici yardımcı programı
Comment[uk] = Утиліта установки для пакетів MSI Wine
Comment[zh] = Wine MSI软件包的安装程序实用程序
Comment[zh-CN] = Wine MSI软件包的安装程序实用程序
Comment[zh-TW] = Wine MSI軟件包的安裝程序實用程序
Exec = wine msiexec /i %%f
Terminal = false
Type = Application
Icon = wine-msiexec
Categories = Wine;
