[Desktop Entry]
Name = Wine Internet Explorer
Name[ar] =                                                                                                                                                                                                                                                        ﺭﺭﻮﻠﺒﺴﻛﺇ ﺖﻧﺮﺘﻧﺇ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Вино Internet Explorer
Name[ca] = Vi Internet Explorer
Name[cs] = Víno Internet Explorer
Name[da] = Vin Internet Explorer
Name[de] = Wein Internet Explorer
Name[el] = Κρασί Internet Explorer
Name[eo] = Vino Interreta Esploristo
Name[es] = Vino Internet Explorer
Name[fa] =                                                                                                                                                                                                                                                         ﺭﺭﻮﻠﭙﺴﮐﺍ ﺖﻧﺮﺘﻨﯾﺍ ﺏﺍﺮﺷ
Name[fi] = Viini Internet Explorer
Name[fr] = Vin Internet Explorer
Name[he] =                                                                                                                                                                                                                                                                           ןיי
Name[hi] = शराब इंटरनेट एक्सप्लोरर
Name[hr] = Vino Internet Explorer
Name[hu] = Bor Internet Explorer
Name[it] = Vino Internet Explorer
Name[ja] = ワインのインターネットエクスプローラ
Name[ko] = 와인 인터넷 익스플로러
Name[lt] = Vyno "Internet Explorer"
Name[ml] = വൈൻ ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ
Name[nl] = Wijn Internet Explorer
Name[pa] = ਵਾਈਨ ਇੰਟਰਨੈਟ ਐਕਸਪਲੋਰਰ
Name[pl] = Wino Internet Explorer
Name[pt] = Vinho Internet Explorer
Name[pt-BR] = Vinho Internet Explorer
Name[pt-PT] = Vinho Internet Explorer
Name[ro] = Vin Internet Explorer
Name[ru] = Винный Internet Explorer
Name[sk] = Víno Internet Explorer
Name[sl] = Vino Internet Explorer
Name[sr] = Вине Интернет Екплорер
Name[sr-Cyrl] = Вине Интернет Екплорер
Name[sr-Latn] = Vino Internet Explorer
Name[sv] = Vin Internet Explorer
Name[te] = వైన్ ఇంటర్నెట్ ఎక్స్ప్లోరర్
Name[th] = ไวน์ Internet Explorer
Name[tr] = Şarap Internet Explorer
Name[uk] = Вино Internet Explorer
Name[zh] = 葡萄酒的Internet Explorer
Name[zh-CN] = 葡萄酒的Internet Explorer
Name[zh-TW] = 葡萄酒的Internet Explorer
Comment = Builtin clone of Windows Internet Explorer®
Comment[ar] =                                                                                                                                                                                                                                    ®Explorer ﺖﻴﻧﺮﺘﻧﺇ ﺯﻭﺪﻨﻳﻭ ﺥﺎﺴﻨﺘﺳﺍ ﻲﻓ ﺞﻣﺪﻤﻟﺍ
Comment[bg] = Вграден клон на Windows Internet Explorer®
Comment[ca] = Clon d'ordre interna de Windows Internet Explorer
Comment[cs] = Zabudovaný klon systému Windows Internet Explorer®
Comment[da] = Indbygget klon af Windows Internet Explorer
Comment[de] = Eingebauter Klon von Windows Internet Explorer®
Comment[el] = Ενσωματωμένος κλώνος του Windows Internet Explorer®
Comment[eo] = Builtin clon de Windows Interreto Explorer®
Comment[es] = Clon de orden interna de Windows Internet Explorer
Comment[fa] =                                                                                                                                                                                                                                             ® ﺭﺭﻮﻠﭙﺴﮐﺍ ﺯﻭﺪﻨﯾﻭ ﺯﺍ Builtin ﻥﻮﻠﮐ
Comment[fi] = Sisäänrakennettu Windows Internet Explorer® -klooni
Comment[fr] = Clone intégré de Windows Internet Explorer®
Comment[he] =                                                                                                                                                                                                                                     ®Windows Internet Explorer לש הנבומ טוביש
Comment[hi] = विंडोज इंटरनेट एक्सप्लोरर के अन्तर्निर्मित क्लोन
Comment[hr] = Ugrađeni klon sustava Windows Internet Explorer®
Comment[hu] = Beépített klón Windows Internet Explorer
Comment[it] = Clone di Builtin di Windows Internet Explorer
Comment[ja] = U~indōzu intānettoekusupurōrā ® no kumikomi kurōn
Comment[ko] = 윈도우 인터넷 Explorer®와의 내장 복제
Comment[lt] = "Windows Internet Explorer®" sukomponuotas klonas
Comment[ml] = വിൻഡോസ് ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ®യുടെ ബിൽട്ടിൻ ക്ലോൺ
Comment[nl] = Builtin kloon van Windows Internet Explorer
Comment[pa] = Windows ਨੂੰ ਇੰਟਰਨੈੱਟ ਦੀ Explorer® ਦੇ ਸ਼ਾਮਿਲ ਕਲੋਨ
Comment[pl] = Wbudowany klon systemu Windows Internet Explorer®
Comment[pt] = Clone embutido do Windows Internet Explorer
Comment[pt-BR] = Clone embutido do Windows Internet Explorer
Comment[pt-PT] = Clone embutido do Windows Internet Explorer
Comment[ro] = Clona clonă a Windows Internet Explorer®
Comment[ru] = Встроенный клон Windows Internet Explorer®
Comment[sk] = Zabudovaný klon systému Windows Internet Explorer®
Comment[sl] = Vgrajen klon operacijskega sistema Windows Internet Explorer®
Comment[sr] = Уграђени клон Виндовс Интернет Екплорер®
Comment[sr-Cyrl] = Уграђени клон Виндовс Интернет Екплорер®
Comment[sr-Latn] = Ugrađeni klon Windows Internet Explorer®
Comment[sv] = Inbyggt klon av Windows Internet Explorer
Comment[te] = Windows ఇంటర్నెట్ Explorer® యొక్క Builtin క్లోన్
Comment[th] = โคลน Builtin ของ Windows Internet Explorer®
Comment[tr] = Windows Internet Explorer®'ın yerleşik klonu
Comment[uk] = Вбудований клон Windows Internet Explorer®
Comment[zh] = Windows InternetExplorer®的内建克隆
Comment[zh-CN] = Windows InternetExplorer®的内建克隆
Comment[zh-TW] = Windows InternetExplorer®的內建克隆
Exec = wine iexplore.exe %U
Terminal = false
Type = Application
Icon = wine-iexplore
Categories = X-Wine;
