[Desktop Entry]
Name = Wine Minesweeper
Name[ar] =                                                                                                                                                                                                                                                            ﺬﻴﺒﻨﻟﺍ ﻡﺎﻐﻟﺃ ﺔﺤﺳﺎﻛ
Name[bg] = Виновен миночистач
Name[ca] = vi Buscamines
Name[cs] = víno minového pole
Name[da] = Vin Minestryger
Name[de] = Weinsweeper
Name[el] = Ορυχείο Ναρκών
Name[eo] = Vina Minŝipo
Name[es] = Buscaminas de vino
Name[fa] =                                                                                                                                                                                                                                                                ﺏﺍﺮﺷ ﻥﺪﻌﻣ ﻥﺪﻌﻣ
Name[fi] = viini miinanraivaaja
Name[fr] = vin Démineur
Name[he] =                                                                                                                                                                                                                                                                   םישקומ הלוש
Name[hi] = शराब माइनस्वीपर
Name[hr] = Minolovac za vino
Name[hu] = bor Aknakereső
Name[it] = Vino Minesweeper
Name[ja] = ワイン鉱山船
Name[ko] = 와인 지뢰 찾기
Name[lt] = Vyno kalnakasyba
Name[ml] = വീഞ്ഞ് മൈനസ്വീപ്പര്
Name[nl] = Wijnmijnenveger
Name[pa] = ਵਾਈਨ ਮੈਨਸਾਈਪਰ
Name[pl] = wino Saper
Name[pt] = vinho Campo Minado
Name[pt-BR] = vinho Campo Minado
Name[pt-PT] = vinho Campo Minado
Name[ro] = Minesweeper de vin
Name[ru] = Винный сапер
Name[sk] = víno mínového poľa
Name[sl] = Vina minolovec
Name[sr] = Винарски минер
Name[sr-Cyrl] = Винарски минер
Name[sr-Latn] = Vinarski miner
Name[sv] = Wine Röj
Name[te] = వైన్ మైన్స్వీపర్
Name[th] = เครื่องกวาดหิมะไวน์
Name[tr] = Şarap mayın tarama gemisi
Name[uk] = Виномайзер
Name[zh] = 葡萄酒扫雷艇
Name[zh-CN] = 葡萄酒扫雷艇
Name[zh-TW] = 葡萄酒掃雷艇
Comment = A clone of the Microsoft® Windows Minesweeper game
Comment[ar] =                                                                                                                                                                                                                                ﺯﻭﺪﻨﻳﻭ ﻡﺎﻐﻟﻷ﻿ﺍ ﺔﺤﺳﺎﻛ ﺖﻓﻮﺳﻭﺮﻜﻳﺎﻣ ﺔﺒﻌﻟ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонът на Microsoft® Windows Миночистач играта
Comment[ca] = Un clon del joc de Microsoft Windows Buscamines
Comment[cs] = Klon Microsoft® Windows Hledání min hry
Comment[da] = En klon af Microsoft® Windows Minestryger spil
Comment[de] = Ein Klon des Microsoft® Windows Sweeper Spiel
Comment[el] = Ένας κλώνος του παιχνιδιού Microsoft® Windows Ναρκαλιευτής
Comment[eo] = Klonono de la Microsoft® Vindoza Minesweeper-ludo
Comment[es] = Un clon del juego de Microsoft® Windows Buscaminas
Comment[fa] =                                                                                                                                                                                                                                 Minesweeper ﺯﻭﺪﻨﯾﻭ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﯼﺯﺎﺑ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Microsoft® Windows miinanraivaaja peli
Comment[fr] = Un clone du jeu Microsoft® Windows Démineur
Comment[he] =                                                                                                                                                                                                                               ®Microsoft לש Windows Minesweeper קחשמ לש טוביש
Comment[hi] = माइक्रोसॉफ्ट विंडोज माइनस्वीपर गेम का क्लोन
Comment[hr] = Klon Microsoft® Windows Minolovac igre
Comment[hu] = A klón a Microsoft® Windows Aknakereső játék
Comment[it] = Un clone del gioco Microsoft® Windows Minesweeper
Comment[ja] = Makurosofuto ® u~indōzu mainsuīpa gēmu no kurōn
Comment[ko] = 는 Microsoft® 윈도우 지뢰 찾기 게임의 클론
Comment[lt] = A "Microsoft Windows" Išminuotojas žaidimo klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് വിൻഡോസ് മൈൻസ്വൈപ്പർ ഗെയിമിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van het Microsoft® Windows Mijnenveger-spel
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ ਵਿੰਡੋਜ਼ ਮਾਈਨਸਪੀਪਰ ਗੇਮ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon Microsoft® Windows gra Saper
Comment[pt] = Um clone do jogo Microsoft® Windows Minesweeper
Comment[pt-BR] = Um clone do jogo Microsoft® Windows Minesweeper
Comment[pt-PT] = Um clone do jogo Microsoft® Windows Minesweeper
Comment[ro] = O clonă a jocului Minesweeper Microsoft® Windows
Comment[ru] = Клон игры Microsoft® Windows Сапер
Comment[sk] = Klon hry Microsoft Minesweeper pre systém Windows
Comment[sl] = Klon igre Microsoft® Windows Minesweeper
Comment[sr] = Клон игре Мицрософт® Виндовс Минесвеепер
Comment[sr-Cyrl] = Клон игре Мицрософт® Виндовс Минесвеепер
Comment[sr-Latn] = Klon igre Microsoft® Windows Minesweeper
Comment[sv] = En klon av Microsoft® Windows Röj spel
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ మైన్స్వీపర్ ఆట యొక్క క్లోన్
Comment[th] = โคลนของMicrosoft® Windows ของเรือกวาดทุ่นระเบิดเกม
Comment[tr] = Microsoft® Windows Mayın Tarlası oyununun bir klonu
Comment[uk] = Клон гри Microsoft® Windows Сапер
Comment[zh] = 在Microsoft®的Windows扫雷游戏的克隆
Comment[zh-CN] = 在Microsoft®的Windows扫雷游戏的克隆
Comment[zh-TW] = 在Microsoft®的Windows掃雷遊戲的克隆
Exec = winemine
Terminal = false
Type = Application
Icon = wine-winemine
Categories = Wine;Game;LogicGame;
