[Desktop Entry]
Name=Wine Help
Name[ar]=                                                                 ﺬﻴﺒﻨﻟﺍ ﺓﺪﻋﺎﺴﻣ
Name[bg]=Помощ за виното
Name[ca]=Vi Ajuda
Name[cs]=Nápověda na víno
Name[da]=Vin Hjælp
Name[de]=Weinhilfe
Name[el]=Βοήθεια για το κρασί
Name[eo]=Vina Helpo
Name[es]=Ayuda del vino
Name[fa]=                                                                   ﺏﺍﺮﺷ ﺎﻤﻨﻫﺍﺭ
Name[fi]=Viini Apua
Name[fr]=Aide au vin
Name[he]=                                                                      הרזע ןיי
Name[hi]=शराब सहायता
Name[hr]=Vinska pomoć
Name[hu]=Bor Súgó
Name[it]=Guida al vino
Name[ja]=ワインのヘルプ
Name[ko]=와인 도움말
Name[lt]=Vyno pagalba
Name[ml]=വൈൻ സഹായം
Name[nl]=Wijnhulp
Name[pa]=ਵਾਈਨ ਸਹਾਇਤਾ
Name[pl]=Wino Pomoc
Name[pt]=Ajuda do vinho
Name[pt@BR]=Ajuda do vinho
Name[pt@PT]=Ajuda do vinho
Name[ro]=Ajutor pentru vin
Name[ru]=Помощь в вине
Name[sk]=Pomoc vína
Name[sl]=Vinska pomoč
Name[sr]=Вине Хелп
Name[sr@Cyrl]=Вине Хелп
Name[sr@Latn]=vino Pomoć
Name[sv]=Vin Hjälp
Name[te]=వైన్ సహాయం
Name[th]=ไวน์ช่วย
Name[tr]=Şarap Yardım
Name[uk]=Винна довідка
Name[zh]=葡萄酒帮助
Name[zh@CN]=葡萄酒帮助
Name[zh@TW]=葡萄酒幫助
Comment=A clone of the Windows Help File browser
Comment[ar]=A ﺯﻭﺪﻨﻳﻭ ﺕﺎﻤﻴﻠﻌﺗ ﻒﻠﻣ ﺢﻔﺼﺘﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на браузъра за помощни файлове на 視窗
Comment[ca]=Un clon del navegador d'arxius d'ajuda de 視窗
Comment[cs]=Klon prohlížeče File Help systému 視窗
Comment[da]=En klon i 視窗 Help File browser
Comment[de]=Ein Klon des 視窗-Hilfedateibrowsers
Comment[el]=Ένας κλώνος του προγράμματος περιήγησης αρχείων βοήθειας των 視窗
Comment[eo]=Klonono de la retumilo de Fenestra Helpo Dosiero
Comment[es]=Un clon del navegador de archivos de Ayuda de 視窗
Comment[fa]=                                          ﺯﻭﺪﻨﯾﻭ ﺎﻤﻨﻫﺍﺭ ﻞﯾﺎﻓ ﺮﮔﺭﻭﺮﻣ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗-ohjetiedoston selain
Comment[fr]=Un clone du navigateur du fichier d'aide de 視窗
Comment[he]=                                          視窗 לש הרזעה ץבוק ןפדפד לש טוביש
Comment[hi]=विंडोज मदद फ़ाइल ब्राउज़र का एक क्लोन
Comment[hr]=Klon preglednika 視窗 Help File
Comment[hu]=A 視窗 súgófájl-böngészőjének klónja
Comment[it]=Un clone del browser di Guida in linea di 視窗
Comment[ja]=視窗ヘルプファイルブラウザのクローン
Comment[ko]=視窗 도움말 파일 브라우저의 복제본
Comment[lt]="視窗"žinyno failo naršyklės klonas
Comment[ml]=視窗 Help ഫയൽ ബ്രൌസറിന്റെ ക്ലോൺ
Comment[nl]=Een kloon van de 視窗 Help File-browser
Comment[pa]=ਵਿੰਡੋਜ਼ ਮੱਦਦ ਫਾਇਲ ਬਰਾਊਜ਼ਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl]=Klon przeglądarki przeglądarki plików pomocy systemu 視窗
Comment[pt]=Um clone do navegador do 視窗 Help File
Comment[pt@BR]=Um clone do navegador do 視窗 Help File
Comment[pt@PT]=Um clone do navegador do 視窗 Help File
Comment[ro]=O clonă a browserului de fișiere de ajutor 視窗
Comment[ru]=Клон файла справочной системы 視窗
Comment[sk]=Klon programu 視窗 File Help
Comment[sl]=Klon v brskalniku za pomoč programa 視窗
Comment[sr]=Клон прегледач датотеке помоћи Виндовса
Comment[sr@Cyrl]=Клон прегледач датотеке помоћи Виндовса
Comment[sr@Latn]=Klon pregledač datoteke pomoći 視窗a
Comment[sv]=En klon i 視窗 Hjälp-filbläddraren
Comment[te]=視窗 సహాయం ఫైలు బ్రౌజర్ యొక్క క్లోన్
Comment[th]=โคลนของเบราเซอร์ 視窗 File Help File
Comment[tr]=視窗 Yardım Dosyası tarayıcısının bir kopyası
Comment[uk]=Клон в браузері довідкових файлів 視窗
Comment[zh]=視窗帮助文件浏览器的克隆
Comment[zh@CN]=視窗帮助文件浏览器的克隆
Comment[zh@TW]=視窗幫助文件瀏覽器的克隆
Exec=wine winhlp32.exe %f
Terminal=false
Type=Application
Icon=wine-winhelp
Categories=Wine;
