[Desktop Entry]
Name=Wine Registry Editor
Name[ar]=                                                             ﺬﻴﺒﻨﻟﺍ ﻞﻴﺠﺴﺗ ﺭﺮﺤﻣ
Name[bg]=Редактор на регистър на вино
Name[ca]=Editor del registre del vi
Name[cs]=Editor registru vín
Name[da]=Vinregistreringsredaktør
Name[de]=Weinregistrierungseditor
Name[el]=Επεξεργαστής μητρώου ονομάτων
Name[eo]=Redaktoro de 紅酒 Registry
Name[es]=Editor del Registro del Vino
Name[fa]=                                                           ﺏﺍﺮﺷ ﯼﺮﺘﺴﯿﺟﺭ ﺮﯿﺑﺩﺮﺳ
Name[fi]=Viininrekisterin editori
Name[fr]=Vin Éditeur du Registre
Name[he]=                                                               ןיי םושירה ךרוע
Name[hi]=शराब रजिस्ट्री संपादक
Name[hr]=Urednik registara vina
Name[hu]=Borjegyzékszerkesztő
Name[it]=Editor di registro del vino
Name[ja]=ワインレジストリエディタ
Name[ko]=와인 레지스트리 편집기
Name[lt]=Vyno registro redaktorius
Name[ml]=വൈൻ രജിസ്ട്രി എഡിറ്റർ
Name[nl]=Wijn Registry Editor
Name[pa]=ਵਾਈਨ ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ
Name[pl]=Edytor rejestru win
Name[pt]=紅酒 Editor do Registro
Name[pt@BR]=紅酒 Editor do Registro
Name[pt@PT]=紅酒 Editor do Registro
Name[ro]=Editorul registrului de vinuri
Name[ru]=Редактор реестра вин
Name[sk]=Editor databázy Registry 紅酒
Name[sl]=Vino urejevalnik registra
Name[sr]=Вине Регистри Едитор
Name[sr@Cyrl]=Вине Регистри Едитор
Name[sr@Latn]=Vino Registry Editor
Name[sv]=Vinregisterredigerare
Name[te]=వైన్ రిజిస్ట్రీ ఎడిటర్
Name[th]=ตัวแก้ไขรีจิสทรีของ 紅酒
Name[tr]=Şarap Sicili Editörü
Name[uk]=Редактор реєстру вин
Name[zh]=葡萄酒注册编辑
Name[zh@CN]=葡萄酒注册编辑
Name[zh@TW]=葡萄酒註冊編輯
Comment=Wine Registry Editor
Comment[ar]=                                                             ﺬﻴﺒﻨﻟﺍ ﻞﻴﺠﺴﺗ ﺭﺮﺤﻣ
Comment[bg]=Редактор на регистър на вино
Comment[ca]=Editor del registre del vi
Comment[cs]=Editor registru vín
Comment[da]=Vinregistreringsredaktør
Comment[de]=Weinregistrierungseditor
Comment[el]=Επεξεργαστής μητρώου ονομάτων
Comment[eo]=Redaktoro de 紅酒 Registry
Comment[es]=Editor del Registro del Vino
Comment[fa]=                                                           ﺏﺍﺮﺷ ﯼﺮﺘﺴﯿﺟﺭ ﺮﯿﺑﺩﺮﺳ
Comment[fi]=Viininrekisterin editori
Comment[fr]=Vin Éditeur du Registre
Comment[he]=                                                               ןיי םושירה ךרוע
Comment[hi]=शराब रजिस्ट्री संपादक
Comment[hr]=Urednik registara vina
Comment[hu]=Borjegyzékszerkesztő
Comment[it]=Editor di registro del vino
Comment[ja]=ワインレジストリエディタ
Comment[ko]=와인 레지스트리 편집기
Comment[lt]=Vyno registro redaktorius
Comment[ml]=വൈൻ രജിസ്ട്രി എഡിറ്റർ
Comment[nl]=Wijn Registry Editor
Comment[pa]=ਵਾਈਨ ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ
Comment[pl]=Edytor rejestru win
Comment[pt]=紅酒 Editor do Registro
Comment[pt@BR]=紅酒 Editor do Registro
Comment[pt@PT]=紅酒 Editor do Registro
Comment[ro]=Editorul registrului de vinuri
Comment[ru]=Редактор реестра вин
Comment[sk]=Editor databázy Registry 紅酒
Comment[sl]=Vino urejevalnik registra
Comment[sr]=Вине Регистри Едитор
Comment[sr@Cyrl]=Вине Регистри Едитор
Comment[sr@Latn]=Vino Registry Editor
Comment[sv]=Vinregisterredigerare
Comment[te]=వైన్ రిజిస్ట్రీ ఎడిటర్
Comment[th]=ตัวแก้ไขรีจิสทรีของ 紅酒
Comment[tr]=Şarap Sicili Editörü
Comment[uk]=Редактор реєстру вин
Comment[zh]=葡萄酒注册编辑
Comment[zh@CN]=葡萄酒注册编辑
Comment[zh@TW]=葡萄酒註冊編輯
Exec=regedit
Terminal=false
Type=Application
Icon=wine-regedit
Categories=Wine;
