[Desktop Entry]
Name=Microsoft® Windows Installer File
Name[ar]=ﺖﺒﺜﻣ ﻒﻠﻣ Windows Microsoft®
Name[bg]=Microsoft® Windows Файл за инсталатора
Name[ca]=Microsoft® Windows Fitxer de l'instal·lador
Name[cs]=Microsoft® Windows Instalační soubor
Name[da]=Microsoft® Windows Installatør fil
Name[de]=Microsoft® Windows Installationsdatei
Name[el]=Microsoft® Windows Αρχείο εγκατάστασης
Name[eo]=Microsoft® Windows Instalilo Dosiero
Name[es]=Microsoft® Windows archivo de instalador
Name[fa]=ﺐﺼﻧ ﻞﯾﺎﻓ Windows Microsoft®
Name[fi]=Microsoft® Windows Asennustiedosto
Name[fr]=Microsoft® Windows Fichier d'installation
Name[he]=הנקתהה ץבוק Windows Microsoft®
Name[hi]=Microsoft® Windows इंस्टॉलर फ़ाइल
Name[hr]=Microsoft® Windows Instalacijska datoteka
Name[hu]=Microsoft® Windows Telepítői fájl
Name[it]=Microsoft® Windows File di installazione
Name[ja]=Microsoft® Windowsインストーラファイル
Name[ko]=Microsoft® Windows 설치 관리자 파일
Name[lt]=Microsoft® Windows diegimo failas
Name[ml]=ഇൻസ്റ്റാളർ ഫയൽ. Microsoft® Windows
Name[nl]=Microsoft® Windows Installatiebestand
Name[pa]=Microsoft® Windows ਇੰਸਟਾਲਰ ਫਾਈਲ
Name[pl]=Microsoft® Windows Plik instalatora
Name[pt]=Microsoft® Windows Arquivo do instalador
Name[pt-BR]=Microsoft® Windows Arquivo do instalador
Name[pt-PT]=Microsoft® Windows Arquivo do instalador
Name[ro]=Microsoft® Windows Fișier de instalare
Name[ru]=Microsoft® Windows Файл установщика
Name[sk]=Microsoft® Windows Inštalačný súbor
Name[sl]=Microsoft® Windows Datoteka namestitvenega programa
Name[sr]=Microsoft® Windows Филе Инсталлер
Name[sr-Cyrl]=Microsoft® Windows Филе Инсталлер
Name[sr-Latn]=Microsoft® Windows Datoteka instalatera
Name[sv]=Microsoft® Windows installationsfilen
Name[te]=Microsoft® Windows ఇన్స్టాలర్ ఫైల్
Name[th]=Microsoft® Windows ไฟล์ตัวติดตั้ง
Name[tr]=Microsoft® Windows Yükleyici Dosyası
Name[uk]=Microsoft® Windows Файл встановлення
Name[zh]=Microsoft® Windows安装程序文件
Name[zh-CN]=Microsoft® Windows安装程序文件
Name[zh-TW]=Microsoft® Windows安裝程序文件
Exec=wine %f
Terminal=false
Type=Application
MimeType=application/x-ole-storage;text/mspg-legacyinfo;
Hidden=true
Categories=X-Wine;
