[Desktop Entry]
Name = Wine Boot
Name[ar] =                                                                                                                                                                                                                                                                    ﺕﻮﺑ ،ﺮﻤﺨﻟﺍ
Name[bg] = Вино Boot
Name[ca] = Botiga de vi
Name[cs] = Víno Boot
Name[da] = Vin Boot
Name[de] = Weinstiefel
Name[el] = Εκκίνηση με κρασί
Name[eo] = Vino Boot
Name[es] = Botas de vino
Name[fa] =                                                                                                                                                                                                                                                                      ﺏﺍﺮﺷ ﺕﻮﺑ
Name[fi] = Viini Boot
Name[fr] = Botte de vin
Name[he] =                                                                                                                                                                                                                                                                    ןייה לוחתא
Name[hi] = शराब बूट
Name[hr] = Boot za vino
Name[hu] = Bor boot
Name[it] = Boot vino
Name[ja] = ワインブーツ
Name[ko] = 와인 시동
Name[lt] = Vyno įkrovos
Name[ml] = വൈൻ ബൂട്ട്
Name[nl] = Wijn Boot
Name[pa] = ਵਾਈਨ ਬੂਟ
Name[pl] = Boot wino
Name[pt] = Bota vinho
Name[pt-BR] = Bota vinho
Name[pt-PT] = Bota vinho
Name[ro] = Vin de boot
Name[ru] = Винные ботинки
Name[sk] = Víno Boot
Name[sl] = Vino Boot
Name[sr] = Вине Боот
Name[sr-Cyrl] = Вине Боот
Name[sr-Latn] = Vino Boot
Name[sv] = Vin Boot
Name[te] = వైన్ బూట్
Name[th] = Boot ไวน์
Name[tr] = Şarapçılık
Name[uk] = Вино завантаження
Name[zh] = 葡萄酒启动
Name[zh-CN] = 葡萄酒启动
Name[zh-TW] = 葡萄酒啟動
Comment = Simulate system reboot/stop
Comment[ar] =                                                                                                                                                                                                                                             ﻑﺎﻘﻳﺇ / ﻡﺎﻈﻨﻟﺍ ﻞﻴﻐﺸﺗ ﺓﺩﺎﻋﺇ ﺓﺎﻛﺎﺤﻣ
Comment[bg] = Симулиране на рестартиране / спиране на системата
Comment[ca] = Simula el reinici / stop del sistema
Comment[cs] = Simulovat restartování / zastavení systému
Comment[da] = Simuler system genstart / stop
Comment[de] = Simulieren Sie den Systemneustart / -stopp
Comment[el] = Προσομοιώστε την επανεκκίνηση / διακοπή του συστήματος
Comment[eo] = Simuli sistemon rekomenci / halti
Comment[es] = Simular reinicio / detención del sistema
Comment[fa] =                                                                                                                                                                                                                                        ﻒﻗﻮﺗ / ﺩﺪﺠﻣ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ ﻢﺘﺴﯿﺳ ﯼﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi] = Simuloi järjestelmän uudelleenkäynnistystä / pysäytystä
Comment[fr] = Simuler le redémarrage / arrêt du système
Comment[he] =                                                                                                                                                                                                                                           קיספהל / תכרעמה לש שדחמ לוחתא תומדל
Comment[hi] = सिमुलेट सिस्टम रिबूट / स्टॉप
Comment[hr] = Simulirajte ponovno podizanje sustava / zaustavljanje
Comment[hu] = Szimulálja a rendszer újraindítását / leállítását
Comment[it] = Simula il riavvio / arresto del sistema
Comment[ja] = システムの再起動/停止をシミュレートする
Comment[ko] = 시스템 재부팅 / 정지 시뮬레이션
Comment[lt] = Imituoti sistemos perkraukimą / sustojimą
Comment[ml] = സിസ്റ്റം റീബൂട്ട് ചെയ്യുക / നിർത്തുക
Comment[nl] = Simuleer systeem opnieuw opstarten / stoppen
Comment[pa] = ਸਿਸਟਮ ਰੀਬੂਟ / ਸਟਾਪ ਸਿਮੂਲੇਟ ਕਰੋ
Comment[pl] = Symuluj ponowne uruchomienie / zatrzymanie systemu
Comment[pt] = Simula a reinicialização / parada do sistema
Comment[pt-BR] = Simula a reinicialização / parada do sistema
Comment[pt-PT] = Simula a reinicialização / parada do sistema
Comment[ro] = Simulați repornirea / oprirea sistemului
Comment[ru] = Имитировать перезагрузку / остановку системы
Comment[sk] = Simulácia reštartovania / zastavenia systému
Comment[sl] = Simuliranje ponovnega zagona sistema / zaustavitve
Comment[sr] = Симулација поновног покретања / заустављања система
Comment[sr-Cyrl] = Симулација поновног покретања / заустављања система
Comment[sr-Latn] = Simulacija ponovnog pokretanja / zaustavljanja sistema
Comment[sv] = Simulera system omstart / stopp
Comment[te] = సిస్టమ్ రీబూట్ / స్టాప్ను అనుకరించండి
Comment[th] = จำลองระบบรีบูต / หยุด
Comment[tr] = Sistemi yeniden başlatmayı / durdurmayı benzetme
Comment[uk] = Симуляція перезавантаження / зупинки системи
Comment[zh] = 模拟系统重启/停止
Comment[zh-CN] = 模拟系统重启/停止
Comment[zh-TW] = 模擬系統重啟/停止
Exec = wineboot
Terminal = false
Type = Application
Icon = mycomputer-wine
Categories = X-Wine;
