[Desktop Entry]
Name = Browse C: disk-drive
Name[ar] =                                                                                                                                                                                                                                                        ﺓﺭﺎﻴﺴﻟﺎﺑ ﺹﺮﻘﻟﺍ :C ﺢﻔﺼﺗ
Name[bg] = Прегледайте C: дисково устройство
Name[ca] = Explora C: una unitat de disc
Name[cs] = Procházet C: disk-drive
Name[da] = Gennemse C: diskdrev
Name[de] = Durchsuchen Sie C: Diskettenlaufwerk
Name[el] = Αναζητήστε το C: μονάδα δίσκου
Name[eo] = Foliumi C: disko-disko
Name[es] = Examinar C: unidad de disco
Name[fa] = C: ﺪﯿﻨﮐ ﺭﻭﺮﻣ ﺍﺭ ﮏﺴﯾﺩ
Name[fi] = Selaa C: levykäyttö
Name[fr] = Parcourir C: lecteur de disque
Name[he] =                                                                                                                                                                                                                                                             קסיד ןנוכ :C ןויע
Name[hi] = सी ब्राउज़ करें: डिस्क ड्राइव
Name[hr] = Pregledajte C: pogon diska
Name[hu] = Tallózás: C: lemezmeghajtó
Name[it] = Sfoglia C: disk-drive
Name[ja] = ブラウズC：ディスクドライブ
Name[ko] = 브라 우즈 C : 디스크 드라이브
Name[lt] = Peržiūrėkite C: disko diską
Name[ml] = ബ്രൗസ് സി: ഡിസ്ക് ഡ്രൈവ്
Name[nl] = Blader door C: diskdrive
Name[pa] = ਬ੍ਰਾਉਜ਼ ਕਰੋ C: ਡਿਸਕ-ਡਰਾਇਵ
Name[pl] = Przeglądaj C: napęd dyskowy
Name[pt] = Navegue C: disco-drive
Name[pt-BR] = Navegue C: disco-drive
Name[pt-PT] = Navegue C: disco-drive
Name[ro] = Răsfoiți C: unitatea de disc
Name[ru] = Просмотр C: дисковод
Name[sk] = Prechádzať C: disk-disk
Name[sl] = Prebrskajte C: disk-pogon
Name[sr] = Претражите Ц: диск-диск
Name[sr-Cyrl] = Претражите Ц: диск-диск
Name[sr-Latn] = Pretražite C: disk-disk
Name[sv] = Bläddra bland C: disk-enhet
Name[te] = బ్రౌజ్ సి: డిస్క్ డ్రైవ్
Name[th] = เรียกดู C: ดิสก์ไดรฟ์
Name[tr] = C'ye gözat: disk sürücüsü
Name[uk] = Перегляньте диск C: диск
Name[zh] = 浏览C：磁盘驱动器
Name[zh-CN] = 浏览C：磁盘驱动器
Name[zh-TW] = 瀏覽C：磁盤驅動器
Comment = Browse your virtual C: disk-drive
Comment[ar] =                                                                                                                                                                                                                                                ﺓﺭﺎﻴﺴﻟﺎﺑ ﺹﺮﻘﻟﺍ :C ﻱﺮﻫﺎﻈﻟﺍ ﺢﻔﺼﺗ
Comment[bg] = Прегледайте вашето виртуално C: дисково устройство
Comment[ca] = Exploreu la vostra unitat de disc virtual C:
Comment[cs] = Procházet virtuální disk C-disk
Comment[da] = Gennemse dit virtuelle C: diskdrev
Comment[de] = Durchsuchen Sie Ihr virtuelles Laufwerk C:
Comment[el] = Περιηγηθείτε στον εικονικό δίσκο C: δίσκου
Comment[eo] = Foliumu vian virtualan C: diskon-disko
Comment[es] = Explore su C virtual: unidad de disco
Comment[fa] =                                                                                                                                                                                                                                          ﺪﯿﻨﮐ ﺭﻭﺮﻣ ﺍﺭ ﺩﻮﺧ C: disk drive ﯼﺯﺎﺠﻣ
Comment[fi] = Selaa virtuaalinen C: levyasema
Comment[fr] = Parcourez votre C virtuel: disque dur
Comment[he] =                                                                                                                                                                                                                                               קסידה ןנוכ :C ךלש ילאוטריו ףדפד
Comment[hi] = अपने आभासी सी ब्राउज़ करें: डिस्क ड्राइव
Comment[hr] = Pregledajte virtualni C: diskovni pogon
Comment[hu] = Keresse meg a virtuális C: lemezmeghajtót
Comment[it] = Sfoglia la tua C virtuale: disk-drive
Comment[ja] = 仮想C：ディスクドライブをブラウズする
Comment[ko] = 가상 C : 디스크 드라이브 탐색
Comment[lt] = Naršykite savo virtualų C: disko diską
Comment[ml] = നിങ്ങളുടെ വിർച്ച്വൽ സി: ഡിസ്ക് ഡ്രൈവ് ബ്രൌസ് ചെയ്യുക
Comment[nl] = Blader door uw virtuele C: diskdrive
Comment[pa] = ਆਪਣੀ ਵਰਚੁਅਲ ਸੀ: ਡਿਸਕ-ਡਰਾਇਵ ਝਲਕ ਵੇਖੋ
Comment[pl] = Przeglądaj swój wirtualny dysk C :.
Comment[pt] = Procure no seu C virtual: unidade de disco
Comment[pt-BR] = Procure no seu C virtual: unidade de disco
Comment[pt-PT] = Procure no seu C virtual: unidade de disco
Comment[ro] = Răsfoiți C virtuală: disc drive
Comment[ru] = Просмотрите свой виртуальный диск C:
Comment[sk] = Prechádzajte svoj virtuálny disk C: disk
Comment[sl] = Poiščite virtualni pogon C: disk
Comment[sr] = Претражите свој виртуелни Ц: диск-диск
Comment[sr-Cyrl] = Претражите свој виртуелни Ц: диск-диск
Comment[sr-Latn] = Pregledavati vaš virtuelni C: disk-pogon
Comment[sv] = Bläddra bland din virtuella C: diskdrivenhet
Comment[te] = మీ వాస్తవిక సి: డిస్క్-డ్రైవ్ బ్రౌజ్ చేయండి
Comment[th] = หมวด C เสมือนของคุณ: ดิสก์ไดรฟ์
Comment[tr] = Sanal C tarayın: disk sürücüsü
Comment[uk] = Перегляньте свій віртуальний C: дисковий диск
Comment[zh] = 浏览您的虚拟C：磁盘驱动器
Comment[zh-CN] = 浏览您的虚拟C：磁盘驱动器
Comment[zh-TW] = 瀏覽您的虛擬C：磁盤驅動器
Exec = sh -c "xdg-open $(winepath -u 'C:' 2>/dev/null)"
Terminal = false
Type = Application
Icon = drive-wine
Categories = X-Wine;
