[Desktop Entry]
Name = Wine Notepad
Name[ar] =                                                                                                                                                                                                                                                                ﺓﺮﻜﻔﻤﻟﺍ ،ﺮﻤﺨﻟﺍ
Name[bg] = Бележник за вино
Name[ca] = Bloc de notes del vi
Name[cs] = Poznámkový blok vína
Name[da] = Vin Notesblok
Name[de] = Wein Notizblock
Name[el] = Σημειωματάριο κρασιού
Name[eo] = vino Notepad
Name[es] = Bloc de notas de vino
Name[fa] =                                                                                                                                                                                                                                                             ﺏﺍﺮﺷ ﺖﺷﺍﺩﺩﺎﯾ ﺮﺘﻓﺩ
Name[fi] = Viini Muistio
Name[fr] = Bloc-notes de vin
Name[he] =                                                                                                                                                                                                                                                                     ןייה סקנפ
Name[hi] = शराब नोटपैड
Name[hr] = Zabilješka vina
Name[hu] = Bor jegyzettömb
Name[it] = Notepad di vino
Name[ja] = ワインメモ帳
Name[ko] = 와인 메모장
Name[lt] = Vyno užrašų knygelė
Name[ml] = വീഞ്ഞ് നോട്ട്പാഡ്
Name[nl] = Wijn Kladblok
Name[pa] = ਵਾਈਨ ਨੋਟਪੈਡ
Name[pl] = Notatnik z winem
Name[pt] = Bloco de notas de vinho
Name[pt-BR] = Bloco de notas de vinho
Name[pt-PT] = Bloco de notas de vinho
Name[ro] = Notepad de vin
Name[ru] = Блокнот для вина
Name[sk] = Poznámkový blok vína
Name[sl] = vino Beležnica
Name[sr] = Вине Нотепад
Name[sr-Cyrl] = Вине Нотепад
Name[sr-Latn] = vino Notepad
Name[sv] = Vin Anteckningsblock
Name[te] = వైన్ నోట్ప్యాడ్లో
Name[th] = Notepad ไวน์
Name[tr] = Şarap Not Defteri
Name[uk] = Винний блокнот
Name[zh] = 葡萄酒记事本
Name[zh-CN] = 葡萄酒记事本
Name[zh-TW] = 葡萄酒記事本
Comment = A clone of the Microsoft® Windows Notepad Text Editor
Comment[ar] = A aistinsakh min Microsoft(R) wayanduz almufakirat nasi muharar
Comment[bg] = Клониране на текстовия редактор на Microsoft® Windows Notepad
Comment[ca] = Un clon de l'editor de text Bloc de notes de Microsoft Windows
Comment[cs] = Klon textového editoru Poznámkový blok Microsoft® Windows
Comment[da] = En klon af Microsoft® Windows Notesblok Text Editor
Comment[de] = Ein Klon des Microsoft® Windows Notepad Text-Editors
Comment[el] = Ένας κλώνος του συντάκτη Microsoft® Windows Notepad Κείμενο
Comment[eo] = Klonono de la Microsoft-redaktilo de Teknologio Notepad de Microsoft®
Comment[es] = Una copia del editor de texto del Bloc de notas de Microsoft® Windows
Comment[fa] =                                                                                                                                                                                                                             Microsoft® Windows Notepad Text Editor ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Microsoft® Windows Notepad tekstieditori
Comment[fr] = Un clone de l'éditeur de texte Bloc-notes Microsoft® Windows
Comment[he] =                                                                                                                                                                                                                               Microsoft® Windows Notepad Text Editor לש טוביש
Comment[hi] = माइक्रोसॉफ्ट विंडोज नोटपैड पाठ संपादक का एक क्लोन
Comment[hr] = Klon Microsoft® Windows Notepad tekst editor
Comment[hu] = A klón a Microsoft® Windows Notepad szövegszerkesztő
Comment[it] = Un clone di Microsoft® Windows Notepad Editor di testo
Comment[ja] = Makurosofuto ® u~indōzu memochō tekisutoedita no kurōn
Comment[ko] = Microsoft® Windows 메모장 텍스트 편집기의 복제본
Comment[lt] = "Microsoft® Windows Notepad" teksto redagavimo klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് വിൻഡോസ് നോട്ട്പാഡ് ടെക്സ്റ്റ് എഡിറ്ററിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Microsoft® Windows Notepad-teksteditor
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ. ਵਿੰਡੋਜ਼ ਨੋਟਪੈਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon edytorze tekstu Microsoft Windows Notepad
Comment[pt] = Um clone do editor de texto do Bloco de notas do Microsoft® Windows
Comment[pt-BR] = Um clone do editor de texto do Bloco de notas do Microsoft® Windows
Comment[pt-PT] = Um clone do editor de texto do Bloco de notas do Microsoft® Windows
Comment[ro] = O clonă a Editorului de texte Microsoft® Windows Notepad
Comment[ru] = Клон текстового редактора Microsoft® Windows Блокнота
Comment[sk] = Klon textovom editore Microsoft® Windows Poznámkový blok
Comment[sl] = Klon v urejevalnik besedil Microsoft Windows Notepad
Comment[sr] = Клон Мицрософт® Виндовс Нотепад Тект Едитор
Comment[sr-Cyrl] = Клон Мицрософт® Виндовс Нотепад Тект Едитор
Comment[sr-Latn] = Klon Microsoft® Windows Notepad Text Editor
Comment[sv] = En klon av Microsoft® Windows Notepad Textredigeraren
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ నోట్ప్యాడ్ టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th] = โคลนของตัวแก้ไขข้อความของMicrosoft® Windows Notepad
Comment[tr] = Microsoft® Windows Not Defteri Metin Editör bir klon
Comment[uk] = Клон текстового редактора Microsoft® Windows Блокнота
Comment[zh] = Microsoft®Windows记事本文本编辑器的克隆
Comment[zh-CN] = Microsoft®Windows记事本文本编辑器的克隆
Comment[zh-TW] = Microsoft®Windows記事本文本編輯器的克隆
Exec = notepad %%f
Terminal = false
Type = Application
Icon = wine-notepad
Categories = X-Wine;X-Wine-Programs-Accessories;
