[Desktop Entry]
Name=Wine Internet Explorer
Name[ar]=                                                        ﺭﺭﻮﻠﺒﺴﻛﺇ ﺖﻧﺮﺘﻧﺇ ﺬﻴﺒﻨﻟﺍ
Name[bg]=Вино Internet Explorer
Name[ca]=Vi Internet Explorer
Name[cs]=Víno Internet Explorer
Name[da]=Vin Internet Explorer
Name[de]=Wein Internet Explorer
Name[el]=Κρασί Internet Explorer
Name[eo]=Vino Interreta Esploristo
Name[es]=Vino Internet Explorer
Name[fa]=                                                         ﺭﺭﻮﻠﭙﺴﮐﺍ ﺖﻧﺮﺘﻨﯾﺍ ﺏﺍﺮﺷ
Name[fi]=Viini Internet Explorer
Name[fr]=Vin Internet Explorer
Name[he]=                                                                           ןיי
Name[hi]=शराब इंटरनेट एक्सप्लोरर
Name[hr]=Vino Internet Explorer
Name[hu]=Bor Internet Explorer
Name[it]=Vino Internet Explorer
Name[ja]=ワインのインターネットエクスプローラ
Name[ko]=와인 인터넷 익스플로러
Name[lt]="紅酒""Internet Explorer"
Name[ml]=വൈൻ ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ
Name[nl]=Wijn Internet Explorer
Name[pa]=ਵਾਈਨ ਇੰਟਰਨੈਟ ਐਕਸਪਲੋਰਰ
Name[pl]=Wino Internet Explorer
Name[pt]=紅酒 Internet Explorer
Name[pt@BR]=紅酒 Internet Explorer
Name[pt@PT]=紅酒 Internet Explorer
Name[ro]=Vin Internet Explorer
Name[ru]=Винный Internet Explorer
Name[sk]=Víno Internet Explorer
Name[sl]=Vino Internet Explorer
Name[sr]=Вине Интернет Екплорер
Name[sr@Cyrl]=Вине Интернет Екплорер
Name[sr@Latn]=Vino Internet Explorer
Name[sv]=Vin Internet Explorer
Name[te]=వైన్ ఇంటర్నెట్ ఎక్స్ప్లోరర్
Name[th]=ไวน์ Internet Explorer
Name[tr]=Şarap Internet Explorer
Name[uk]=Вино Internet Explorer
Name[zh]=葡萄酒Internet Explorer
Name[zh@CN]=葡萄酒Internet Explorer
Name[zh@TW]=葡萄酒Internet Explorer
Comment=Builtin clone of Windows Internet Explorer®
Comment[ar]=                                    ®Explorer ﺖﻴﻧﺮﺘﻧﺇ ﺯﻭﺪﻨﻳﻭ ﺥﺎﺴﻨﺘﺳﺍ ﻲﻓ ﺞﻣﺪﻤﻟﺍ
Comment[bg]=Вграден клон на 視窗 Internet Explorer®
Comment[ca]=Clon incorporat de 視窗 Internet Explorer®
Comment[cs]=Vestavěný klon systému 視窗 Internet Explorer®
Comment[da]=Indbygget klon af 視窗 Internet Explorer®
Comment[de]=Builtin Klon von 視窗 Internet Explorer®
Comment[el]=Ενσωματωμένος κλώνος του 視窗 Internet Explorer®
Comment[eo]=Konektita klono de 視窗 Internet Explorer®
Comment[es]=Clon de Builtin de 視窗 Internet Explorer®
Comment[fa]=                                             ® ﺭﺭﻮﻠﭙﺴﮐﺍ ﺯﻭﺪﻨﯾﻭ ﺯﺍ Builtin ﻥﻮﻠﮐ
Comment[fi]=Sisäänrakennettu 視窗 Internet Explorer® -klooni
Comment[fr]=Clone Builtin de 視窗 Internet Explorer®
Comment[he]=                                     ®視窗 Internet Explorer לש הנבומ טוביש
Comment[hi]=विंडोज इंटरनेट एक्सप्लोरर के अन्तर्निर्मित क्लोन
Comment[hr]=Ugrađeni klon sustava 視窗 Internet Explorer®
Comment[hu]=A 視窗 Internet Explorer® beépített klónja
Comment[it]=Clone incorporato di 視窗 Internet Explorer®
Comment[ja]=視窗 InternetExplorer®の組み込みクローン
Comment[ko]=視窗 Internet Explorer®의 내장 클론
Comment[lt]="視窗 Internet Explorer®"sukurtas klonas
Comment[ml]=വിൻഡോസ് ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ®യുടെ ബിൽട്ടിൻ ക്ലോൺ
Comment[nl]=Ingebouwde kloon van 視窗 Internet Explorer®
Comment[pa]=視窗 Internet Explorer® ਦੇ ਬਿਲਟਿਨ ਕਲੋਨ
Comment[pl]=Klon wbudowany 視窗 Internet Explorer®
Comment[pt]=Clone Builtin do 視窗 Internet Explorer®
Comment[pt@BR]=Clone Builtin do 視窗 Internet Explorer®
Comment[pt@PT]=Clone Builtin do 視窗 Internet Explorer®
Comment[ro]=Clona clonată a 視窗 Internet Explorer®
Comment[ru]=Встроенный клон 視窗 Internet Explorer®
Comment[sk]=Zabudovaný klon programu 視窗 Internet Explorer®
Comment[sl]=Vgrajen klon operacijskega sistema 視窗 Internet Explorer®
Comment[sr]=Уграђени клон Виндовс Интернет Екплорер®
Comment[sr@Cyrl]=Уграђени клон Виндовс Интернет Екплорер®
Comment[sr@Latn]=Ugrađeni klon 視窗 Internet Explorer®
Comment[sv]=Inbyggd klon i 視窗 Internet Explorer®
Comment[te]=視窗 Internet Explorer® యొక్క బిల్లీన్ క్లోన్
Comment[th]=โคลน Builtin ของ 視窗 Internet Explorer®
Comment[tr]=視窗 Internet Explorer®'ın yerleşik klonu
Comment[uk]=Вбудований клон 視窗 Internet Explorer®
Comment[zh]=内置的視窗 InternetExplorer®克隆
Comment[zh@CN]=内置的視窗 InternetExplorer®克隆
Comment[zh@TW]=內置的視窗 InternetExplorer®克隆
Exec=wine iexplore.exe %U
Terminal=false
Type=Application
Icon=wine-iexplore
Categories=Wine;
