[Desktop Entry]
Name=Wine Task Manager
Name[ar]=                                                           ﺬﻴﺒﻨﻟﺍ ﻡﺎﻬﻤﻟﺍ ﺓﺭﺍﺩﺇ
Name[bg]=Управител на задачите по виното
Name[ca]=Gerent de tasques del vi
Name[cs]=Správce úloh ve víně
Name[da]=Vin Task Manager
Name[de]=紅酒 Task-Manager
Name[el]=Διαχειριστής εργασιών οίνου
Name[eo]=Vino Task Manager
Name[es]=Administrador de tareas del vino
Name[fa]=                                                               ﺏﺍﺮﺷ ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ
Name[fi]=Viini Task Manager
Name[fr]=Vin Gestionnaire des tâches
Name[he]=                                                             ןייה תומישמה להנמ
Name[hi]=शराब कार्य प्रबंधक
Name[hr]=Voditelj zadatka vina
Name[hu]=Bor Tevékenység Menedzser
Name[it]=Task Manager del vino
Name[ja]=ワインタスクマネージャ
Name[ko]=와인 작업 관리자
Name[lt]=Vyno užduočių vadybininkas
Name[ml]=വൈൻ ടാസ്ക് മാനേജർ
Name[nl]=Wijn Task Manager
Name[pa]=ਵਾਈਨ ਟਾਸਕ ਮੈਨੇਜਰ
Name[pl]=Menedżer zadań 紅酒
Name[pt]=紅酒 Gerenciador de tarefas
Name[pt@BR]=紅酒 Gerenciador de tarefas
Name[pt@PT]=紅酒 Gerenciador de tarefas
Name[ro]=Vin Task Manager
Name[ru]=Диспетчер вин
Name[sk]=Správca úloh vína
Name[sl]=Upravitelj nalog za vino
Name[sr]=Управитељ задужених за вино
Name[sr@Cyrl]=Управитељ задужених за вино
Name[sr@Latn]=Upravitelj zaduženih za vino
Name[sv]=紅酒 Task Manager
Name[te]=వైన్ టాస్క్ మేనేజర్
Name[th]=ที่ Task Manager ไวน์
Name[tr]=Şarap Görev Yöneticisi
Name[uk]=紅酒 Task Manager
Name[zh]=葡萄酒任务经理
Name[zh@CN]=葡萄酒任务经理
Name[zh@TW]=葡萄酒任務經理
Comment=A clone of Windows Task Manager
Comment[ar]=                                                     ﺯﻭﺪﻨﻳﻭ ﻡﺎﻬﻣ ﺓﺭﺍﺩﺇ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на 視窗 Task Manager
Comment[ca]=Un clon de l'Administrador de tasques de 視窗
Comment[cs]=Klon Správce úloh systému 視窗
Comment[da]=En klon af 視窗 Task Manager
Comment[de]=Ein Klon von 視窗 Task Manager
Comment[el]=Ένας κλώνος του Task Manager των 視窗
Comment[eo]=Klono de 視窗 Task Manager
Comment[es]=Un clon del Administrador de tareas de 視窗
Comment[fa]=                                                        ﺯﻭﺪﻨﯾﻭ ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ ﻥﻮﻠﮐ
Comment[fi]=視窗in Task Managerin klooni
Comment[fr]=Un clone de 視窗 Task Manager
Comment[he]=                                              視窗 לש תומישמה להנמ לש טוביש
Comment[hi]=विंडोज टास्क मैनेजर का क्लोन
Comment[hr]=Klon 視窗 Task Manager
Comment[hu]=A 視窗 Task Manager klónja
Comment[it]=Un clone di Task Manager di 視窗
Comment[ja]=視窗タスクマネージャのクローン
Comment[ko]=視窗 작업 관리자의 복제본
Comment[lt]="視窗"užduočių tvarkyklės klonas
Comment[ml]=വിൻഡോസ് ടാസ്ക് മാനേജർ ക്ലോൺ
Comment[nl]=Een kloon van 視窗 Task Manager
Comment[pa]=ਵਿੰਡੋਜ਼ ਟਾਸਕ ਮੈਨੇਜਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl]=Klon Menedżera zadań systemu 視窗
Comment[pt]=Um clone do 視窗 Task Manager
Comment[pt@BR]=Um clone do 視窗 Task Manager
Comment[pt@PT]=Um clone do 視窗 Task Manager
Comment[ro]=O clonă a Managerului de activități 視窗
Comment[ru]=Клон диспетчера задач 視窗
Comment[sk]=Klon správcu úloh systému 視窗
Comment[sl]=Klon upravitelja opravil programa 視窗
Comment[sr]=Клон Виндовс Таск Манагер
Comment[sr@Cyrl]=Клон Виндовс Таск Манагер
Comment[sr@Latn]=Klon 視窗 Task Manager-a
Comment[sv]=En klon i 視窗 Task Manager
Comment[te]=విండోస్ టాస్క్ మేనేజర్ యొక్క క్లోన్
Comment[th]=โคลนของ 視窗 Task Manager
Comment[tr]=視窗 Görev Yöneticisi'nin bir kopyası
Comment[uk]=Клон диспетчера завдань 視窗
Comment[zh]=視窗任务管理器的克隆
Comment[zh@CN]=視窗任务管理器的克隆
Comment[zh@TW]=視窗任務管理器的克隆
Exec=wine taskmgr.exe
Terminal=false
Type=Application
Icon=wine-taskmgr
Categories=Wine;
