[Desktop Entry]
Name = Wine Wordpad
Name[ar] =                                                                                                                                                                                                                                                                 ﺩﺎﺑﺩﺭﻭ ،ﺮﻤﺨﻟﺍ
Name[bg] = Вино Wordpad
Name[ca] = Vi Wordpad
Name[cs] = Víno Wordpad
Name[da] = Vin Wordpad
Name[de] = Wein Wordpad
Name[el] = Wordpad κρασιού
Name[eo] = Vina Wordpad
Name[es] = Vino Wordpad
Name[fa] =                                                                                                                                                                                                                                                                  Wordpad ﺏﺍﺮﺷ
Name[fi] = Viini Wordpad
Name[fr] = Wordpad de vin
Name[he] =                                                                                                                                                                                                                                                                   WordPad ןיי
Name[hi] = शराब वर्डपैड
Name[hr] = Vino WordPad
Name[hu] = Bor Wordpad
Name[it] = Wordpad del vino
Name[ja] = ワインワードパッド
Name[ko] = 와인 워드 패드
Name[lt] = Vyno Wordpad
Name[ml] = വൈൻ വേഡ്പാഡ്
Name[nl] = Wijn Wordpad
Name[pa] = ਵਾਈਨ ਵਰਡਪੇਡ
Name[pl] = Wino Wordpad
Name[pt] = Wordpad vinho
Name[pt-BR] = Wordpad vinho
Name[pt-PT] = Wordpad vinho
Name[ro] = Cuvinte cheie Wine
Name[ru] = Винный Wordpad
Name[sk] = Víno Wordpade
Name[sl] = Vino WordPad
Name[sr] = Вине Вордпад
Name[sr-Cyrl] = Вине Вордпад
Name[sr-Latn] = Vino WordPad
Name[sv] = Vin Wordpad
Name[te] = వైన్ వర్డ్ప్యాడ్
Name[th] = Wordpad ไวน์
Name[tr] = Şarap Wordpad
Name[uk] = Вино Wordpad
Name[zh] = 葡萄酒写字板
Name[zh-CN] = 葡萄酒写字板
Name[zh-TW] = 葡萄酒寫字板
Comment = A clone of the Windows Wordpad Text Editor
Comment[ar] =                                                                                                                                                                                                                                                ﺩﺎﺑﺩﺭﻭﻭ ﺯﻭﺪﻨﻳﻭ ﺺﻧ ﺭﺮﺤﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонинг на текстовия редактор на Windows Wordpad
Comment[ca] = Un clon de l'editor de text de Windows Wordpad
Comment[cs] = Klon textového editoru Windows Wordpad
Comment[da] = En klon af Windows Wordpad Text Editor
Comment[de] = Ein Klon des Windows Wordpad Text Editors
Comment[el] = Ένας κλώνος του επεξεργαστή κειμένου του Wordpad των Windows
Comment[eo] = Klonono de la Vindoza Teksto-redaktilo de Vindozo
Comment[es] = Una copia del editor de texto de Windows Wordpad
Comment[fa] =                                                                                                                                                                                                                                          ﺯﻭﺪﻨﯾﻭ ﺪﭘﺩﺭﻭ ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Windows Wordpad Tekstieditori
Comment[fr] = Un clone de l'éditeur de texte Windows Wordpad
Comment[he] =                                                                                                                                                                                                                                        Windows Wordpad לש טסקטה ךרוע לש טוביש
Comment[hi] = विंडोज वर्डपैड पाठ संपादक का एक क्लोन
Comment[hr] = Klon urednika teksta Wordpada u sustavu Windows
Comment[hu] = A Windows Wordpad szövegszerkesztőjének klónja
Comment[it] = Un clone dell'Editor di testo di Wordpad di Windows
Comment[ja] = U~indōzu no wādopaddotekisutoedita no kurōn
Comment[ko] = 윈도우 워드 패드 텍스트 편집기의 복제
Comment[lt] = Windows Wordpad teksto redaktoriaus klonas
Comment[ml] = വിൻഡോസ് വൊര്ദ്പദ് ടെക്സ്റ്റ് എഡിറ്റർ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Windows Wordpad-teksteditor
Comment[pa] = ਵਿੰਡੋਜ਼ ਵਰਡਪੇਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl] = Klon edytora tekstu Windows WordPad
Comment[pt] = Um clone do editor de texto do Word do Windows
Comment[pt-BR] = Um clone do editor de texto do Word do Windows
Comment[pt-PT] = Um clone do editor de texto do Word do Windows
Comment[ro] = O clonă a Editorului de text Wordpad din Windows
Comment[ru] = Клон текстового редактора Windows Wordpad
Comment[sk] = Klon textového editora Windows Wordpad
Comment[sl] = Klon urejevalnika besedil Windows Wordpad
Comment[sr] = Клон Виндовс Вордпад Тект Едитор
Comment[sr-Cyrl] = Клон Виндовс Вордпад Тект Едитор
Comment[sr-Latn] = Klon Windows Wordpad Text Editor
Comment[sv] = En klon av Windows Wordpad Textredigeraren
Comment[te] = Windows Wordpad టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th] = โคลนของตัวแก้ไขข้อความของ Windows Wordpad
Comment[tr] = Windows Wordpad Metin Düzenleyicisi'nin bir kopyası
Comment[uk] = Клон текстового редактора Windows Wordpad
Comment[zh] = Windows写字板文本编辑器的克隆
Comment[zh-CN] = Windows写字板文本编辑器的克隆
Comment[zh-TW] = Windows寫字板文本編輯器的克隆
Exec = wine wordpad %%f
Terminal = false
Type = Application
Icon = wine-wordpad
Categories = X-Wine;
