[Desktop Entry]
Name=Windows Installer File
Name[ar]=                                                            ﻞﻴﻓ ﺮﻟﺎﺗﺰﻧﺇ ﺯﻭﺪﻨﻳﻭ
Name[bg]=Файл на инсталатора на 視窗
Name[ca]=Fitxer de l'instal·lador de 視窗
Name[cs]=Soubor Instalační služby systému 視窗
Name[da]=視窗 Installer-fil
Name[de]=視窗 Installer-Datei
Name[el]=Αρχείο του 視窗 Installer
Name[eo]=Fenestra Instaladilo Dosiero
Name[es]=Archivo de 視窗 Installer
Name[fa]=                                                             ﺯﻭﺪﻨﯾﻭ ﺐﺼﻧ ﻩﺪﻧﻭﺮﭘ
Name[fi]=視窗 Installer -tiedosto
Name[fr]=Fichier d'installation de 視窗
Name[he]=                                                        視窗 Installer ץבוק
Name[hi]=विंडोज इंस्टालर फाइल
Name[hr]=視窗 Installer datoteka
Name[hu]=視窗 Installer fájl
Name[it]=File di 視窗 Installer
Name[ja]=視窗インストーラファイル
Name[ko]=視窗 Installer 파일
Name[lt]=視窗 diegimo failas
Name[ml]=വിൻഡോസ് ഇൻസ്റ്റാളർ ഫയൽ
Name[nl]=視窗 Installer File
Name[pa]=ਵਿੰਡੋਜ਼ ਇੰਸਟੌਲਰ ਫਾਈਲ
Name[pl]=Plik Instalatora 視窗
Name[pt]=Arquivo do 視窗 Installer
Name[pt@BR]=Arquivo do 視窗 Installer
Name[pt@PT]=Arquivo do 視窗 Installer
Name[ro]=Fișier Instalator 視窗
Name[ru]=Файл установщика 視窗
Name[sk]=Súbor Inštalátora systému 視窗
Name[sl]=Datoteka 視窗 Installer
Name[sr]=Виндовс Инсталлер Филе
Name[sr@Cyrl]=Виндовс Инсталлер Филе
Name[sr@Latn]=視窗 Installer datoteka
Name[sv]=視窗 Installer-fil
Name[te]=విండోస్ ఇన్స్టాలర్ ఫైల్
Name[th]=แฟ้ม 視窗 Installer
Name[tr]=視窗 Installer Dosyası
Name[uk]=Файл встановлювача 視窗
Name[zh]=視窗安装程序文件
Name[zh@CN]=視窗安装程序文件
Name[zh@TW]=視窗安裝程序文件
Exec=wine %f
Terminal=false
Type=Application
MimeType=application/x-ole-storage;text/mspg-legacyinfo;
Hidden=true
Categories=Wine;
