[Desktop Entry]
Name = Wine Registry Editor
Name[ar] =                                                                                                                                                                                                                                                             ﺬﻴﺒﻨﻟﺍ ﻞﻴﺠﺴﺗ ﺭﺮﺤﻣ
Name[bg] = Редактор на регистър на вино
Name[ca] = Editor del registre del vi
Name[cs] = Editor registru vín
Name[da] = Vinregistreringsredaktør
Name[de] = Weinregistratur
Name[el] = Επεξεργαστής μητρώου ονομάτων
Name[eo] = Vino Registro Redaktanto
Name[es] = Editor del Registro del Vino
Name[fa] =                                                                                                                                                                                                                                                           ﺏﺍﺮﺷ ﯼﺮﺘﺴﯿﺟﺭ ﺮﯿﺑﺩﺮﺳ
Name[fi] = Viininrekisterin editori
Name[fr] = Éditeur du registre des vins
Name[he] =                                                                                                                                                                                                                                                               ןיי םושירה ךרוע
Name[hi] = वाइन रजिस्ट्री संपादक
Name[hr] = Urednik registara vina
Name[hu] = Borjegyzékszerkesztő
Name[it] = Editor del registro dei vini
Name[ja] = ワインレジストリエディタ
Name[ko] = 와인 레지스트리 편집기
Name[lt] = Vyno registro redaktorius
Name[ml] = വൈൻ രജിസ്ട്രി എഡിറ്റർ
Name[nl] = Wijn Register-editor
Name[pa] = ਵਾਈਨ ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ
Name[pl] = Edytor rejestru wina
Name[pt] = Wine Editor do Registro
Name[pt-BR] = Wine Editor do Registro
Name[pt-PT] = Wine Editor do Registro
Name[ro] = Editorul registrului de vinuri
Name[ru] = Редактор реестра вин
Name[sk] = Editor databázy Registry Wine
Name[sl] = Vino urejevalnik registra
Name[sr] = Вине Регистри Едитор
Name[sr-Cyrl] = Вине Регистри Едитор
Name[sr-Latn] = Vino Registry Editor
Name[sv] = Vinregisterredigerare
Name[te] = వైన్ రిజిస్ట్రీ ఎడిటర్
Name[th] = ตัวแก้ไขรีจิสทรีของ Wine
Name[tr] = Şarap Kayıt Editörü
Name[uk] = Редактор реєстру вин
Name[zh] = 葡萄酒注册表编辑器
Name[zh-CN] = 葡萄酒注册表编辑器
Name[zh-TW] = 葡萄酒註冊表編輯器
Comment = A clone of the Microsoft® Windows Registry Editor
Comment[ar] =                                                                                                                                                                                                                                       ﻱﺮﺘﺴﻴﺠﻳﺭ ﺯﻭﺪﻨﻳﻭ ®Microsoft ﺭﺮﺤﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонинг на редактора на системния регистър на Microsoft® Windows
Comment[ca] = Un clon de l'Editor del Registre de Windows de Microsoft
Comment[cs] = Klon editoru registru Microsoft® Windows
Comment[da] = En klon i Microsoft® Windows Registry Editor
Comment[de] = Ein Klon des Microsoft® Windows-Registrierungs-Editors
Comment[el] = Ένας κλώνος του Microsoft® Windows Registry Editor
Comment[eo] = Klonono de la Microsoft-Rezerva Registro de Windows
Comment[es] = Un clon del Editor del Registro de Windows de Microsoft®
Comment[fa] =                                                                                                                                                                                                                                 ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﺯﻭﺪﻨﯾﻭ ﯼﺮﺘﺴﯿﺟﺭ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Microsoft® Windowsin rekisterieditorin klooni
Comment[fr] = Un clone de l'éditeur de registre Microsoft® Windows
Comment[he] =                                                                                                                                                                                                                                    Microsoft® Windows לש םושירה ךרוע לש טוביש
Comment[hi] = michrosoft® windows rajistree sampaadak ka ek klon
Comment[hr] = Klon Microsoft® Windows Registry Editor
Comment[hu] = A Microsoft® Windows rendszerleíró adatbázis-szerkesztőjének klónja
Comment[it] = Un clone dell'Editor del Registro di sistema di Microsoft® Windows
Comment[ja] = Makurosofuto ® u~indōzu rejisutoriedita no kurōn
Comment[ko] = Microsoft® Windows 레지스트리 편집기의 복제본
Comment[lt] = "Microsoft® Windows" registro rengyklės klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് ® വിൻഡോസ് രജിസ്ട്രി എഡിറ്ററിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Microsoft® Windows Register-editor
Comment[pa] = Microsoft® Windows ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon edytora rejestru Microsoft® Windows
Comment[pt] = Um clone do Microsoft® Windows Editor do Registro
Comment[pt-BR] = Um clone do Microsoft® Windows Editor do Registro
Comment[pt-PT] = Um clone do Microsoft® Windows Editor do Registro
Comment[ro] = O clonă a Editorului de registri Microsoft® Windows
Comment[ru] = Клон редактора реестра Microsoft® Windows
Comment[sk] = Klon editora databázy Microsoft® Windows Registry
Comment[sl] = Klon urejevalnika registra Microsoft® Windows
Comment[sr] = Клон Мицрософт® Виндовс Регистри Едитор-а
Comment[sr-Cyrl] = Клон Мицрософт® Виндовс Регистри Едитор-а
Comment[sr-Latn] = Klon uređivač registratora Microsoft® Windows
Comment[sv] = En klon av Microsoft® Windows Registereditorn
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ రిజిస్ట్రీ ఎడిటర్ యొక్క క్లోన్
Comment[th] = โคลนของMicrosoft® Windows Registry Editor
Comment[tr] = Microsoft® Windows Kayıt Defteri Düzenleyicisi'nin bir kopyası
Comment[uk] = Клон редактора реєстру Microsoft® Windows
Comment[zh] = Microsoft®Windows注册表编辑器的克隆
Comment[zh-CN] = Microsoft®Windows注册表编辑器的克隆
Comment[zh-TW] = Microsoft®Windows註冊表編輯器的克隆
Exec = regedit
Terminal = false
Type = Application
Icon = wine-regedit
Categories = X-Wine;
