[Desktop Entry]
Name=Wine Registry Editor
Name[ar]=ﻞﻴﺠﺴﺘﻟﺍ ﺭﺮﺤﻣ Wine
Name[bg]=Редактор на регистър на Wine
Name[ca]=Editor del registre del Wine
Name[cs]=Wine Editor registru
Name[da]=Wineregistreringsredaktør
Name[de]=Wineregistratur
Name[el]=Wine Επεξεργαστής μητρώου
Name[eo]=Wine Registro Redaktanto
Name[es]=Redactor del Registro del Wine
Name[fa]=Wine ﯼﺮﺘﺴﯿﺟﺭ ﺮﯿﺑﺩﺮﺳ
Name[fi]=Wine Rekisterieditori
Name[fr]=Wine Éditeur du Registre
Name[he]=םושירה ךרוע Wine
Name[hi]=Wine रजिस्ट्री संपादक
Name[hr]=Wine Urednik registra
Name[hu]=Winejegyzékszerkesztő
Name[it]=Wine redattore del registro
Name[ja]=Wineレジストリエディタ
Name[ko]=Wine 레지스트리 편집기
Name[lt]=Wine registro redaktorius
Name[ml]=Wine രജിസ്ട്രി എഡിറ്റർ
Name[nl]=Wine Register-editor
Name[pa]=Wine ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ
Name[pl]=Wine Edytor rejestru
Name[pt]=Wine editor do Registro
Name[pt-BR]=Wine editor do Registro
Name[pt-PT]=Wine editor do Registro
Name[ro]=Editorul registrului de Wineuri
Name[ru]=Wine Редактор реестра
Name[sk]=Wine Editor databázy Registry
Name[sl]=Wine urejevalnik registra
Name[sr]=Wine Регистри Едитор
Name[sr-Cyrl]=Wine Регистри Едитор
Name[sr-Latn]=Wine Registry Urednik
Name[sv]=Wineregisterredigerare
Name[te]=Wine రిజిస్ట్రీ ఎడిటర్
Name[th]=Wine ตัวแก้ไขรีจิสทรี
Name[tr]=Wine Kayıt Düzenleyicisi
Name[uk]=Wine Редактор реєстру
Name[zh]=Wine注册表编辑器
Name[zh-CN]=Wine注册表编辑器
Name[zh-TW]=Wine註冊表編輯器
Comment=A clone of the Microsoft® Windows Registry Editor
Comment[ar]=Windows Microsoft® ﻞﻴﺠﺴﺘﻟﺍ ﺭﺮﺤﻣ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на редактора на системния регистър Microsoft® Windows
Comment[ca]=Un clon de l'Editor del Registre Microsoft® Windows
Comment[cs]=Klon registr Editoru Microsoft® Windows
Comment[da]=En klon af registreringseditoren Microsoft® Windows
Comment[de]=Ein Klon des Microsoft® Windows Registrierungs-Herausgeber
Comment[el]=Ένας κλώνος του επεξεργαστή μητρώου Microsoft® Windows
Comment[eo]=Al klono de la Microsoft® Windows Registro Redaktanto
Comment[es]=Un clon del editor Microsoft® Windows Registro
Comment[fa]=Microsoft® Windows ﯼﺮﺘﺴﯿﺟﺭ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=Microsoft® Windows rekisterineditorin klooni
Comment[fr]=Un clone de l'éditeur de registre Microsoft® Windows
Comment[he]=םושירה ךרוע Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows रजिस्ट्री संपादक का एक क्लोन
Comment[hr]=Klon od Microsoft® Windows Registry Urednik
Comment[hu]=A Microsoft® Windows regiszterszerkesztő klónja
Comment[it]=Un clone di Microsoft® Windows redattore del Registro di sistema
Comment[ja]=Microsoft® No kurōn Windows rejisutoriedita
Comment[ko]=Microsoft®의 복제본 Windows 레지스트리 편집기
Comment[lt]=A Microsoft® Windows registro rengyklės klonas
Comment[ml]=രജിസ്ട്രി എഡിറ്റർ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de Register-editor Microsoft® Windows
Comment[pa]=Microsoft® Windows ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl]=Klon Edytorze rejestru Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows editor do Registro
Comment[pt-BR]=Um clone do Microsoft® Windows editor do Registro
Comment[pt-PT]=Um clone do Microsoft® Windows editor do Registro
Comment[ro]=O clonă a Editorului de registre Microsoft® Windows
Comment[ru]=Клон редактора реестра Microsoft® Windows
Comment[sk]=Klon reg. Editora Microsoft® Windows
Comment[sl]=Klon urejevalnika registra Microsoft® Windows
Comment[sr]=Клон Microsoft® Windows Регистри Едитор
Comment[sr-Cyrl]=Клон Microsoft® Windows Регистри Едитор
Comment[sr-Latn]=Klon urednika registra Microsoft® Windows
Comment[sv]=En klon i Microsoft® Windows Registerredigeraren
Comment[te]=రిజిస్ట్రీ ఎడిటర్ యొక్క Microsoft® Windows క్లోన్
Comment[th]=Kholn k̄hxng Microsoft® Windows tạw kæ̂k̄hị rīcis̄thrī
Comment[tr]=Microsoft® Windows Kayıt Düzenleyicisi'nin bir kopyası
Comment[uk]=Клон редактора реєстру Microsoft® Windows
Comment[zh]=Microsoft® Windows Zhùcè biǎo biānjí qì de kèlóng
Comment[zh-CN]=Microsoft® Windows Zhùcè biǎo biānjí qì de kèlóng
Comment[zh-TW]=Microsoft® Windows Zhùcè biǎo biānjí qì de kèlóng
Exec=regedit
Terminal=false
Type=Application
Icon=wine-regedit
Categories=Wine;
StartupWMClass=regedit.exe
