[Desktop Entry]
Name=Wine Wordpad
Name[ar]=                                                                 ﺩﺎﺑﺩﺭﻭ ،ﺮﻤﺨﻟﺍ
Name[bg]=Вино Wordpad
Name[ca]=Vi Wordpad
Name[cs]=víno Wordpad
Name[da]=Vin Wordpad
Name[de]=Wein Wordpad
Name[el]=Wordpad του κρασιού
Name[eo]=Vita Wordpad
Name[es]=Vino Wordpad
Name[fa]=                                                                  Wordpad ﺏﺍﺮﺷ
Name[fi]=Viini Wordpad
Name[fr]=Wordpad de vin
Name[he]=                                                                   WordPad ןיי
Name[hi]=शराब वर्डपैड
Name[hr]=vino WordPad
Name[hu]=bor Wordpad
Name[it]=Wordpad Vino
Name[ja]=ワインワードパッド
Name[ko]=와인 워드 패드
Name[lt]=Vyno Wordpad
Name[ml]=വൈൻ വേഡ്പാഡ്
Name[nl]=Wijn Wordpad
Name[pa]=ਵਾਈਨ ਵਰਡਪੇਡ
Name[pl]=Wino Wordpad
Name[pt]=Wordpad vinho
Name[pt@BR]=Wordpad vinho
Name[pt@PT]=Wordpad vinho
Name[ro]=Vindeca Wordpad
Name[ru]=Винный Wordpad
Name[sk]=víno Wordpade
Name[sl]=vino WordPad
Name[sr]=Вине Вордпад
Name[sr@Cyrl]=Вине Вордпад
Name[sr@Latn]=vino WordPad
Name[sv]=vin Wordpad
Name[te]=వైన్ వర్డ్ప్యాడ్
Name[th]=Wordpad ไวน์
Name[tr]=Şarap Wordpad
Name[uk]=Вино Wordpad
Name[zh]=葡萄酒写字板
Name[zh@CN]=葡萄酒写字板
Name[zh@TW]=葡萄酒寫字板
Comment=A clone of the Windows Wordpad Text Editor
Comment[ar]=                                                ﺩﺎﺑﺩﺭﻭﻭ ﺯﻭﺪﻨﻳﻭ ﺺﻧ ﺭﺮﺤﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клониране на текстовия редактор на 視窗 Wordpad
Comment[ca]=Un clon de l'editor de text de 視窗 Wordpad
Comment[cs]=Klon textového editoru 視窗 Wordpad
Comment[da]=En klon af 視窗 Wordpad Text Editor
Comment[de]=Ein Klon des 視窗 Wordpad Text Editors
Comment[el]=Ένας κλώνος του επεξεργαστή κειμένου του Wordpad των 視窗
Comment[eo]=Klonono de la Vindoza Teksto-redaktilo de Vindozo
Comment[es]=Un clon del editor de texto de Wordpad de 視窗
Comment[fa]=                                          ﺯﻭﺪﻨﯾﻭ ﺪﭘﺩﺭﻭ ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗 Wordpad Text Editorin klooni
Comment[fr]=Un clone de l'éditeur de texte 視窗 Wordpad
Comment[he]=                                        視窗 Wordpad לש טסקטה ךרוע לש טוביש
Comment[hi]=विंडोज वर्डपैड पाठ संपादक का एक क्लोन
Comment[hr]=Klon urednika teksta Wordpada u sustavu 視窗
Comment[hu]=A 視窗 Wordpad szövegszerkesztőjének klónja
Comment[it]=Un clone del Word Word Word Editor di testo
Comment[ja]=視窗のワードパッドテキストエディタのクローン
Comment[ko]=視窗 워드 패드 텍스트 편집기의 복제본
Comment[lt]=視窗 Wordpad teksto redagavimo klonas
Comment[ml]=視窗 Wordpad ടെക്സ്റ്റ് എഡിറ്ററിന്റെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de 視窗 Wordpad Text Editor
Comment[pa]=ਵਿੰਡੋਜ਼ ਵਰਡਪੇਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl]=Klon edytora tekstu systemu 視窗 Wordpad
Comment[pt]=Um clone do editor de texto do Word do 視窗
Comment[pt@BR]=Um clone do editor de texto do Word do 視窗
Comment[pt@PT]=Um clone do editor de texto do Word do 視窗
Comment[ro]=O clonă a editorului de text Wordpad din 視窗
Comment[ru]=Клон текстового редактора 視窗 Wordpad
Comment[sk]=Klon textového editora 視窗 Wordpad
Comment[sl]=Klon urejevalnika besedil 視窗 Wordpad
Comment[sr]=Клон Виндовс Вордпад Тект Едитор
Comment[sr@Cyrl]=Клон Виндовс Вордпад Тект Едитор
Comment[sr@Latn]=Klon 視窗 Wordpad Text Editor
Comment[sv]=En klon i 視窗 Wordpad Text Editor
Comment[te]=視窗 Wordpad టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th]=โคลนของตัวแก้ไขข้อความของ 視窗 Wordpad
Comment[tr]=視窗 Wordpad Metin Düzenleyicisi'nin bir kopyası
Comment[uk]=Клон текстового редактора 視窗 Wordpad
Comment[zh]=視窗 Wordpad文本编辑器的克隆
Comment[zh@CN]=視窗 Wordpad文本编辑器的克隆
Comment[zh@TW]=視窗 Wordpad文本編輯器的克隆
Exec=wine wordpad %f
Terminal=false
Type=Application
Icon=wine-wordpad
Categories=Wine;
