[Desktop Entry]
Name=Wine Internet Explorer
Name[ar]=Wine ﺭﺭﻮﻠﺒﺴﻛﺇ ﺖﻧﺮﺘﻧﺇ
Name[bg]=Wine Internet Explorer
Name[ca]=Wine Internet Explorer
Name[cs]=Wine Internet Explorer
Name[da]=Wine Internet Explorer
Name[de]=Wine Internet Explorer
Name[el]=Wine Internet Explorer
Name[eo]=Wine Interreto Explorer
Name[es]=Wine Internet Explorer
Name[fa]=ﺭﺭﻮﻠﭙﺴﮐﺍ ﺖﻧﺮﺘﻨﯾﺍ Wine
Name[fi]=Wine Internet Explorer
Name[fr]=Wine Internet Explorer
Name[he]=Wine
Name[hi]=Wine इंटरनेट एक्सप्लोरर
Name[hr]=Wine Internet Explorer
Name[hu]=Wine Internet Explorer
Name[it]=Wine Internet Explorer
Name[ja]=Wine Intānettoekusupurōrā
Name[ko]=Wine 인터넷 익스플로러
Name[lt]=Wine "Internet Explorer"
Name[ml]=Wine ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ
Name[nl]=Wine Internet Explorer
Name[pa]=Wine ਇੰਟਰਨੈੱਟ ਐਕਸਪਲੋਰਰ
Name[pl]=Wine Internet Explorer
Name[pt]=Wine Internet Explorer
Name[pt-BR]=Wine Internet Explorer
Name[pt-PT]=Wine Internet Explorer
Name[ro]=Wine Internet Explorer
Name[ru]=Wine Internet Explorer
Name[sk]=Wine Internet Explorer
Name[sl]=Wine Internet Explorer
Name[sr]=Wine Интернет Екплорер
Name[sr-Cyrl]=Wine Интернет Екплорер
Name[sr-Latn]=Wine Internet Explorer
Name[sv]=Wine Internet Explorer
Name[te]=Wine ఇంటర్నెట్ ఎక్స్ప్లోరర్
Name[th]=Wine Internet Explorer
Name[tr]=Wine Internet Explorer
Name[uk]=Wine Internet Explorer
Name[zh]=Wine的Internet Explorer
Name[zh-CN]=Wine的Internet Explorer
Name[zh-TW]=Wine的Internet Explorer
Comment=Builtin clone of Microsoft® Windows Internet Explorer®
Comment[ar]=ﺭﺭﻮﻠﺒﺴﻛﺇ ﺖﻧﺮﺘﻧﻹ﻿ﺍ Windows Microsoft® ﻦﻣ ﺞﻣﺪﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Вграден клонинг на Microsoft® Windows Internet Explorer®
Comment[ca]=clon d'ordre interna Microsoft® Windows Internet Explorer
Comment[cs]=Vestavěný klon Microsoft® Windows Internet Explorer®
Comment[da]=Indbygget klon af Microsoft® Windows Internet Explorer
Comment[de]=Eingebauter Klon von Microsoft® Windows Internet Explorer®
Comment[el]=Ενσωματωμένος κλώνος Microsoft® Windows Internet Explorer®
Comment[eo]=Builtin clon de Microsoft® Windows Interreto Explorer®
Comment[es]=clon de orden interna Microsoft® Windows Internet Explorer
Comment[fa]=ﺭﺭﻮﻠﭙﺴﮐﺍ ﺖﻧﺮﺘﻨﯾﺍ Windows Microsoft® ﺯﺍ ﯽﻠﺧﺍﺩ ﻥﻮﻠﮐ
Comment[fi]=Rakennettu klooni Microsoft® Windows Internet Explorer®
Comment[fr]=Clone intégré de Microsoft® Windows Internet Explorer®
Comment[he]=®Internet Explorer Windows Microsoft® לש הנבומ טוביש
Comment[hi]=Microsoft® Windows इंटरनेट एक्सप्लोरर® के अंतर्निहित क्लोन
Comment[hr]=Ugrađeni klon Microsoft® Windows Internet Explorer®
Comment[hu]=Beépített klón Microsoft® Windows Internet Explorer®
Comment[it]=clone Builtin di Microsoft® Windows Internet Explorer
Comment[ja]=Microsoft® No kumikomi kurōn Windows intānettoekusupurōrā ®
Comment[ko]=Microsoft®의 내장 클론 Windows Internet Explorer®
Comment[lt]=Built-in Microsoft® Windows klonas "Internet Explorer®"
Comment[ml]=ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ® Microsoft® Windows ബിൽട്ടിൻ ക്ലോൺ
Comment[nl]=Builtin kloon van Microsoft® Windows Internet Explorer
Comment[pa]=Microsoft® Windows ਇੰਟਰਨੈਟ ਐਕਸਪਲੋਰਰ ਦੇ ਬਿਲਟਿਨ ਕਲੋਨ
Comment[pl]=Wbudowany klon Microsoft® Windows Internet Explorer®
Comment[pt]=clone Builtin de Microsoft® Windows Internet Explorer
Comment[pt-BR]=clone Builtin de Microsoft® Windows Internet Explorer
Comment[pt-PT]=clone Builtin de Microsoft® Windows Internet Explorer
Comment[ro]=Clona construită de Microsoft® Windows Internet Explorer®
Comment[ru]=Встроенный клон Microsoft® Windows Internet Explorer®
Comment[sk]=Zabudovaný klon Microsoft® Windows Internet Explorer®
Comment[sl]=Vgrajeni klon Microsoft® Windows Internet Explorer®
Comment[sr]=Уграђени клон Microsoft® Windows Интернет Екплорер®
Comment[sr-Cyrl]=Уграђени клон Microsoft® Windows Интернет Екплорер®
Comment[sr-Latn]=Ugrađeni klon Microsoft® Windows Internet Explorer®
Comment[sv]=Inbyggt klon av Microsoft® Windows Internet Explorer
Comment[te]=ఇంటర్నెట్ ఎక్స్ప్లోరర్ ® Microsoft® Windows యొక్క బిల్టిలిన్ క్లోన్
Comment[th]=โคลนในตัวของ Microsoft® Windows Internet Explorer®
Comment[tr]=Microsoft® Windows Internet Explorer®'ın yerleşik klonu
Comment[uk]=Вбудований клон Microsoft® Windows Internet Explorer®
Comment[zh]=内部克隆Microsoft® Windows InternetExplorer®
Comment[zh-CN]=内部克隆Microsoft® Windows InternetExplorer®
Comment[zh-TW]=內部克隆Microsoft® Windows InternetExplorer®
Exec=wine iexplore.exe %U
Terminal=false
Type=Application
Icon=wine-iexplore
Categories=X-Wine;
