[Desktop Entry]
Name=Wine Command interpreter
Name[ar]=ﺮﻣﺍﻭﻷ﻿ﺍ ﻢﺟﺮﺘﻣ Wine
Name[bg]=Wine Команден преводач
Name[ca]=Intèrpret d'ordres del Wine
Name[cs]=Interpretace Winevého příkazu
Name[da]=Wine Kommando tolk
Name[de]=Winebefehlsinterpreter
Name[el]=Wine Διερμηνέας εντολών
Name[eo]=Wine Komandila interpretisto
Name[es]=intérprete de comandos de Wine
Name[fa]=Wine ﯽﻫﺪﻧﺎﻣﺮﻓ ﻢﺟﺮﺘﻣ
Name[fi]=Wine Komentotulkki
Name[fr]=interprète Wine Commande
Name[he]=תודוקפ םגרתמ Wine
Name[hi]=Wine कमांड इंटरप्रेटर
Name[hr]=Wine Zapovjedno tumač
Name[hu]=Wine Command tolmács
Name[it]=interprete dei comandi del Wine
Name[ja]=Wineコマンドインタープリタ
Name[ko]=Wine 명령 인터프리터
Name[lt]=Wine Komandos vertėjas
Name[ml]=Wine കമാൻഡ് ഇന്റർപ്രെട്ടർ
Name[nl]=Wine beveltolk
Name[pa]=Wine ਕਮਾਂਡ ਦੁਭਾਸ਼ੀਏ
Name[pl]=interpreter poleceń Wine
Name[pt]=interpretador de comandos Wine
Name[pt-BR]=interpretador de comandos Wine
Name[pt-PT]=interpretador de comandos Wine
Name[ro]=Comanda de Wine interpret
Name[ru]=Wine Командный интерпретатор
Name[sk]=Wine Príkazový tlmočník
Name[sl]=Wine Ukazni tolmač
Name[sr]=Wine Командни преводилац
Name[sr-Cyrl]=Wine Командни преводилац
Name[sr-Latn]=Wine Komandni tumač
Name[sv]=Wine Kommando tolk
Name[te]=Wine కమాండ్ ఇంటర్ప్రెటర్
Name[th]=ล่ามWineคำสั่ง
Name[tr]=Wine Komutanlığı tercüman
Name[uk]=Wine Командний перекладач
Name[zh]=Wine Mìnglìng jiěshì qì
Name[zh-CN]=Wine Mìnglìng jiěshì qì
Name[zh-TW]=Wine Mìnglìng jiěshì qì
Comment=Starts a new instance of the command interpreter CMD
Comment[ar]=CMD ﺮﻣﺍﻭﻷ﻿ﺍ ﻢﺟﺮﺘﻣ ﻦﻣ ﺪﻳﺪﺟ ﻞﻴﺜﻣ ﺃﺪﺒﻳ
Comment[bg]=Стартира ново копие на командния интерпретатор CMD
Comment[ca]=Inicia una nova instància de l'intèrpret d'ordres CMD
Comment[cs]=Spustí novou instanci příkazového interpretu CMD
Comment[da]=Starter en ny forekomst af kommandoen tolk CMD
Comment[de]=Startet eine neue Instanz des Befehlsinterpreters CMD
Comment[el]=Ξεκινάει μια νέα περίοδο λειτουργίας του διερμηνέα εντολών CMD
Comment[eo]=Komenciĝas nova ekzemplo de la komando interpretisto CMD
Comment[es]=Inicia una nueva instancia del intérprete de comandos CMD
Comment[fa]=CMD ﻥﺎﻣﺮﻓ ﺮﺴﻔﻣ ﺯﺍ ﺪﯾﺪﺟ ﻪﻧﻮﻤﻧ ﮏﯾ ﺩﻮﺷ ﯽﻣ ﻉﻭﺮﺷ
Comment[fi]=Käynnistää komentotulkki CMD: n uuden esiintymän
Comment[fr]=Démarre une nouvelle instance de l'interpréteur de commandes CMD
Comment[he]=CMD הדוקפה םגרתמ לש שדח עפומ תלעפה
Comment[hi]=कमांड इंटरप्रीटर सीएमडी की एक नई घटना शुरू करता है
Comment[hr]=Pokreće novu instancu naredbenog tumača CMD
Comment[hu]=A CMD parancsértelmező új példányát indítja el
Comment[it]=Avvia una nuova istanza dell'interprete dei comandi CMD
Comment[ja]=Komandointāpurita CMD no atarashī insutansu o kaishi shimasu.
Comment[ko]=명령 인터프리터 CMD의 새 인스턴스를 시작합니다.
Comment[lt]=Pradeda naują komandų vertėjo CMD egzempliorių
Comment[ml]=കമാൻഡ് ഇന്റർപ്രെറ്റർ സിഎംഡിയുടെ ഒരു പുതിയ ഉദാഹരണം ആരംഭിക്കുന്നു
Comment[nl]=Start een nieuw exemplaar van de opdrachtinterpreter CMD
Comment[pa]=ਕਮਾਂਡ ਇੰਟਰਪ੍ਰੇਟਰ ਸੀ.ਐਮ.ਡੀ. ਦਾ ਨਵਾਂ ਮੌਕਾ ਸ਼ੁਰੂ ਕਰਦਾ ਹੈ
Comment[pl]=Rozpoczyna się nowy egzemplarz interpretera poleceń CMD
Comment[pt]=Inicia uma nova instância do interpretador de comandos CMD
Comment[pt-BR]=Inicia uma nova instância do interpretador de comandos CMD
Comment[pt-PT]=Inicia uma nova instância do interpretador de comandos CMD
Comment[ro]=Începe o nouă instanță a interpretului de comandă CMD
Comment[ru]=Запускает новый экземпляр командного интерпретатора CMD
Comment[sk]=Spustí novú inštanciu príkazového tlmočníka CMD
Comment[sl]=Začne nov primerek ukaznega tolmača CMD
Comment[sr]=Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Cyrl]=Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Latn]=Pokreće novu instancu komandnog tumača CMD
Comment[sv]=Startar en ny instans av kommandotolken CMD
Comment[te]=కమాండ్ వ్యాఖ్యాత సిఎండి ఒక కొత్త ఉదాహరణకు మొదలవుతుంది
Comment[th]=Reìm xin s̄ tæn s̒ h̄ım̀ k̄hxng tạw pæl khả s̄ạ̀ng CMD
Comment[tr]=Komut yorumlayıcı CMD'nin yeni bir örneğini başlatır
Comment[uk]=Запускає новий екземпляр інтерпретатора команд CMD
Comment[zh]=Qǐdòng mìnglìng jiěshì qì CMD de xīn shílì
Comment[zh-CN]=Qǐdòng mìnglìng jiěshì qì CMD de xīn shílì
Comment[zh-TW]=Qǐdòng mìnglìng jiěshì qì CMD de xīn shílì
Exec=wine cmd.exe
Type=Application
Icon=wine-wcmd
Hidden=true
Categories=Wine;Wine-Programs-Accessories;
StartupWMClass=cmd.exe
