[Desktop Entry]
Name=Wine Wordpad
Name[ar]=ﺮﺘﻓﺪﻟﺍ Wine
Name[bg]=Wine Wordpad
Name[ca]=Wine Wordpad
Name[cs]=Wine Wordpad
Name[da]=Wine Wordpad
Name[de]=Wine Wordpad
Name[el]=Wine Wordpad
Name[eo]=Wine Wordpad
Name[es]=Wine Wordpad
Name[fa]=Wordpad Wine
Name[fi]=Wine Wordpad
Name[fr]=Wordpad de Wine
Name[he]=Wine ןבתכ
Name[hi]=Wine वर्डपैड
Name[hr]=Wine WordPad
Name[hu]=Wine Wordpad
Name[it]=Wordpad Wine
Name[ja]=Wineワードパッド
Name[ko]=Wine 워드 패드
Name[lt]=Wine Wordpad
Name[ml]=Wine വേഡ്പാഡ്
Name[nl]=Wine Wordpad
Name[pa]=Wine ਵਰਕਸਪੇਡ
Name[pl]=Wine Wordpad
Name[pt]=Wordpad Wine
Name[pt-BR]=Wordpad Wine
Name[pt-PT]=Wordpad Wine
Name[ro]=Winedeți Wordpad
Name[ru]=Wine Wordpad
Name[sk]=Wine Wordpade
Name[sl]=Wine WordPad
Name[sr]=Wine Вордпад
Name[sr-Cyrl]=Wine Вордпад
Name[sr-Latn]=Wine WordPad
Name[sv]=Wine Wordpad
Name[te]=Wine వర్డ్ప్యాడ్
Name[th]=Wordpad Wine
Name[tr]=Wine Wordpad
Name[uk]=Wine Wordpad
Name[zh]=Wine写字板
Name[zh-CN]=Wine写字板
Name[zh-TW]=Wine寫字板
Comment=A clone of the Microsoft® Windows Wordpad Text Editor
Comment[ar]=ﺮﺘﻓﺪﻟﺍ Windows Microsoft® ﺺﻧ ﺭﺮﺤﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на WordPress текстовия редактор Microsoft® Windows
Comment[ca]=Un clon de l'editor de text Microsoft® Windows Wordpad
Comment[cs]=Klon textového editoru WordPad Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Wordpad Tekst Redaktør
Comment[de]=Ein Klon des Microsoft® Windows Wordpad Text Herausgebers
Comment[el]=Ένας κλώνος του επεξεργαστή κειμένου Microsoft® Windows Wordpad
Comment[eo]=Al klono de la Microsoft® Windows Wordpad Teksto Redaktanto
Comment[es]=Un clon del editor de texto Microsoft® Windows Wordpad
Comment[fa]=ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺪﭘﺩﺭﻭ Windows Microsoft® ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Wordpad tekstieditori
Comment[fr]=Un clone de l'éditeur de texte Wordpad Microsoft® Windows
Comment[he]=ןבתכ Windows Microsoft® טסקט ךרוע לש טוביש
Comment[hi]=Microsoft® Windows़ वर्डपैड पाठ संपादक का एक क्लोन
Comment[hr]=Klon Microsoft® Windows Wordpad uređivač teksta
Comment[hu]=A klón a Microsoft® Windows Wordpad szövegszerkesztő
Comment[it]=Un clone di Microsoft® Windows redattore testi Wordpad
Comment[ja]=Microsoft® No kurōn Windows wādopaddotekisutoedita
Comment[ko]=Microsoft®의 복제본 Windows 워드 패드 텍스트 편집기
Comment[lt]=A Microsoft® Windows WordPad teksto redaktoriuje klonas
Comment[ml]=Microsoft® Windows വേഡ്പാഡ് ടെക്സ്റ്റ് എഡിറ്ററിലെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de Wordpad-teksteditor Microsoft® Windows
Comment[pa]=Microsoft® Windows ਵਰਕਸਪੇਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon edytora tekstu WordPad w wersji Microsoft® Windows
Comment[pt]=Um clone do editor de Textoo Microsoft® Windows Wordpad
Comment[pt-BR]=Um clone do editor de Textoo Microsoft® Windows Wordpad
Comment[pt-PT]=Um clone do editor de Textoo Microsoft® Windows Wordpad
Comment[ro]=O clonă a editorului textpad WordPad Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Текстовый редактор Wordpad
Comment[sk]=Klon textového editora WordPad Microsoft® Windows
Comment[sl]=Klon od Microsoft® Windows WordPad Besedilo Urednik
Comment[sr]=Клон Microsoft® Windows Вордпад Тект Едитор
Comment[sr-Cyrl]=Клон Microsoft® Windows Вордпад Тект Едитор
Comment[sr-Latn]=Klon Microsoft® Windows Wordpad Tekst Urednik
Comment[sv]=En klon av Microsoft® Windows Wordpad Textredigeraren
Comment[te]=Microsoft® Windows Wordpad టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th]=Kholn k̄hxng Microsoft® Windows tạw kæ̂k̄hị k̄ĥxkhwām WordPad
Comment[tr]=Microsoft® Windows Wordpad Metin Düzenleyicisi'nin bir kopyası
Comment[uk]=Клон Microsoft® Windows Текстовий редактор Wordpad
Comment[zh]=Microsoft® Windows Xiězì bǎn wénběn biānjí qì de kèlóng
Comment[zh-CN]=Microsoft® Windows Xiězì bǎn wénběn biānjí qì de kèlóng
Comment[zh-TW]=Microsoft® Windows Xiě zì bǎn wénběn biānjí qì de kèlóng
Exec=wine wordpad %f
Terminal=false
Type=Application
Icon=wine-wordpad
Categories=Wine;
StartupWMClass=wordpad.exe
