[Desktop Entry]
Name = Wine File Browser
Name[ar] =                                                                                                                                                                                                                                                              ﺬﻴﺒﻨﻟﺍ ﻒﻠﻣ ﺢﻔﺼﺘﻣ
Name[bg] = Виртуален файлов браузър
Name[ca] = Navegador de fitxers de vi
Name[cs] = Prohlížeč souborů Wine
Name[da] = Vinfilbrowser
Name[de] = Wein Datei Browser
Name[el] = Πρόγραμμα περιήγησης αρχείων οίνου
Name[eo] = Vino Dosieradministrilo
Name[es] = Navegador de archivos de vino
Name[fa] =                                                                                                                                                                                                                                                            ﺏﺍﺮﺷ ﻩﺪﻧﻭﺮﭘ ﺮﮔﺭﻭﺮﻣ
Name[fi] = Viinitiedosto
Name[fr] = Navigateur de fichiers vin
Name[he] =                                                                                                                                                                                                                                                               ןייה ץבוק ןפדפד
Name[hi] = शराब फ़ाइल ब्राउज़र
Name[hr] = Preglednik datoteka za vino
Name[hu] = Bor File Browser
Name[it] = Browser file vino
Name[ja] = ワインファイルブラウザ
Name[ko] = 와인 파일 브라우저
Name[lt] = Vyno failų naršyklė
Name[ml] = വൈൻ ഫയൽ ബ്രൌസർ
Name[nl] = Wijn File Browser
Name[pa] = ਵਾਈਨ ਫਾਇਲ ਬਰਾਊਜ਼ਰ
Name[pl] = Przeglądarka plików wina
Name[pt] = Navegador de arquivos de vinho
Name[pt-BR] = Navegador de arquivos de vinho
Name[pt-PT] = Navegador de arquivos de vinho
Name[ro] = Fișier de vin Browser
Name[ru] = Винный файловый браузер
Name[sk] = Prehliadač súborov vína
Name[sl] = Brskalnik vino datoteke
Name[sr] = Вине Филе Бровсер
Name[sr-Cyrl] = Вине Филе Бровсер
Name[sr-Latn] = Vino File Browser
Name[sv] = Vinfilbrowser
Name[te] = వైన్ ఫైల్ బ్రౌజర్
Name[th] = เบราเซอร์ไฟล์ไวน์
Name[tr] = Şarap Dosya Tarayıcısı
Name[uk] = Браузер Wine File
Name[zh] = 酒文件浏览器
Name[zh-CN] = 酒文件浏览器
Name[zh-TW] = 酒文件瀏覽器
Comment = A clone of Windows Explorer
Comment[ar] = A ﺯﻭﺪﻨﻳﻭ ﻒﺸﻜﺘﺴﻣ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонинг на Windows Explorer
Comment[ca] = Un clon de l'Explorador de Windows
Comment[cs] = Klon programu Průzkumník Windows
Comment[da] = En klon af Windows Stifinder
Comment[de] = Ein Klon von Windows Explorer
Comment[el] = Ένας κλώνος της Εξερεύνησης των Windows
Comment[eo] = Klono de Windows Explorer
Comment[es] = Un clon de Windows Explorer
Comment[fa] =                                                                                                                                                                                                                                                    ﺭﺭﻮﻠﭙﺴﮐﺍ ﺯﻭﺪﻨﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Resurssienhallinnassa
Comment[fr] = Un clone de l'Explorateur Windows
Comment[he] =                                                                                                                                                                                                                                                         Windows רייס לש טוביש
Comment[hi] = विंडोज एक्सप्लोरर का क्लोन
Comment[hr] = Klon Windows Explorer
Comment[hu] = A Windows Intéző egy klónja
Comment[it] = Un clone di Esplora risorse di Windows
Comment[ja] = U~indōzu ekusupurōra no kurōn
Comment[ko] = Windows 탐색기의 복제본
Comment[lt] = "Windows Explorer" klonas
Comment[ml] = വിൻഡോസ് എക്സ്പ്ലോററിലെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van Windows Verkenner
Comment[pa] = ਵਿੰਡੋ ਐਕਸਪਲੋਰਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl] = Klon Eksploratora Windows
Comment[pt] = Um clone do Windows Explorer
Comment[pt-BR] = Um clone do Windows Explorer
Comment[pt-PT] = Um clone do Windows Explorer
Comment[ro] = O clonă de Windows Explorer
Comment[ru] = Клон Windows Explorer
Comment[sk] = Klon Windows Explorer
Comment[sl] = Klon Raziskovalca
Comment[sr] = Клон Виндовс Екплорер-а
Comment[sr-Cyrl] = Клон Виндовс Екплорер-а
Comment[sr-Latn] = Klon Windows Explorer-a
Comment[sv] = En klon i Windows Explorer
Comment[te] = విండోస్ ఎక్స్ప్లోరర్ యొక్క క్లోన్
Comment[th] = โคลนของ Windows Explorer
Comment[tr] = Windows Gezgini bir klonu
Comment[uk] = Клон Проводника Windows
Comment[zh] = Windows资源管理器的克隆
Comment[zh-CN] = Windows资源管理器的克隆
Comment[zh-TW] = Windows資源管理器的克隆
Exec = winefile
Terminal = false
Type = Application
Icon = wine-winefile
Categories = X-Wine;
