[Desktop Entry]
Name = Wine Control
Name[ar] =                                                                                                                                                                                                                                                                ﺓﺮﻄﻴﺴﻟﺍ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Контрол на виното
Name[ca] = Control del vi
Name[cs] = Kontrola vína
Name[da] = Vin kontrol
Name[de] = Weinkontrolle
Name[el] = Έλεγχος οίνου
Name[eo] = Vina Kontrolo
Name[es] = Control del vino
Name[fa] =                                                                                                                                                                                                                                                                    ﺏﺍﺮﺷ ﻝﺮﺘﻨﮐ
Name[fi] = Viininvalvonta
Name[fr] = Contrôle du vin
Name[he] =                                                                                                                                                                                                                                                                      ןיי תרקב
Name[hi] = शराब नियंत्रण
Name[hr] = Kontrola vina
Name[hu] = bor vezérlés
Name[it] = Controllo del vino
Name[ja] = ワインコントロール
Name[ko] = 와인 컨트롤
Name[lt] = Vyno valdymas
Name[ml] = വീഞ്ഞ് നിയന്ത്രണം
Name[nl] = Wijn controle
Name[pa] = ਵਾਈਨ ਨਿਯੰਤਰਣ
Name[pl] = Kontrola wina
Name[pt] = Controle do vinho
Name[pt-BR] = Controle do vinho
Name[pt-PT] = Controle do vinho
Name[ro] = Controlul vinului
Name[ru] = Контроль вина
Name[sk] = Ovládanie vína
Name[sl] = vino Control
Name[sr] = Вине Цонтрол
Name[sr-Cyrl] = Вине Цонтрол
Name[sr-Latn] = vino Control
Name[sv] = Vinkontroll
Name[te] = వైన్ కంట్రోల్
Name[th] = การควบคุมไวน์
Name[tr] = Şarap Kontrolü
Name[uk] = Винний контроль
Name[zh] = 酒控制
Name[zh-CN] = 酒控制
Name[zh-TW] = 酒控制
Comment = A clone of the Microsoft® Windows Control Panel
Comment[ar] =                                                                                                                                                                                                                                           ﺯﻭﺪﻨﻳﻭ ®Microsoft ﻢﻜﺤﺗ ﺔﺣﻮﻟ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg] = Клонинг на контролния панел на Microsoft® Windows
Comment[ca] = Un clon del tauler de control de Microsoft ® Windows
Comment[cs] = Klon ovládacího panelu Microsoft® Windows
Comment[da] = En klon i Microsoft® Windows Kontrolpanel
Comment[de] = Ein Klon der Microsoft® Windows-Systemsteuerung
Comment[el] = Ένας κλώνος του Πίνακα Ελέγχου Microsoft® Windows
Comment[eo] = Klono de la Panelo Kontrolo de Windows de Microsoft®
Comment[es] = Un clon del Panel de control de Microsoft® Windows
Comment[fa] =                                                                                                                                                                                                                                       ﻞﻨﭘ ﻝﺮﺘﻨﮐ ﺯﻭﺪﻨﯾﻭ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﺯﻭﺪﻨﯾﻭ ﻥﻮﻠﮐ
Comment[fi] = Microsoft® Windowsin ohjauspaneelin klooni
Comment[fr] = Un clone du Panneau de configuration Microsoft® Windows
Comment[he] =                                                                                                                                                                                                                                      Microsoft® Windows לש הרקבה חול לש לופכש
Comment[hi] = माइक्रोसॉफ्ट विंडोज नियंत्रण कक्ष का एक क्लोन
Comment[hr] = Klon upravljačke ploče sustava Microsoft® Windows
Comment[hu] = A Microsoft® Windows Vezérlőpult egy klónja
Comment[it] = Un clone del Pannello di controllo di Windows Microsoft
Comment[ja] = Makurosofuto ® u~indōzu no kontorōrupaneru no kurōn
Comment[ko] = 는 Microsoft® 윈도우 제어판의 복제
Comment[lt] = A "Microsoft Windows" valdymo skyde klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് ® വിൻഡോസ് നിയന്ത്രണ പാനലിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van het Microsoft® Windows-configuratiescherm
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ® ਵਿੰਡੋ ਕੰਟਰੋਲ ਪੈਨਲ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon Panelu sterowania systemu Windows Microsoft
Comment[pt] = Um clone do painel de controle Microsoft® Windows
Comment[pt-BR] = Um clone do painel de controle Microsoft® Windows
Comment[pt-PT] = Um clone do painel de controle Microsoft® Windows
Comment[ro] = O clonă a panoului de control Microsoft® Windows
Comment[ru] = Клон панели управления Microsoft® Windows
Comment[sk] = Klon ovládacieho panela Microsoft® Windows
Comment[sl] = Klon nadzorne plošče Microsoft® Windows
Comment[sr] = Клон контролне табле Мицрософт® Виндовс
Comment[sr-Cyrl] = Клон контролне табле Мицрософт® Виндовс
Comment[sr-Latn] = Klon kontrolne table Microsoft® Windows
Comment[sv] = En klon i Microsoft® Windows Kontrollpanel
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ కంట్రోల్ ప్యానెల్ యొక్క క్లోన్
Comment[th] = โคลนของแผงควบคุม Windows Microsoft®
Comment[tr] = Microsoft® Windows Denetim Masası'nın bir kopyası
Comment[uk] = Клон панелі керування Microsoft® Windows
Comment[zh] = Microsoft®Windows控制面板的克隆
Comment[zh-CN] = Microsoft®Windows控制面板的克隆
Comment[zh-TW] = Microsoft®Windows控制面板的克隆
Exec = wine control.exe
Terminal = false
Type = Application
Icon = control-wine
Categories = X-Wine;
