[Desktop Entry]
Name=Wine Command interpreter
Name[ar]=ﺮﻣﺍﻭﻷ﻿ﺍ ﻢﺟﺮﺘﻣ Wine
Name[bg]=Wine Команден преводач
Name[ca]=Wine Intèrpret d'ordres
Name[cs]=Wine Příkazový interpret
Name[da]=Wine Kommandotolker
Name[de]=Wine Befehlsinterpreter
Name[el]=Wine Διερμηνέας εντολών
Name[eo]=Wine Komandila interpretisto
Name[es]=Wine intérprete de comandos
Name[fa]=ﯽﻫﺪﻧﺎﻣﺮﻓ ﻢﺟﺮﺘﻣ Wine
Name[fi]=Wine Komentotulkki
Name[fr]=Wine Interprète de commande
Name[he]=תודוקפ םגרתמ Wine
Name[hi]=Wine कमांड इंटरप्रेटर
Name[hr]=Wine Zapovjedno tumač
Name[hu]=Wine Command tolmács
Name[it]=Wine Interprete di comando
Name[ja]=Wineコマンドインタープリタ
Name[ko]=Wine 명령 인터프리터
Name[lt]=Wine Komandos vertėjas
Name[ml]=Wine കമാൻഡ് ഇന്റർപ്രെട്ടർ
Name[nl]=Wine beveltolk
Name[pa]=Wine ਕਮਾਂਡ ਦੁਭਾਸ਼ੀਏ
Name[pl]=Wine Interpreter poleceń
Name[pt]=Wine Interpretador de comandos
Name[pt-BR]=Wine Interpretador de comandos
Name[pt-PT]=Wine Interpretador de comandos
Name[ro]=Wine Traducător de comandă
Name[ru]=Wine Командный интерпретатор
Name[sk]=Wine Príkazový tlmočník
Name[sl]=Wine Ukazni tolmač
Name[sr]=Wine Командни преводилац
Name[sr-Cyrl]=Wine Командни преводилац
Name[sr-Latn]=Wine Komandni tumač
Name[sv]=Wine Kommandotolk
Name[te]=Wine కమాండ్ ఇంటర్ప్రెటర్
Name[th]=Wine ล่ามคำสั่ง
Name[tr]=Wine Komut yorumlayıcısı
Name[uk]=Wine Командний перекладач
Name[zh]=Wine命令解释器
Name[zh-CN]=Wine命令解释器
Name[zh-TW]=Wine命令解釋器
Comment=Starts a new instance of the command interpreter CMD
Comment[ar]=CMD ﺮﻣﺍﻭﻷ﻿ﺍ ﻢﺟﺮﺘﻣ ﻦﻣ ﺪﻳﺪﺟ ﻞﻴﺜﻣ ﺃﺪﺒﻳ
Comment[bg]=Стартира ново копие на командния интерпретатор CMD
Comment[ca]=Inicia una nova instància de l'intèrpret d'ordres CMD
Comment[cs]=Spustí novou instanci příkazového interpretu CMD
Comment[da]=Starter en ny forekomst af kommandostolken CMD
Comment[de]=Startet eine neue Instanz des Befehlsinterpreters CMD
Comment[el]=Ξεκινά μια νέα παρουσία του ερμηνευτή εντολών CMD
Comment[eo]=Komencas novan petskribon de la komand-interpretisto CMD
Comment[es]=Inicia una nueva instancia del intérprete de comandos CMD
Comment[fa]=CMD ﻥﺎﻣﺮﻓ ﺮﺴﻔﻣ ﺯﺍ ﺪﯾﺪﺟ ﻪﻧﻮﻤﻧ ﮏﯾ ﺩﻮﺷ ﯽﻣ ﻉﻭﺮﺷ
Comment[fi]=Käynnistää komentotulkki CMD: n uuden esiintymän
Comment[fr]=Démarre une nouvelle instance de l'interpréteur de commandes CMD
Comment[he]=CMD הדוקפה םגרתמ לש שדח עפומ תלעפה
Comment[hi]=कमांड इंटरप्रीटर सीएमडी की एक नई घटना शुरू करता है
Comment[hr]=Pokreće novu instancu naredbenog tumača CMD
Comment[hu]=A CMD parancsértelmező új példányát indítja el
Comment[it]=Avvia una nuova istanza dell'interprete dei comandi CMD
Comment[ja]=コマンドインタープリタCMDの新しいインスタンスを開始します。
Comment[ko]=명령 인터프리터 CMD의 새 인스턴스를 시작합니다.
Comment[lt]=Pradeda naują komandų vertėjo CMD egzempliorių
Comment[ml]=കമാൻഡ് ഇന്റർപ്രെറ്റർ സിഎംഡിയുടെ ഒരു പുതിയ ഉദാഹരണം ആരംഭിക്കുന്നു
Comment[nl]=Start een nieuw exemplaar van de opdrachtinterpreter CMD
Comment[pa]=ਕਮਾਂਡ ਇੰਟਰਪ੍ਰੇਟਰ ਸੀ.ਐਮ.ਡੀ. ਦਾ ਨਵਾਂ ਮੌਕਾ ਸ਼ੁਰੂ ਕਰਦਾ ਹੈ
Comment[pl]=Uruchamia nową instancję interpretera poleceń CMD
Comment[pt]=Inicia uma nova instância do interpretador de comandos CMD
Comment[pt-BR]=Inicia uma nova instância do interpretador de comandos CMD
Comment[pt-PT]=Inicia uma nova instância do interpretador de comandos CMD
Comment[ro]=Începe o nouă instanță a interpretului de comandă CMD
Comment[ru]=Запускает новый экземпляр командного интерпретатора CMD
Comment[sk]=Spustí novú inštanciu príkazového tlmočníka CMD
Comment[sl]=Začne nov primerek ukaznega tolmača CMD
Comment[sr]=Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Cyrl]=Покреће нову инстанцу командног тумача ЦМД
Comment[sr-Latn]=Pokreće novu instancu komandnog tumača CMD
Comment[sv]=Startar en ny instans av kommandotolken CMD
Comment[te]=కమాండ్ వ్యాఖ్యాత సిఎండి ఒక కొత్త ఉదాహరణకు మొదలవుతుంది
Comment[th]=เริ่มอินสแตนซ์ใหม่ของตัวแปลคำสั่ง CMD
Comment[tr]=Komut yorumlayıcı CMD'nin yeni bir örneğini başlatır
Comment[uk]=Запускає новий екземпляр інтерпретатора команд CMD
Comment[zh]=启动命令解释器CMD的新实例
Comment[zh-CN]=启动命令解释器CMD的新实例
Comment[zh-TW]=啟動命令解釋器CMD的新實例
Exec=wine cmd.exe
Type=Application
Icon=wine-wcmd
Hidden=true
Categories=Wine;
StartupWMClass=cmd.exe
