[Desktop Entry]
Name = Wine Internet Explorer
Name[ar] =                                                                                                                                                                                                                                                        ﺭﺭﻮﻠﺒﺴﻛﺇ ﺖﻧﺮﺘﻧﺇ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Вино Internet Explorer
Name[ca] = Vi Internet Explorer
Name[cs] = Víno Internet Explorer
Name[da] = Vin Internet Explorer
Name[de] = Wein Internet Explorer
Name[el] = Κρασί Internet Explorer
Name[eo] = Vino Interreta Esploristo
Name[es] = Vino Internet Explorer
Name[fa] =                                                                                                                                                                                                                                                         ﺭﺭﻮﻠﭙﺴﮐﺍ ﺖﻧﺮﺘﻨﯾﺍ ﺏﺍﺮﺷ
Name[fi] = Viini Internet Explorer
Name[fr] = Vin Internet Explorer
Name[he] =                                                                                                                                                                                                                                                                           ןיי
Name[hi] = शराब इंटरनेट एक्सप्लोरर
Name[hr] = Vino Internet Explorer
Name[hu] = Bor Internet Explorer
Name[it] = Vino Internet Explorer
Name[ja] = ワインのインターネットエクスプローラ
Name[ko] = 와인 인터넷 익스플로러
Name[lt] = Vyno "Internet Explorer"
Name[ml] = വൈൻ ഇന്റർനെറ്റ് എക്സ്പ്ലോറർ
Name[nl] = Wijn Internet Explorer
Name[pa] = ਵਾਈਨ ਇੰਟਰਨੈਟ ਐਕਸਪਲੋਰਰ
Name[pl] = Wino Internet Explorer
Name[pt] = Wine Internet Explorer
Name[pt-BR] = Wine Internet Explorer
Name[pt-PT] = Wine Internet Explorer
Name[ro] = Vin Internet Explorer
Name[ru] = Винный Internet Explorer
Name[sk] = Víno Internet Explorer
Name[sl] = Vino Internet Explorer
Name[sr] = Вине Интернет Екплорер
Name[sr-Cyrl] = Вине Интернет Екплорер
Name[sr-Latn] = Vino Internet Explorer
Name[sv] = Vin Internet Explorer
Name[te] = వైన్ ఇంటర్నెట్ ఎక్స్ప్లోరర్
Name[th] = ไวน์ Internet Explorer
Name[tr] = Şarap Internet Explorer
Name[uk] = Вино Internet Explorer
Name[zh] = 葡萄酒的Internet Explorer
Name[zh-CN] = 葡萄酒的Internet Explorer
Name[zh-TW] = 葡萄酒的Internet Explorer
Comment = Builtin clone of Microsoft® Windows Internet Explorer®
Comment[ar] =                                                                                                                                                                                                                           ®Explorer ﺖﻴﻧﺮﺘﻧﺇ ﺯﻭﺪﻨﻳﻭ ®Microsoft ﻦﻣ ﺞﻣﺪﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Вграден клонинг на Microsoft® Windows Internet Explorer®
Comment[ca] = clon d'ordre interna de Microsoft® Windows Internet Explorer
Comment[cs] = Zabudovaný klon Microsoft® Windows Internet Explorer®
Comment[da] = Indbygget klon af Microsoft® Windows Internet Explorer
Comment[de] = Eingebauter Klon von Microsoft® Windows Internet Explorer®
Comment[el] = Ενσωματωμένος κλώνος του Microsoft® Windows Internet Explorer®
Comment[eo] = Builtin clon de Microsoft® Windows Interreto Explorer®
Comment[es] = clon de orden interna de Microsoft® Windows Internet Explorer
Comment[fa] =                                                                                                                                                                                                                         ®Microsoft® Windows Internet Explorer ﺯﺍ Builtin ﻥﻮﻠﮐ
Comment[fi] = Sisäänrakennettu Microsoft® Windows Internet Explorer® -klooni
Comment[fr] = Clone intégré de Microsoft® Windows Internet Explorer®
Comment[he] =                                                                                                                                                                                                                          ®Microsoft® Windows Internet Explorer לש הנבומ טוביש
Comment[hi] = माइक्रोसॉफ्ट विंडोज इंटरनेट एक्सप्लोरर ® के अंतर्निर्मित क्लोन
Comment[hr] = Ugrađeni klon Microsoft® Windows Internet Explorer®
Comment[hu] = Beépített klónja Microsoft® Windows Internet Explorer
Comment[it] = clone Builtin di Microsoft® Windows Internet Explorer
Comment[ja] = Makurosofuto ® u~indōzu intānettoekusupurōrā ® no kumikomi kurōn
Comment[ko] = 마이크로 소프트 윈도우 인터넷 Explorer®와의 내장 복제
Comment[lt] = "Microsoft® Windows Internet Explorer®" sukurtas klonas
Comment[ml] = Microsoft® വിൻഡോസ് ഇന്റർനെറ്റ് എക്സപ്ലൊരെര്® എന്ന .ഇതു് ക്ലോൺ
Comment[nl] = Builtin kloon van Microsoft® Windows Internet Explorer
Comment[pa] = Microsoft® Windows ਨੂੰ ਇੰਟਰਨੈੱਟ ਦੀ Explorer® ਦੇ ਸ਼ਾਮਿਲ ਕਲੋਨ
Comment[pl] = Wbudowany klon systemu Microsoft® Windows Internet Explorer®
Comment[pt] = clone Builtin do Microsoft® Windows Internet Explorer
Comment[pt-BR] = clone Builtin do Microsoft® Windows Internet Explorer
Comment[pt-PT] = clone Builtin do Microsoft® Windows Internet Explorer
Comment[ro] = Clona creată de Microsoft® Windows Internet Explorer®
Comment[ru] = Встроенный клон Microsoft® Windows Internet Explorer®
Comment[sk] = Zabudovaný klon programu Microsoft® Windows Internet Explorer®
Comment[sl] = Vgrajen klon Microsoft® Windows Internet Explorer®
Comment[sr] = Уграђени клон Мицрософт® Виндовс Интернет Екплорер®
Comment[sr-Cyrl] = Уграђени клон Мицрософт® Виндовс Интернет Екплорер®
Comment[sr-Latn] = Ugradbeni klon Microsoft Windows Internet Explorer®
Comment[sv] = Inbyggt klon av Microsoft® Windows Internet Explorer
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ ఇంటర్నెట్ ఎక్స్ప్లోరర్ ® యొక్క బిల్లీన్ క్లోన్
Comment[th] = โคลน Builtin ของMicrosoft® Windows Internet Explorer®
Comment[tr] = Microsoft® Windows Internet Explorer®'ın yerleşik klonu
Comment[uk] = Вбудований клон Microsoft® Windows Internet Explorer®
Comment[zh] = 微软的Windows InternetExplorer®中的内置克隆
Comment[zh-CN] = 微软的Windows InternetExplorer®中的内置克隆
Comment[zh-TW] = 微軟的Windows InternetExplorer®中的內置克隆
Exec = wine iexplore.exe %U
Terminal = false
Type = Application
Icon = wine-iexplore
Categories = Wine;
