[Desktop Entry]
Name=Wine Minesweeper
Name[ar]=ﻡﺎﻐﻟﻷ﻿ﺍ ﺔﺴﻧﺎﻛ Wine
Name[bg]=Wine Миночистач
Name[ca]=Wine Buscamines
Name[cs]=Wine minového pole
Name[da]=Wine Minestryger
Name[de]=Winesweeper
Name[el]=Wine Ναρκαλιευτής
Name[eo]=Wine Minesweeper
Name[es]=Wine Buscaminas
Name[fa]=Wine ﻥﺪﻌﻣ ﻥﺪﻌﻣ
Name[fi]=Wine miinanraivaaja
Name[fr]=Wine Démineur
Name[he]=םישקומה הלוש Wine
Name[hi]=Wine माइनस्वीपर
Name[hr]=Wine Minolovac
Name[hu]=Wine Aknakereső
Name[it]=Wine Minesweeper
Name[ja]=Wine地雷除去
Name[ko]=Wine 지뢰 찾기
Name[lt]=Wine Išminuotojas
Name[ml]=Wine മൈൻസ്വൈപ്പർ
Name[nl]=Wine Mijnenveger
Name[pa]=Wine ਮੈਨਸਵੀਪਰ
Name[pl]=Wine Saper
Name[pt]=Wine Campo Minado
Name[pt-BR]=Wine Campo Minado
Name[pt-PT]=Wine Campo Minado
Name[ro]=Wine Minesweeper
Name[ru]=Wine Сапер
Name[sk]=Wine mínového poľa
Name[sl]=Wine Minolovec
Name[sr]=Wine Миноловац
Name[sr-Cyrl]=Wine Миноловац
Name[sr-Latn]=Wine Minolovac
Name[sv]=Wine minsveparen
Name[te]=Wine మైన్స్వీపర్
Name[th]=เครื่องกวาดหิมะWine
Name[tr]=Wine Mayın Tarlası
Name[uk]=Wine Сапер
Name[zh]=Wine扫雷艇
Name[zh-CN]=Wine扫雷艇
Name[zh-TW]=Wine掃雷艇
Comment=A clone of the Microsoft® Windows Minesweeper game
Comment[ar]=A clone of the Microsoft® Windows ﻡﺎﻐﻟﻷ﻿ﺍ ﺔﺤﺳﺎﻛ ﺔﺒﻌﻟ
Comment[bg]=Клонинг на игра на миночистач Microsoft® Windows
Comment[ca]=Un clon del joc de Buscamines Microsoft® Windows
Comment[cs]=Klon Microsoft® Windows Hledání min hry
Comment[da]=En klon af Microsoft® Windows Minestryger spil
Comment[de]=Ein Klon des Microsoft® Windows Sweeper Spiel
Comment[el]=Ένας κλώνος του Microsoft® Windows Ναρκαλιευτής παιχνίδι
Comment[eo]=Al klono de la Microsoft® Windows Minesweeper ludo
Comment[es]=Un clon del juego de Buscaminas Microsoft® Windows
Comment[fa]=ﻦﮐ ﻊﻤﺟ ﻦﯿﻣ ﯽﺘﺸﮐ Windows Microsoft® ﯼﺯﺎﺑ ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Minesweeper Peli
Comment[fr]=Un clone du jeu Microsoft® Windows Démineur
Comment[he]=םישקומה הלוש קחשמ Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows माइनस्वीपर गेम का क्लोन
Comment[hr]=Klon od Microsoft® Windows Minolovac igre
Comment[hu]=A klón a Microsoft® Windows Aknakereső játék
Comment[it]=Un clone del gioco del campo minato Microsoft® Windows
Comment[ja]=Jirai jokyo gēmu no kurōn Microsoft® Windows
Comment[ko]=Microsoft® Windows 지뢰 찾기 게임의 클론
Comment[lt]=A Microsoft® Windows Minesweeper žaidimo klonas
Comment[ml]=മൈനസ്വീപ്പർ ഗെയിമിന്റെ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van het spel Mijnenveger Microsoft® Windows
Comment[pa]=Microsoft® Windows ਮਾਈਨਸਪੀਪਰ ਗੇਮ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon Microsoft® Windows Saper gry
Comment[pt]=Um clone do Microsoft® Windows jogo de caça-minas
Comment[pt-BR]=Um clone do Microsoft® Windows jogo de caça-minas
Comment[pt-PT]=Um clone do Microsoft® Windows jogo de caça-minas
Comment[ro]=O clonă a jocului Minesweeper Microsoft® Windows
Comment[ru]=Игра Клон Microsoft® Windows Сапер
Comment[sk]=Klon Microsoft® Windows Hľadanie mín hry
Comment[sl]=Klon Microsoft® Windows igra minolovca
Comment[sr]=Клон игре Microsoft® Windows Минесвеепер
Comment[sr-Cyrl]=Клон игре Microsoft® Windows Минесвеепер
Comment[sr-Latn]=Klon Microsoft® Windows igra minolovača
Comment[sv]=En klon av Microsoft® Windows Röj spel
Comment[te]=మైన్ స్వీపర్ ఆట Microsoft® Windows యొక్క క్లోన్
Comment[th]=โคลนของ Microsoft® Windows เรือกวาดทุ่นระเบิดเกม
Comment[tr]=Microsoft® Windows Mayın Tarlası oyunu bir klonu
Comment[uk]=Клон гри Microsoft® Windows Сапер
Comment[zh]=Microsoft® Windows Sǎoléi yóuxì de kèlóng
Comment[zh-CN]=Microsoft® Windows Sǎoléi yóuxì de kèlóng
Comment[zh-TW]=Microsoft® Windows Sǎoléi yóuxì de kèlóng
Exec=winemine
Terminal=false
Type=Application
Icon=wine-winemine
Categories=Wine;Game;LogicGame;
StartupWMClass=winemine.exe
