[Desktop Entry]
Name = Wine Task Manager
Name[ar] =                                                                                                                                                                                                                                                           ﺬﻴﺒﻨﻟﺍ ﻡﺎﻬﻤﻟﺍ ﺓﺭﺍﺩﺇ
Name[bg] = Управител на задачите по виното
Name[ca] = Gerent de tasques del vi
Name[cs] = Správce úloh ve víně
Name[da] = Vin Jobliste
Name[de] = Wein-Task-Manager
Name[el] = Διαχειριστής εργασιών οίνου
Name[eo] = Vino Task Manager
Name[es] = Administrador de tareas de vino
Name[fa] =                                                                                                                                                                                                                                                               ﺏﺍﺮﺷ ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ
Name[fi] = Viini Task Manager
Name[fr] = Vin Gestionnaire des tâches
Name[he] =                                                                                                                                                                                                                                                             ןייה תומישמה להנמ
Name[hi] = शराब कार्य प्रबंधक
Name[hr] = Voditelj zadatka vina
Name[hu] = Bor Task Manager
Name[it] = Vino Task Manager
Name[ja] = ワインタスクマネージャ
Name[ko] = 와인 작업 관리자
Name[lt] = Vyno užduočių vadybininkas
Name[ml] = വൈൻ ടാസ്ക് മാനേജർ
Name[nl] = Wijn Task Manager
Name[pa] = ਵਾਈਨ ਟਾਸਕ ਮੈਨੇਜਰ
Name[pl] = Menedżer zadań Wine
Name[pt] = Wine Gerenciador de tarefas
Name[pt-BR] = Wine Gerenciador de tarefas
Name[pt-PT] = Wine Gerenciador de tarefas
Name[ro] = Vin Task Manager
Name[ru] = Диспетчер вин
Name[sk] = Správca úloh vína
Name[sl] = Upravitelj nalog vina
Name[sr] = Управитељ задужених за вино
Name[sr-Cyrl] = Управитељ задужених за вино
Name[sr-Latn] = Upravitelj zaduženih za vino
Name[sv] = Wine Task Manager
Name[te] = వైన్ టాస్క్ మేనేజర్
Name[th] = ที่ Task Manager ไวน์
Name[tr] = Şarap Görev Yöneticisi
Name[uk] = Wine Task Manager
Name[zh] = 葡萄酒任务管理器
Name[zh-CN] = 葡萄酒任务管理器
Name[zh-TW] = 葡萄酒任務管理器
Comment = A clone of Windows Task Manager
Comment[ar] =                                                                                                                                                                                                                                                     ﺯﻭﺪﻨﻳﻭ ﻡﺎﻬﻣ ﺓﺭﺍﺩﺇ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонът на диспечера на задачите на Windows
Comment[ca] = Un clon d'administrador de tasques de Windows
Comment[cs] = Klon Správce úloh systému Windows
Comment[da] = En klon af Windows Jobliste
Comment[de] = Ein Klon des Windows Task-Managers
Comment[el] = Ένας κλώνος του Task Manager των Windows
Comment[eo] = Klono de Windows Task Manager
Comment[es] = Un clon del Administrador de tareas de Windows
Comment[fa] =                                                                                                                                                                                                                                                        ﺯﻭﺪﻨﯾﻭ ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ ﻥﻮﻠﮐ
Comment[fi] = Windows Task Managerin klooni
Comment[fr] = Un clone de Windows Task Manager
Comment[he] =                                                                                                                                                                                                                                              Windows לש תומישמה להנמ לש טוביש
Comment[hi] = विंडोज टास्क प्रबंधक का एक क्लोन
Comment[hr] = Klon Windows Task Manager
Comment[hu] = A klón Windows Feladatkezelő
Comment[it] = Un clone di Task Manager di Windows
Comment[ja] = U~indōzu tasukumanēja no kurōn
Comment[ko] = Windows 작업 관리자의 복제본
Comment[lt] = "Windows" užduočių tvarkyklės klonas
Comment[ml] = വിൻഡോസ് ടാസ്ക് മാനേജർ ക്ലോൺ
Comment[nl] = Een kloon van Windows Task Manager
Comment[pa] = ਵਿੰਡੋ ਟਾਸਕ ਮੈਨੇਜਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon Menedżera zadań systemu Windows
Comment[pt] = Um clone do Gerenciador de Tarefas do Windows
Comment[pt-BR] = Um clone do Gerenciador de Tarefas do Windows
Comment[pt-PT] = Um clone do Gerenciador de Tarefas do Windows
Comment[ro] = O clonă de Windows Task Manager
Comment[ru] = Клон диспетчера задач Windows
Comment[sk] = Klon správcu úloh systému Windows
Comment[sl] = Klon upravitelja opravil programa Windows
Comment[sr] = Клон Виндовс Таск Манагер
Comment[sr-Cyrl] = Клон Виндовс Таск Манагер
Comment[sr-Latn] = Klon Windows Task Manager-a
Comment[sv] = En klon i Windows Task Manager
Comment[te] = విండోస్ టాస్క్ మేనేజర్ యొక్క క్లోన్
Comment[th] = โคลนของ Windows Task Manager
Comment[tr] = Windows Görev Yöneticisi bir klon
Comment[uk] = Клон диспетчера завдань Windows
Comment[zh] = Windows任务管理器的克隆
Comment[zh-CN] = Windows任务管理器的克隆
Comment[zh-TW] = Windows任務管理器的克隆
Exec = wine taskmgr.exe
Terminal = false
Type = Application
Icon = wine-taskmgr
Categories = Wine;
