[Desktop Entry]
Name=Wine Notepad
Name[ar]=ﺓﺮﻜﻔﻤﻟﺍ Wine
Name[bg]=Wine Бележник
Name[ca]=Wine Bloc de notes
Name[cs]=Wine Zápisník
Name[da]=Wine Notesblok
Name[de]=Wine Notizblock
Name[el]=Wine Σημειωματάριο
Name[eo]=Wine Notepad
Name[es]=Wine Bloc de notas
Name[fa]=ﺖﺷﺍﺩﺩﺎﯾ ﻪﭼﺮﺘﻓﺩ Wine
Name[fi]=Wine Muistio
Name[fr]=Wine Bloc-notes
Name[he]=תומישר סקנפ Wine
Name[hi]=Wine नोटपैड
Name[hr]=Wine Notepad
Name[hu]=Wine Jegyzettömb
Name[it]=Wine Blocco note
Name[ja]=Wineメモ帳
Name[ko]=Wine 메모장
Name[lt]=Wine Užrašų knygelė
Name[ml]=Wine നോട്ട്പാഡ്
Name[nl]=Wine Kladblok
Name[pa]=Wine ਨੋਟਪੈਡ
Name[pl]=Wine Notatnik
Name[pt]=Wine Bloco de Notas
Name[pt-BR]=Wine Bloco de Notas
Name[pt-PT]=Wine Bloco de Notas
Name[ro]=Wine Notepad
Name[ru]=Wine Блокнот
Name[sk]=Wine Poznámkový blok
Name[sl]=Wine Blagajna
Name[sr]=Wine Нотепад
Name[sr-Cyrl]=Wine Нотепад
Name[sr-Latn]=Wine Notepad
Name[sv]=Wine Anteckningsblock
Name[te]=Wine నోట్ప్యాడ్
Name[th]=Wine Notepad
Name[tr]=Wine Not Defteri
Name[uk]=Wine Блокнот
Name[zh]=Wine记事本
Name[zh-CN]=Wine记事本
Name[zh-TW]=Wine記事本
Comment=A clone of the Microsoft® Windows Notepad Text Editor
Comment[ar]=ﺓﺮﻜﻔﻤﻟﺍ ﺹﻮﺼﻧ ﺭﺮﺤﻣ Windows Microsoft® ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на текстовия редактор за бележки в Notepad Microsoft® Windows
Comment[ca]=Un clon de l'Editor de text del Bloc de notes Microsoft® Windows
Comment[cs]=Klon textového editoru Poznámkový blok Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Notesblok Tekst Redaktør
Comment[de]=Ein Klon des Microsoft® Windows Notepad Texteditor
Comment[el]=Ένας κλώνος του Microsoft® Windows Σημειωματάριο επεξεργαστή κειμένου
Comment[eo]=Klonono de la Microsoft® Windows Notepad-Teksto-redaktilo
Comment[es]=Una copia del editor de texto del Bloc de notas Microsoft® Windows
Comment[fa]=ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺖﺷﺍﺩﺩﺎﯾ ﻪﭼﺮﺘﻓﺩ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Notepad tekstieditori
Comment[fr]=Un clone du Microsoft® Windows Blocnotes
Comment[he]=תומישר סקנפ לש טסקט ךרוע Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows नोटपैड पाठ संपादक का एक क्लोन
Comment[hr]=Klon od Microsoft® Windows Notepad tekst editor
Comment[hu]=A Microsoft® Windows Jegyzettömb-szövegszerkesztő klónja
Comment[it]=Un clone di Microsoft® Windows redattore di blocchi di testo
Comment[ja]=Microsoft®のクローンWindowsメモ帳のテキストエディタ
Comment[ko]=Microsoft®의 복제본 Windows 메모장 텍스트 편집기
Comment[lt]=Microsoft® Windows Notepad teksto redaktoriaus klonas
Comment[ml]=നോട്ട്പാഡ് ടെക്സ്റ്റ് എഡിറ്റർ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de Kladblok-teksteditor Microsoft® Windows
Comment[pa]=Microsoft® Windows ਨੋਟਪੈਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon edytora tekstów Notatnika Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Notepad Texto editor
Comment[pt-BR]=Um clone do Microsoft® Windows Notepad Texto editor
Comment[pt-PT]=Um clone do Microsoft® Windows Notepad Texto editor
Comment[ro]=O clonă a Microsoft® Windows Notepad Text Editor
Comment[ru]=Клон Microsoft® Windows Текстовый редактор блокнота
Comment[sk]=Klon textovom editore Microsoft® Windows Poznámkový blok
Comment[sl]=Klon od Microsoft® Windows Beležnica Besedilo Urednik
Comment[sr]=Клон Microsoft® Windows Нотепад Тект Едитор
Comment[sr-Cyrl]=Клон Microsoft® Windows Нотепад Тект Едитор
Comment[sr-Latn]=Klon Microsoft® Windows Notepad Tekst Urednik
Comment[sv]=En klon av Microsoft® Windows Anteckningar Textredigeraren
Comment[te]=నోట్ప్యాడ్ టెక్స్ట్ ఎడిటర్ యొక్క Microsoft® Windows క్లోన్
Comment[th]=โคลนของ Microsoft® Windows ตัวแก้ไขข้อความ Notepad
Comment[tr]=Microsoft® Windows Not Defteri Metin Düzenleyici bir klon
Comment[uk]=Клон Текстовий редактор Microsoft® Windows Блокнот
Comment[zh]=Microsoft® Windows记事本文本编辑器的克隆
Comment[zh-CN]=Microsoft® Windows记事本文本编辑器的克隆
Comment[zh-TW]=Microsoft® Windows記事本文本編輯器的克隆
Exec=notepad %f
Terminal=false
Type=Application
Icon=wine-notepad
Categories=Wine;Wine-Programs-Accessories;
StartupWMClass=notepad.exe
