[Desktop Entry]
Name = Wine System-Boot
Name[ar] =                                                                                                                                                                                                                                                           ﺪﻴﻬﻤﺘﻟﺍ ﻡﺎﻈﻧ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Вино система-обувка
Name[ca] = Vi sistema d'arrencada
Name[cs] = Víno systém-Boot
Name[da] = Vin System-Boot
Name[de] = Wein System-Boot
Name[el] = Σύστημα κρασιού-Εκκίνηση
Name[eo] = Vina Sistemo-Boto
Name[es] = Vino sistema de arranque
Name[fa] =                                                                                                                                                                                                                                                                ﺕﻮﺑ ﻢﺘﺴﯿﺳ ﺏﺍﺮﺷ
Name[fi] = Viini-järjestelmä
Name[fr] = Système de vin-Boot
Name[he] =                                                                                                                                                                                                                                                              לוחתאה תכרעמ ןיי
Name[hi] = शराब सिस्टम-बूट
Name[hr] = Vinski sustav - čizma
Name[hu] = Bor Rendszer-Boot
Name[it] = Vino Sistema-Boot
Name[ja] = ワインシステム - ブート
Name[ko] = 와인 시스템 - 부팅
Name[lt] = Vyno sistemos paleidimas
Name[ml] = വൈൻ സിസ്റ്റം ബൂട്ട് ചെയ്യുക
Name[nl] = Wijnsysteem-Boot
Name[pa] = ਵਾਈਨ ਸਿਸਟਮ-ਬੂਟ
Name[pl] = Wino System-Boot
Name[pt] = Wine Sistema-Boot
Name[pt-BR] = Wine Sistema-Boot
Name[pt-PT] = Wine Sistema-Boot
Name[ro] = Vin System-Boot
Name[ru] = Винная система-загрузка
Name[sk] = Víno System-Boot
Name[sl] = Vino System-Boot
Name[sr] = Вине Систем-Боот
Name[sr-Cyrl] = Вине Систем-Боот
Name[sr-Latn] = Vino System-Boot
Name[sv] = Vin System-Boot
Name[te] = వైన్ సిస్టమ్-బూట్
Name[th] = ระบบไวน์ - รองเท้า
Name[tr] = Şarap Sistemi-Bot
Name[uk] = Винний системний завантаження
Name[zh] = 葡萄酒系统 - 引导
Name[zh-CN] = 葡萄酒系统 - 引导
Name[zh-TW] = 葡萄酒系統 - 引導
Comment = Simulate System-reboot / System-halt
Comment[ar] =                                                                                                                                                                                                                                          ﻒﻗﻭ ﻡﺎﻈﻧ / ﻞﻴﻐﺸﺘﻟﺍ ﺓﺩﺎﻋﺇ ﻡﺎﻈﻧ ﺓﺎﻛﺎﺤﻣ
Comment[bg] = Симулиране на рестартиране на системата / спиране на системата
Comment[ca] = Simula el sistema de reinici / sistema de detenció
Comment[cs] = Simulace systémového restartování / zastavení systému
Comment[da] = Simulere System-genstart / System-stop
Comment[de] = Simulieren Systemneustart / System-Stillstand
Comment[el] = Προσομοίωση συστήματος
Comment[eo] = Simuli Sistemo-reboot / Sistemo-halto
Comment[es] = Simular reinicio del sistema / detener el sistema
Comment[fa] =                                                                                                                                                                                                                                         System-reboot / System-halt ﯼﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi] = Simuloida System-uudelleenkäynnistystä / System-halt
Comment[fr] = Simuler le redémarrage du système / l'arrêt du système
Comment[he] =                                                                                                                                                                                                                                      רוצעל תכרעמ / תכרעמה לש שדחמ לוחתא תומדל
Comment[hi] = सिमुलेट सिस्टम-रिबूट / सिस्टम-हॉल्ट
Comment[hr] = Simulirajte ponovno podizanje sustava / zaustavljanje sustava
Comment[hu] = Szimulálják rendszer-újraindítás / Rendszer-megállt
Comment[it] = Simula riavvio del sistema / arresto del sistema
Comment[ja] = システム再起動/システム停止をシミュレートする
Comment[ko] = 시스템 재부팅 / 시스템 중지 시뮬레이션
Comment[lt] = Imituoti sistemos perkrovos / sistemos sustabdymą
Comment[ml] = സിസ്റ്റം റീബൂട്ട് ചെയ്യുക / സിസ്റ്റം-ഹോൾട്ട് ഉണ്ടാക്കുക
Comment[nl] = Simuleer systeem-reboot / systeem-stop
Comment[pa] = ਸਿਸਟਮ-ਰੀਬੂਟ / ਸਿਸਟਮ-ਰੋਕ ਨੂੰ ਸਮੂਲੇਟ ਕਰੋ
Comment[pl] = Symuluj ponowne uruchomienie systemu / zatrzymanie systemu
Comment[pt] = Simule o sistema de reinicialização / parada do sistema
Comment[pt-BR] = Simule o sistema de reinicialização / parada do sistema
Comment[pt-PT] = Simule o sistema de reinicialização / parada do sistema
Comment[ro] = Simulati Sistem-repornire / System-halt
Comment[ru] = Имитация перезагрузки системы / остановки системы
Comment[sk] = Simulácia systémového reštartu / zastavenia systému
Comment[sl] = Simulirajte System-restart / System-stop
Comment[sr] = Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Cyrl] = Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Latn] = Simulacija System-reboot / System-stop
Comment[sv] = Simulera System-omstart / Systemhalt
Comment[te] = సిస్టమ్-రీబూట్ / సిస్టమ్-హాల్ట్ను అనుకరించుము
Comment[th] = จำลองระบบการรีบูต / ระบบหยุดชะงัก
Comment[tr] = Sistem yeniden başlatma / Sistem durdurma simülasyonunu yapın
Comment[uk] = Імітувати системне перезавантаження / зупинення системи
Comment[zh] = 模拟系统重启/系统暂停
Comment[zh-CN] = 模拟系统重启/系统暂停
Comment[zh-TW] = 模擬系統重啟/系統暫停
Exec = wineboot
Terminal = false
Type = Application
Icon = mycomputer-wine
Categories = Wine;
