[Desktop Entry]
Name = Wine Windows Installer
Name[ar] =                                                                                                                                                                                                                                                          ﺯﻭﺪﻨﻳﻭ ﺖﺒﺜﻤﻟﺍ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Вино Windows Installer
Name[ca] = Instal·lador de finestres de vi
Name[cs] = Wine Instalační služba Windows Installer
Name[da] = Vin Windows Installer
Name[de] = Wein Windows Installer
Name[el] = Ο Windows Installer του οίνου
Name[eo] = Vina Fenestra Instalilo
Name[es] = Vino de Windows Installer
Name[fa] =                                                                                                                                                                                                                                                               ﺯﻭﺪﻨﯾﻭ ﺐﺼﻧ ﺏﺍﺮﺷ
Name[fi] = Viini Windows Installer
Name[fr] = Vin Windows Installer
Name[he] = Windows
Name[hi] = शराब विंडोज इंस्टालर
Name[hr] = Vino Windows Installer
Name[hu] = Boros Windows Installer
Name[it] = Vino Windows Installer
Name[ja] = Wain u~indōzu insutōra
Name[ko] = 와인의 Windows Installer
Name[lt] = "Wine" "Windows" diegimo programa
Name[ml] = വൈൻ വിൻഡോസിന്റെ ഇൻസ്റ്റാളർ
Name[nl] = Wijn Windows Installer
Name[pa] = ਵਾਈਨ ਵਿੰਡੋਜ਼ ਇੰਸਟਾਲਰ
Name[pl] = Wino Instalator Windows
Name[pt] = Windows Windows Installer
Name[pt-BR] = Windows Windows Installer
Name[pt-PT] = Windows Windows Installer
Name[ro] = Vin Windows Installer
Name[ru] = Установщик вин
Name[sk] = Wine Inštalátor systému Windows
Name[sl] = Namestitveni program Windows
Name[sr] = Вине Виндовс Инсталлер
Name[sr-Cyrl] = Вине Виндовс Инсталлер
Name[sr-Latn] = Vino Windows Installer
Name[sv] = Vin Windows Installer
Name[te] = వైన్ విండోస్ ఇన్స్టాలర్
Name[th] = ไวน์ Windows Installer
Name[tr] = Şarap Windows Installer
Name[uk] = Установник Wine для Windows
Name[zh] = Wine Windows安装程序
Name[zh-CN] = Wine Windows安装程序
Name[zh-TW] = Wine Windows安裝程序
Comment = Wine installer utility for MSI packages
Comment[ar] =                                                                                                                                                                                                                                                  ﻲﺴﻣ ﻡﺰﺤﻟ ﺓﺪﺋﺎﻓ ﺖﺒﺜﻤﻟﺍ ﺬﻴﺒﻨﻟﺍ
Comment[bg] = Помощна програма за инсталиране на вино за пакети MSI
Comment[ca] = Utilitat de l'instal·lador de vi per a paquets MSI
Comment[cs] = Nástroj pro instalaci WIN pro balíčky MSI
Comment[da] = Vininstallatørværktøj til MSI-pakker
Comment[de] = Wein-Installer-Dienstprogramm für MSI-Pakete
Comment[el] = Βοηθητικό πρόγραμμα εγκατάστασης οίνου για πακέτα MSI
Comment[eo] = Vino instalilo utileco por MSI pakaĵoj
Comment[es] = La utilidad de instalación de vino para paquetes MSI
Comment[fa] =                                                                                                                                                                                                                                              MSI ﯼﺎﻫ ﻪﺘﺴﺑ ﯼﺍﺮﺑ ﺏﺍﺮﺷ ﺐﺼﻧ ﺭﺍﺰﺑﺍ
Comment[fi] = Viinin asennusohjelma MSI-paketeille
Comment[fr] = Utilitaire d'installation de vin pour les packages MSI
Comment[he] =                                                                                                                                                                                                                                             MSI תוליבח רובע ןיי הנקתהה תינכות
Comment[hi] = एमएसआई पैकेजों के लिए शराब इंस्टॉलर उपयोगिता
Comment[hr] = Vino instalacijski program za MSI pakete
Comment[hu] = Bor telepítő segédprogram MSI csomagokhoz
Comment[it] = Programma di utilità di installazione di vino per i pacchetti MSI
Comment[ja] = MSIパッケージのワインインストーラユーティリティ
Comment[ko] = MSI 패키지 용 와인 설치 유틸리티
Comment[lt] = MSI paketų vyno įdiegimo programa
Comment[ml] = മാരുതി പാക്കേജുകൾ വേണ്ടി വൈൻ ഇൻസ്റ്റാളർ യൂട്ടിലിറ്റി
Comment[nl] = Wijninstallatieprogramma voor MSI-pakketten
Comment[pa] = ਕੰਪਨੀ ਪੈਕੇਜ ਲਈ ਵਾਈਨ ਇੰਸਟਾਲਰ ਸਹੂਲਤ
Comment[pl] = Narzędzie instalator win dla pakietów MSI
Comment[pt] = Utilitário de instalação do vinho para pacotes MSI
Comment[pt-BR] = Utilitário de instalação do vinho para pacotes MSI
Comment[pt-PT] = Utilitário de instalação do vinho para pacotes MSI
Comment[ro] = Utilitar de instalare de vin pentru pachete MSI
Comment[ru] = Утилита винной установки для пакетов MSI
Comment[sk] = Nástroj na inštaláciu vína pre balíky MSI
Comment[sl] = Namestitveni program za vinske instalacije za pakete MSI
Comment[sr] = Услужни програм за инсталацију вина за МСИ пакете
Comment[sr-Cyrl] = Услужни програм за инсталацију вина за МСИ пакете
Comment[sr-Latn] = Uslužni program za instaliranje vina za MSI pakete
Comment[sv] = Vininstallationsverktyg för MSI-paket
Comment[te] = ఎంఎస్ఐ ప్యాకేజెస కోసం వైన్ సంస్థాపకి వినియోగ
Comment[th] = ยูทิลิตี้การติดตั้งไวน์สำหรับแพคเกจของ MSI
Comment[tr] = MSI paketleri için şarap yükleyici programı
Comment[uk] = Вино інсталятор утиліта для пакетів MSI
Comment[zh] = 对于MSI软件包安装葡萄酒实用
Comment[zh-CN] = 对于MSI软件包安装葡萄酒实用
Comment[zh-TW] = 對於MSI軟件包安裝葡萄酒實用
Exec = wine msiexec /i %%f
Terminal = false
Type = Application
Icon = wine-msiexec
Categories = X-Wine;
