[Desktop Entry]
Name=Wine Configuration
Name[ar]=ﻦﻳﻮﻜﺘﻟﺍ Wine
Name[bg]=Wine Конфигурация
Name[ca]=Configuració del Wine
Name[cs]=Wine Konfigurace
Name[da]=Wine Konfiguration
Name[de]=Wine Konfiguration
Name[el]=Wine Διαμόρφωση
Name[eo]=Wine Agordo
Name[es]=Configuración del Wine
Name[fa]=Wine ﯼﺪﻨﺑﺮﮑﯿﭘ
Name[fi]=Wine Kokoonpano
Name[fr]=Configuration du Wine
Name[he]=הרוצת Wine
Name[hi]=Wine कॉन्फ़िगरेशन
Name[hr]=Wine Konfiguracija
Name[hu]=Winekonfiguráció
Name[it]=Configurazione del Wine
Name[ja]=Wineの設定
Name[ko]=Wine 구성
Name[lt]=Wine konfigūracija
Name[ml]=Wine കോൺഫിഗറേഷൻ
Name[nl]=Wine configuratie
Name[pa]=Wine ਸੰਰਚਨਾ
Name[pl]=Wine Konfiguracja
Name[pt]=Configuração Wine
Name[pt-BR]=Configuração Wine
Name[pt-PT]=Configuração Wine
Name[ro]=Configurarea Wineului
Name[ru]=Wine Конфигурация
Name[sk]=Wine Konfigurácia
Name[sl]=Wine Konfiguracija
Name[sr]=Wine Конфигурација
Name[sr-Cyrl]=Wine Конфигурација
Name[sr-Latn]=Wine Konfiguracija
Name[sv]=Winekonfiguration
Name[te]=Wine ఆకృతీకరణ
Name[th]=การกำหนดค่าWine
Name[tr]=Wine Konfigürasyonu
Name[uk]=Wine Конфігурація
Name[zh]=Wine Pèizhì
Name[zh-CN]=Wine Pèizhì
Name[zh-TW]=Wine Pèizhì
Comment=Change general Wine options and application overrides/options
Comment[ar]=ﺕﺍﺭﺎﻴﺨﻟﺍ / ﻖﻴﺒﻄﺘﻟﺍ ﺕﺍﺯﻭﺎﺠﺗﻭ ﺕﺍﺭﺎﻴﺧ Wine ﻡﺎﻋ ﺮﻴﻴﻐﺗ
Comment[bg]=Променете общите опции за Wineто и преименуването / опциите на приложенията
Comment[ca]=CanWineeu les opcions generals del Wine i les invalides / opcions d'aplicació
Comment[cs]=Změna možností obecně Wine a aplikace přepíše / možnosti
Comment[da]=Skift generelle Wineindstillinger og ansøgningsoverskridelser / muligheder
Comment[de]=Ändern Sie allgemeine Wine Optionen und Anwendungsüberschreibungen / Optionen
Comment[el]=Αλλαγή των επιλογών γενική Wine και εφαρμογή παρακάμψεις / επιλογές
Comment[eo]=Ŝanĝi ĝenerala Wine ebloj kaj aplikaĵaj forigoj / opcioj
Comment[es]=Cambiar las opciones de Wine en general y aplicación reemplaza / Opciones
Comment[fa]=ﺎﻫ ﻪﻨﯾﺰﮔ / ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻮﻐﻟ ﻭ Wine ﻪﻨﯾﺰﮔ ﯽﻠﮐ ﺮﯿﯿﻐﺗ
Comment[fi]=Muuta yleisiä Winevalintoja ja sovelluksen ohituksia / vaihtoehtoja
Comment[fr]=Modifier les options générales du Wine et Dérogations / options d'application
Comment[he]=תויצפוא / םימושיי לש תופיקעו תויורשפא Wine יללכ יוניש
Comment[hi]=सामान्य Wine विकल्प और एप्लिकेशन ओवरराइड / विकल्प बदलें
Comment[hr]=Promijenite opće opcije Wine i nadopune / opcije aplikacije
Comment[hu]=Változás általános Wine lehetőségek és alkalmazási felülbírálja / opciók
Comment[it]=Modificare le opzioni di Wine generali di utilizzo e overrides / opzioni
Comment[ja]=Ippan-tekina mono o henkō suru. Wine Opushon to apurikēshon'ōbāraido/ opushon
Comment[ko]=일반 Wine 옵션 및 응용 프로그램 재정의 / 옵션 변경
Comment[lt]=Pakeiskite bendrąsias Wine parinktis ir programų keitimus / parinktis
Comment[ml]=പൊതുവായ Wine ഓപ്ഷനുകളും അപ്ലിക്കേഷൻ ഓവർറൈഡുകളും ഓപ്ഷനുകളും മാറ്റുക
Comment[nl]=Wijzig algemene Wineopties en applicatie-opheffingen / opties
Comment[pa]=Āma Wine cōṇāṁ atē aipalīkēśana ōvararā'īḍaza/ vikalapa badalō
Comment[pl]=Zmień opcje ogólnego Wine i aplikacja zastępuje / opcje
Comment[pt]=Alterar as opções de Wine em geral e aplicativo substitui / opções
Comment[pt-BR]=Alterar as opções de Wine em geral e aplicativo substitui / opções
Comment[pt-PT]=Alterar as opções de Wine em geral e aplicativo substitui / opções
Comment[ro]=Schimbați opțiunile generale ale Wineului și suprascrierile / opțiunile aplicațiilor
Comment[ru]=Изменить общие параметры Wine и переопределения приложений / параметры
Comment[sk]=Zmeňte všeobecné Wine možnosti a prepísania / možnosti aplikácií
Comment[sl]=Spremenite splošne možnosti Wine in preglasitve / možnosti uporabe
Comment[sr]=Промените опште Wine опције и прелиминарне апликације / опције
Comment[sr-Cyrl]=Промените опште Wine опције и прелиминарне апликације / опције
Comment[sr-Latn]=Promenite opšte Wine opcije i preklapanje primjene / opcije
Comment[sv]=Ändra allmänna Wine alternativ och applikationsåsidosätter / alternativ
Comment[te]=Sādhāraṇa Wine empikalanu mariyu aplikēṣan ōvarraiḍlanu/ empikalanu mārcaṇḍi
Comment[th]=เปลี่ยนตัวเลือกWineทั่วไปและการแทนที่ / ตัวเลือกแอ็พพลิเคชัน
Comment[tr]=Genel Wine seçeneklerini ve uygulama geçersiz kılmalarını / seçeneklerini değiştir
Comment[uk]=Змініть загальні параметри та заміни додатків / опцій Wine
Comment[zh]=Gēnggǎi yībān Wine xuǎnxiàng hé yìngyòng chéngxù fùgài/xuǎnxiàng
Comment[zh-CN]=Gēnggǎi yībān Wine xuǎnxiàng hé yìngyòng chéngxù fùgài/xuǎnxiàng
Comment[zh-TW]=Gēnggǎi yībān Wine xuǎnxiàng hé yìngyòng chéngxù fùgài/xuǎnxiàng
Exec=winecfg
Terminal=false
Type=Application
Icon=wine-winecfg
Categories=Wine;Wine-Programs-Accessories;
StartupWMClass=winecfg.exe
