[Desktop Entry]
Name=Wine System-Boot
Name[ar]=Wine ﺪﻴﻬﻤﺘﻟﺍ ﻡﺎﻈﻧ
Name[bg]=Wine Зареждане на системата
Name[ca]=Wine sistema d'arrencada
Name[cs]=Wine systém-Boot
Name[da]=Wine System-Boot
Name[de]=Wine System-Boot
Name[el]=Wine Σύστημα-Εκκίνηση
Name[eo]=Wine Sistemo-Boto
Name[es]=Wine sistema de arranque
Name[fa]=ﺕﻮﺑ ﻢﺘﺴﯿﺳ Wine
Name[fi]=Wine System-Boot
Name[fr]=Wine système-Boot
Name[he]=Boot-תכרעמ Wine
Name[hi]=Wine सिस्टम-बूट
Name[hr]=Wine sustav-boot
Name[hu]=Wine Rendszer-Boot
Name[it]=Wine Sistema-Boot
Name[ja]=Wineシステム - ブート
Name[ko]=Wine 시스템 부팅
Name[lt]=Wine sistemos paleidimas
Name[ml]=സിസ്റ്റം-ബൂട്ടിന്റെ Wine
Name[nl]=Winesysteem-Boot
Name[pa]=Wine ਸਿਸਟਮ-ਬੂਟ
Name[pl]=Wine System-Boot
Name[pt]=Bota de Sistema de Wine
Name[pt-BR]=Bota de Sistema de Wine
Name[pt-PT]=Bota de Sistema de Wine
Name[ro]=Wine System-Boot
Name[ru]=Wine Системная загрузка
Name[sk]=Wine System-Boot
Name[sl]=Wine System-Boot
Name[sr]=Wine Систем-Боот
Name[sr-Cyrl]=Wine Систем-Боот
Name[sr-Latn]=Wine System-Boot
Name[sv]=Wine System-Boot
Name[te]=Wine సిస్టమ్-బూట్
Name[th]=ระบบWine - รองเท้า
Name[tr]=Wine Sistemi-Boot
Name[uk]=Wine Система-Boot
Name[zh]=Wine系统启动
Name[zh-CN]=Wine系统启动
Name[zh-TW]=Wine系統啟動
Comment=Simulate System-reboot / System-halt
Comment[ar]=ﻒﻗﻭ ،ﻡﺎﻈﻨﻟﺍ / ﺪﻴﻬﻤﺗ-ﻡﺎﻈﻧ ﺓﺎﻛﺎﺤﻣ
Comment[bg]=Симулира System-рестартиране / System-спиране
Comment[ca]=Simular Sistema reinici / Sistema-alt
Comment[cs]=Simulace systémového restartu / zastavení systému
Comment[da]=Simulere System-genstart / System-stop
Comment[de]=Simulieren Systemneustart / System-Stillstand
Comment[el]=Προσομοίωση συστήματος-επανεκκίνηση / διακοπή συστήματος
Comment[eo]=Simuli Sistemo-reboot / Sistemo-halto
Comment[es]=Simular Sistema reinicio / Sistema-alto
Comment[fa]=ﻒﻗﻮﺗ-ﻢﺘﺴﯿﺳ / ﺩﺪﺠﻣ ﯼﺯﺍﺪﻧﺍ ﻩﺍﺭ ﻢﺘﺴﯿﺳ ﯼﺯﺎﺳ ﻪﯿﺒﺷ
Comment[fi]=Simuloida System-uudelleenkäynnistystä / System-halt
Comment[fr]=Simuler système-reboot / System-arrêt
Comment[he]=הריצעל-System / שדחמ הלעפה-תכרעמ תומדל
Comment[hi]=सिमुलेट सिस्टम-रिबूट / सिस्टम-हॉल्ट
Comment[hr]=Simulacija sustava-ponovno podizanje / System-zaustavljanje
Comment[hu]=Szimulálják rendszer-újraindítás / Rendszer-megállt
Comment[it]=Simula riavvio del sistema / arresto del sistema
Comment[ja]=システム再起動/システム停止をシミュレートする
Comment[ko]=시스템 재부팅 / 시스템 중지 시뮬레이션
Comment[lt]=Imituoti sistemos paleidimo / sistemos sustabdymą
Comment[ml]=പ്രവർത്തിപ്പിക്കുക സിസ്റ്റം-റീബൂട്ട് / സിസ്റ്റം-മുടന്തർ
Comment[nl]=Simuleer systeem-reboot / systeem-stop
Comment[pa]=ਨਕਲ ਸਿਸਟਮ-ਮੁੜ-ਚਾਲੂ / ਸਿਸਟਮ-ਬੰਦ
Comment[pl]=Symuluj ponowne uruchomienie systemu / zatrzymanie systemu
Comment[pt]=Simular System-reinicialização / System-parada
Comment[pt-BR]=Simular System-reinicialização / System-parada
Comment[pt-PT]=Simular System-reinicialização / System-parada
Comment[ro]=Simulati Sistem-repornire / System-halt
Comment[ru]=Имитировать System-перезагрузка / System-привал
Comment[sk]=Simulácia systémového reštartu / zastavenia systému
Comment[sl]=Simulirajte System-restart / System-stop
Comment[sr]=Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Cyrl]=Симулирајте Систем-ребоот / Систем-стоп
Comment[sr-Latn]=Simulacija System-reboot / System-stop
Comment[sv]=Simulera System-omstart / Systemhalt
Comment[te]=సిస్టమ్-రీబూట్ / సిస్టమ్-హాల్ట్ను అనుకరించుము
Comment[th]=จำลองระบบการรีบูต / ระบบหยุดชะงัก
Comment[tr]=Sistem yeniden / Sistem durdurmak simüle
Comment[uk]=Імітувати System-перезавантаження / System-привал
Comment[zh]=Mónǐ xìtǒng chóngqǐ/xìtǒng zàntíng
Comment[zh-CN]=Mónǐ xìtǒng chóngqǐ/xìtǒng zàntíng
Comment[zh-TW]=Mónǐ xìtǒng chóngqǐ/xìtǒng zàntíng
Exec=wineboot
Terminal=false
Type=Application
Icon=mycomputer-wine
Categories=Wine;
StartupWMClass=wineboot.exe
