[Desktop Entry]
Name=Wine Software uninstaller
Name[ar]=ﺖﻴﺒﺜﺘﻟﺍ ءﺎﻐﻟﺇ ﺞﻣﺎﻧﺮﺑ Wine
Name[bg]=Wine софтуер за деинсталиране
Name[ca]=Desinstalador del programari del Wine
Name[cs]=Wine Odinstalování softwaru
Name[da]=Wine Software Uninstaller
Name[de]=Wine Software-Deinstallationsprogramm
Name[el]=Wine Λογισμικό απεγκατάστασης
Name[eo]=Wine Programaro malinstalilo
Name[es]=desinstalación de software de Wine
Name[fa]=ﻑﺬﺣ ﺭﺍﺰﻓﺍ ﻡﺮﻧ Wine
Name[fi]=Wine Ohjelmiston poisto
Name[fr]=Logiciel de Wine désinstalleur
Name[he]=הריסמ הנכות Wine
Name[hi]=Wine सॉफ़्टवेयर अनइंस्टॉलर
Name[hr]=Wine Uninstaller softvera
Name[hu]=Wine-eltávolító programot
Name[it]=programma di disinstallazione del software del Wine
Name[ja]=Wineソフトウェアアンインストーラ
Name[ko]=Wine 소프트웨어 제거
Name[lt]=Wine Programinės įrangos pašalinimo programa
Name[ml]=Wine സോഫ്റ്റ്വെയർ അൺഇൻസ്റ്റാളർ
Name[nl]=Wine Software uninstaller
Name[pa]=Wine ਸਾਫਟਵੇਅਰ Uninstaller
Name[pl]=Wine Deinstalator oprogramowania
Name[pt]=Wine Software desinstalador
Name[pt-BR]=Wine Software desinstalador
Name[pt-PT]=Wine Software desinstalador
Name[ro]=Software-ul program de dezinstalare de Wine
Name[ru]=Wine Программное обеспечение деинсталлятор
Name[sk]=Aplikácia na odinštalovanie softvéru pre Wine
Name[sl]=Odstranjevalec programske opreme za Wine
Name[sr]=Wine Унинсталлер софтвера
Name[sr-Cyrl]=Wine Унинсталлер софтвера
Name[sr-Latn]=Uninstaler softvera za Wine
Name[sv]=Wineprogramprocessor
Name[te]=Wine సాఫ్ట్వేర్ అన్ఇన్స్టాలర్
Name[th]=ถอนการติดตั้งซอฟแวร์Wine
Name[tr]=Wine Yazılımı kaldırıcı
Name[uk]=Wine Програмне забезпечення деинсталлятор
Name[zh]=Wine Ruǎnjiàn xièzài chéngxù
Name[zh-CN]=Wine Ruǎnjiàn xièzài chéngxù
Name[zh-TW]=Wine Ruǎnjiàn xièzài chéngxù
Comment=A clone of the Microsoft® Windows Add and Remove Programs Utility
Comment[ar]=ﺞﻣﺍﺮﺒﻟﺍ ﺔﻟﺍﺯﺇ ﺓﺍﺩﺃﻭ ﺔﻓﺎﺿﺇ Windows Microsoft® ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на програмата за добавяне и премахване на програми Microsoft® Windows
Comment[ca]=Un clon del Microsoft® Windows Afegeix i elimina utilitat de programes
Comment[cs]=Klon Microsoft® Windows Přidat a odebrat programy
Comment[da]=En klon af Microsoft® Windows Tilføj og fjern programmeringsværktøj
Comment[de]=Ein Klon des Programms Microsoft® Windows Programme hinzufügen und entfernen
Comment[el]=Ένας κλώνος του Microsoft® Windows Προσθήκη και κατάργηση προγραμμάτων Utility
Comment[eo]=Al klono de la Microsoft® Windows Aldoni kaj Forigi Programoj Utileco
Comment[es]=Un clon del Microsoft® Windows Añadir y quitar programas de utilidad
Comment[fa]=ﺪﻨﻣﺩﻮﺳ ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻑﺬﺣ ﻭ ﻥﺩﺮﮐ ﻪﻓﺎﺿﺍ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Microsoft® Windows Lisää ja poista sovellusohjelma klooni
Comment[fr]=Un clone de l'utilitaire Microsoft® Windows Ajout et suppression de programmes
Comment[he]=תורישה תוינכות לש הרסהו הפסוה Windows Microsoft® תורישה לש טוביש
Comment[hi]=Microsoft® Windows़ का एक क्लोन प्रोग्राम जोड़ें और निकालें यूटिलिटी
Comment[hr]=Klon Microsoft® Windows Dodavanje i uklanjanje uslužnih programa
Comment[hu]=A klón a Microsoft® Windows Programok telepítése és törlése segédprogram
Comment[it]=Un clone del Microsoft® Windows Aggiungi e utilità Installazione applicazioni
Comment[ja]=Microsoft® No kurōn Windows puroguramunotsuikatosakujo yūtiriti
Comment[ko]=Microsoft® Windows 프로그램 추가 / 제거 유틸리티의 복제본
Comment[lt]=A Microsoft® Windows klonas Pridėti ir šalinti programas
Comment[ml]=Microsoft® Windows ഒരു ക്ലോൺ ചേർത്ത് നീക്കംചെയ്യുക പ്രോഗ്രാമുകൾ യൂട്ടിലിറ്റി
Comment[nl]=Een kloon van het hulpprogramma Hulpprogramma's toevoegen en verwijderen Microsoft® Windows
Comment[pa]=Microsoft® Windows ਦੀ ਇੱਕ ਨਕਲ ਸ਼ਾਮਲ ਕਰੋ ਅਤੇ ਪ੍ਰੋਗਰਾਮ ਉਪਯੋਗਤਾ ਹਟਾਓ
Comment[pl]=Klon narzędzia Dodaj i usuń programy Microsoft® Windows
Comment[pt]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[pt-BR]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[pt-PT]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[ro]=O clonă a utilitarului Adăugare și eliminare programe Microsoft® Windows
Comment[ru]=Клон программы установки и удаления программ Microsoft® Windows
Comment[sk]=Klon Microsoft® Windows Pridať a odstrániť programy
Comment[sl]=Klon iz Microsoft® Windows Dodaj in odstrani programe Utility
Comment[sr]=Клон програма Microsoft® Windows Адд анд Ремове Програмс
Comment[sr-Cyrl]=Клон програма Microsoft® Windows Адд анд Ремове Програмс
Comment[sr-Latn]=Klon Microsoft® Windows Dodavanje i uklanjanje programa Utility
Comment[sv]=En klon i Microsoft® Windows Lägg till och ta bort programverktyg
Comment[te]=ఒక క్లోన్ Microsoft® Windows ప్రోగ్రామ్స్ యుటిలిటీని జోడించు మరియు తీసివేయి
Comment[th]=โคลนของ Microsoft® Windows เพิ่มและลบโปรแกรมยูทิลิตี้
Comment[tr]=Program Ekle ve Kaldır Microsoft® Windows Bir Klonu
Comment[uk]=Клон Microsoft® Windows Додавання та видалення програм Utility
Comment[zh]=Microsoft® Windows“Tiānjiā hé shānchú chéngxù” shíyòng chéngxù de kèlóng
Comment[zh-CN]=Microsoft® Windows“Tiānjiā hé shānchú chéngxù” shíyòng chéngxù de kèlóng
Comment[zh-TW]=Microsoft® Windows“Tiānjiā hé shānchú chéngxù” shíyòng chéngxù de kèlóng
Exec=wine uninstaller.exe
Terminal=false
Type=Application
Icon=wine-control
Categories=Wine;
StartupWMClass=uninstaller.exe
