[Desktop Entry]
Name = Uninstall Wine Software
Name[ar] =                                                                                                                                                                                                                                                        ﺕﺎﻴﺠﻣﺮﺒﻟﺍ ﺬﻴﺒﻨﻟﺍ ﺔﻟﺍﺯﺇ
Name[bg] = Деинсталирайте софтуера за вино
Name[ca] = Desinstal·lació del programari del vi
Name[cs] = Odinstalujte program Wine Software
Name[da] = Afinstaller vin software
Name[de] = Deinstallieren Sie die Wine Software
Name[el] = Κατάργηση εγκατάστασης λογισμικού κρασιού
Name[eo] = Malinstali Vino Programaro
Name[es] = Desinstalación de software Vino
Name[fa] =                                                                                                                                                                                                                                                            ﺭﺍﺰﻓﺍ ﻡﺮﻧ ﺏﺍﺮﺷ ﻑﺬﺣ
Name[fi] = Poista viiniohjelmisto
Name[fr] = Désinstaller le logiciel Wine
Name[he] =                                                                                                                                                                                                                                                              ןייה תונכות תרסה
Name[hi] = वाइन सॉफ्टवेयर अनइंस्टॉल करें
Name[hr] = Deinstalirajte softver za vino
Name[hu] = A bor szoftver eltávolítása
Name[it] = Disinstallare Wine Software
Name[ja] = ワインソフトウェアのアンインストール
Name[ko] = 제거 와인 소프트웨어
Name[lt] = Pašalinti vyno programinę įrangą
Name[ml] = വൈൻ സോഫ്റ്റ്വെയർ അൺഇൻസ്റ്റാൾ ചെയ്യുക
Name[nl] = Verwijderen Wine Software
Name[pa] = ਅਣ ਵਾਈਨ ਸਾਫ਼ਟਵੇਅਰ
Name[pl] = Odinstaluj oprogramowanie Wine
Name[pt] = Desinstalar o software do vinho
Name[pt-BR] = Desinstalar o software do vinho
Name[pt-PT] = Desinstalar o software do vinho
Name[ro] = Dezinstalați software-ul pentru vin
Name[ru] = Удаление программного обеспечения Wine
Name[sk] = Odinštalujte software pre víno
Name[sl] = Odstranite programsko opremo za vino
Name[sr] = Унинсталл Вине Софтваре
Name[sr-Cyrl] = Унинсталл Вине Софтваре
Name[sr-Latn] = Uninstall Wine Software
Name[sv] = Avinstallera Wine Software
Name[te] = అన్ఇన్స్టాల్ వైన్ సాఫ్ట్వేర్
Name[th] = ซอฟแวร์ไวน์ถอนการติดตั้ง
Name[tr] = Şarap Yazılımını Kaldır
Name[uk] = Видалити програмне забезпечення вин
Name[zh] = 卸载软件葡萄酒
Name[zh-CN] = 卸载软件葡萄酒
Name[zh-TW] = 卸載軟件葡萄酒
Comment = A clone of the Microsoft® Windows Add and Remove Programs Utility
Comment[ar] =                                                                                                                                                                                                                    ﺓﺪﻋﺎﺴﻤﻟﺍ ﺞﻣﺍﺮﺒﻟﺍ ﺔﻟﺍﺯﺇﻭ ﺔﻓﺎﺿﺇ ﺯﻭﺪﻨﻳﻭ ®Microsoft ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клониране на помощната програма "Добавяне и премахване на програми" на Microsoft® Windows
Comment[ca] = Un clon del Microsoft Windows Afegir i treure programes d'utilitat
Comment[cs] = Klon Microsoft® Windows Přidat nebo odebrat programy Utility
Comment[da] = En klon i Microsoft® Windows Tilføj og fjern programmer
Comment[de] = Ein Klon des Microsoft® Windows-Dienstprogramms zum Hinzufügen und Entfernen von Programmen
Comment[el] = Ένας κλώνος του βοηθητικού προγράμματος "Προσθαφαίρεση προγραμμάτων και Microsoft® Windows"
Comment[eo] = Klonono de la Microsoft-a-Fenestra Fenestraĵo Aldonu kaj Forigi Programajn Utilecon
Comment[es] = Un clon de la utilidad de Agregar y quitar programas de Microsoft® Windows
Comment[fa] =                                                                                                                                                                                                                 Utility ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻑﺬﺣ ﻭ ﯽﻧﺩﻭﺰﻓﺍ Microsoft® Windows ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Microsoft® Windowsin Lisää tai poista sovellus Utility
Comment[fr] = Un clone de l'utilitaire d'ajout et de suppression de programmes Microsoft® Windows
Comment[he] =                                                                                                                                                                                                         Microsoft® Windows לש 'תוינכות לש הרסהו הפסוה' תורישה תינכות לש טוביש
Comment[hi] = माइक्रोसॉफ्ट विंडोज़ का एक क्लोन प्रोग्राम जोड़ें और निकालें यूटिलिटी
Comment[hr] = Klon od Microsoft Windows dodavanje i uklanjanje programa Utility
Comment[hu] = A Microsoft® Windows Programok telepítése és törlése segédprogram klónja
Comment[it] = Un clone di Microsoft® Windows Installazione applicazioni
Comment[ja] = Makurosofuto ® u~indōzu no `puroguramunotsuikatosakujo' yūtiriti no kurōn
Comment[ko] = 는 Microsoft® 윈도우의 복제 추가 및 프로그램 제거 유틸리티를
Comment[lt] = "Microsoft® Windows" programos "Pridėti ir šalinti programas" klonas
Comment[ml] = മൈക്രോസോഫ്റ്റ് ® വിൻഡോസ് ഒരു ക്ലോൺ പ്രോഗ്രാമുകൾ യൂട്ടിലിറ്റി ചേർക്കുക
Comment[nl] = Een kloon van het hulpprogramma Microsoft® Windows Programma's toevoegen en verwijderen
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ ਵਿੰਡੋਜ਼ ਦਾ ਇੱਕ ਕਲੋਨ ਪ੍ਰੋਗਰਾਮ ਸ਼ਾਮਲ ਕਰੋ ਅਤੇ ਹਟਾਓ
Comment[pl] = Klon narzędzia Microsoft® Windows do dodawania i usuwania programów
Comment[pt] = Um clone do Microsoft® Windows Adicionar e Remover Programas
Comment[pt-BR] = Um clone do Microsoft® Windows Adicionar e Remover Programas
Comment[pt-PT] = Um clone do Microsoft® Windows Adicionar e Remover Programas
Comment[ro] = O clonă a utilitarului Microsoft® Windows Add and Remove Programs
Comment[ru] = Клон программы установки и удаления программ Microsoft® Windows
Comment[sk] = Klon Microsoft® Windows Pridať alebo odstrániť programy Utility
Comment[sl] = Klon od Microsoft Windows Dodaj in odstrani programe Utility
Comment[sr] = Клон програма Мицрософт® Виндовс Адд анд Ремове Програмс
Comment[sr-Cyrl] = Клон програма Мицрософт® Виндовс Адд анд Ремове Програмс
Comment[sr-Latn] = Klon Microsoft Windows Dodavanje i uklanjanje programa Utility
Comment[sv] = En klon i Microsoft® Windows Lägg till och ta bort programverktyg
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ యొక్క క్లోన్
Comment[th] = โคลนของMicrosoft® Windows เพิ่มและลบโปรแกรมยูทิลิตี้
Comment[tr] = Microsoft® Windows Program Ekle / Kaldır Yardımcı Programının bir kopyası
Comment[uk] = Клон програми Utility для додавання та видалення програм Microsoft® Windows
Comment[zh] = Microsoft®Windows添加和删除程序实用程序的克隆
Comment[zh-CN] = Microsoft®Windows添加和删除程序实用程序的克隆
Comment[zh-TW] = Microsoft®Windows添加和刪除程序實用程序的克隆
Exec = wine uninstaller.exe
Terminal = false
Type = Application
Icon = control-wine
Categories = Wine;
