[Desktop Entry]
Name = Microsoft® Windows Installer File
Name[ar] = Microsoft(R) wayanduz 'iinztalir fil
Name[bg] = Файлът на Microsoft Windows® Installer
Name[ca] = Arxiu de Microsoft Windows Installer
Name[cs] = Instalační soubor Microsoft® Windows Installer
Name[da] = Microsoft® Windows Installer-fil
Name[de] = Microsoft® Windows Installer-Datei
Name[el] = Αρχείο Installer του Microsoft® Windows Installer
Name[eo] = Microsoft-Fenestra Installer-dosiero
Name[es] = Archivo de Microsoft Windows Installer
Name[fa] =                                                                                                                                                                                                                                              ﻞﯾﺎﻓ ﻩﺪﻨﻨﮐ ﺐﺼﻧ ﺯﻭﺪﻨﯾﻭ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ
Name[fi] = Microsoft® Windows Installer -tiedosto
Name[fr] = Fichier Microsoft Windows Installer
Name[he] = Microsoft® Windows Installer ץבוק
Name[hi] = michrosoft® windows instaalar phail
Name[hr] = Microsoft Windows Installer datoteku
Name[hu] = Microsoft® Windows Installer fájl
Name[it] = File Microsoft Windows Installer
Name[ja] = Makurosofuto ® u~indōzu insutōrafairu
Name[ko] = 마이크로 소프트 Windows Installer 파일
Name[lt] = "Microsoft Windows Installer" Failų
Name[ml] = Microsoft® Windows ഇൻസ്റ്റാളർ ഫയൽ
Name[nl] = Microsoft® Windows Installer-bestand
Name[pa] = Microsoft® ਵਿੰਡੋਜ਼ ਇੰਸਟਾਲਰ ਫਾਈਲ
Name[pl] = Plik Microsoft Windows Installer
Name[pt] = Arquivo do Microsoft® Windows Installer
Name[pt-BR] = Arquivo do Microsoft® Windows Installer
Name[pt-PT] = Arquivo do Microsoft® Windows Installer
Name[ro] = Fișierul Microsoft Windows Installer
Name[ru] = Файл установщика Microsoft® Windows
Name[sk] = Súbor inštalačného programu Microsoft® Windows
Name[sl] = Datoteka Microsoft Windows Installer
Name[sr] = Датотека Мицрософт® Виндовс Инсталлер
Name[sr-Cyrl] = Датотека Мицрософт® Виндовс Инсталлер
Name[sr-Latn] = Microsoft Windows Installer datoteka
Name[sv] = Microsoft® Windows Installer-fil
Name[te] = మైక్రోసాఫ్ట్ ® విండోస్ ఇన్స్టాలర్ ఫైల్
Name[th] = แฟ้มMicrosoft® Windows Installer
Name[tr] = Microsoft® Windows Installer Dosyası
Name[uk] = Файл встановлювача Microsoft® Windows
Name[zh] = 微软Windows安装程序文件
Name[zh-CN] = 微软Windows安装程序文件
Name[zh-TW] = 微軟Windows安裝程序文件
Exec = wine %%f
Terminal = false
Type = Application
MimeType = application/x-ole-storage;text/mspg-legacyinfo;
Hidden = true
Categories = Wine;
