[Desktop Entry]
Name = Wine OLE/COM Object Viewer
Name[ar] =                                                                                                                                                                                                                                                   ﻡﻮﻛ / ﻲﻟﻭﺃ ﻦﺋﺎﻛ ﺽﺭﺎﻋ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Wine OLE / COM Viewer на обекти
Name[ca] = Vi visualitzador d'objectes OLE / COM
Name[cs] = Prohlížeč objektů OLE / COM Wine
Name[da] = Vin OLE / COM Objekt Viewer
Name[de] = Wein OLE / COM-Objektkatalog
Name[el] = Οπτικοακουστικό πρόγραμμα προβολής OLE / COM
Name[eo] = Vino OLE / COM Objekto Vidilo
Name[es] = OLE vino / COM Object Viewer
Name[fa] = OLE ﻩﺪﻨﻨﯿﺑ ﯽﺷ ﻡﺎﮐ / ﺏﺍﺮﺷ
Name[fi] = Viini OLE / COM Object Viewer
Name[fr] = Vin OLE / COM Object Viewer
Name[he] =                                                                                                                                                                                                                                                    COM טקייבוא גיצמ / OLE ןיי
Name[hi] = शराब OLE / COM ऑब्जेक्ट व्यूअर
Name[hr] = Vino OLE / COM objekt preglednik
Name[hu] = Bor OLE / COM objektum Viewer
Name[it] = OLE Vino / COM Object Viewer
Name[ja] = ワインOLE / COMオブジェクトビューア
Name[ko] = 와인 OLE / COM 개체 뷰어
Name[lt] = Vyno OLE / COM objektą peržiūros
Name[ml] = വൈൻ OLE / COM ഒബ്ജക്റ്റ് വ്യൂവർ
Name[nl] = Wijn OLE / COM Object Viewer
Name[pa] = ਵਾਈਨ OLE / COM ਆਬਜੈਕਟ ਵਿਊਅਰ
Name[pl] = Wino OLE / COM Object Viewer
Name[pt] = OLE vinho / COM Object Viewer
Name[pt-BR] = OLE vinho / COM Object Viewer
Name[pt-PT] = OLE vinho / COM Object Viewer
Name[ro] = Vizualizarea obiectelor OLE / COM Object Viewer
Name[ru] = Визуальный просмотр объектов OLE / COM
Name[sk] = Obrazový prehliadač objektov OLE / COM
Name[sl] = Vino OLE / COM Predmet Viewer
Name[sr] = Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Cyrl] = Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Latn] = Vino OLE / COM Object Viewer
Name[sv] = Vin OLE / COM Objektvisare
Name[te] = వైన్ OLE / COM ఆబ్జెక్ట్ వ్యూవర్
Name[th] = โปรแกรมดูวัตถุ OLE / COM ไวน์
Name[tr] = Şarap OLE / COM nesnesi Görüntüleyici
Name[uk] = Вино OLE / COM Object Viewer,
Name[zh] = 葡萄酒OLE / COM对象查看
Name[zh-CN] = 葡萄酒OLE / COM对象查看
Name[zh-TW] = 葡萄酒OLE / COM對象查看
Comment = Microsoft® Windows Object Linking and Embedding/Component Object Model Object Viewer
Comment[ar] =                                                                                                                                                                                                                  ﺽﺭﺎﻋ ﺝﺫﻮﻤﻧ ﻦﺋﺎﻛ ﻥﻮﻜﻣ ﻦﺋﺎﻛ / ﻦﻴﻤﻀﺗﻭ ﻂﺑﺭ ﻦﺋﺎﻛ ﺯﻭﺪﻨﻳﻭ ﺖﻓﻮﺳﻭﺮﻜﻴﻣ
Comment[bg] = Свързване и вграждане на обект на Microsoft® Windows / Object Viewer на обектен модел
Comment[ca] = Object Linking Microsoft Windows i Visor d'objectes de model d'objectes Inclusió / Component
Comment[cs] = Připojení a vkládání objektů Microsoft® Windows / Prohlížeč objektů modelu objektů
Comment[da] = Microsoft® Windows Object Linking og Embedding / Component Object Model Object Viewer
Comment[de] = Microsoft® Windows Objektverknüpfung und -Einbettung / Komponentenobjektmodell Objektanzeige
Comment[el] = Εφαρμογή σύνδεσης αντικειμένου Microsoft® Windows και ενσωμάτωσης / προβολής αντικειμένων μοντέλου αντικειμένων
Comment[eo] = Microsoft® Vindozo Objekto Ligilo kaj Enkorpigo / Komponenta Objekto Modelo Objekto Spektanto
Comment[es] = Microsoft® Windows Object Vinculación e incrustación / Modelo de objetos componentes Visor de objetos
Comment[fa] = ﻩﺪﻨﻨﯿﺑ ﯽﺷ ءﯽﺷ ﻝﺪﻣ ﺖﻨﻧﻮﭙﻣﺎﮐ / ﯼﺯﺎﺳﺎﺟ ﯼﺎﻫﺪﮐ ﻭ ﺯﻭﺪﻨﯾﻭ ﺖﻓﺎﺳﻭﺮﮑﯾﺎﻣ ﯽﺷ ﻥﺩﺮﮐ ﮏﻨﯿﻟ
Comment[fi] = Microsoft® Windows objektin linkittäminen ja upottaminen / Component Object Model objektinäkymässä
Comment[fr] = Afficheur d'objet Microsoft® Windows Object Linking and Embedding / Component Object Model
Comment[he] =                                                                                                                                                                                        Embedding Object -ו Microsoft® Windows טקייבוא טקייבוא לש טקייבוא םגד טקייבוא יטקייבוא
Comment[hi] = michrosoft® windows objekt linking aur embed / ghatak objekt modal objekt vyooar
Comment[hr] = Objekt za povezivanje objekata povezivanja i ugrađivanja objekta Microsoft® Windows / komponente objekta
Comment[hu] = Microsoft® Windows objektumok összekapcsolása és beágyazása / komponens objektummodell objektum-figyelő
Comment[it] = Microsoft® Windows Object Linking e Embedding / Component Object Object Viewer
Comment[ja] = Makurosofuto ® u~indōzu obujekuto no rinku to umekomi/ kon pōnentoobujekutomoderuobujekutobyūa
Comment[ko] = 마이크로 소프트 윈도우 개체 연결 및 포함 / 구성 요소 개체 모델 개체 뷰어
Comment[lt] = Microsoft® Windows Objektų susiejimas ir įterpimas / Objektų modelio komponentų objektų peržiūros programa
Comment[ml] = Microsoft ® വിൻഡോസ് ഒബ്ജക്റ്റ് ലിങ്കിംഗ് ആൻറ് എംബഡിംഗ് / കോംപോണൻറ് ഒബ്ജക്റ്റ് മോഡ ഒബ്ജക്റ്റ് വ്യൂവർ
Comment[nl] = Microsoft® Windows Object Linker en Embedding / Component Object Model Object Viewer
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ ਵਿੰਡੋਜ਼ ਆਬਜੈਕਟ ਲਿੰਕਿੰਗ ਅਤੇ ਐਮਬੈਡਿੰਗ / ਕੰਪੋਨੈਂਟ ਆਬਜੈਕਟ ਮਾਡਲ ਆਬਜ਼ਰਡਰ ਵਿਊਅਰ
Comment[pl] = Microsoft® Windows Object Linking and Embedding / Przeglądarka obiektów modelu obiektu
Comment[pt] = Microsoft® Windows Object Linking and Embedding / Component Object Model Object Viewer
Comment[pt-BR] = Microsoft® Windows Object Linking and Embedding / Component Object Model Object Viewer
Comment[pt-PT] = Microsoft® Windows Object Linking and Embedding / Component Object Model Object Viewer
Comment[ro] = Conectarea și încorporarea obiectului Microsoft® Windows Object Object Object Viewer
Comment[ru] = объектная модель
Comment[sk] = Microsoft® Windows Prepojenie objektov a vkladanie / Component Prehliadač Object Model Object
Comment[sl] = Pregledovalnik objektnih predmetov Microsoft® Windows Object Linking and Embedding / Component Object Object
Comment[sr] = Мицрософт® Виндовс Објецт Линкинг анд Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Cyrl] = Мицрософт® Виндовс Објецт Линкинг анд Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Latn] = Microsoft Windows Povezivanje objekta i Embedding / Component Object Object Model Viewer
Comment[sv] = Microsoft® Windows objektlänkning och inbäddning / Component Object Model Object Viewer
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ ఆబ్జెక్ట్ లింకింగ్ అండ్ ఎంబెడ్డింగ్ / కాంపోనెంట్ ఆబ్జెక్ట్ మోడల్ ఆబ్జెక్ట్ వ్యూవర్
Comment[th] = Microsoft® Windows ที่เชื่อมโยงวัตถุและ / ตัวแทน Viewer รูปแบบวัตถุวัตถุฝัง
Comment[tr] = Microsoft® Windows Nesne Bağlama ve Gömme / Bileşen Nesne Modeli Nesne Görüntüleyicisi
Comment[uk] = об'єктна модель
Comment[zh] = 微软Windows对象链接和嵌入/组件对象模型对象查看器
Comment[zh-CN] = 微软Windows对象链接和嵌入/组件对象模型对象查看器
Comment[zh-TW] = 微軟Windows對象鏈接和嵌入/組件對象模型對象查看器
Exec = wine oleview.exe
Terminal = false
Type = Application
Icon = control-wine
Categories = X-Wine;
