[Desktop Entry]
Name = Browse C: drive
Name[ar] =                                                                                                                                                                                                                                                           ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ :C ﺢﻔﺼﺗ
Name[bg] = Прегледайте C: устройство
Name[ca] = Explora la unitat C:
Name[cs] = Procházet C: disk
Name[da] = Gennemse C: drev
Name[de] = Durchsuchen C: Laufwerk
Name[el] = Αναζητήστε το C: μονάδα δίσκου
Name[eo] = Foliumi C: stiradon
Name[es] = Examinar C: conducir
Name[fa] =                                                                                                                                                                                                                                                                ﻮﯾﺍﺭﺩ :C ﺖﺳﺮﻬﻓ
Name[fi] = Selaa C: asema
Name[fr] = Parcourir C: lecteur
Name[he] =                                                                                                                                                                                                                                                                  ןנוכ :C שולג
Name[hi] = ब्राउज़ सी: ड्राइव
Name[hr] = Pregledajte C: pogon
Name[hu] = Tallózás: C: meghajtó
Name[it] = Sfoglia C: unità
Name[ja] = ブラウズC：ドライブ
Name[ko] = 브라 우즈 C : 드라이브
Name[lt] = Peržiūrėkite C: vairuoti
Name[ml] = സി: ഡ്രൈവ് ബ്രൌസ് ചെയ്യുക
Name[nl] = Blader door C: rijden
Name[pa] = ਬ੍ਰਾਊਜ਼ ਕਰੋ C: ਡਰਾਈਵ
Name[pl] = Przeglądaj C: dysk
Name[pt] = Navegue C: unidade
Name[pt-BR] = Navegue C: unidade
Name[pt-PT] = Navegue C: unidade
Name[ro] = Răsfoiți C: unitate
Name[ru] = Обзор C: привод
Name[sk] = Prechádzať C: disk
Name[sl] = Prebrskajte pogon C:
Name[sr] = Претражите Ц: погон
Name[sr-Cyrl] = Претражите Ц: погон
Name[sr-Latn] = Pretražite C: pogon
Name[sv] = Bläddra enhet C:
Name[te] = బ్రౌజ్ సి: డ్రైవ్
Name[th] = เรียกดูไดรฟ์ C:
Name[tr] = Göz C: sürücüsü
Name[uk] = Перегляньте диск C:
Name[zh] = 浏览C：驱动器
Name[zh-CN] = 浏览C：驱动器
Name[zh-TW] = 瀏覽C：驅動器
Comment = Browse your virtual C: drive
Comment[ar] =                                                                                                                                                                                                                                                   ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ :C ﻱﺮﻫﺎﻈﻟﺍ ﺢﻔﺼﺗ
Comment[bg] = Прегледайте виртуалното устройство C:
Comment[ca] = Exploreu la vostra unitat C: virtual
Comment[cs] = Prohlédněte si virtuální pevný disk C:
Comment[da] = Gennemse dit virtuelle C: drev
Comment[de] = Durchsuchen Sie Ihr virtuelles Laufwerk C:
Comment[el] = Περιηγηθείτε στον εικονικό σας οδηγό C:
Comment[eo] = Foliumu vian virtualan C: stiradon
Comment[es] = Examine su C virtual: unidad
Comment[fa] =                                                                                                                                                                                                                                               ﺪﯿﻨﮐ ﺭﻭﺮﻣ ﺍﺭ ﺩﻮﺧ C: drive ﯼﺯﺎﺠﻣ
Comment[fi] = Selaa virtuaalisen C: -aseman
Comment[fr] = Parcourez votre lecteur C: virtuel
Comment[he] =                                                                                                                                                                                                                                                     :C ךלש ילאוטריו ןנוכ ףדפד
Comment[hi] = अपने आभासी सी ब्राउज़ करें: ड्राइव
Comment[hr] = Pregledajte svoj virtualni C: disk
Comment[hu] = Keresse meg a virtuális C: meghajtót
Comment[it] = Sfoglia la tua C virtuale: guidare
Comment[ja] = 仮想C：ドライブをブラウズする
Comment[ko] = 가상 C : 드라이브 탐색
Comment[lt] = Naršykite savo virtualų C: diską
Comment[ml] = നിങ്ങളുടെ വെർച്വൽ സി: ഡ്രൈവ് ബ്രൌസ് ചെയ്യുക
Comment[nl] = Blader door uw virtuele C: schijf
Comment[pa] = ਆਪਣੀ ਵਰਚੁਅਲ ਸੀ ਬ੍ਰਾਉਜ਼ ਕਰੋ: ਡਰਾਈਵ
Comment[pl] = Przeglądaj swój wirtualny dysk C :.
Comment[pt] = Procure no seu C virtual: dirigir
Comment[pt-BR] = Procure no seu C virtual: dirigir
Comment[pt-PT] = Procure no seu C virtual: dirigir
Comment[ro] = Răsfoiți C virtual: unitate
Comment[ru] = Просмотрите свой виртуальный диск C:
Comment[sk] = Prezrite si virtuálnu jednotku C:
Comment[sl] = Brskajte po virtualnem pogonu C:
Comment[sr] = Претражите свој виртуелни погон Ц:
Comment[sr-Cyrl] = Претражите свој виртуелни погон Ц:
Comment[sr-Latn] = Pregledavati vaš virtuelni C: voziti
Comment[sv] = Bläddra bland din virtuella C: enhet
Comment[te] = మీ వర్చువల్ సి: డ్రైవ్ను బ్రౌజ్ చేయండి
Comment[th] = เรียกดูไดรฟ์ C เสมือนของคุณ
Comment[tr] = Sanal C: sürücünüze göz atın
Comment[uk] = Перегляньте свій віртуальний диск C:
Comment[zh] = 浏览您的虚拟C：驱动器
Comment[zh-CN] = 浏览您的虚拟C：驱动器
Comment[zh-TW] = 瀏覽您的虛擬C：驅動器
Exec = sh -c "xdg-open $(winepath -u 'C:' 2>/dev/null)"
Terminal = false
Type = Application
Icon = drive-wine
Categories = X-Wine;
