[Desktop Entry]
Name=Wine Task Manager
Name[ar]=ﻡﺎﻬﻤﻟﺍ ﺮﻳﺪﻣ Wine
Name[bg]=Wine Управление на задачите
Name[ca]=Wine Responsable de tasques
Name[cs]=Wine Správce úloh
Name[da]=Wine Jobliste
Name[de]=Wine Aufgabenmanager
Name[el]=Wine Διαχειριστής εργασιών
Name[eo]=Wine Taskministro
Name[es]=Wine Administrador de tareas
Name[fa]=ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ Wine
Name[fi]=Wine Tehtäväpäällikkö
Name[fr]=Wine Gestionnaire des tâches
Name[he]=תומישמה להנמ Wine
Name[hi]=Wine कार्य प्रबंधक
Name[hr]=Wine Task Manager
Name[hu]=Wine Feladatkezelő
Name[it]=Wine Task Manager
Name[ja]=Wineタスクマネージャ
Name[ko]=Wine 작업 관리자
Name[lt]=Wine užduočių vadybininkas
Name[ml]=Wine ടാസ്ക് മാനേജർ
Name[nl]=Wine Taakbeheer
Name[pa]=Wine ਟਾਸਕ ਮੈਨੇਜਰ
Name[pl]=Wine Menedżer zadań
Name[pt]=Wine Gerenciador de Tarefas
Name[pt-BR]=Wine Gerenciador de Tarefas
Name[pt-PT]=Wine Gerenciador de Tarefas
Name[ro]=Wine Manager de activități
Name[ru]=Wine Менеджер задач
Name[sk]=Wine Správca úloh
Name[sl]=Upravljalnik opravil Wine
Name[sr]=Wine Менаџер задатака
Name[sr-Cyrl]=Wine Менаџер задатака
Name[sr-Latn]=Wine Menadžer zadataka
Name[sv]=Wine Uppgiftshanterare
Name[te]=Wine టాస్క్ మేనేజర్
Name[th]=Wine ที่ Task Manager
Name[tr]=Wine Görev Yöneticisi
Name[uk]=Wine Диспетчер завдань
Name[zh]=Wine任务管理器
Name[zh-CN]=Wine任务管理器
Name[zh-TW]=Wine任務管理器
Comment=A clone of the Microsoft® Windows Task Manager
Comment[ar]=ﻡﺎﻬﻤﻟﺍ ﺮﻳﺪﻣ Windows Microsoft® ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на диспечера на задачите Microsoft® Windows
Comment[ca]=Un clon del gerent de tasques Microsoft® Windows
Comment[cs]=Klon Microsoft® Windows Správce úloh
Comment[da]=En klon af Microsoft® Windows Jobliste
Comment[de]=Ein Klon des Microsoft® Windows Task Managers
Comment[el]=Ένας κλώνος του διαχειριστή εργασιών Microsoft® Windows
Comment[eo]=Klonono de la Taskministro Microsoft® Windows
Comment[es]=Una copia del administrador de tareas Microsoft® Windows
Comment[fa]=ﻪﻔﯿﻇﻭ ﺮﯾﺪﻣ Windows Microsoft® ﻥﻮﻠﮐ
Comment[fi]=Tunnisteen Microsoft® Windows klooni
Comment[fr]=Un clone du gestionnaire de tâches Microsoft® Windows
Comment[he]=Windows Microsoft® תומישמה להנמ לש טוביש
Comment[hi]=Microsoft® Windows का एक क्लोन कार्य प्रबंधक
Comment[hr]=Klon Microsoft® Windows Task Manager
Comment[hu]=A Microsoft® Windows feladatkezelő klónja
Comment[it]=Un clone di Microsoft® Windows Task Manager
Comment[ja]=Microsoft®のクローンWindowsタスクマネージャ
Comment[ko]=Microsoft® Windows 작업 관리자의 복제본
Comment[lt]=Microsoft® Windows užduočių tvarkyklės klonas
Comment[ml]=ഒരു ക്ലോൺ Microsoft® Windows ടാസ്ക് മാനേജർ
Comment[nl]=Een kloon van de Task Manager van Microsoft® Windows
Comment[pa]=Microsoft® Windows ਦਾ ਇੱਕ ਕਲੋਨ ਟਾਸਕ ਮੈਨੇਜਰ
Comment[pl]=Klon Menedżera zadań Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Gerenciador de Tarefas
Comment[pt-BR]=Um clone do Microsoft® Windows Gerenciador de Tarefas
Comment[pt-PT]=Um clone do Microsoft® Windows Gerenciador de Tarefas
Comment[ro]=O clonă a managerului de activități Microsoft® Windows
Comment[ru]=Клон диспетчера задач Microsoft® Windows
Comment[sk]=Klon správy Microsoft® Windows
Comment[sl]=Klon upravitelja nalog Microsoft® Windows
Comment[sr]=Клон Microsoft® Windows Таск Манагер
Comment[sr-Cyrl]=Клон Microsoft® Windows Таск Манагер
Comment[sr-Latn]=Klon Microsoft® Windows Task Manager
Comment[sv]=En klon i Microsoft® Windows Uppgiftshanteraren
Comment[te]=Microsoft® Windows టాస్క్ మేనేజర్ యొక్క ఒక క్లోన్
Comment[th]=โคลนของ Microsoft® Windows Task Manager
Comment[tr]=Microsoft® Windows Görev Yöneticisi'nin bir klon
Comment[uk]=Клон Microsoft® Windows Диспетчер завдань
Comment[zh]=Microsoft® Windows任务管理器的克隆
Comment[zh-CN]=Microsoft® Windows任务管理器的克隆
Comment[zh-TW]=Microsoft® Windows任務管理器的克隆
Exec=wine taskmgr.exe
Terminal=false
Type=Application
Icon=wine-taskmgr
Categories=Wine;
StartupWMClass=taskmgr.exe
