[Desktop Entry]
Name = Uninstall Wine Software
Name[ar] =                                                                                                                                                                                                                                                        ﺕﺎﻴﺠﻣﺮﺒﻟﺍ ﺬﻴﺒﻨﻟﺍ ﺔﻟﺍﺯﺇ
Name[bg] = Деинсталирайте софтуера за вино
Name[ca] = Desinstal·lació del programari del vi
Name[cs] = Odinstalujte program Wine Software
Name[da] = Afinstaller vin software
Name[de] = Deinstallieren Sie die Wine Software
Name[el] = Κατάργηση εγκατάστασης λογισμικού κρασιού
Name[eo] = Malinstali Vino Programaro
Name[es] = Desinstalación de software Vino
Name[fa] =                                                                                                                                                                                                                                                            ﺭﺍﺰﻓﺍ ﻡﺮﻧ ﺏﺍﺮﺷ ﻑﺬﺣ
Name[fi] = Poista viiniohjelmisto
Name[fr] = Désinstaller le logiciel Wine
Name[he] =                                                                                                                                                                                                                                                              ןייה תונכות תרסה
Name[hi] = वाइन सॉफ्टवेयर अनइंस्टॉल करें
Name[hr] = Deinstalirajte softver za vino
Name[hu] = A bor szoftver eltávolítása
Name[it] = Disinstallare Wine Software
Name[ja] = ワインソフトウェアのアンインストール
Name[ko] = 제거 와인 소프트웨어
Name[lt] = Pašalinti vyno programinę įrangą
Name[ml] = വൈൻ സോഫ്റ്റ്വെയർ അൺഇൻസ്റ്റാൾ ചെയ്യുക
Name[nl] = Verwijderen Wine Software
Name[pa] = ਅਣ ਵਾਈਨ ਸਾਫ਼ਟਵੇਅਰ
Name[pl] = Odinstaluj oprogramowanie Wine
Name[pt] = Desinstalar o software do vinho
Name[pt-BR] = Desinstalar o software do vinho
Name[pt-PT] = Desinstalar o software do vinho
Name[ro] = Dezinstalați software-ul pentru vin
Name[ru] = Удаление программного обеспечения Wine
Name[sk] = Odinštalujte software pre víno
Name[sl] = Odstranite programsko opremo za vino
Name[sr] = Унинсталл Вине Софтваре
Name[sr-Cyrl] = Унинсталл Вине Софтваре
Name[sr-Latn] = Deinstalirati Wine softver
Name[sv] = Avinstallera Wine Software
Name[te] = అన్ఇన్స్టాల్ వైన్ సాఫ్ట్వేర్
Name[th] = ซอฟแวร์ไวน์ถอนการติดตั้ง
Name[tr] = Şarap Yazılımını Kaldır
Name[uk] = Видалити програмне забезпечення вин
Name[zh] = 卸载软件葡萄酒
Name[zh-CN] = 卸载软件葡萄酒
Name[zh-TW] = 卸載軟件葡萄酒
Comment = A clone of Windows Add and Remove Programs Utility
Comment[ar] = A ﺓﺪﻋﺎﺴﻤﻟﺍ ﺞﻣﺍﺮﺒﻟﺍ ﺔﻟﺍﺯﺇﻭ ﺔﻓﺎﺿﺇ ﺯﻭﺪﻨﻳﻭ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клониране на помощната програма за добавяне и премахване на програми в Windows
Comment[ca] = Un clon de la utilitat Afegir i treure programes de Windows
Comment[cs] = Klon Windows Přidat nebo odebrat programy Utility
Comment[da] = En klon af Windows Tilføj og fjern programmer
Comment[de] = Ein Klon von Windows Dienstprogramm zum Hinzufügen und Entfernen von Programmen
Comment[el] = Ένας κλώνος των Windows Προσθαφαίρεση προγραμμάτων Utility
Comment[eo] = Klono de Windows Aldonu kaj Forigi Programajn Utilecon
Comment[es] = Un clon de la utilidad Agregar y quitar programas de Windows
Comment[fa] =                                                                                                                                                                                                                                   ﯼﺩﺮﺑﺭﺎﮐ ﯼﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻑﺬﺣ ﻭ ﻥﺩﻭﺰﻓﺍ ﺯﻭﺪﻨﯾﻭ ﻥﻮﻠﮐ
Comment[fi] = Windowsin Lisää ja poista sovellus -työkalu
Comment[fr] = Un clone de l'utilitaire Windows Ajout / Suppression de programmes
Comment[he] =                                                                                                                                                                                                                               'Windows לש הרסהו הפסוה' תורישה תינכות לש טוביש
Comment[hi] = विंडोज़ का एक क्लोन प्रोग्राम जोड़ें और निकालें उपयोगिता
Comment[hr] = Klon sustava Windows Dodavanje i uklanjanje uslužnih programa
Comment[hu] = A Windows Programok telepítése és törlése segédprogram klónja
Comment[it] = Un clone di Windows Installazione applicazioni
Comment[ja] = U~indōzu no puroguramunotsuikatosakujo yūtiriti no kurōn
Comment[ko] = 윈도우의 복제 추가 및 프로그램 제거 유틸리티를
Comment[lt] = "Windows" klonas Pridėti ir šalinti programas
Comment[ml] = വിൻഡോസ് ഒരു ക്ലോൺ പ്രോഗ്രാമുകൾ യൂട്ടിലിറ്റി ചേർക്കുക
Comment[nl] = Een kloon van Windows Programma's toevoegen en verwijderen
Comment[pa] = ਵਿੰਡੋਜ਼ ਦਾ ਇੱਕ ਨਕਲ ਪ੍ਰੋਗ੍ਰਾਮ ਉਪਯੋਗਤਾ ਹਟਾਓ ਅਤੇ ਹਟਾਓ
Comment[pl] = Klon narzędzia Windows Dodaj i usuń programy
Comment[pt] = Um clone do Windows Adicionar e Remover Programas
Comment[pt-BR] = Um clone do Windows Adicionar e Remover Programas
Comment[pt-PT] = Um clone do Windows Adicionar e Remover Programas
Comment[ro] = O clonă a utilitarului Windows Add and Remove Programs
Comment[ru] = Клон Windows
Comment[sk] = Klon Windows Pridať alebo odstrániť programy Utility
Comment[sl] = Klon Windows Dodaj in odstrani programe Utility
Comment[sr] = Клон програма Виндовс Адд анд Ремове Програмс Утилити
Comment[sr-Cyrl] = Клон програма Виндовс Адд анд Ремове Програмс Утилити
Comment[sr-Latn] = Klon Windows Dodavanje i uklanjanje programa Utility
Comment[sv] = En klon i Windows Lägg till och ta bort programverktyg
Comment[te] = విండోస్ యొక్క క్లోన్ వేసి కార్యక్రమాలు యుటిలిటీ తొలగించు
Comment[th] = โคลนของ Windows เพิ่มและลบโปรแกรมยูทิลิตี้
Comment[tr] = Windows Program Ekle ve Kaldır Yardımcı Programının bir kopyası
Comment[uk] = Клон Windows
Comment[zh] = Windows添加和删除程序实用程序的克隆
Comment[zh-CN] = Windows添加和删除程序实用程序的克隆
Comment[zh-TW] = Windows添加和刪除程序實用程序的克隆
Exec = wine uninstaller.exe
Terminal = false
Type = Application
Icon = control-wine
Categories = X-Wine;
