[Desktop Entry]
Name=Browse C: Drive
Name[ar]=                                                                  ﻒﻳﺭﺩ :C ﺢﻔﺼﺗ
Name[bg]=Преглед на C: Диск
Name[ca]=Explora C: unitat
Name[cs]=Procházet C: Drive
Name[da]=Gennemse C: Drev
Name[de]=Durchsuchen C: Laufwerk
Name[el]=Αναζήτηση στο C: Drive
Name[eo]=Foliumi C: Stirado
Name[es]=Examinar C: Drive
Name[fa]=                                                                 C: Drive ﺭﻭﺮﻣ
Name[fi]=Selaa C: Drive
Name[fr]=Parcourir C: Drive
Name[he]=                                                                  ןנוכ :C שולג
Name[hi]=ब्राउज़ सी: ड्राइव
Name[hr]=Pregledaj C: Pogon
Name[hu]=Tallózás: C: Drive
Name[it]=Cercare C: Drive
Name[ja]=C：ドライブをブラウズ
Name[ko]=브라 우즈 C: 드라이브
Name[lt]=Peržiūrėkite C: diską
Name[ml]=ബ്രൗസ് സി: ഡ്രൈവ്
Name[nl]=Blader door C: Drive
Name[pa]=ਬ੍ਰਾਉਜ਼ ਕਰੋ C: ਡ੍ਰਾਈਵ
Name[pl]=Przeglądaj C: dysk
Name[pt]=Navegue C: Drive
Name[pt@BR]=Navegue C: Drive
Name[pt@PT]=Navegue C: Drive
Name[ro]=Răsfoiți C: Drive
Name[ru]=Просмотр C: Drive
Name[sk]=Prechádzať C: Drive
Name[sl]=Brskajte po C: Drive
Name[sr]=Прегледајте Ц: Дриве
Name[sr@Cyrl]=Прегледајте Ц: Дриве
Name[sr@Latn]=Pregledajte C: Drive
Name[sv]=Bläddra bland C: Drive
Name[te]=బ్రౌజ్ సి: డ్రైవ్
Name[th]=เรียกดู C: ไดรฟ์
Name[tr]=C'ye göz atın: Sürücü
Name[uk]=Перегляньте C: Диск
Name[zh]=浏览C：驱动器
Name[zh@CN]=浏览C：驱动器
Name[zh@TW]=瀏覽C：驅動器
Comment=Browse your virtual C: drive
Comment[ar]=                                                   ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ :C ﻱﺮﻫﺎﻈﻟﺍ ﺢﻔﺼﺗ
Comment[bg]=Преглеждайте виртуалното устройство C:
Comment[ca]=Exploreu la vostra unitat C: virtual
Comment[cs]=Procházet virtuální C: drive
Comment[da]=Gennemse dit virtuelle C: drev
Comment[de]=Durchsuchen Sie Ihr virtuelles C: Laufwerk
Comment[el]=Περιηγηθείτε στον εικονικό σας οδηγό C:
Comment[eo]=Foliumu vian virtualajn C: stiradon
Comment[es]=Examine su unidad virtual C:
Comment[fa]=                                               ﺪﯿﻨﮐ ﺭﻭﺮﻣ ﺍﺭ ﺩﻮﺧ C: drive ﯼﺯﺎﺠﻣ
Comment[fi]=Selaa virtuaalisen C: -aseman
Comment[fr]=Parcourez votre lecteur virtuel C:
Comment[he]=                                                     :C ךלש ילאוטריו ןנוכ ףדפד
Comment[hi]=अपने आभासी सी ब्राउज़ करें: ड्राइव
Comment[hr]=Pregledajte svoj virtualni C: disk
Comment[hu]=Keresse meg a virtuális C: meghajtót
Comment[it]=Esplora l'unità C: virtuale
Comment[ja]=仮想C：ドライブをブラウズする
Comment[ko]=가상 C: 드라이브 탐색
Comment[lt]=Naršykite savo virtualų C: diską
Comment[ml]=നിങ്ങളുടെ വെർച്വൽ സി: ഡ്രൈവ് ബ്രൌസ് ചെയ്യുക
Comment[nl]=Blader door uw virtuele C: drive
Comment[pa]=ਆਪਣੀ ਵਰਚੁਅਲ ਸੀ: ਡਰਾਇਵ ਬ੍ਰਾਉਜ਼ ਕਰੋ
Comment[pl]=Przeglądaj wirtualny dysk C:.
Comment[pt]=Navegue pela unidade virtual C:
Comment[pt@BR]=Navegue pela unidade virtual C:
Comment[pt@PT]=Navegue pela unidade virtual C:
Comment[ro]=Răsfoiți unitatea C: virtuală
Comment[ru]=Просмотрите свой виртуальный диск C:
Comment[sk]=Prezrite si virtuálnu jednotku C:
Comment[sl]=Brskajte po virtualnem pogonu C:
Comment[sr]=Претражите виртуални Ц: диск
Comment[sr@Cyrl]=Претражите виртуални Ц: диск
Comment[sr@Latn]=Pretražite svoj virtualni C: disk
Comment[sv]=Bläddra bland din virtuella C: enhet
Comment[te]=మీ వాస్తవిక సి: డ్రైవ్ను బ్రౌజ్ చేయండి
Comment[th]=เรียกดูไดรฟ์ C เสมือนของคุณ
Comment[tr]=Sanal C sürücüsüne göz atın: drive
Comment[uk]=Перегляньте свій віртуальний диск C:
Comment[zh]=浏览您的虚拟C：驱动器
Comment[zh@CN]=浏览您的虚拟C：驱动器
Comment[zh@TW]=瀏覽您的虛擬C：驅動器
Exec=xdg-open "${HOME}/.wine/dosdevices/c:"
Terminal=false
Type=Application
Icon=drive-wine
Categories=Wine;
