[Desktop Entry]
Name = Windows Installer File
Name[ar] =                                                                                                                                                                                                                                                            ﻞﻴﻓ ﺮﻟﺎﺗﺰﻧﺇ ﺯﻭﺪﻨﻳﻭ
Name[bg] = Файл на инсталатора на Windows
Name[ca] = Fitxer d'instal·lador de Windows
Name[cs] = Soubor Instalační služby systému Windows
Name[da] = Windows Installer-fil
Name[de] = Windows Installer-Datei
Name[el] = Αρχείο του Windows Installer
Name[eo] = Fenestra Instaladilo Dosiero
Name[es] = Instalador de archivos de Windows
Name[fa] =                                                                                                                                                                                                                                                             ﺯﻭﺪﻨﯾﻭ ﺐﺼﻧ ﻩﺪﻧﻭﺮﭘ
Name[fi] = Windows Installer -tiedosto
Name[fr] = Fichier Windows Installer
Name[he] =                                                                                                                                                                                                                                                        Windows Installer ץבוק
Name[hi] = विंडोज इंस्टालर फाइल
Name[hr] = Windows Installer datoteka
Name[hu] = Windows Installer fájl
Name[it] = File di Windows Installer
Name[ja] = U~indōzu insutōrafairu
Name[ko] = Windows Installer 파일
Name[lt] = Windows diegimo failas
Name[ml] = വിൻഡോസ് ഇൻസ്റ്റാളർ ഫയൽ
Name[nl] = Windows Installer-bestand
Name[pa] = ਵਿੰਡੋਜ਼ ਇੰਸਟੌਲਰ ਫਾਈਲ
Name[pl] = Plik instalatora Windows
Name[pt] = Arquivo do Windows Installer
Name[pt-BR] = Arquivo do Windows Installer
Name[pt-PT] = Arquivo do Windows Installer
Name[ro] = Fișier Instalator Windows
Name[ru] = Файл установщика Windows
Name[sk] = Súbor Inštalátora systému Windows
Name[sl] = Datoteka Windows Installer
Name[sr] = Виндовс Инсталлер Филе
Name[sr-Cyrl] = Виндовс Инсталлер Филе
Name[sr-Latn] = Windows Installer datoteka
Name[sv] = Windows Installer-fil
Name[te] = విండోస్ ఇన్స్టాలర్ ఫైల్
Name[th] = แฟ้ม Windows Installer
Name[tr] = Windows Yükleyici Dosyası
Name[uk] = Файл встановлювача Windows
Name[zh] = Windows安装程序文件
Name[zh-CN] = Windows安装程序文件
Name[zh-TW] = Windows安裝程序文件
Exec = wine %%f
Terminal = false
Type = Application
MimeType = application/x-ole-storage;text/mspg-legacyinfo;
Hidden = true
Categories = X-Wine;
