[Desktop Entry]
Name=Wine Help
Name[ar]=ﺓﺪﻋﺎﺴﻣ Wine
Name[bg]=Wine Помощ
Name[ca]=Wine Ajuda
Name[cs]=Wine Nápověda
Name[da]=Wine Hjælp
Name[de]=Wine Hilfe
Name[el]=Wine Βοήθεια
Name[eo]=Wine Helpo
Name[es]=Wine Ayuda
Name[fa]=Wine ﺎﻤﻨﻫﺍﺭ
Name[fi]=Wine Ohje
Name[fr]=Aide Wine
Name[he]=הרזע Wine
Name[hi]=Wine सहायता
Name[hr]=Wine Pomoć
Name[hu]=Wine Súgó
Name[it]=Aiuto Wine
Name[ja]=Wineのヘルプ
Name[ko]=Wine 도움말
Name[lt]=Wine Pagalba
Name[ml]=Wine സഹായം
Name[nl]=Winehulp
Name[pa]=Wine ਸਹਾਇਤਾ
Name[pl]=Wine Pomoc
Name[pt]=Wine Ajuda
Name[pt-BR]=Wine Ajuda
Name[pt-PT]=Wine Ajuda
Name[ro]=Ajutor pentru Wine
Name[ru]=Wine Помощь
Name[sk]=Wine Pomocník
Name[sl]=Wine Pomoč
Name[sr]=Wine Помоћ
Name[sr-Cyrl]=Wine Помоћ
Name[sr-Latn]=Wine Pomoć
Name[sv]=Wine Hjälp
Name[te]=Wine సహాయం
Name[th]=Wine วิธีใช้
Name[tr]=Wine Yardımı
Name[uk]=Wine Довідка
Name[zh]=Wine Bāngzhù
Name[zh-CN]=Wine Bāngzhù
Name[zh-TW]=Wine Bāngzhù
Comment=A clone of the Microsoft® Windows Help File browser
Comment[ar]=ﺕﺎﻔﻠﻤﻟﺍ ﺢﻔﺼﺘﻣ ﺓﺪﻋﺎﺴﻣ Windows Microsoft® ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на браузъра за помощ на файла Microsoft® Windows
Comment[ca]=Un clon del navegador d'arxius Microsoft® Windows Ajuda
Comment[cs]=Klon Microsoft® Windows soubor nápovědy prohlížeče
Comment[da]=En klon af Microsoft® Windows Hjælp Fil browser
Comment[de]=Ein Klon des Microsoft® Windows Hilfe Dateibrowser
Comment[el]=Ένας κλώνος του προγράμματος περιήγησης αρχείων βοήθειας Microsoft® Windows
Comment[eo]=Klonono de la retumilo de dosiero Microsoft® Windows
Comment[es]=Un clon del navegador de archivos Microsoft® Windows Ayuda
Comment[fa]=ﻞﯾﺎﻓ ﺎﻤﻨﻫﺍﺭ ﺮﮔﺭﻭﺮﻣ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Ohjetiedostoa selain
Comment[fr]=Un clone du navigateur de fichier d'aide Microsoft® Windows
Comment[he]=םיצבקה ןפדפדב הרזע Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows़ सहायता फाइल ब्राउज़र का क्लोन
Comment[hr]=Klon od Microsoft® Windows pomoć preglednika datoteka
Comment[hu]=A Microsoft® Windows Súgó fájl böngészőjének klónja
Comment[it]=Un clone del Microsoft® Windows della Guida del browser di file
Comment[ja]=Microsoft® No kurōn Windows herupufairuburauza
Comment[ko]=Microsoft®의 클론 Windows 도움말 파일 브라우저
Comment[lt]=A Microsoft® Windows Pagalba Failų naršyklė klonas
Comment[ml]=Microsoft® Windows സഹായം ഫയൽ ബ്രൌസർ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de Microsoft® Windows Help browser File
Comment[pa]=Microsoft® Windows ਦਾ ਇੱਕ ਕਲਨ ਸਹਾਇਤਾ ਫਾਈਲ ਬ੍ਰਾਊਜ਼ਰ
Comment[pl]=Klon przeglądarki plików pomocy Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[pt-BR]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[pt-PT]=Um clone do Microsoft® Windows Ajuda Navegador de arquivos
Comment[ro]=O clonă a browser-ului de ajutor pentru Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Браузер файлов справки
Comment[sk]=Klon programu Microsoft® Windows Prehliadač súborov pomoci
Comment[sl]=Klon brskalnika Datoteka za pomoč Microsoft® Windows
Comment[sr]=Клон прегледача помоћи за Microsoft® Windows помоћ
Comment[sr-Cyrl]=Клон прегледача помоћи за Microsoft® Windows помоћ
Comment[sr-Latn]=Klon Microsoft® Windows pomoć preglednika datoteka
Comment[sv]=En klon i Microsoft® Windows Hjälpfilens webbläsare
Comment[te]=సహాయం ఫైలు బ్రౌజర్ యొక్క Microsoft® Windows క్లోన్
Comment[th]=Khol nk̄h xng be rā sexr̒ k̄hxng fịl̒ wiṭhī chı̂ Microsoft® Windows
Comment[tr]=Microsoft® Windows Yardım Dosyası tarayıcısının bir kopyası
Comment[uk]=Клон файлу довідкового файлу Microsoft® Windows
Comment[zh]=Microsoft® Windows Bāngzhù wénjiàn liúlǎn qì de kèlóng
Comment[zh-CN]=Microsoft® Windows Bāngzhù wénjiàn liúlǎn qì de kèlóng
Comment[zh-TW]=Microsoft® Windows Bāngzhù wénjiàn liúlǎn qì de kèlóng
Exec=wine winhlp32.exe %f
Terminal=false
Type=Application
Icon=wine-winhelp
Categories=Wine;
StartupWMClass=winhlp32.exe
