[Desktop Entry]
Name = Configure Wine
Name[ar] =                                                                                                                                                                                                                                                                  ﺬﻴﺒﻨﻟﺍ ﻦﻳﻮﻜﺗ
Name[bg] = Конфигуриране на виното
Name[ca] = Configura el vi
Name[cs] = Nakonfigurujte víno
Name[da] = Konfigurer vin
Name[de] = Konfigurieren Sie Wein
Name[el] = Ρύθμιση του οίνου
Name[eo] = Agordi vinon
Name[es] = Configurar el vino
Name[fa] =                                                                                                                                                                                                                                                                    ﺏﺍﺮﺷ ﻭ ﺖﺨﭘ
Name[fi] = Määritä viini
Name[fr] = Configurer le vin
Name[he] =                                                                                                                                                                                                                                                                  ןייה תא רדגה
Name[hi] = वाइन को कॉन्फ़िगर करें
Name[hr] = Konfiguriranje vina
Name[hu] = A bor beállítása
Name[it] = Configura vino
Name[ja] = ワインの設定
Name[ko] = 와인 구성
Name[lt] = Konfigūruoti vyną
Name[ml] = വൈൻ കോൺഫിഗർ ചെയ്യുക
Name[nl] = Wijn configureren
Name[pa] = ਵਾਈਨ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Name[pl] = Skonfiguruj Wine
Name[pt] = Configurar Wine
Name[pt-BR] = Configurar Wine
Name[pt-PT] = Configurar Wine
Name[ro] = Configurați vinul
Name[ru] = Настроить вино
Name[sk] = Konfigurácia vína
Name[sl] = Konfigurirajte vino
Name[sr] = Цонфигуре Вине
Name[sr-Cyrl] = Цонфигуре Вине
Name[sr-Latn] = Konfigurirati vina
Name[sv] = Konfigurera vin
Name[te] = వైన్ ఆకృతీకరించుము
Name[th] = กำหนดค่าไวน์
Name[tr] = Şarabı Yapıla
Name[uk] = Налаштувати Вино
Name[zh] = 配置葡萄酒
Name[zh-CN] = 配置葡萄酒
Name[zh-TW] = 配置葡萄酒
Comment = Change general Wine options and application overrides/options
Comment[ar] =                                                                                                                                                                                                                              ﺕﺍﺭﺎﻴﺧ / ﺯﻭﺎﺠﺗ ﻖﻴﺒﻄﺗﻭ ﺔﻣﺎﻌﻟﺍ ﺬﻴﺒﻨﻟﺍ ﺕﺍﺭﺎﻴﺧ ﺮﻴﻴﻐﺗ
Comment[bg] = Променете общите опции за виното и преименуването / опциите на приложенията
Comment[ca] = Canvieu les opcions generals del vi i les invalides / opcions d'aplicació
Comment[cs] = Změna možností obecně víno a aplikace přepíše / možnosti
Comment[da] = Skift generelle vinindstillinger og ansøgningsoverskridelser / muligheder
Comment[de] = Ändern Sie allgemeine Wein Optionen und Anwendungsüberschreibungen / Optionen
Comment[el] = Αλλάξτε τις γενικές επιλογές κρασιού και τις εναλλαγές εφαρμογών / επιλογών
Comment[eo] = Ŝanĝi ĝeneralajn Viajn eblojn kaj aplikaĵojn forĵetitajn / eblojn
Comment[es] = Cambiar las opciones de vino en general y aplicación reemplaza / Opciones
Comment[fa] =                                                                                                                                                                                                                               ﺎﻫ ﻪﻨﯾﺰﮔ / ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻮﻐﻟ ﻭ ﺏﺍﺮﺷ ﻪﻨﯾﺰﮔ ﯽﻠﮐ ﺮﯿﯿﻐﺗ
Comment[fi] = Muuta yleisiä viinivalintoja ja sovelluksen ohituksia / vaihtoehtoja
Comment[fr] = Modifier les options générales du vin et Dérogations / options d'application
Comment[he] =                                                                                                                                                                                                                            תויצפוא / םושיי תונורקעו תויללכ ןיי תויורשפא יוניש
Comment[hi] = सामान्य वाइन विकल्प और एप्लिकेशन ओवरराइड / विकल्प बदलें
Comment[hr] = Promijenite opće opcije Vina i poništenja / opcije aplikacije
Comment[hu] = Az általános Bor lehetőségek és az alkalmazás felülírások / lehetőségek módosítása
Comment[it] = Modificare le opzioni di vino generali di utilizzo e overrides / opzioni
Comment[ja] = 一般的なワインオプションとアプリケーションオーバーライド/オプションの変更
Comment[ko] = 일반적인 와인 옵션 및 응용 프로그램 재정의 / 옵션 변경
Comment[lt] = Pakeiskite apskritai vyno galimybes ir taikymo viršesnis / parinktys
Comment[ml] = പൊതുവായ വൈൻ ഓപ്ഷനുകളും അപ്ലിക്കേഷൻ ഓവർറൈഡുകളും ഓപ്ഷനുകളും മാറ്റുക
Comment[nl] = Wijzig algemene wijnopties en applicatie-opheffingen / opties
Comment[pa] = ਆਮ ਵਾਈਨ ਚੋਣਾਂ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ ਓਵਰਰਾਈਡਜ਼ / ਵਿਕਲਪ ਬਦਲੋ
Comment[pl] = Zmień opcje ogólnego wino i aplikacja zastępuje / opcje
Comment[pt] = Alterar as opções gerais do vinho e as substituições / opções do aplicativo
Comment[pt-BR] = Alterar as opções gerais do vinho e as substituições / opções do aplicativo
Comment[pt-PT] = Alterar as opções gerais do vinho e as substituições / opções do aplicativo
Comment[ro] = Schimbați opțiunile generale ale vinului și suprascrierile / opțiunile aplicațiilor
Comment[ru] = Изменение параметров общего вина и приложения переопределяет / опции
Comment[sk] = Zmeňte všeobecné možnosti vína a prepínače / možnosti aplikácií
Comment[sl] = Spremenite splošne možnosti vina in preglasitve / možnosti
Comment[sr] = Промените општу опцију Вине опције и опције примјене
Comment[sr-Cyrl] = Промените општу опцију Вине опције и опције примјене
Comment[sr-Latn] = Promenite opštu opciju Wine opcije i opcije primjene
Comment[sv] = Ändra allmänna vin alternativ och applikationsåsidosätter / alternativ
Comment[te] = సాధారణ వైన్ ఎంపికలు మరియు అప్లికేషన్ ఓవర్రైడ్లను / ఎంపికలను మార్చండి
Comment[th] = เปลี่ยนตัวเลือกไวน์ทั่วไปและการแทนที่ / ตัวเลือกแอ็พพลิเคชัน
Comment[tr] = Genel Şarap seçeneklerini ve uygulama geçersiz kılmalarını / seçeneklerini değiştirme
Comment[uk] = Зміна параметрів загального вина і додатки переопределяет / опції
Comment[zh] = 更改一般葡萄酒选项和应用程序覆盖/选项
Comment[zh-CN] = 更改一般葡萄酒选项和应用程序覆盖/选项
Comment[zh-TW] = 更改一般葡萄酒選項和應用程序覆蓋/選項
Exec = winecfg
Terminal = false
Type = Application
Icon = wine-winecfg
Categories = X-Wine;
