[Desktop Entry]
Name=Wine Minesweeper
Name[ar]=                                                            ﺬﻴﺒﻨﻟﺍ ﻡﺎﻐﻟﺃ ﺔﺤﺳﺎﻛ
Name[bg]=Виновен миночистач
Name[ca]=Minesweeper de vi
Name[cs]=Víno Minesweeper
Name[da]=Vin Minesweeper
Name[de]=Wein Minesweeper
Name[el]=Ορυχείο Ορυχείων
Name[eo]=Vina Minŝipo
Name[es]=Minesweeper del vino
Name[fa]=                                                               ﺏﺍﺮﺷ ﺭﻭﺎﻨﺷ ﻥﺪﻌﻣ
Name[fi]=Viini Minesweeper
Name[fr]=vin Démineur
Name[he]=                                                              ןיי םישקומה הלוש
Name[hi]=शराब माइनस्वीपर
Name[hr]=Minolovac vinarstva
Name[hu]=bor Aknakereső
Name[it]=Minesweeper del vino
Name[ja]=ワインマインズウィーパー
Name[ko]=와인 지뢰 찾기
Name[lt]=Vyno kalnakasyba
Name[ml]=വീഞ്ഞ് മൈനസ്വീപ്പര്
Name[nl]=Wijnmijnenweiger
Name[pa]=ਵਾਈਨ ਮਾਈਨਸਾਈਪਰ
Name[pl]=Wędrowiec Saper
Name[pt]=vinho Campo Minado
Name[pt@BR]=vinho Campo Minado
Name[pt@PT]=vinho Campo Minado
Name[ro]=Minesweeper de vin
Name[ru]=Винный сапер
Name[sk]=Víno Minesweeper
Name[sl]=Vina minolovec
Name[sr]=Винарски минер
Name[sr@Cyrl]=Винарски минер
Name[sr@Latn]=Vinarski miner
Name[sv]=Vin Minesweeper
Name[te]=వైన్ మైన్స్వీపర్
Name[th]=เครื่องกวาดหิมะไวน์
Name[tr]=Şarap mayın tarama gemisi
Name[uk]=Винний мінівник
Name[zh]=葡萄酒扫雷
Name[zh@CN]=葡萄酒扫雷
Name[zh@TW]=葡萄酒掃雷
Comment=A clone of the Windows Minesweeper game
Comment[ar]=A ﺯﻭﺪﻨﻳﻭ ﻡﺎﻐﻟﺃ ﺔﺤﺳﺎﻛ ﺔﺒﻌﻟ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонинг на играта 視窗 Minesweeper
Comment[ca]=Un clon del joc 視窗 Minesweeper
Comment[cs]=Klon hry 視窗 Minesweeper
Comment[da]=En klon af 視窗 Minesweeper spillet
Comment[de]=Ein Klon des 視窗 Minesweeper Spiels
Comment[el]=Ένας κλώνος του παιχνιδιού 視窗 Minesweeper
Comment[eo]=Klono de la Vindoza Minesweeper-ludo
Comment[es]=Un clon del juego 視窗 Minesweeper
Comment[fa]=                                            ﺯﻭﺪﻨﯾﻭ Minesweeper ﯼﺯﺎﺑ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗 Minesweeper-pelin klooni
Comment[fr]=Un clone du jeu 視窗 Minesweeper
Comment[he]=                                        視窗 לש םישקומה הלוש קחשמה לש טוביש
Comment[hi]=विंडोज माइनस्वीपर गेम का एक क्लोन
Comment[hr]=Klon igre 視窗 Minesweeper
Comment[hu]=A 視窗 Minesweeper játék klónja
Comment[it]=Un clone del gioco Minesweeper di 視窗
Comment[ja]=視窗 Minesweeperゲームのクローン
Comment[ko]=視窗 Minesweeper 게임의 복제본
Comment[lt]="視窗 Minesweeper"žaidimo klonas
Comment[ml]=വിൻഡോസ് മൈൻസ്വൈപ്പർ ഗെയിമിന്റെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van het 視窗 Minesweeper spel
Comment[pa]=ਵਿੰਡੋਜ਼ ਮਾਈਨਸਪੀਪਰ ਗੇਮ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon gry 視窗 Minesweeper
Comment[pt]=Um clone do 視窗 Minesweeper game
Comment[pt@BR]=Um clone do 視窗 Minesweeper game
Comment[pt@PT]=Um clone do 視窗 Minesweeper game
Comment[ro]=O clonă a jocului Minesweeper 視窗
Comment[ru]=Игра Клон 視窗 Minesweeper
Comment[sk]=Klon hry 視窗 Minesweeper
Comment[sl]=Klon igre 視窗 Minesweeper
Comment[sr]=Клон игре Виндовс Минесвеепер
Comment[sr@Cyrl]=Клон игре Виндовс Минесвеепер
Comment[sr@Latn]=Klon igre 視窗 Minesweeper
Comment[sv]=En klon i 視窗 Minesweeper-spelet
Comment[te]=視窗 మైన్స్వీపర్ ఆట యొక్క క్లోన్
Comment[th]=โคลนของเกม Minesweeper ของ 視窗
Comment[tr]=視窗 Mayın Tarlası oyununun bir kopyası
Comment[uk]=Клон у грі 視窗 Minesweeper
Comment[zh]=視窗 Minesweeper游戏的克隆
Comment[zh@CN]=視窗 Minesweeper游戏的克隆
Comment[zh@TW]=視窗 Minesweeper遊戲的克隆
Exec=winemine
Terminal=false
Type=Application
Icon=wine-winemine
Categories=Game;LogicGame;
