[Desktop Entry]
Name=Wine Control
Name[ar]=Wine ﻢﻜﺤﺗ
Name[bg]=Wine Контрол
Name[ca]=control d'Wine
Name[cs]=Wine Kontrola
Name[da]=Wine Kontrol
Name[de]=Wine Kontrolle
Name[el]=Wine Έλεγχος
Name[eo]=Wine Kontrolo
Name[es]=control de Wine
Name[fa]=ﻝﺮﺘﻨﮐ Wine
Name[fi]=Wine Ohjaus
Name[fr]=Wine Contrôle
Name[he]=הרקב Wine
Name[hi]=Wine नियंत्रण
Name[hr]=Wine Kontrola
Name[hu]=Wine Vezérlés
Name[it]=Wine Controllo
Name[ja]=Wineコントロール
Name[ko]=Wine 제어
Name[lt]=Wine kontrolė
Name[ml]=Wine നിയന്ത്രിക്കുക
Name[nl]=Wine Controle
Name[pa]=Wine ਕੰਟਰੋਲ
Name[pl]=Wine Sterowanie
Name[pt]=Wine Controle
Name[pt-BR]=Wine Controle
Name[pt-PT]=Wine Controle
Name[ro]=Controlul Wine
Name[ru]=Wine Контроль
Name[sk]=Wine Kontrola
Name[sl]=Wine Nadzor
Name[sr]=Wine Контрола
Name[sr-Cyrl]=Wine Контрола
Name[sr-Latn]=Wine Kontrola
Name[sv]=Wine Kontroll
Name[te]=Wine నియంత్రణ
Name[th]=Wine การควบคุม
Name[tr]=Wine Kontrol
Name[uk]=Wine Контроль
Name[zh]=Wine控制
Name[zh-CN]=Wine控制
Name[zh-TW]=Wine控制
Comment=A clone of the Microsoft® Windows Control Panel
Comment[ar]=Windows Microsoft® ﻢﻜﺤﺘﻟﺍ ﺔﺣﻮﻟ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на контролния панел Microsoft® Windows
Comment[ca]=Un clon del tauler de control Microsoft® Windows
Comment[cs]=Klon kontrolního panelu Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Kontrolpanel
Comment[de]=Ein Klon des Microsoft® Windows Control Panel
Comment[el]=Ένας κλώνος του Πίνακα Ελέγχου Microsoft® Windows
Comment[eo]=Klonono de la Microsoft® Windows Kontrolo-Panelo
Comment[es]=Una clonación del panel de control Microsoft® Windows
Comment[fa]=Windows Microsoft® ﻞﻨﭘ ﻝﺮﺘﻨﮐ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=Ohjauspaneelin Microsoft® Windows klooni
Comment[fr]=Un clone du Microsoft® Windows Panneau de configuration
Comment[he]=הרקבה חול Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows नियंत्रण कक्ष का एक क्लोन
Comment[hr]=Klon kontrolne ploče Microsoft® Windows
Comment[hu]=A Microsoft® Windows Vezérlőpult klónja
Comment[it]=Un clone del Microsoft® Windows Pannello di controllo
Comment[ja]=Microsoft® Windowsコントロールパネルのクローン
Comment[ko]=Microsoft® Windows 제어판의 복제본
Comment[lt]=Klonas Microsoft® Windows Valdymo skydas
Comment[ml]=നിയന്ത്രണത്തിലുള്ള പാനൽ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van het bedieningspaneel van Microsoft® Windows
Comment[pa]=Microsoft® Windows ਕੰਟਰੋਲ ਪੈਨਲ ਦਾ ਇੱਕ ਕਲਨ
Comment[pl]=Klon panelu sterowania Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Painel de Controle
Comment[pt-BR]=Um clone do Microsoft® Windows Painel de Controle
Comment[pt-PT]=Um clone do Microsoft® Windows Painel de Controle
Comment[ro]=O clonă a Microsoft® Windows Panou de control
Comment[ru]=Клон панели управления Microsoft® Windows
Comment[sk]=Klon Microsoft® Windows ovládacom paneli
Comment[sl]=Klon kontrolne plošče Microsoft® Windows
Comment[sr]=Клон контролне табле Microsoft® Windows
Comment[sr-Cyrl]=Клон контролне табле Microsoft® Windows
Comment[sr-Latn]=Klon kontrolne table Microsoft® Windows
Comment[sv]=En klon i Microsoft® Windows Kontrollpanelen
Comment[te]=Microsoft® Windows నియంత్రణ ప్యానెల్ యొక్క క్లోన్
Comment[th]=โคลนของ Microsoft® Windows แผงควบคุม
Comment[tr]=Microsoft® Windows Kontrol Panelinin bir klonu
Comment[uk]=Клон панелі керування Microsoft® Windows
Comment[zh]=Microsoft® Windows控制面板的克隆
Comment[zh-CN]=Microsoft® Windows控制面板的克隆
Comment[zh-TW]=Microsoft® Windows控制面板的克隆
Exec=wine control.exe
Terminal=false
Type=Application
Icon=control-wine
Categories=X-Wine;
