[Desktop Entry]
Name=Wine Control
Name[ar]=                                                                ﺓﺮﻄﻴﺴﻟﺍ ﺬﻴﺒﻨﻟﺍ
Name[bg]=Контрол на виното
Name[ca]=Control del vi
Name[cs]=Kontrola vína
Name[da]=Vin kontrol
Name[de]=Weinkontrolle
Name[el]=Έλεγχος οίνου
Name[eo]=Vina Kontrolo
Name[es]=Control de vino
Name[fa]=                                                                    ﺏﺍﺮﺷ ﻝﺮﺘﻨﮐ
Name[fi]=Viininvalvonta
Name[fr]=Contrôle des vins
Name[he]=                                                                      ןיי תרקב
Name[hi]=शराब नियंत्रण
Name[hr]=Kontrola vina
Name[hu]=bor vezérlés
Name[it]=Controllo del vino
Name[ja]=ワインコントロール
Name[ko]=와인 컨트롤
Name[lt]=Vyno valdymas
Name[ml]=വീഞ്ഞ് നിയന്ത്രണം
Name[nl]=Wijnbesturing
Name[pa]=ਵਾਈਨ ਨਿਯੰਤਰਣ
Name[pl]=Kontrola Wina
Name[pt]=Controle do vinho
Name[pt@BR]=Controle do vinho
Name[pt@PT]=Controle do vinho
Name[ro]=Controlul vinului
Name[ru]=Контроль вина
Name[sk]=Ovládanie vína
Name[sl]=Vinski nadzor
Name[sr]=Вине Цонтрол
Name[sr@Cyrl]=Вине Цонтрол
Name[sr@Latn]=vino Control
Name[sv]=Vinkontroll
Name[te]=వైన్ కంట్రోల్
Name[th]=การควบคุมไวน์
Name[tr]=Şarap Kontrolü
Name[uk]=Винний контроль
Name[zh]=葡萄酒控制
Name[zh@CN]=葡萄酒控制
Name[zh@TW]=葡萄酒控制
Comment=A clone of the Windows Control Panel
Comment[ar]=                                                      ﺯﻭﺪﻨﻳﻭ ﻢﻜﺤﺗ ﺔﺣﻮﻟ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на контролния панел на 視窗
Comment[ca]=Un clon del tauler de control de 視窗
Comment[cs]=Klon ovládacího panelu systému 視窗
Comment[da]=En klon i 視窗 Kontrolpanel
Comment[de]=Ein Klon der 視窗-Systemsteuerung
Comment[el]=Ένας κλώνος του Πίνακα Ελέγχου των 視窗
Comment[eo]=Klono de la Vindoza Kontrolo de Vindozo
Comment[es]=Un clon del Panel de control de 視窗
Comment[fa]=                                                   ﺯﻭﺪﻨﯾﻭ ﻞﻨﭘ ﻝﺮﺘﻨﮐ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗in ohjauspaneelin klooni
Comment[fr]=Un clone du panneau de configuration de 視窗
Comment[he]=                                                 視窗 לש הרקבה חול לש טוביש
Comment[hi]=विंडोज कंट्रोल पैनल का एक क्लोन
Comment[hr]=Klon upravljačke ploče sustava 視窗
Comment[hu]=A 視窗 Vezérlőpult klónja
Comment[it]=Un clone del Pannello di controllo di 視窗
Comment[ja]=視窗のコントロールパネルのクローン
Comment[ko]=視窗 제어판의 복제본
Comment[lt]="視窗"valdymo skydo klonas
Comment[ml]=視窗 നിയന്ത്രണ പാനലിന്റെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van het 視窗 Configuratiescherm
Comment[pa]=ਵਿੰਡੋਜ਼ ਕੰਟਰੋਲ ਪੈਨਲ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon Panelu sterowania systemu 視窗
Comment[pt]=Um clone do painel de controle do 視窗
Comment[pt@BR]=Um clone do painel de controle do 視窗
Comment[pt@PT]=Um clone do painel de controle do 視窗
Comment[ro]=O clonă a Panoului de control 視窗
Comment[ru]=Клон панели управления 視窗
Comment[sk]=Klon ovládacieho panela systému 視窗
Comment[sl]=Klon nadzorne plošče 視窗
Comment[sr]=Клон контролне табле Виндовса
Comment[sr@Cyrl]=Клон контролне табле Виндовса
Comment[sr@Latn]=Klon kontrolne table 視窗a
Comment[sv]=En klon i 視窗 Kontrollpanel
Comment[te]=視窗 కంట్రోల్ ప్యానెల్ యొక్క క్లోన్
Comment[th]=โคลนของ 視窗 Control Panel
Comment[tr]=視窗 Denetim Masasının bir kopyası
Comment[uk]=Клон панелі керування 視窗
Comment[zh]=視窗控制面板的克隆
Comment[zh@CN]=視窗控制面板的克隆
Comment[zh@TW]=視窗控制面板的克隆
Exec=wine control.exe
Terminal=false
Type=Application
Icon=control-wine
Categories=Wine;
