[Desktop Entry]
Name = Wine Registry Editor
Name[ar] =                                                                                                                                                                                                                                                             ﺬﻴﺒﻨﻟﺍ ﻞﻴﺠﺴﺗ ﺭﺮﺤﻣ
Name[bg] = Редактор на регистър на вино
Name[ca] = Editor del registre del vi
Name[cs] = Editor registru vín
Name[da] = Vinregistreringsredaktør
Name[de] = Weinregistratur
Name[el] = Επεξεργαστής μητρώου ονομάτων
Name[eo] = Vino Registro Redaktanto
Name[es] = Editor del Registro del Vino
Name[fa] =                                                                                                                                                                                                                                                           ﺏﺍﺮﺷ ﯼﺮﺘﺴﯿﺟﺭ ﺮﯿﺑﺩﺮﺳ
Name[fi] = Viininrekisterin editori
Name[fr] = Éditeur du registre des vins
Name[he] =                                                                                                                                                                                                                                                               ןיי םושירה ךרוע
Name[hi] = वाइन रजिस्ट्री संपादक
Name[hr] = Urednik registara vina
Name[hu] = Borjegyzékszerkesztő
Name[it] = Editor del registro dei vini
Name[ja] = ワインレジストリエディタ
Name[ko] = 와인 레지스트리 편집기
Name[lt] = Vyno registro redaktorius
Name[ml] = വൈൻ രജിസ്ട്രി എഡിറ്റർ
Name[nl] = Wijn Register-editor
Name[pa] = ਵਾਈਨ ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ
Name[pl] = Edytor rejestru wina
Name[pt] = Wine Editor do Registro
Name[pt-BR] = Wine Editor do Registro
Name[pt-PT] = Wine Editor do Registro
Name[ro] = Editorul registrului de vinuri
Name[ru] = Редактор реестра вин
Name[sk] = Editor databázy Registry Wine
Name[sl] = Vino urejevalnik registra
Name[sr] = Вине Регистри Едитор
Name[sr-Cyrl] = Вине Регистри Едитор
Name[sr-Latn] = Vino Registry Editor
Name[sv] = Vinregisterredigerare
Name[te] = వైన్ రిజిస్ట్రీ ఎడిటర్
Name[th] = ตัวแก้ไขรีจิสทรีของ Wine
Name[tr] = Şarap Kayıt Editörü
Name[uk] = Редактор реєстру вин
Name[zh] = 葡萄酒注册表编辑器
Name[zh-CN] = 葡萄酒注册表编辑器
Name[zh-TW] = 葡萄酒註冊表編輯器
Comment = A clone of the Windows Registry Editor
Comment[ar] = A ﺯﻭﺪﻨﻳﻭ ﻞﻴﺠﺴﺘﻟﺍ ﺭﺮﺤﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонинг на редактора на системния регистър на Windows
Comment[ca] = Un clon de l'Editor del Registre de Windows
Comment[cs] = Klon Editoru registru systému Windows
Comment[da] = En klon af Windows Registreringseditor
Comment[de] = Ein Klon des Windows-Registrierungseditors
Comment[el] = Ένας κλώνος του Επεξεργαστή Μητρώου των Windows
Comment[eo] = Klonono de la Vindoza Registrilo
Comment[es] = Un clon del Editor del Registro de Windows
Comment[fa] =                                                                                                                                                                                                                                            ﺯﻭﺪﻨﯾﻭ ﯼﺮﺘﺴﯿﺟﺭ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Windowsin rekisterieditorin klooni
Comment[fr] = Un clone de l'éditeur de registre Windows
Comment[he] =                                                                                                                                                                                                                                               Windows לש םושירה ךרוע לש טוביש
Comment[hi] = विंडोज रजिस्ट्री संपादक का एक क्लोन
Comment[hr] = Klon Windows Registry Editor
Comment[hu] = A Windows Registry Editor egyik klónja
Comment[it] = Un clone dell'Editor del registro di Windows
Comment[ja] = U~indōzu rejisutoriedita no kurōn
Comment[ko] = Windows 레지스트리 편집기의 복제본
Comment[lt] = Windows registro rengyklės klonas
Comment[ml] = വിൻഡോസ് രജിസ്ട്രി എഡിറ്ററിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Windows Register-editor
Comment[pa] = ਵਿੰਡੋਜ਼ ਰਜਿਸਟਰੀ ਸੰਪਾਦਕ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon edytora rejestru systemu Windows
Comment[pt] = Um clone do Editor do Registro do Windows
Comment[pt-BR] = Um clone do Editor do Registro do Windows
Comment[pt-PT] = Um clone do Editor do Registro do Windows
Comment[ro] = O clonă a Editorului de registri Windows
Comment[ru] = Клон редактора реестра Windows
Comment[sk] = Klon editora registra Windows
Comment[sl] = Klon urejevalnika registra Windows
Comment[sr] = Клон уредника регистра Виндовс
Comment[sr-Cyrl] = Клон уредника регистра Виндовс
Comment[sr-Latn] = Klon urednika Windows Registry-a
Comment[sv] = En klon av Windows Registereditorn
Comment[te] = Windows రిజిస్ట్రీ ఎడిటర్ యొక్క క్లోన్
Comment[th] = โคลนของตัวแก้ไขรีจิสทรีของ Windows
Comment[tr] = Windows Kayıt Defteri Düzenleyicisi'nin bir kopyası
Comment[uk] = Клон редактора реєстру Windows
Comment[zh] = Windows注册表编辑器的克隆
Comment[zh-CN] = Windows注册表编辑器的克隆
Comment[zh-TW] = Windows註冊表編輯器的克隆
Exec = regedit
Terminal = false
Type = Application
Icon = wine-regedit
Categories = X-Wine;
