[Desktop Entry]
Name = Wine Minesweeper
Name[ar] =                                                                                                                                                                                                                                                            ﺬﻴﺒﻨﻟﺍ ﻡﺎﻐﻟﺃ ﺔﺤﺳﺎﻛ
Name[bg] = Виновен миночистач
Name[ca] = Vi Buscamines
Name[cs] = Víno minového pole
Name[da] = Vin Minestryger
Name[de] = Weinsweeper
Name[el] = Ορυχείο Ναρκών
Name[eo] = Vina Minŝipo
Name[es] = Buscaminas de vino
Name[fa] =                                                                                                                                                                                                                                                                ﺏﺍﺮﺷ ﻥﺪﻌﻣ ﻥﺪﻌﻣ
Name[fi] = Viini miinanraivaaja
Name[fr] = Vin Démineur
Name[he] =                                                                                                                                                                                                                                                                   םישקומ הלוש
Name[hi] = शराब माइनस्वीपर
Name[hr] = Minolovac za vino
Name[hu] = Bor Aknakereső
Name[it] = Vino Minesweeper
Name[ja] = ワイン鉱山船
Name[ko] = 와인 지뢰 찾기
Name[lt] = Vyno kalnakasyba
Name[ml] = വീഞ്ഞ് മൈനസ്വീപ്പര്
Name[nl] = Wijnmijnenveger
Name[pa] = ਵਾਈਨ ਮੈਨਸਾਈਪਰ
Name[pl] = Wino Saper
Name[pt] = Vinho Campo Minado
Name[pt-BR] = Vinho Campo Minado
Name[pt-PT] = Vinho Campo Minado
Name[ro] = Minesweeper de vin
Name[ru] = Винный сапер
Name[sk] = Víno mínového poľa
Name[sl] = Vina minolovec
Name[sr] = Винарски минер
Name[sr-Cyrl] = Винарски минер
Name[sr-Latn] = Vinarski miner
Name[sv] = Wine Röj
Name[te] = వైన్ మైన్స్వీపర్
Name[th] = เครื่องกวาดหิมะไวน์
Name[tr] = Şarap mayın tarama gemisi
Name[uk] = Виномайзер
Name[zh] = 葡萄酒扫雷艇
Name[zh-CN] = 葡萄酒扫雷艇
Name[zh-TW] = 葡萄酒掃雷艇
Comment = A clone of the Windows Minesweeper game
Comment[ar] = A ﺯﻭﺪﻨﻳﻭ ﻡﺎﻐﻟﺃ ﺔﺤﺳﺎﻛ ﺔﺒﻌﻟ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg] = Клонинг на Windows миночистач игра
Comment[ca] = Un clon del joc de Windows Buscamines
Comment[cs] = Klon Windows Hledání min hry
Comment[da] = En klon af Windows Minestryger spil
Comment[de] = Ein Klon des Windows-Sweeper Spiel
Comment[el] = Ένας κλώνος του παιχνιδιού των Windows Ναρκαλιευτής
Comment[eo] = Klono de la Vindoza Minesweeper-ludo
Comment[es] = Un clon del juego de Windows Buscaminas
Comment[fa] =                                                                                                                                                                                                                                            ﺯﻭﺪﻨﯾﻭ Minesweeper ﯼﺯﺎﺑ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Windows Miinaharava peli
Comment[fr] = Un clone du jeu de Windows Démineur
Comment[he] =                                                                                                                                                                                                                                        Windows לש םישקומה הלוש קחשמה לש טוביש
Comment[hi] = विंडोज माइनस्वीपर गेम का एक क्लोन
Comment[hr] = Klon Windows Minolovac igre
Comment[hu] = A klón Windows Aknakereső játék
Comment[it] = Un clone del gioco Windows Minesweeper
Comment[ja] = U~indōzu mainsuīpa gēmu no kurōn
Comment[ko] = 윈도우 지뢰 찾기 게임의 클론
Comment[lt] = "Windows Minesweeper" žaidimo klonas
Comment[ml] = വിൻഡോസ് മൈൻസ്വൈപ്പർ ഗെയിമിന്റെ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Windows Mijnenveger spel
Comment[pa] = ਵਿੰਡੋਜ਼ ਮਾਈਨਸਪੀਪਰ ਗੇਮ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl] = Klon Windows gra Saper
Comment[pt] = Um clone do jogo do Windows Minesweeper
Comment[pt-BR] = Um clone do jogo do Windows Minesweeper
Comment[pt-PT] = Um clone do jogo do Windows Minesweeper
Comment[ro] = O clonă a jocului Minesweeper Windows
Comment[ru] = Клон игры Сапер для Windows
Comment[sk] = Klon Windows Hľadanie mín hry
Comment[sl] = Klon igre Windows Minesweeper
Comment[sr] = Клон игре Виндовс Минесвеепер
Comment[sr-Cyrl] = Клон игре Виндовс Минесвеепер
Comment[sr-Latn] = Klon igre Windows Minesweeper
Comment[sv] = En klon av Windows Röj spelet
Comment[te] = విండోస్ మైన్స్వీపర్ ఆట యొక్క క్లోన్
Comment[th] = การ clone ของ Windows เรือกวาดทุ่นระเบิดเกม
Comment[tr] = Windows Mayın Tarlası'nın bir kopyası oyunu
Comment[uk] = Клон гри Сапер для Windows
Comment[zh] = 在Windows扫雷游戏的克隆
Comment[zh-CN] = 在Windows扫雷游戏的克隆
Comment[zh-TW] = 在Windows掃雷遊戲的克隆
Exec = winemine
Terminal = false
Type = Application
Icon = wine-winemine
Categories = X-Wine;Game;LogicGame;
