[Desktop Entry]
Name = Wine OLE/COM Object Viewer
Name[ar] =                                                                                                                                                                                                                                                   ﻡﻮﻛ / ﻲﻟﻭﺃ ﻦﺋﺎﻛ ﺽﺭﺎﻋ ﺬﻴﺒﻨﻟﺍ
Name[bg] = Wine OLE / COM Viewer на обекти
Name[ca] = Vi visualitzador d'objectes OLE / COM
Name[cs] = Prohlížeč objektů OLE / COM Wine
Name[da] = Vin OLE / COM Objekt Viewer
Name[de] = Wein OLE / COM-Objektkatalog
Name[el] = Οπτικοακουστικό πρόγραμμα προβολής OLE / COM
Name[eo] = Vino OLE / COM Objekto Vidilo
Name[es] = OLE vino / COM Object Viewer
Name[fa] = OLE ﻩﺪﻨﻨﯿﺑ ﯽﺷ ﻡﺎﮐ / ﺏﺍﺮﺷ
Name[fi] = Viini OLE / COM Object Viewer
Name[fr] = Vin OLE / COM Object Viewer
Name[he] =                                                                                                                                                                                                                                                    COM טקייבוא גיצמ / OLE ןיי
Name[hi] = शराब OLE / COM ऑब्जेक्ट व्यूअर
Name[hr] = Vino OLE / COM objekt preglednik
Name[hu] = Bor OLE / COM objektum Viewer
Name[it] = OLE Vino / COM Object Viewer
Name[ja] = ワインOLE / COMオブジェクトビューア
Name[ko] = 와인 OLE / COM 개체 뷰어
Name[lt] = Vyno OLE / COM objektą peržiūros
Name[ml] = വൈൻ OLE / COM ഒബ്ജക്റ്റ് വ്യൂവർ
Name[nl] = Wijn OLE / COM Object Viewer
Name[pa] = ਵਾਈਨ OLE / COM ਆਬਜੈਕਟ ਵਿਊਅਰ
Name[pl] = Wino OLE / COM Object Viewer
Name[pt] = OLE vinho / COM Object Viewer
Name[pt-BR] = OLE vinho / COM Object Viewer
Name[pt-PT] = OLE vinho / COM Object Viewer
Name[ro] = Vizualizarea obiectelor OLE / COM Object Viewer
Name[ru] = Визуальный просмотр объектов OLE / COM
Name[sk] = Obrazový prehliadač objektov OLE / COM
Name[sl] = Vino OLE / COM Predmet Viewer
Name[sr] = Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Cyrl] = Вине ОЛЕ / ЦОМ Објецт Виевер
Name[sr-Latn] = Vino OLE / COM Object Viewer
Name[sv] = Vin OLE / COM Objektvisare
Name[te] = వైన్ OLE / COM ఆబ్జెక్ట్ వ్యూవర్
Name[th] = โปรแกรมดูวัตถุ OLE / COM ไวน์
Name[tr] = Şarap OLE / COM nesnesi Görüntüleyici
Name[uk] = Вино OLE / COM Object Viewer,
Name[zh] = 葡萄酒OLE / COM对象查看
Name[zh-CN] = 葡萄酒OLE / COM对象查看
Name[zh-TW] = 葡萄酒OLE / COM對象查看
Comment = Windows Object Linking and Embedding/Component Object Model Object Viewer
Comment[ar] =                                                                                                                                                                                                                        ﺽﺭﺎﻋ ﺝﺫﻮﻤﻧ ﻦﺋﺎﻛ ﻥﻮﻜﻤﻟﺍ ﻦﺋﺎﻛ / ﻦﻴﻤﻀﺘﻟﺍﻭ ﻂﺑﺭ ﻦﺋﺎﻛ ﺯﻭﺪﻨﻳﻭ
Comment[bg] = Windows Свързване на обекти и вграждане / Component Object Viewer обектния модел
Comment[ca] = Vinculació d'objectes de Windows i incrustat / visualitzador d'objectes de model d'objectes components
Comment[cs] = Připojení a vkládání objektů v systému Windows / Prohlížeč objektů modelu objektů
Comment[da] = Windows Objekt Linking og Embedding / Component Object Model Objekt Viewer
Comment[de] = Windows-Objektverknüpfung und -Einbettung / Komponentenobjektmodell Objektanzeige
Comment[el] = Σύνδεση αντικειμένου και ενσωμάτωση αντικειμένων / αντικειμενοφόρος αντικειμενοφόρος αντικειμενικός φακός
Comment[eo] = Vindoza Objekto Liganta kaj Enkorpiganta / Komponenta Objekto Modelo Objekto Vidilo
Comment[es] = Objeto de Windows Vinculación e incrustación de objetos / Modelo de objetos Objeto Visor
Comment[fa] = Object Linking ﻭ Embedding Object Modeler Object Object Viewer ﺮﻠﯾﺎﭙﻣﺎﮐ
Comment[fi] = Windowsin objektin linkittäminen ja upottaminen / Component Object Model objektinäkymässä
Comment[fr] = Fenêtre Windows Object Linking et Embedding / Component Object Object Viewer
Comment[he] =                                                                                                                                                                                                            Viewer םגד טקייבוא טקייבוא ביכר / Embedding ו רשקמ Windows טקייבוא
Comment[hi] = विंडोज ऑब्जेक्ट लिंकिंग एंड एंबल्डिंग / घटक ऑब्जेक्ट मॉडल ऑब्जेक्ट व्यूअर
Comment[hr] = Objekt za povezivanje objekta sustava Windows i ugrađivanje / objekt komponente objekta Object Viewer
Comment[hu] = Windows objektumok összekapcsolása és beágyazása / komponens objektummodell objektum-figyelő
Comment[it] = Visualizzatore oggetti di collegamento e incorporamento oggetti / modello oggetto Windows
Comment[ja] = U~indōzu obujekuto no rinku to umekomi/ kon pōnentoobujekutomoderuobujekutobyūa
Comment[ko] = 윈도우 개체 연결 및 포함 / 구성 요소 개체 모델 개체 뷰어
Comment[lt] = Langai objektų susiejimas ir įdėjimas / Component Object Model objektas peržiūros
Comment[ml] = വിന്ഡോസ് ഒബ്ജക്റ്റ് ലിങ്കിംഗ് ആന്ഡ് എംബെഡിംഗ് / കോംപോണന്റ് ഒബ്ജക്റ്റ് മോഡ ഒബ്ജക്റ്റ് വ്യൂവര്
Comment[nl] = Windows Object Linker en Embedding / Component Object Model Object Viewer
Comment[pa] = ਵਿੰਡੋਜ਼ ਆਬਜੈਕਟ ਲਿੰਕਿੰਗ ਅਤੇ ਐਮਬੈਡਿੰਗ / ਕੰਪੋਨੈਂਟ ਆਬਜੈਕਟ ਮਾਡਲ ਆਬਜੈਕਟ ਵਿਊਅਰ
Comment[pl] = Łączenie obiektów i osadzanie obiektów systemu Windows / Podgląd obiektów modelu obiektu
Comment[pt] = Janelas Object Linking and Embedding / Component Object Model Viewer Objeto
Comment[pt-BR] = Janelas Object Linking and Embedding / Component Object Model Viewer Objeto
Comment[pt-PT] = Janelas Object Linking and Embedding / Component Object Model Viewer Objeto
Comment[ro] = Conectarea și încorporarea obiectului Windows / vizualizarea obiectului modelului de obiect
Comment[ru] = Объектное связывание и встраивание объектов объектной модели объекта объекта
Comment[sk] = Prepojenie a vkladanie objektov so systémom Windows / Object Viewer objektov
Comment[sl] = Pregledovalnik predmetov Object Linking and Embedding / Component Object Object Viewer
Comment[sr] = Виндовс Објецт Линкинг и Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Cyrl] = Виндовс Објецт Линкинг и Ембеддинг / Цомпонент Објецт Објецт Виевер
Comment[sr-Latn] = Windows Object Linking i Embedding / Component Object Object Viewer
Comment[sv] = Windows Objektlänkning och inbäddning / komponentobjektmodellobjektor
Comment[te] = విండోస్ ఆబ్జెక్ట్ లింకింగ్ అండ్ ఎంబెడ్డింగ్ / కాంపోనెంట్ ఆబ్జెక్ట్ మోడల్ ఆబ్జెక్ట్ వ్యూవర్
Comment[th] = หน้าต่างวัตถุเชื่อมโยงและการฝัง / Component Object Viewer รูปแบบวัตถุ
Comment[tr] = Windows nesne bağlama ve katıştırma / Bileşen Nesne Modeli Nesne Görüntüleyicisi
Comment[uk] = Windows
Comment[zh] = Windows对象链接和嵌入/组件对象模型对象查看器
Comment[zh-CN] = Windows对象链接和嵌入/组件对象模型对象查看器
Comment[zh-TW] = Windows對象鏈接和嵌入/組件對像模型對象查看器
Exec = wine oleview.exe
Terminal = false
Type = Application
Icon = control-wine
Categories = X-Wine;
