[Desktop Entry]
Name=Uninstall Wine Software
Name[ar]=                                                        ﺕﺎﻴﺠﻣﺮﺒﻟﺍ ﺬﻴﺒﻨﻟﺍ ﺔﻟﺍﺯﺇ
Name[bg]=Деинсталирайте софтуера за вино
Name[ca]=Desinstal·lació del programari del vi
Name[cs]=Odinstalujte program 紅酒 Software
Name[da]=Afinstaller vin software
Name[de]=Deinstallieren Sie 紅酒 Software
Name[el]=Καταργήστε την εγκατάσταση λογισμικού κρασιού
Name[eo]=Malinstali 紅酒-Programaron
Name[es]=Desinstalar 紅酒 Software
Name[fa]=                                                            ﺭﺍﺰﻓﺍ ﻡﺮﻧ ﺏﺍﺮﺷ ﻑﺬﺣ
Name[fi]=Poista viiniohjelmisto
Name[fr]=Désinstaller le logiciel de vin
Name[he]=                                                              ןייה תונכות תרסה
Name[hi]=वाइन सॉफ्टवेयर अनइंस्टॉल करें
Name[hr]=Deinstalirajte softver za vino
Name[hu]=A bor szoftver eltávolítása
Name[it]=Disinstallare il software del vino
Name[ja]=ワインソフトウェアのアンインストール
Name[ko]=紅酒 소프트웨어 제거
Name[lt]=Pašalinti vyno programinę įrangą
Name[ml]=വൈൻ സോഫ്റ്റ്വെയർ അൺഇൻസ്റ്റാൾ ചെയ്യുക
Name[nl]=Wijnsoftware verwijderen
Name[pa]=ਅਣ ਵਾਈਨ ਸਾਫ਼ਟਵੇਅਰ
Name[pl]=Odinstaluj oprogramowanie 紅酒
Name[pt]=Desinstalar o Software 紅酒
Name[pt@BR]=Desinstalar o Software 紅酒
Name[pt@PT]=Desinstalar o Software 紅酒
Name[ro]=Dezinstalați software-ul de vin
Name[ru]=Удалить 紅酒 Software
Name[sk]=Odinštalujte software vína
Name[sl]=Odstrani program za vino
Name[sr]=Унинсталл Вине Софтваре
Name[sr@Cyrl]=Унинсталл Вине Софтваре
Name[sr@Latn]=Uninstall 紅酒 Software
Name[sv]=Avinstallera 紅酒 Software
Name[te]=అన్ఇన్స్టాల్ వైన్ సాఫ్ట్వేర్
Name[th]=ถอนการติดตั้งซอฟต์แวร์ 紅酒
Name[tr]=Şarap Yazılımını Kaldır
Name[uk]=Видалити програмне забезпечення вин
Name[zh]=卸载葡萄酒软件
Name[zh@CN]=卸载葡萄酒软件
Name[zh@TW]=卸載葡萄酒軟件
Comment=A clone of Windows Add and Remove Programs Utility
Comment[ar]=A ﺓﺪﻋﺎﺴﻤﻟﺍ ﺞﻣﺍﺮﺒﻟﺍ ﺔﻟﺍﺯﺇﻭ ﺔﻓﺎﺿﺇ ﺯﻭﺪﻨﻳﻭ ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клониране на помощната програма за добавяне и премахване на програми в 視窗
Comment[ca]=Un clon de la utilitat Afegir i treure programes de 視窗
Comment[cs]=Klon programu 視窗 Add and Remove Programs Utility
Comment[da]=En klon af 視窗 Tilføj og fjern programmer
Comment[de]=Ein Klon von 視窗 Add and Remove Programs Utility
Comment[el]=Ένας κλώνος του 視窗 Add and Remove Programs Utility
Comment[eo]=Klono de 視窗 Aldonu kaj Forigi Programajn Utilecon
Comment[es]=Un clon de la utilidad Agregar y quitar programas de 視窗
Comment[fa]=                             ﯼﺩﺮﺑﺭﺎﮐ ﯼﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻑﺬﺣ ﻭ ﻥﺩﻭﺰﻓﺍ ﺯﻭﺪﻨﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗in Lisää ja poista sovellus -työkalu
Comment[fr]=Un clone de 視窗 Add and Remove Programs Utility
Comment[he]=                               '視窗 לש הרסהו הפסוה' תורישה תינכות לש טוביש
Comment[hi]=विंडोज़ का एक क्लोन प्रोग्राम जोड़ें और निकालें उपयोगिता
Comment[hr]=Klon programa 視窗 Dodavanje i uklanjanje programa
Comment[hu]=A 視窗 Programok telepítése és törlése segédprogram klónja
Comment[it]=Un clone di 視窗 Aggiunta e rimozione di programmi Utility
Comment[ja]=視窗のプログラムの追加と削除ユーティリティのクローン
Comment[ko]=視窗 프로그램 추가 / 제거 유틸리티 복제본
Comment[lt]="視窗 Add and Remove Programs Utility"klonas
Comment[ml]=വിൻഡോസിന്റെ ഒരു ക്ലോൺ പ്രോഗ്രാമുകൾ യൂട്ടിലിറ്റി ചേർക്കുക, നീക്കം ചെയ്യുക
Comment[nl]=Een kloon van 視窗 Add and Remove Programs Utility
Comment[pa]=ਵਿੰਡੋਜ਼ ਦਾ ਇੱਕ ਨਕਲ ਪ੍ਰੋਗ੍ਰਾਮ ਉਪਯੋਗਤਾ ਹਟਾਓ ਅਤੇ ਹਟਾਓ
Comment[pl]=Klon narzędzia Dodaj i usuń programy 視窗
Comment[pt]=Um clone do 視窗 Add and Remove Programs Utility
Comment[pt@BR]=Um clone do 視窗 Add and Remove Programs Utility
Comment[pt@PT]=Um clone do 視窗 Add and Remove Programs Utility
Comment[ro]=O clonă a utilitarului 視窗 Add and Remove Programs
Comment[ru]=Клон 視窗 Add and Remove Programs Utility
Comment[sk]=Klon programu 視窗 Add and Remove Programs Utility
Comment[sl]=Klon programa 視窗 Add and Remove Programs
Comment[sr]=Клон програма Виндовс Адд анд Ремове Програмс Утилити
Comment[sr@Cyrl]=Клон програма Виндовс Адд анд Ремове Програмс Утилити
Comment[sr@Latn]=Klon programa 視窗 Add and Remove Programs Utility
Comment[sv]=En klon i 視窗 Lägg till och ta bort programverktyg
Comment[te]=視窗 యొక్క ఒక క్లోన్ జోడించు మరియు తొలగించు ప్రోగ్రామ్లు యుటిలిటీ
Comment[th]=โคลนของ 視窗 Add and Remove Programs ยูทิลิตี้
Comment[tr]=視窗 Program Ekle / Kaldır Yardımcı Programının bir kopyası
Comment[uk]=Клон 視窗 Utility для додавання та видалення програм
Comment[zh]=視窗添加和删除程序实用程序的克隆
Comment[zh@CN]=視窗添加和删除程序实用程序的克隆
Comment[zh@TW]=視窗添加和刪除程序實用程序的克隆
Exec=wine uninstaller.exe
Terminal=false
Type=Application
Icon=control-wine
Categories=Wine;
