[Desktop Entry]
Name=Wine clone of Microsoft® Installer
Name[ar]=ﺖﺒﺜﻣ Microsoft® ﻦﻣ ﺔﺨﺴﻧ Wine
Name[bg]=Wine клон на Microsoft® инсталатор
Name[ca]=clon de Wine de Microsoft® instal·lador
Name[cs]=Wine klon Microsoft® Instalátor
Name[da]=Wine klon af Microsoft®® Installer
Name[de]=Wine Klon von Microsoft® Installer
Name[el]=Wine κλώνος του Microsoft® Installer
Name[eo]=Wine klonas de Microsoft® Instalilo
Name[es]=Wine clon del instalador Microsoft®
Name[fa]=ﺐﺼﻧ Microsoft® ﺯﺍ Wine ﻥﻮﻠﮐ
Name[fi]=Wine klooni Microsoft® Asentaja
Name[fr]=Wine clone de Microsoft® Installateur
Name[he]=ןיקתמ Microsoft® לש טוביש Wine
Name[hi]=Wine Microsoft® इंस्टॉलर का क्लोन
Name[hr]=Wine klon Microsoft® Installer
Name[hu]=Wine klón Microsoft® telepítő
Name[it]=Wine clone di Microsoft®® Installer
Name[ja]=Wine Kurōn Microsoft® insutōra
Name[ko]=Wine 복제본 Microsoft® 설치 프로그램
Name[lt]=Wine klonas Microsoft® diegimo programa
Name[ml]=Microsoft® ഇൻസ്റ്റോളർ എന്ന Wine ക്ലോൺ
Name[nl]=Wine kloon van Microsoft®® Installer
Name[pa]=Microsoft® ਇੰਸਟਾਲਰ ਦੀ Wine ਕਲੋਨ
Name[pl]=Wine klon Microsoft® Instalator
Name[pt]=Wine clone de Microsoft® Instalador
Name[pt-BR]=Wine clone de Microsoft® Instalador
Name[pt-PT]=Wine clone de Microsoft® Instalador
Name[ro]=clona de Wine Microsoft®® Installer
Name[ru]=Wine клон Microsoft® Установщик
Name[sk]=Wine klon Microsoft® Inštalatér
Name[sl]=Wine klon Microsoft® Instalater
Name[sr]=Wine клон Microsoft® Инсталатер
Name[sr-Cyrl]=Wine клон Microsoft® Инсталатер
Name[sr-Latn]=Wine klon od Microsoft® Instalater
Name[sv]=Wine klon av Microsoft®® Installer
Name[te]=Microsoft® ఇన్స్టాలర్ యొక్క Wine క్లోన్
Name[th]=Wine โคลนจาก Microsoft® ตัวติดตั้ง
Name[tr]=Microsoft®® yükleyicisi Wine klonu
Name[uk]=Wine клон Microsoft® Установник
Name[zh]=Wine Microsoft® Ānzhuāng rényuán de kèlóng
Name[zh-CN]=Wine Microsoft® Ānzhuāng rényuán de kèlóng
Name[zh-TW]=Wine Microsoft® Ānzhuāng rényuán de kèlóng
Comment=Wine installer utility for MSI packages
Comment[ar]=Wine ﻡﺰﺣ ﺖﻴﺒﺜﺘﻟ ﺓﺪﻋﺎﺴﻣ ﺓﺍﺩﺃ Wine
Comment[bg]=Wine Инсталационна програма за пакети MSI
Comment[ca]=la utilitat d'instal·lació de Wine per paquets MSI
Comment[cs]=Instalační Wine nástroj pro MSI balíčků
Comment[da]=Wine installatør hjælpeprogram til MSI pakker
Comment[de]=Wine-Installer-Dienstprogramm für MSI-Pakete
Comment[el]=βοηθητικό πρόγραμμα εγκατάστασης Wine πακέτα MSI
Comment[eo]=Wine instalilo utileco por MSI pakaĵoj
Comment[es]=la utilidad de instalación de Wine para paquetes MSI
Comment[fa]=MSI ﯼﺎﻫ ﻪﺘﺴﺑ ﯼﺍﺮﺑ Wine ﺐﺼﻧ ﺭﺍﺰﺑﺍ
Comment[fi]=Wine asennusohjelma MSI paketteja
Comment[fr]=utilitaire d'installation de Wine pour les packages MSI
Comment[he]=תוליבח MSI לש הנקתהה ילכ Wine
Comment[hi]=एमएसआई पैकेज के लिए Wine इंस्टॉलर उपयोगिता
Comment[hr]=Wine instalacijski program za MSI pakete
Comment[hu]=Wine telepítő segédprogram MSI csomagokhoz
Comment[it]=Utilità di installazione Wine per pacchetti MSI
Comment[ja]=Wine MSI pakkēji no insutōrayūtiriti
Comment[ko]=Wine MSI 패키지 용 설치 유틸리티
Comment[lt]=Wine diegimo programa MSI paketams
Comment[ml]=മാരുതി പാക്കേജുകൾ വേണ്ടി Wine ഇൻസ്റ്റാളർ യൂട്ടിലിറ്റി
Comment[nl]=Wineinstallatieprogramma voor MSI-pakketten
Comment[pa]=ਕੰਪਨੀ ਪੈਕੇਜ ਲਈ Wine ਇੰਸਟਾਲਰ ਸਹੂਲਤ
Comment[pl]=Wine narzędzie instalacyjne dla pakietów MSI
Comment[pt]=utilitário de instalação Wine para pacotes MSI
Comment[pt-BR]=utilitário de instalação Wine para pacotes MSI
Comment[pt-PT]=utilitário de instalação Wine para pacotes MSI
Comment[ro]=utilitar de instalare de Wine pentru pachete MSI
Comment[ru]=Wine Утилита установки для пакетов MSI
Comment[sk]=Inštalačný Wine nástroj pre MSI balíčkov
Comment[sl]=Wine namestitveni pripomoček za MSI paketov
Comment[sr]=Wine инсталер алат за МСИ пакете
Comment[sr-Cyrl]=Wine инсталер алат за МСИ пакете
Comment[sr-Latn]=Wine instalater alat za MSI pakete
Comment[sv]=Wine installations verktyg för MSI-paket
Comment[te]=ఎంఎస్ఐ ప్యాకేజెస కోసం Wine సంస్థాపకి వినియోగ
Comment[th]=ยูทิลิตี้การติดตั้งWineสำหรับแพคเกจของ MSI
Comment[tr]=MSI paketleri için Wine yükleyici yardımcı programı
Comment[uk]=Wine інсталятор утиліта для пакетів MSI
Comment[zh]=Wine MSI ruǎnjiàn bāo de ānzhuāng chéngxù shíyòng chéngxù
Comment[zh-CN]=Wine MSI ruǎnjiàn bāo de ānzhuāng chéngxù shíyòng chéngxù
Comment[zh-TW]=Wine MSI ruǎnjiàn bāo de ānzhuāng chéngxù shíyòng chéngxù
Exec=wine msiexec /i %f
Terminal=false
Type=Application
Icon=wine-msiexec
NoDisplay=true
Categories=Wine;
StartupWMClass=msiexec.exe
