[Desktop Entry]
Name=Wine Notepad
Name[ar]=                                                                ﺓﺮﻜﻔﻤﻟﺍ ،ﺮﻤﺨﻟﺍ
Name[bg]=Вино Notepad
Name[ca]=Bloc de notes del vi
Name[cs]=Poznámkový blok vína
Name[da]=Vin Notesblok
Name[de]=Wein-Notizblock
Name[el]=Σημειωματάριο κρασιού
Name[eo]=vino Notepad
Name[es]=Bloc de notas de vinos
Name[fa]=                                                             ﺏﺍﺮﺷ ﺖﺷﺍﺩﺩﺎﯾ ﺮﺘﻓﺩ
Name[fi]=Viini Muistio
Name[fr]=Bloc-notes de vin
Name[he]=                                                                     ןייה סקנפ
Name[hi]=शराब नोटपैड
Name[hr]=Zabilješka vina
Name[hu]=Bor jegyzettömb
Name[it]=Biglietto da visita del vino
Name[ja]=ワインメモ帳
Name[ko]=와인 메모장
Name[lt]=Vyno užrašų knygelė
Name[ml]=വീഞ്ഞ് നോട്ട്പാഡ്
Name[nl]=Wijn Notitieblok
Name[pa]=ਵਾਈਨ ਨੋਟਪੈਡ
Name[pl]=Notatnik wina
Name[pt]=Bloco de notas de vinho
Name[pt@BR]=Bloco de notas de vinho
Name[pt@PT]=Bloco de notas de vinho
Name[ro]=Wrap Notepad
Name[ru]=Винный блокнот
Name[sk]=Poznámkový blok vína
Name[sl]=Vino Notepad
Name[sr]=Вине Нотепад
Name[sr@Cyrl]=Вине Нотепад
Name[sr@Latn]=vino Notepad
Name[sv]=Vin Anteckningsblock
Name[te]=వైన్ నోట్ప్యాడ్
Name[th]=Notepad ไวน์
Name[tr]=Şarap Not Defteri
Name[uk]=Винний блокнот
Name[zh]=葡萄酒记事本
Name[zh@CN]=葡萄酒记事本
Name[zh@TW]=葡萄酒記事本
Comment=A clone of the Windows Notepad Text Editor
Comment[ar]=                                                ﺯﻭﺪﻨﻳﻭ ﺓﺮﻜﻔﻤﻟﺍ ﺺﻧ ﺭﺮﺤﻣ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клониране на текстовия редактор на 視窗 Notepad
Comment[ca]=Un clon de l'editor de text de bloc de notes de 視窗
Comment[cs]=Klon textového editoru Poznámkový blok systému 視窗
Comment[da]=En klon i 視窗 Notepad Text Editor
Comment[de]=Ein Klon des 視窗 Notepad Text Editors
Comment[el]=Ένας κλώνος του επεξεργαστή κειμένου του Notepad των 視窗
Comment[eo]=Klono de la Teksta Redaktilo de 視窗 Notepad
Comment[es]=Un clon del editor de texto de Bloc de notas de 視窗
Comment[fa]=                                 ﺯﻭﺪﻨﯾﻭ ﺖﺷﺍﺩﺩﺎﯾ ﻪﭼﺮﺘﻓﺩ ﻦﺘﻣ ﺮﮕﺸﯾﺍﺮﯾﻭ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi]=視窗 Notepad Text Editorin klooni
Comment[fr]=Un clone de l'éditeur de texte du Bloc-notes 視窗
Comment[he]=                                            טסקט ךרוע 視窗 Notepad לש טוביש
Comment[hi]=विंडोज नोटपैड पाठ संपादक का एक क्लोन
Comment[hr]=Klon uređivača teksta Notepad sustava 視窗
Comment[hu]=A 視窗 Notepad Text Editor klónja
Comment[it]=Un clone dell'editor di testi di notepad di 視窗
Comment[ja]=視窗メモ帳テキストエディタのクローン
Comment[ko]=視窗 메모장 텍스트 편집기의 복제본
Comment[lt]="視窗 Notepad"teksto redaktoriaus klonas
Comment[ml]=വിൻഡോസ് നോട്ട്പാഡ് ടെക്സ്റ്റ് എഡിറ്ററിന്റെ ഒരു ക്ലോൺ
Comment[nl]=Een kloon van de 視窗 Notepad Text Editor
Comment[pa]=ਵਿੰਡੋਜ਼ ਨੋਟਪੈਡ ਟੈਕਸਟ ਐਡੀਟਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl]=Klon edytora tekstu Notatnika systemu 視窗
Comment[pt]=Um clone do 視窗 Notepad Text Editor
Comment[pt@BR]=Um clone do 視窗 Notepad Text Editor
Comment[pt@PT]=Um clone do 視窗 Notepad Text Editor
Comment[ro]=O clonă a Editorului de texte 視窗 Notepad
Comment[ru]=Клон текстового редактора 視窗 Notepad
Comment[sk]=Klon programu 視窗 Poznámkový textový editor
Comment[sl]=Klon urejevalnika besedil v programu 視窗 Notepad
Comment[sr]=Клон Виндовс Нотепад Тект Едитор
Comment[sr@Cyrl]=Клон Виндовс Нотепад Тект Едитор
Comment[sr@Latn]=Klon uređivača teksta 視窗 Notepad
Comment[sv]=En klon i 視窗 Notepad Text Editor
Comment[te]=విండోస్ నోట్ప్యాడ్ టెక్స్ట్ ఎడిటర్ యొక్క క్లోన్
Comment[th]=โคลนของตัวแก้ไขข้อความ Notepad ของ 視窗
Comment[tr]=視窗 Not Defteri Metin Düzenleyicisi'nin bir kopyası
Comment[uk]=Клон текстового редактора 視窗 Notepad
Comment[zh]=視窗记事本文本编辑器的克隆
Comment[zh@CN]=視窗记事本文本编辑器的克隆
Comment[zh@TW]=視窗記事本文本編輯器的克隆
Exec=notepad %f
Terminal=false
Type=Application
Icon=wine-notepad
Categories=Wine-Programs-Accessories;
