[Desktop Entry]
Name=Configure Wine
Name[ar]=Wine ﻦﻳﻮﻜﺗ
Name[bg]=Конфигурирайте Wine
Name[ca]=configurar Wine
Name[cs]=Nakonfigurujte Wine
Name[da]=Konfigurer Wine
Name[de]=Konfigurieren Sie Wine
Name[el]=Διαμορφώστε Wine
Name[eo]=Agordi Wine
Name[es]=Configurar Wine
Name[fa]=ﺪﯿﻨﮐ ﯼﺪﻨﺑﺮﮑﯿﭘ ﺍﺭ Wine
Name[fi]=Määritä Wine
Name[fr]=Configurer Wine
Name[he]=Wine הרוצתה תא רדגה
Name[hi]=कॉन्फ़िगर करें Wine
Name[hr]=Konfigurirajte Wine
Name[hu]=Állítsa be a Wine beállítást
Name[it]=Configura Wine
Name[ja]=コンフィグレーションするWine
Name[ko]=Wine 구성
Name[lt]=Konfigūruoti Wine
Name[ml]=Wine കോൺഫിഗർ ചെയ്യുക
Name[nl]=Configureer Wine
Name[pa]=Wine ਨੂੰ ਕੌਂਫਿਗਰ ਕਰੋ
Name[pl]=Skonfiguruj Wine
Name[pt]=Configurar Wine
Name[pt-BR]=Configurar Wine
Name[pt-PT]=Configurar Wine
Name[ro]=Configurați Wine
Name[ru]=Настроить Wine
Name[sk]=Nakonfigurujte Wine
Name[sl]=Konfigurirajte Wine
Name[sr]=Конфигурирај Wine
Name[sr-Cyrl]=Конфигурирај Wine
Name[sr-Latn]=Konfiguriraj Wine
Name[sv]=Konfigurera Wine
Name[te]=Wine ఆకృతీకరించు
Name[th]=กำหนดค่า Wine
Name[tr]=Wine yapılandırın
Name[uk]=Налаштуйте Wine
Name[zh]=配置Wine
Name[zh-CN]=配置Wine
Name[zh-TW]=配置Wine
Comment=Change general Wine options and application overrides/options
Comment[ar]=ﺕﺍﺭﺎﻴﺨﻟﺍ / ﻖﻴﺒﻄﺘﻟﺍ ﺕﺍﺯﻭﺎﺠﺗﻭ ﺕﺍﺭﺎﻴﺧ Wine ﻡﺎﻋ ﺮﻴﻴﻐﺗ
Comment[bg]=Променете общите Wine опции и преименуването / опциите на приложенията
Comment[ca]=Canvieu les opcions generals Wine i les invalides / opcions d'aplicació
Comment[cs]=Změňte obecné možnosti Wine a přepíše / volby aplikací
Comment[da]=Skift generelle Wine valgmuligheder og programoverskridelser / muligheder
Comment[de]=Ändern Sie allgemeine Wine Optionen und Anwendungsüberschreibungen / Optionen
Comment[el]=Αλλάξτε τις γενικές επιλογές Wine και τις εναλλαγές εφαρμογών / επιλογών
Comment[eo]=Ŝanĝi ĝenerala Wine ebloj kaj aplikaĵaj forigoj / opcioj
Comment[es]=Cambiar las opciones generales Wine y las opciones / modificaciones de la aplicación
Comment[fa]=ﯽﻣﻮﻤﻋ ﯼﺎﻫ ﻪﻨﯾﺰﮔ / ﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻮﻐﻟ ﻭ ﺎﻫ ﻪﻨﯾﺰﮔ Wine ﺕﺍﺮﯿﯿﻐﺗ
Comment[fi]=Muuta yleisiä Wine vaihtoehtoja ja sovelluksen ohituksia / vaihtoehtoja
Comment[fr]=Modifier les options générales Wine et les remplacements / options d'application
Comment[he]=תויצפוא / םימושיי לש תופיקעו תויורשפא Wine יללכ יוניש
Comment[hi]=सामान्य Wine विकल्प और एप्लिकेशन ओवरराइड / विकल्प बदलें
Comment[hr]=Promijenite opće opcije Wine i nadopune / opcije aplikacije
Comment[hu]=Általános Wine opciók és alkalmazás felülírások / opciók módosítása
Comment[it]=Modificare le opzioni generali Wine e le sostituzioni / opzioni dell'applicazione
Comment[ja]=一般的なものを変更する。Wineオプションとアプリケーションオーバーライド/オプション
Comment[ko]=일반 Wine 옵션 및 응용 프로그램 재정의 / 옵션 변경
Comment[lt]=Pakeiskite bendrąsias Wine parinktis ir programų keitimus / parinktis
Comment[ml]=പൊതുവായ Wine ഓപ്ഷനുകളും അപ്ലിക്കേഷൻ ഓവർറൈഡുകളും ഓപ്ഷനുകളും മാറ്റുക
Comment[nl]=Wijzig algemene Wine opties en applicatie-overrides / opties
Comment[pa]=ਆਮ Wine ਚੋਣਾਂ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ ਓਵਰਰਾਈਡਜ਼ / ਵਿਕਲਪ ਬਦਲੋ
Comment[pl]=Zmień ogólne opcje Wine i nadpisania / opcje aplikacji
Comment[pt]=Alterar opções gerais de Wine e substituições / opções de aplicativos
Comment[pt-BR]=Alterar opções gerais de Wine e substituições / opções de aplicativos
Comment[pt-PT]=Alterar opções gerais de Wine e substituições / opções de aplicativos
Comment[ro]=Modificați opțiunile generale și opțiunile / opțiunile aplicației Wine
Comment[ru]=Изменить общие параметры Wine и переопределения приложений / параметры
Comment[sk]=Zmeňte všeobecné Wine možnosti a prepísania / možnosti aplikácií
Comment[sl]=Spremenite splošne možnosti Wine in preglasitve / možnosti uporabe
Comment[sr]=Промените опште Wine опције и прелиминарне апликације / опције
Comment[sr-Cyrl]=Промените опште Wine опције и прелиминарне апликације / опције
Comment[sr-Latn]=Promenite opšte Wine opcije i preklapanje primjene / opcije
Comment[sv]=Ändra allmänna Wine alternativ och programöverträdelser / alternativ
Comment[te]=సాధారణ Wine ఎంపికలను మరియు అప్లికేషన్ ఓవర్రైడ్లను / ఎంపికలను మార్చండి
Comment[th]=เปลี่ยนทั่วไป Wine ตัวเลือกและการแทนที่ / ตัวเลือกแอ็พพลิเคชัน
Comment[tr]=Genel Wine seçeneklerini ve uygulama geçersiz kılmalarını / seçeneklerini değiştirin
Comment[uk]=Змініть загальні параметри та заміни додатків / опцій Wine
Comment[zh]=更改一般Wine选项和应用程序覆盖/选项
Comment[zh-CN]=更改一般Wine选项和应用程序覆盖/选项
Comment[zh-TW]=更改一般Wine選項和應用程序覆蓋/選項
Exec=winecfg
Terminal=false
Type=Application
Icon=wine-winecfg
Categories=Wine;
