[Desktop Entry]
Name=Wine Explorer
Name[ar]=Wine ﺭﺭﻮﻠﺒﺴﻛﺇ
Name[bg]=Wine Explorer
Name[ca]=Wine Explorador
Name[cs]=Wine Průzkumník
Name[da]=Wine Explorer
Name[de]=Wine Explorer
Name[el]=Wine Explorer
Name[eo]=Wine Explorer
Name[es]=Wine Explorador
Name[fa]=ﺭﺭﻮﻠﭙﺴﮐﺍ Wine
Name[fi]=Wine Explorer
Name[fr]=Wine Explorateur
Name[he]=Wine Explorer
Name[hi]=Wine एक्सप्लोरर
Name[hr]=Wine Explorer
Name[hu]=Wine Explorer
Name[it]=Wine Explorer
Name[ja]=Wineエクスプローラ
Name[ko]=Wine 탐색기
Name[lt]=Wine Explorer "
Name[ml]=Wine എക്സ്പ്ലോറർ
Name[nl]=Wine Explorer
Name[pa]=Wine ਐਕਸਪਲੋਰਰ
Name[pl]=Wine Explorer
Name[pt]=Wine Explorador
Name[pt-BR]=Wine Explorador
Name[pt-PT]=Wine Explorador
Name[ro]=Wine Explorer
Name[ru]=Wine Проводник
Name[sk]=Wine Explorer
Name[sl]=Wine Raziskovalec
Name[sr]=Wine Екплорер
Name[sr-Cyrl]=Wine Екплорер
Name[sr-Latn]=Wine Explorer
Name[sv]=Wine Explorer
Name[te]=Wine ఎక్స్ప్లోరర్
Name[th]=Wine Explorer ที่
Name[tr]=Wine Explorer
Name[uk]=Wine Провідник
Name[zh]=Wine资源管理器
Name[zh-CN]=Wine资源管理器
Name[zh-TW]=Wine資源管理器
Comment=A clone of Microsoft® Windows Explorer
Comment[ar]=ﺭﺭﻮﻠﺒﺴﻛﺇ Windows Microsoft® ﻦﻣ ﺥﺎﺴﻨﺘﺳﺍ
Comment[bg]=Клонът на Microsoft® Windows Explorer
Comment[ca]=Un clon de Microsoft® Windows Explorador
Comment[cs]=Klon Microsoft® Windows Průzkumník
Comment[da]=En klon af Microsoft® Windows Explorer
Comment[de]=Ein Klon von Microsoft® Windows Explorer
Comment[el]=Ένας κλώνος του Microsoft® Windows Explorer
Comment[eo]=Klono de Microsoft® Windows Explorer
Comment[es]=Un clon de Microsoft® Windows Explorador
Comment[fa]=ﺭﺭﻮﻠﭙﺴﮐﺍ Windows Microsoft® ﺯﺍ ﻥﻮﻠﮐ
Comment[fi]=Klooni Microsoft® Windows Explorer
Comment[fr]=Un clone de Microsoft® Windows Explorateur
Comment[he]=Explorer Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows एक्सप्लोरर का क्लोन
Comment[hr]=Klon Microsoft® Windows Explorer
Comment[hu]=A klón Microsoft® Windows Explorer
Comment[it]=Un clone di Microsoft® Windows Explorer
Comment[ja]=Microsoft® Windowsエクスプローラのクローン
Comment[ko]=Microsoft® Windows 탐색기의 클론
Comment[lt]=Microsoft® Windows Explorer klonas
Comment[ml]=ഒരു ക്ലോൺ Microsoft® Windows എക്സ്പ്ലോറർ
Comment[nl]=Een kloon van Microsoft® Windows Explorer
Comment[pa]=Microsoft® Windows ਐਕਸਪਲੋਰਰ ਦਾ ਇੱਕ ਕਲੋਨ
Comment[pl]=Klon Eksploratora Microsoft® Windows
Comment[pt]=Um clone de Microsoft® Windows Explorador
Comment[pt-BR]=Um clone de Microsoft® Windows Explorador
Comment[pt-PT]=Um clone de Microsoft® Windows Explorador
Comment[ro]=O clonă a exploratorului Microsoft® Windows
Comment[ru]=Клон Microsoft® Windows Проводник
Comment[sk]=Klon Microsoft® Windows Explorer
Comment[sl]=Klon Microsoft® Windows Raziskovalec
Comment[sr]=Клон Microsoft® Windows Екплорер
Comment[sr-Cyrl]=Клон Microsoft® Windows Екплорер
Comment[sr-Latn]=Klon Microsoft® Windows Explorer
Comment[sv]=En klon av Microsoft® Windows Explorer
Comment[te]=ఎ క్లోన్ ఆఫ్ Microsoft® Windows ఎక్స్ప్లోరర్
Comment[th]=โคลนของ Microsoft® Windows Explorer
Comment[tr]=Microsoft® Windows Explorer'ın bir klon
Comment[uk]=Клон Microsoft® Windows Провідника
Comment[zh]=的Microsoft® Windows浏览器的克隆
Comment[zh-CN]=的Microsoft® Windows浏览器的克隆
Comment[zh-TW]=的Microsoft® Windows瀏覽器的克隆
Exec=wine explorer.exe
Terminal=false
Type=Application
Icon=wine-winefile
Categories=Wine;
StartupWMClass=explorer.exe
