[Desktop Entry]
Name=Wine C: disk-drive
Name[ar]=ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ C: Wine
Name[bg]=Wine C: диск-диск
Name[ca]=Wine C: disc dur
Name[cs]=Wine C: disk-drive
Name[da]=Wine C: diskdrev
Name[de]=Wine C: Diskettenlaufwerk
Name[el]=Wine C: δίσκος-δίσκος
Name[eo]=Wine C: disko-disko
Name[es]=Wine C: disco duro
Name[fa]=ﻮﯾﺍﺭﺩ ﮏﺴﯾﺩ C: Wine
Name[fi]=Wine C: levykäyttö
Name[fr]=Wine C: disque dur
Name[he]=ןנוכ-קסיד C: Wine
Name[hi]=Wine C: डिस्क-ड्राइव
Name[hr]=Wine C: disk-pogon
Name[hu]=Wine C: lemezmeghajtó
Name[it]=Wine C: disk-drive
Name[ja]=Wine C:ディスクドライブ
Name[ko]=Wine C: 디스크 드라이브
Name[lt]=Wine C: disko diskas
Name[ml]=Wine C: ഡിസ്ക് ഡ്രൈവ്
Name[nl]=Wine C: schijfstation
Name[pa]=Wine C: ਡਿਸਕ-ਡਰਾਇਵ
Name[pl]=dyskowego Wine C:
Name[pt]=Wine C: disco-rígido
Name[pt-BR]=Wine C: disco-rígido
Name[pt-PT]=Wine C: disco-rígido
Name[ro]=Wine C: disc drive
Name[ru]=Wine C: диск-диск
Name[sk]=Wine C: disk-disk
Name[sl]=Disk-pogon Wine C:
Name[sr]=Wine C: диск-дриве
Name[sr-Cyrl]=Wine C: диск-дриве
Name[sr-Latn]=Wine C: disk-pogon
Name[sv]=Wine C: disk-enhet
Name[te]=Wine C: డిస్క్ డ్రైవ్
Name[th]=Wine C: ดิสก์ไดรฟ์
Name[tr]=Wine C: disk sürücüsü
Name[uk]=Wine C: дисковод
Name[zh]=Wine C:磁盘驱动器
Name[zh-CN]=Wine C:磁盘驱动器
Name[zh-TW]=Wine C:磁盤驅動器
Comment=Browse your virtual C: disk-drive
Comment[ar]=C: ﻱﺮﻫﺎﻈﻟﺍ ﺹﺍﺮﻗﻷ﻿ﺍ ﻙﺮﺤﻣ ﺽﺮﻌﺘﺳﺍ
Comment[bg]=Прегледайте виртуалното дисково устройство C:
Comment[ca]=Exploreu la vostra unitat de disc virtual C:
Comment[cs]=Prohlédněte si virtuální disk C:
Comment[da]=Gennemse dit virtuelle C: diskdrev
Comment[de]=Durchsuchen Sie Ihr virtuelles Laufwerk C:
Comment[el]=Περιηγηθείτε στον εικονικό δίσκο C:
Comment[eo]=Foliumu vian virtualan dosieron C:
Comment[es]=Examine su disco virtual C:
Comment[fa]=ﺍﺭ ﺩﻮﺧ ﻮﯾﺍﺭﺩ ﮏﺴﯾﺩ C: ﯼﺯﺎﺠﻣ ﺖﺳﺮﻬﻓ
Comment[fi]=Selaa virtuaalista C: -levyasemaa
Comment[fr]=Parcourez votre disque virtuel C:-disque
Comment[he]=C: ילאוטריווה ןנוכה ןפדפדב ןייע
Comment[hi]=अपने वर्चुअल C: डिस्क-ड्राइव को ब्राउज़ करें
Comment[hr]=Pregledajte virtualni C: diskovni pogon
Comment[hu]=Böngésszen a virtuális C: lemezmeghajtó-
Comment[it]=Sfoglia il tuo disco virtuale C:
Comment[ja]=Kasō C: disuku doraibu o sanshō shite kudasai
Comment[ko]=가상 C: 디스크 드라이브를 찾습니다.
Comment[lt]=Naršyti savo virtualų C: disko diske
Comment[ml]=നിങ്ങളുടെ വെർച്വൽ C: ഡിസ്ക്-ഡ്രൈവ് ബ്രൗസ്
Comment[nl]=Blader door uw virtuele C: disk-aandrijving
Comment[pa]=ਆਪਣੇ ਵਰਚੁਅਲ C: ਡਿਸਕ-ਡਰਾਈਵ ਤਲਾਸ਼ੋ
Comment[pl]=Przeglądaj wirtualnego dysku twardego C:
Comment[pt]=Navegue pela sua unidade de disco virtual C:
Comment[pt-BR]=Navegue pela sua unidade de disco virtual C:
Comment[pt-PT]=Navegue pela sua unidade de disco virtual C:
Comment[ro]=Răsfoiți virtuală C: disc drive
Comment[ru]=Просмотрите свой виртуальный диск C:
Comment[sk]=Prezrite si virtuálnu disketu C:
Comment[sl]=Poiščite disk virtualnega pogona C:
Comment[sr]=Претражите свој виртуални C: диск-диск
Comment[sr-Cyrl]=Претражите свој виртуални C: диск-диск
Comment[sr-Latn]=Pretražite svoj virtuelni diskni disk C:
Comment[sv]=Bläddra i din virtuella C: diskdrivenhet
Comment[te]=మీ వర్చువల్ C: డిస్క్-డ్రైవ్ బ్రౌజ్ చేయండి
Comment[th]=Reīyk dū dịrf̒ s̄emụ̄xn k̄hxng khuṇ C:
Comment[tr]=Sanal C: disk sürücüyü tarayın
Comment[uk]=Перегляньте свій віртуальний дисковод C:
Comment[zh]=Liúlǎn nín de xūnǐ C: cípán qūdòngqì
Comment[zh-CN]=Liúlǎn nín de xūnǐ C: cípán qūdòngqì
Comment[zh-TW]=Liúlǎn nín de xūnǐ C: cípán qūdòngqì
Exec=sh -c "xdg-open $(winepath -u 'C:' 2>/dev/null)"
Terminal=false
Type=Application
Icon=drive-wine
Categories=Wine;
