[Desktop Entry]
Name=Uninstall Wine Software
Name[ar]=ﺞﻣﺍﺮﺒﻟﺍ Wine ﺖﻴﺒﺜﺗ ءﺎﻐﻟﺇ
Name[bg]=Деинсталиране на софтуер Wine
Name[ca]=Desinstal·lar el programari Wine
Name[cs]=Odinstalování softwaru Wine
Name[da]=Afinstaller Wine Software
Name[de]=Deinstallieren Sie Wine Software
Name[el]=Απεγκατάσταση Wine Λογισμικό
Name[eo]=Malŝalti Wine Programaro
Name[es]=Desinstalar el software Wine
Name[fa]=ﺭﺍﺰﻓﺍ ﻡﺮﻧ Wine ﻑﺬﺣ
Name[fi]=Poista Wine Ohjelmisto
Name[fr]=Désinstallez Wine Software
Name[he]=Wine הנכותה תא רסה
Name[hi]=अनइंस्टॉल Wine सॉफ़्टवेयर
Name[hr]=Deinstalirajte softver Wine
Name[hu]=Eltávolítás Wine Szoftver
Name[it]=Disinstallare il software Wine
Name[ja]=アンインストールするWineソフトウェア
Name[ko]=Wine 소프트웨어 제거
Name[lt]=Pašalinkite Wine programinę įrangą
Name[ml]=Wine സോഫ്റ്റ്വെയർ അൺഇൻസ്റ്റാൾ ചെയ്യുക
Name[nl]=Maak de installatie van Wine Software ongedaan
Name[pa]=ਅਣਇੰਸਟੌਲ ਕਰੋ Wine ਸੌਫਟਵੇਅਰ
Name[pl]=Odinstaluj oprogramowanie Wine
Name[pt]=Desinstalar o Wine Software
Name[pt-BR]=Desinstalar o Wine Software
Name[pt-PT]=Desinstalar o Wine Software
Name[ro]=Dezinstalați software-ul Wine
Name[ru]=Удалить Wine Программное обеспечение
Name[sk]=Odinštalovať softvér Wine
Name[sl]=Odstrani programsko opremo Wine
Name[sr]=Унинсталл Wine Софтвер
Name[sr-Cyrl]=Унинсталл Wine Софтвер
Name[sr-Latn]=Deinstalacija Wine Softver
Name[sv]=Avinstallera Wine Programvara
Name[te]=అన్ఇన్స్టాల్ Wine సాఫ్ట్వేర్
Name[th]=ถอนการติดตั้งซอฟต์แวร์ Wine
Name[tr]=Wine Yazılımını Kaldırın
Name[uk]=Видаліть програмне забезпечення Wine
Name[zh]=卸载Wine软件
Name[zh-CN]=卸载Wine软件
Name[zh-TW]=卸載Wine軟件
Comment=A clone of the Microsoft® Windows Add and Remove Programs Utility
Comment[ar]=ﺞﻣﺍﺮﺒﻟﺍ ﺔﻟﺍﺯﺇ ﺓﺍﺩﺃﻭ ﺔﻓﺎﺿﺇ Windows Microsoft® ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на програмата за добавяне и премахване на програми Microsoft® Windows
Comment[ca]=Un clon del Microsoft® Windows Afegeix i elimina utilitat de programes
Comment[cs]=Klon Microsoft® Windows Přidat a odebrat programy
Comment[da]=En klon af Microsoft® Windows Tilføj og fjern programmeringsværktøj
Comment[de]=Ein Klon des Programms Microsoft® Windows Programme hinzufügen und entfernen
Comment[el]=Ένας κλώνος του Microsoft® Windows Προσθήκη και κατάργηση προγραμμάτων Utility
Comment[eo]=Klonono de la Microsoft® Windows Aldonu kaj Forigi Programajn Utilecon
Comment[es]=Una clonación de Microsoft® Windows Agregar y quitar programas Utilidad
Comment[fa]=ﯼﺩﺮﺑﺭﺎﮐ ﯼﺎﻫ ﻪﻣﺎﻧﺮﺑ ﻑﺬﺣ ﻭ ﻥﺩﺮﮐ ﻪﻓﺎﺿﺍ Windows Microsoft® ﻥﻮﻠﮐ
Comment[fi]=Microsoft® Windows Lisää ja poista sovellusohjelma klooni
Comment[fr]=Un clone de l'utilitaire Microsoft® Windows Ajout et suppression de programmes
Comment[he]=תורישה תוינכות לש הרסהו הפסוה Windows Microsoft® תורישה תינכות לש טוביש
Comment[hi]=Microsoft® Windows का एक क्लोन प्रोग्राम जोड़ें और निकालें उपयोगिता
Comment[hr]=Klon Microsoft® Windows Dodavanje i uklanjanje uslužnih programa
Comment[hu]=A Microsoft® Windows Programok telepítése és törlése segédprogram klónja
Comment[it]=Un clone di Microsoft® Windows Installazione applicazioni
Comment[ja]=Microsoft®のクローンWindowsプログラムの追加と削除ユーティリティ
Comment[ko]=Microsoft® Windows 프로그램 추가 / 제거 유틸리티의 복제본
Comment[lt]=Klonas Microsoft® Windows "Pridėti ir šalinti programas"
Comment[ml]=ഒരു ക്ലോൺ Microsoft® Windows പ്രോഗ്രാം യൂട്ടിലിറ്റി ചേർക്കുക
Comment[nl]=Een kloon van het hulpprogramma Hulpprogramma's toevoegen en verwijderen Microsoft® Windows
Comment[pa]=Microsoft® Windows ਦੇ ਇੱਕ ਕਲੋਨ ਪ੍ਰੋਗਰਾਮ ਜੋੜਨ ਅਤੇ ਹਟਾਓ
Comment[pl]=Klon narzędzia Dodaj i usuń programy Microsoft® Windows
Comment[pt]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[pt-BR]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[pt-PT]=Um clone do utilitário Adicionar e Remover Programas Microsoft® Windows
Comment[ro]=O clonă a utilitarului Adăugare și eliminare programe Microsoft® Windows
Comment[ru]=Клон программы установки и удаления программ Microsoft® Windows
Comment[sk]=Klon Microsoft® Windows Pridať a odstrániť programy
Comment[sl]=Klon iz Microsoft® Windows Dodaj in odstrani programe Utility
Comment[sr]=Клон Microsoft® Windows Адд анд Ремове Програмс Утилити
Comment[sr-Cyrl]=Клон Microsoft® Windows Адд анд Ремове Програмс Утилити
Comment[sr-Latn]=Klon Microsoft® Windows Dodavanje i uklanjanje programa Utility
Comment[sv]=En klon i Microsoft® Windows Lägg till och ta bort programverktyg
Comment[te]=ఒక క్లోన్ Microsoft® Windows ప్రోగ్రామ్స్ యుటిలిటీని జోడించు మరియు తీసివేయి
Comment[th]=โคลนของ Microsoft® Windows เพิ่มและลบโปรแกรมยูทิลิตี้
Comment[tr]=Program Ekle ve Kaldır Microsoft® Windows Bir Klonu
Comment[uk]=Клон Microsoft® Windows Додавання та видалення програм Utility
Comment[zh]=Microsoft® Windows“添加和删除程序”实用程序的克隆
Comment[zh-CN]=Microsoft® Windows“添加和删除程序”实用程序的克隆
Comment[zh-TW]=Microsoft® Windows“添加和刪除程序”實用程序的克隆
Exec=wine uninstaller.exe
Terminal=false
Type=Application
Icon=control-wine
Categories=Wine;
