[Desktop Entry]
Name=Wine Control
Name[ar]=Wine ﻢﻜﺤﺗ
Name[bg]=Wine Контрол
Name[ca]=Control del Wine
Name[cs]=Wine Kontrola
Name[da]=Wine kontrol
Name[de]=Winekontrolle
Name[el]=Wine Έλεγχος
Name[eo]=Wine Kontrolo
Name[es]=Control del Wine
Name[fa]=Wine ﻝﺮﺘﻨﮐ
Name[fi]=Wine Ohjaus
Name[fr]=Contrôle du Wine
Name[he]=הרקב Wine
Name[hi]=Wine नियंत्रण
Name[hr]=Wine Kontrola
Name[hu]=Wine vezérlés
Name[it]=Controllo del Wine
Name[ja]=Wineコントロール
Name[ko]=Wine 제어
Name[lt]=Wine kontrolė
Name[ml]=Wine നിയന്ത്രിക്കുക
Name[nl]=Wine controle
Name[pa]=Wine ਕੰਟਰੋਲ
Name[pl]=Wine Sterowanie
Name[pt]=Controle de Wine
Name[pt-BR]=Controle de Wine
Name[pt-PT]=Controle de Wine
Name[ro]=Controlul Wineului
Name[ru]=Wine Контроль
Name[sk]=Wine Kontrola
Name[sl]=Wine Control
Name[sr]=Wine Контрола
Name[sr-Cyrl]=Wine Контрола
Name[sr-Latn]=Wine Control
Name[sv]=Wine Kontroll
Name[te]=Wine నియంత్రణ
Name[th]=การควบคุมWine
Name[tr]=Wine Kontrolü
Name[uk]=Wine Контроль
Name[zh]=Wine Kòngzhì
Name[zh-CN]=Wine Kòngzhì
Name[zh-TW]=Wine Kòngzhì
Comment=A clone of the Microsoft® Windows Control Panel
Comment[ar]=Windows Microsoft® ﻢﻜﺤﺘﻟﺍ ﺔﺣﻮﻟ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg]=Клонинг на контролния панел Microsoft® Windows
Comment[ca]=Un clon del tauler de control Microsoft® Windows
Comment[cs]=Klon kontrolního panelu Microsoft® Windows
Comment[da]=En klon af Microsoft® Windows Kontrolpanel
Comment[de]=Ein Klon des Microsoft® Windows Control Panel
Comment[el]=Ένας κλώνος του Πίνακα Ελέγχου Microsoft® Windows
Comment[eo]=Al klono de la Microsoft® Windows Kontrolo Panelo
Comment[es]=Una clonación del panel de control Microsoft® Windows
Comment[fa]=ﻞﻨﭘ ﻝﺮﺘﻨﮐ Windows Microsoft® Windows ﻥﻮﻠﮐ
Comment[fi]=Ohjauspaneelin Microsoft® Windows klooni
Comment[fr]=Un clone du Microsoft® Windows Panneau de configuration
Comment[he]=הרקבה חול Windows Microsoft® לש טוביש
Comment[hi]=Microsoft® Windows नियंत्रण कक्ष का एक क्लोन
Comment[hr]=Klon kontrolne ploče Microsoft® Windows
Comment[hu]=A Microsoft® Windows Vezérlőpult klónja
Comment[it]=Un clone del Microsoft® Windows Pannello di controllo
Comment[ja]=Microsoft® Windows Kontorōrupaneru no kurōn
Comment[ko]=Microsoft® Windows 제어판의 복제본
Comment[lt]=Klonas Microsoft® Windows Valdymo skydas
Comment[ml]=നിയന്ത്രണത്തിലുള്ള പാനൽ Microsoft® Windows ഒരു ക്ലോൺ
Comment[nl]=Een kloon van het bedieningspaneel van Microsoft® Windows
Comment[pa]=Microsoft® Windows ਕੰਟਰੋਲ ਪੈਨਲ ਦਾ ਇੱਕ ਕਲਨ
Comment[pl]=Klon panelu sterowania Microsoft® Windows
Comment[pt]=Um clone do Microsoft® Windows Painel de Controle
Comment[pt-BR]=Um clone do Microsoft® Windows Painel de Controle
Comment[pt-PT]=Um clone do Microsoft® Windows Painel de Controle
Comment[ro]=O clonă a Microsoft® Windows Panou de control
Comment[ru]=Клон панели управления Microsoft® Windows
Comment[sk]=Klon Microsoft® Windows ovládacom paneli
Comment[sl]=Klon kontrolne plošče Microsoft® Windows
Comment[sr]=Клон контролне табле Microsoft® Windows
Comment[sr-Cyrl]=Клон контролне табле Microsoft® Windows
Comment[sr-Latn]=Klon kontrolne table Microsoft® Windows
Comment[sv]=En klon i Microsoft® Windows Kontrollpanelen
Comment[te]=Microsoft® Windows నియంత్రణ ప్యానెల్ యొక్క క్లోన్
Comment[th]=Kholn k̄hxng Microsoft® Windows p̄hæng khwbkhum
Comment[tr]=Microsoft® Windows Kontrol Panelinin bir klonu
Comment[uk]=Клон панелі керування Microsoft® Windows
Comment[zh]=Microsoft® Windows Kòngzhì miànbǎn de kèlóng
Comment[zh-CN]=Microsoft® Windows Kòngzhì miànbǎn de kèlóng
Comment[zh-TW]=Microsoft® Windows Kòngzhì miànbǎn de kèlóng
Exec=wine control.exe
Terminal=false
Type=Application
Icon=wine-control
Categories=Wine;Wine-Programs-Accessories;
StartupWMClass=control.exe
