[Desktop Entry]
Name = Wine Help
Name[ar] =                                                                                                                                                                                                                                                                 ﺬﻴﺒﻨﻟﺍ ﺓﺪﻋﺎﺴﻣ
Name[bg] = Помощ за виното
Name[ca] = Vi Ajuda
Name[cs] = Nápověda vína
Name[da] = Vin Hjælp
Name[de] = Wein Hilfe
Name[el] = Βοήθεια για το κρασί
Name[eo] = Vina Helpo
Name[es] = Ayuda del vino
Name[fa] =                                                                                                                                                                                                                                                                   ﺏﺍﺮﺷ ﺎﻤﻨﻫﺍﺭ
Name[fi] = Viini Apua
Name[fr] = Aide au vin
Name[he] =                                                                                                                                                                                                                                                                      הרזע ןיי
Name[hi] = शराब सहायता
Name[hr] = Vino Pomoć
Name[hu] = Bor Súgó
Name[it] = Aiuto vino
Name[ja] = ワインのヘルプ
Name[ko] = 와인 도움말
Name[lt] = Vyno pagalba
Name[ml] = വൈൻ സഹായം
Name[nl] = Wijnhulp
Name[pa] = ਵਾਈਨ ਸਹਾਇਤਾ
Name[pl] = Wino Pomoc
Name[pt] = Ajuda do vinho
Name[pt-BR] = Ajuda do vinho
Name[pt-PT] = Ajuda do vinho
Name[ro] = Ajutor pentru vin
Name[ru] = Помощь в вине
Name[sk] = Pomoc vína
Name[sl] = Pomoč vina
Name[sr] = Вине Хелп
Name[sr-Cyrl] = Вине Хелп
Name[sr-Latn] = vino Pomoć
Name[sv] = Vin Hjälp
Name[te] = వైన్ సహాయం
Name[th] = ไวน์ช่วย
Name[tr] = Şarap Yardımı
Name[uk] = Винна довідка
Name[zh] = 葡萄酒帮助
Name[zh-CN] = 葡萄酒帮助
Name[zh-TW] = 葡萄酒幫助
Comment = A clone of the Microsoft® Windows Help File browser
Comment[ar] =                                                                                                                                                                                                                                  ﺯﻭﺪﻨﻳﻭ ®Microsoft ﺕﺎﻤﻴﻠﻌﺗ ﻒﻠﻣ ﺽﺮﻌﺘﺴﻣ ﻦﻣ ﺔﺨﺴﻧ
Comment[bg] = Клониране на браузъра на файла с помощни файлове на Microsoft® Windows
Comment[ca] = Un clon del navegador Ajuda d'arxius de Microsoft Windows
Comment[cs] = Klon prohlížeče Soubor nápovědy Microsoft® Windows
Comment[da] = En klon af Microsoft® Windows Hjælp-fil browser
Comment[de] = Ein Klon des Microsoft® Windows-Hilfedatei-Browsers
Comment[el] = Ένας κλώνος του προγράμματος περιήγησης του αρχείου βοήθειας του Microsoft® Windows
Comment[eo] = Klonono de la retumilo de Windows-Helpo Dosiero de Windows
Comment[es] = Un clon del navegador de archivos de ayuda de Microsoft® Windows
Comment[fa] =                                                                                                                                                                                                                              ﺎﻤﻨﻫﺍﺭ Microsoft File Explorer ﺮﮔﺭﻭﺮﻣ ﺯﺍ ﻥﻮﻠﮐ ﮏﯾ
Comment[fi] = Klooni Microsoft® Windows Help Tiedostoselain
Comment[fr] = Un clone du navigateur du fichier d'aide Microsoft® Windows
Comment[he] =                                                                                                                                                                                                                              Microsoft® Windows Help לש םיצבקה ןפדפד לש טוביש
Comment[hi] = माइक्रोसॉफ्ट विंडोज़ सहायता फाइल ब्राउज़र का क्लोन
Comment[hr] = Klon preglednika datoteka pomoći Microsoft® Windows
Comment[hu] = A Microsoft® Windows súgófájl-böngészőjének klónja
Comment[it] = Un clone del browser file della Guida di Microsoft® Windows
Comment[ja] = Makurosofuto ® u~indōzu herupufairuburauza no kurōn
Comment[ko] = Microsoft® Windows 도움말 파일 브라우저의 복제본
Comment[lt] = "Microsoft® Windows" žinyno naršyklės klonas
Comment[ml] = Microsoft® വിൻഡോസ് സഹായം ഫയൽ ബ്രൌസർ ഒരു ക്ലോൺ
Comment[nl] = Een kloon van de Microsoft® Windows Help File-browser
Comment[pa] = ਮਾਈਕਰੋਸਾਫਟ ਵਿੰਡੋਜ਼ ਮੱਦਦ ਫਾਈਲ ਬਰਾਉਜ਼ਰ ਦਾ ਇੱਕ ਨਕਲ
Comment[pl] = Klon przeglądarki plików pomocy Microsoft® Windows
Comment[pt] = Um clone do navegador do arquivo de ajuda do Microsoft® Windows
Comment[pt-BR] = Um clone do navegador do arquivo de ajuda do Microsoft® Windows
Comment[pt-PT] = Um clone do navegador do arquivo de ajuda do Microsoft® Windows
Comment[ro] = O clonă a browserului de fișiere de ajutor Microsoft® Windows
Comment[ru] = Клон браузера файла справки Microsoft® Windows
Comment[sk] = Klon Microsoft® Windows súbor pomoci prehliadača
Comment[sl] = Klon brskalnika na pomoč datotek Microsoft Windows
Comment[sr] = Клон прегледача помоћи за Мицрософт® Виндовс помоћ
Comment[sr-Cyrl] = Клон прегледача помоћи за Мицрософт® Виндовс помоћ
Comment[sr-Latn] = Klon Microsoft Windows datoteka za pomoć preglednika
Comment[sv] = En klon av Microsoft® Windows Hjälpfil webbläsare
Comment[te] = మైక్రోసాఫ్ట్ ® విండోస్ సహాయం ఫైలు బ్రౌజర్ యొక్క క్లోన్
Comment[th] = โคลนของMicrosoft® Windows ของเบราว์เซอร์ไฟล์ช่วยเหลือ
Comment[tr] = Microsoft® Windows Yardım Dosyası tarayıcısının bir kopyası
Comment[uk] = Клон файлу веб-переглядача довідкових файлів Microsoft® Windows
Comment[zh] = Microsoft®Windows帮助文件浏览器的克隆
Comment[zh-CN] = Microsoft®Windows帮助文件浏览器的克隆
Comment[zh-TW] = Microsoft®Windows幫助文件瀏覽器的克隆
Exec = wine winhlp32.exe %%f
Terminal = false
Type = Application
Icon = wine-winhelp
Categories = X-Wine;
